<div class="user-sessions-wrap user-sessions-medium">
  <div class="user-sessions-main">
    <div class="user-sessions-network-brand">
      <%= link_to icon('logo-cursame'), "", class: "free_network" %>
    </div>
    <div class="user-session-content">
      <h1>¡Oops!</h1>
      <p>Parece que la red a la que quieres accesar no existe. Pregunta a un encargado de tu escuela él sabrá ayudarte.</p><br>
      <%= link_to "Busca tu escuela aquí →", "https://www.cursa.me/browser/" %>
    </div>
  </div>
</div>