<div class="user-sessions-network-brand">
  <% if current_network.logo.file.nil? %>
    <%= link_to icon('logo-cursame'), root_path, title: current_network.name, class: "free_network" %>
  <% else %>
    <%= link_to image_tag("#{current_network.logo.square}"), "http://#{current_network.subdomain}.#{links}/"%>
  <% end %>

  <% if sign_up %>
    <div class="header-link">
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to t('.sign_in'), new_user_registration_path %><br />
      <% end -%>
    </div>
  <% end %>

  <% if sign_in %>
    <div class="header-link">
      <%= link_to t('.log_in'), new_session_path(resource_name) %>
    </div>
  <% end %>

</div>
