
/* Activity Depot Skeletong
----------------------------------*/
.activities-depot-wrap {
  @include clearfix;

  .activities-depot-feeds {
    width: 268px;
    float: left;
    overflow-y: scroll;
    height: 100%;
    position: relative;
    margin: 20px 0;
    
    .activities-depot-feeds-title {
      padding: 5px 10px;
    }

    #load-more-activities {
      > a {
        display: block;
        padding: 10px;
      }
    }
  }

  .activity-depot-feed {
    padding: 15px 10px;
    @include clearfix;

    .activity-depot-author {
      float: left;
    }

    .activity-depot-main {
      margin-left: 25px;
    }
  }

  .activities-depot-main {
    width: 408px;
    float: left;
    margin: 20px 0 20px 20px;
    overflow-y: scroll;
    height: 100%;

    .activity-responds-detail {
      padding: 10px;

      .list-buttons {
        margin-top: 4px;
      }
    }
  }
}

.delivery-submited-wrap {
  .back-to-activity a {
    display: block;
    padding: 7px 10px; 
  }

  .assets {
    margin-top: 15px;
  }
  
  .delivery-submited-content {
    padding: 10px;

    > div {
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .delivery-submited-evaluation-fields {
    padding: 10px;

    .evaluation-fields-title {
      margin-bottom: 15px;
    }

    .homeworkCalf {
      padding: 10px;
      margin-bottom: 20px;
    }

    .delivery-submited-evaluation-footer {
      @include clearfix;
    }
  }
}

.delivery-item {
  padding: 10px;
  @include clearfix;

  .delivery-item-author {
    float: left;
  }

  .delivery-item-main {
    position: relative;
    margin: 5px 0 0 55px;
  }
  
  .i {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7px;
  }
}

.survey-items-list {
  li {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }
}
.survey-item {
  .survey-item-question {
    padding: 5px 10px;
  }

  .survey-item-answers {
    padding: 5px 10px;
    position: relative;

    p {
      padding-left: 26px;
    }

    img {
      position: absolute;
      top: 27px;
    }
  }
}