
/* Activity Depot Skeletong
----------------------------------*/
.activities-depot-wrap {
  @include clearfix;

  .activities-depot-feeds {
    position: relative;
    margin: 20px 0;
    
    .activities-depot-feeds-title {
      padding: 5px 10px;
    }

    #load-more-activities {
      > a {
        display: block;
        padding: 10px;
      }
    }
  }

  .activity-depot-feed {
    padding: 15px 10px;
    @include clearfix;

    .activity-depot-author {
      float: left;
    }

    .activity-depot-main {
      margin-left: 25px;
    }
  }

  .activities-depot-main {
    margin: 20px 0;

    .activity-responds-detail {
      padding: 10px;

      .list-buttons {
        margin-top: 4px;
      }
    }
  }
}

.delivery-submited-wrap {
  .back-to-activity a {
    display: block;
    padding: 7px 10px; 
  }

  .assets {
    margin-top: 15px;
  }
  
  .delivery-submited-content {
    padding: 10px;

    > div {
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .delivery-submited-evaluation-fields {
    padding: 10px;

    .evaluation-fields-title {
      margin-bottom: 15px;
    }

    .homeworkCalf {
      padding: 10px;
      margin-bottom: 20px;
    }

    .delivery-submited-evaluation-footer {
      @include clearfix;
    }
  }
}

.delivery-item {
  padding: 10px;
  @include clearfix;

  .delivery-item-author {
    float: left;
  }

  .delivery-item-main {
    position: relative;
    margin: 5px 0 0 55px;
  }
  
  .i {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7px;
  }
}

.survey-items-list {
  li {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }
}
.survey-item {
  .survey-item-question {
    padding: 4px 10px 8px 10px;
  }

  .survey-item-answers {
    padding: 5px 10px;
    position: relative;

    .survey-item-answer-content {
      margin-top: 3px;
      @include clearfix;

      img {
        float: left;
      }

      p {
        padding-left: 26px;
      }
    }
  }
}

.section-separator {
  margin-bottom: 20px;

  .section-separator-title {
    padding: 5px 10px;
    position: relative;
    @include inline-block;
  }

  .tip {
    position: absolute;
    left: 50%;
    bottom: -9px;
    width: 25px;
    height: 9px;
    margin-left: -12px;
  }
}

.activities-list-section {
  margin-bottom: 20px;

  .activities-list-section-header {
    padding: 15px 10px;
  }

  .activity-item {
    padding: 20px 10px;

    .activity-item-icon {
      float: left;
    }

    .activity-item-desc {
      margin: -5px 0 0 34px;
    }
  }   
}

.activity-header {
  margin-bottom: 20px;

  .activity-extract {
    padding: 15px 10px;
    @include clearfix; 
  }

  .activity-title {
    float: left;

    a {
      float: left;
    }

    .i {
      float: left;
      margin-right: 5px;
    }
  }

  .activity-actions {
    float: right;
    margin-top: 2px;
  }

  .activity-view-data {
    @include clearfix;

    ul li {
      float: left;
      padding: 4px 10px 7px 10px;
    }
  }
}

.activity-view {

  .view-header {
    padding: 10px;
  }

  .activity-view-main-user {
    padding: 10px;
    @include clearfix;

    .avatar-holder {
      float: left;
    }

    .activity-view-main-user-state {
      margin: 3px 0 0 55px;
      @include clearfix;

      h5 {
        @include ellipsis();
      }
    }

    .user-response-comments {
      padding: 10px 10px 0 10px;
      margin: 10px -10px 0 -10px;

      .user-response-comment {
        margin-top: 5px;
      }
    }
  }

  .evaluate-user-response {
    .tabs-buttons {
      @include clearfix;

      .tab {
        margin: 0 0 -1px 10px;
        float: left;
        padding: 9px 19px;
      }
    }

    .activity-response-items {
      padding: 10px;
      
      .response-item {
        margin-bottom: 15px;
      }
    }
  }

  .activity-response-evaluate {
    .delivery-submited-evaluation-footer {
      @include clearfix;
    }
  }

  .evaluation-fields-title {
    margin: 10px 0;
  }

  .evaluation-area {
    padding: 10px;
    margin-bottom: 10px;

    .rubro h5 {
      padding-top: 7px;
    }
  }

  .activity-set-evaluation {
    padding: 15px 10px;
    @include clearfix;

    .evaluation-label {
      margin-top: 5px;
      float: left;
    }

    .evaluation-input {
      width: 95px;
      float: right;
    }
  }

  .activity-criteria-evaluation {
    padding: 15px 10px;

    .criteria-evaluation-item {
      margin-top: 13px;

      h5 {
        margin-bottom: 3px;
      }
    }
  }

  .activity-eveluation-footer {
    padding: 10px;
  }
}

.activity-responses-list {
  .activity-response {
    padding: 10px;
    @include clearfix;

    .activity-response-avatar {
      float: left;
      height: 80px;
    }

    .activity-response-main {
      display: table;
      height: 80px;
      margin-left: 90px;
    }
  }
}

.evaluate-activity-comments {
  padding: 10px;

  .activity-comment {
    margin-top: 10px;
    @include clearfix;

    .comment-author {
      float: left;
    }

    .comment-main {
      margin: -2px 0 0 40px;
    }
  }
}

.sidebar-responses {
  .sidebar-responses-header {
    padding: 5px 10px;
  }

  .sidebar-user-response {
    padding: 10px;
    @include clearfix;

    .avatar-holder {
      float: left;
    }

    .sidebar-user-response-main {
      margin-left: 35px;
      margin-top: -3px;
    }

    h6 {
      margin-bottom: -6px;
      @include ellipsis();
    }

    span {
      display: block;
    }

    &.active {
      margin-left: -1px;
    }
  }
}