
/* Activity Depot Skin
----------------------------------*/
.activities-depot-wrap {

  .activities-depot-feeds {
    @extend .basic-container-style;
    
    .activities-depot-feeds-title {
      border-bottom: 1px solid #d6d6d6;
      background: #fff;
      border-radius: $radius $radius 0 0;
    }

    #activites-feeds-container {
      background: #fcfcfc;
    }

    .activity-depot-feed {
      border-top: 1px solid #e6e6e6;
      cursor: pointer;
      
      &:first-child {
        border-top: 0;
      }

      &:hover {
        background: #fcfcfc;
      }

      &.active {
        background: #f2f2f2; 
      }
    }

    #load-more-activities {
      text-align: center;
      background: #fff;
      border-top: 1px solid #e6e6e6;
    }
  }

  .activities-depot-main {
    @extend .basic-container-style;
    background: #fcfcfc;

    .activity-responds-detail {
      background: #fff;
      border-bottom: 1px solid #d6d6d6;
    }
  }
}

.delivery-submited-wrap {
  .back-to-activity {
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    border-radius: $radius $radius 0 0;

    a {
      @extend .meta-info;
    }

    i {
      vertical-align: -4px;
    }
  }

  .delivery-submited-content {
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
  }

  .delivery-submited-evaluation-fields {

    .homeworkCalf {
      border: 1px solid #E6E6E6;
      background: #fff;
      border-radius: $radius;
    }
  }
}

.delivery-item {
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;

  &:hover {
    background: #fff; 
  }

  .delivery-result {
    color: #808080;

    span {
      color: $primary-color;
      font-weight: bold;
    }
  }
}

.survey-items-list {
  list-style: decimal;
  list-style-position: inside;
  font-size: 14px;
  font-weight: bold;
}

.survey-item {
  border: 1px solid #E6E6E6;
  background: #fff;
  border-radius: $radius;

  .survey-item-question {
    font-size: 13px;
  }

  .survey-item-answers {
    border-top: 1px solid #E6E6E6;
    background: #fcfcfc;
    border-radius: 0 0 $radius $radius;
    font-size: 13px;
  }
}

.section-separator {
  text-align: center;

  .section-separator-title {
    @extend .basic-container-style;

    h6 {
      text-transform: uppercase;
      font-size: 11px; 
      color: $gray-color;
      font-weight: 600;
    }
  }

  .tip {
    background: url("/assets/pack.png") -79px -40px no-repeat;
  }
}

.activities-list-section {
  @extend .basic-container-style;

  .activities-list-section-header {
    background: $white;
    border-radius: $radius $radius 0 ;
  }

  > a:first-child .activity-item {
    border-top: 0;
    border-radius: $radius $radius 0 0;
  }

  > a:last-child .activity-item {
    border-radius: 0 0 $radius $radius;
  }

  .activity-item {
    border-top: 1px solid $separator-color;

    h4 {
      font-weight: 500;
    }

    .activity-meta-data {
      font-size: 12px;
      color: $gray-color;
    }

    &:hover {
      background: #fafafa;
    }
  }
}

.activity-header {
  @extend .basic-container-style;
  border-top: 0;
  border-radius: 0 0 $radius $radius;

  h3 {
    color: $global-color;
  }

  .activity-view-data {
    border-top: 1px solid $separator-color;

    ul li {
      border-right: 1px solid $separator-color;
    }
  }
}


.activity-view {
  @extend .basic-container-style;

  .view-header {
    background: #fafafa;
    border-radius: $radius $radius 0 0;
    border-bottom: 1px solid $separator-color;
  }

  .evaluate-user-response {
    .tabs-buttons {
      background: #fafafa;
      @include clearfix;

      .tab {
        cursor: pointer;
        border: 1px solid #d9dbde;
        border-radius: $radius $radius 0 0;
        color: $primary-color;
        font-weight: 500;

        &.active {
          background: $white;
          border-bottom-color: $white;
          color: $gray-color;
        }
      }
    }

    .activity-response-items {
      border-top: 1px solid $separator-color;
    }

    .tabs-main {
      background: $white;
      border-radius: 0 0 $radius $radius;
    }
  }

  .evaluation-area {
    border: 1px solid $separator-color;
    border-radius: $radius;
  }

  .activity-view-main-user {
    background: #fafafa;
    border-radius: $radius $radius 0 0;
  }

  .user-response-comments {
    border-top: 1px solid $separator-color;

    .user-response-comment {
      span {
        color: $meta-color;
        @include text-size-x-small; 
      }
    }
  }

  .activity-set-evaluation {
    border-top: 1px solid $separator-color;
  }

  .activity-criteria-evaluation {
    border-top: 1px solid $separator-color;

    .criteria-evaluation-help-text {
      p {
        font-size: 12px;
        color: $meta-color;
      }
    }
  }

  .activity-eveluation-footer {
    background: #fafafa;
    border-radius: 0 0 $radius $radius;
    border-top: 1px solid $separator-color;
  }
}

.activity-responses-list {
  .activity-response {
    border-top: 1px solid $separator-color;

    .activity-response-main {
      h5 {
        color: $global-color;
      }

      p {
        color: $gray-color;
        font-size: 12px;
      }
    }

    &:hover {
      background: #fafafa;
    }
  }

  a:first-child .activity-response {
    border-top: 0;
  }

  a:last-child .activity-response {
    border-radius: 0 0 $radius $radius;
  }
}

.evaluate-activity-comments {
  border-top: 1px solid #d9dbde;

  .activity-comment {

    .comment-meta-item {
      color: $meta-color;
      font-size: 11px;
    }
  }
}

.sidebar-responses {
  @extend .basic-container-style;

  .sidebar-responses-header {
    background: #fafafa;
    border-radius: $radius $radius 0 0;
    border-bottom: 1px solid $separator-color;
  }

  .sidebar-user-response {
    border-top: 1px solid $separator-color;

    h6 {
      color: $global-color;
    }

    span {
      font-size: 12px;
      color: $meta-color;
    }

    &.active {
      background: tint($primary-color, 95%);
      border-left: 1px solid $primary-color;
    }
  }

  .sidebar-responses-main {
    a:first-child .sidebar-user-response {
      border-top: 0;
    }

    a:last-child .sidebar-user-response {
      border-radius: 0 0 $radius $radius
    }
  }
}