
/* Courses and User Profiles
----------------------------------*/
.profile-cover-photo {
  height: 180px;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  &:after {
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

.profile-user-bar {
  height: 49px;

  .profile-name-avatar {
    float: left;
    padding-left: 175px;
    position: relative;

    .profile-avatar {
      position: absolute;
      left: 0;
      bottom: 10px;
      padding: 5px;
      width: 150px;
      height: 150px;

      a, img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    &.compact {
      padding-left: 0;

      .profile-avatar-compact {
        float: left;
        margin-top: 12px;
      }

      .profile-avatar-compact-name {
        margin-left: 40px;
      }
    }
  }

  .profile-navigation {
    float: right;

    > ul > li {
      float: left;

      a {
        display: block;
        padding: 15px 8px 16px 8px;
      }
    }
  }
}

.sub-profile-title {
  @include clearfix;
  margin: 20px 0;
}

.course-info-blocks {
  .course-info-block {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }
}

/* Edit User Profile
----------------------------------*/
.user-custom-url-wrap {
  position: relative;

  .i {
    position: absolute;
    right: 10px;
    top: 12px;
    display: none;
  }

  span {
    position: absolute;
    top: 1px;
    left: 1px;
    padding: 9px 5px 9px 4px;
  }

  input[type="text"] {
    padding-left: 135px;
    padding-right: 30px;
  }

  &.url-available .i-green-checkmark {
    display: block;
  }

  &.url-not-available .i-red-x {
    display: block;
  }
}