
/* Courses and User Profiles
----------------------------------*/
.profile-header {
  .profile-banner {
    height: 197px;
    position: relative;
    margin: 0px -1px;
  }

  .admin-buttons {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  .profile-avatar {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 10px;
    top: 20px;
    padding: 3px;

    img {
      display: block
    }
  }

  .profile-info {
    padding: 12px 10px 10px 10px;
  }
}

.sub-profile-title {
  @include clearfix;
  margin: 20px 0;
}

.course-info-blocks {
  .course-info-block {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.page-sub-navigation {
  @include clearfix;

  ul li {
    float: left;

    a {
      position: relative;
      display: block;
      padding: 10px 10px 12px 10px;

      &.active .i {
        display: block;
      }
    }

    .i {
      position: absolute;
      left: 50%;
      margin-left: -10px;
      bottom: -10px;
      display: none;
    }
  }
}

/* Edit User Profile
----------------------------------*/
.user-custom-url-wrap {
  position: relative;

  .i {
    position: absolute;
    right: 10px;
    top: 12px;
    display: none;
  }

  span {
    position: absolute;
    top: 1px;
    left: 1px;
    padding: 9px 5px 9px 4px;
  }

  input[type="text"] {
    padding-left: 135px;
    padding-right: 30px;
  }

  &.url-available .i-green-checkmark {
    display: block;
  }

  &.url-not-available .i-red-x {
    display: block;
  }
}

.user-friends-actions {
  @include max-screen(480px) {
    float: none;
    clear: both;
    margin-top: 10px;
  }
}