
/* Courses and User Profiles
----------------------------------*/
.section-header-top {
  @extend .basic-container-style;
  border-top: 0;
  border-radius: 0 0 $radius $radius;
}

.profile-header {
  @extend .basic-container-style;
  border-top: 0;
  border-radius: 0 0 $radius $radius;

  &.compact, &.super_compact {
    .profile-info h1{
      @include ellipsis(90%);
    }
  }

  .profile-info h1{
    color: $global-color;
    @include ellipsis();
  }

  .profile-banner {
    @extend .cover-banner;

    .profile-avatar {
      background: #fff;
      border-radius: $radius;
      box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.18);
    }
  }
}

.page-sub-navigation {
  border-top: 1px solid $separator-color;

  ul li {
    border-right: 1px solid $separator-color;

    a {
      font-size: 13px;
      font-weight: 500;
      border-bottom: 1px solid transparent;

      &.active {
        color: $meta-color;
        background: #fafafa;
        border-bottom-color: #0f85b9;
      }
    }

    &:first-child a {
      border-radius: 0 0 0 $radius;
    }
  }
}

/* Edit User Profile
----------------------------------*/
.user-custom-url-wrap {

  span {
    background: $gray-lighter;
    border-right: 1px solid #CCC;
    font-size: 11px;
    color: $global-color;
    border-radius: $radius 0 0 $radius;
  }
}

#url-status {
  .url-available {
    color: #66b00a;
  }
}