<div class="wrapper">
  <div class="cols-12">
    <div class="col col-12">
      <div class="col-inner">

        <div class="sub-profile-title">
          <div class="fl">
            <h3>Amigos</h3>
          </div>
          <% if user_l == current_user %>
            <div class="fr user-friends-actions">
              <%= link_to "Todos mis amigos", user_friends_path %> ·
              <%= link_to "Solicitudes pendientes", pendding_friends_path( user_l.personal_url ), :remote => true, :id => "pending-friendship-js" %>
            </div>
          <% end %> 
        </div>

      </div>
    </div>
  </div>
</div>