%div{ style: "background-color: #ffffff;" }
  %table{ style: "width: 540px;", align: "center" }
    %tr
      %td
        %br
        %br
        %br
        %p{ style: "font-size: 15px; color: #404040; font-weight: 300; line-height: 25px; margin: 0;" }
          ¡Hola!
        %br
        %p{ style: "font-size: 15px; color: #404040; font-weight: 300; line-height: 25px; margin: 0; text-align: center;" }
          Estás recibiendo este correo porque formas parte del Modelo de Emprendedores para la Educación Media Superior
        %p{ style: "font-size: 15px; color: #404040; font-weight: 600; line-height: 25px; margin: 0; text-align: center;" }
          Modelo de Emprendedores para la Educación Media Superior
        %br
        %br
        %p{ style: "font-size: 15px; color: #404040; font-weight: 300; line-height: 25px; margin: 0;" }
          Por esta razón hemos creado una cuenta especial para ti con la que podrá ingresar a la plataforma exclusiva de este Modelo, en la siguiente página de internet:
        %br
        %p{ style: "font-size: 15px; color: #404040; font-weight: 600; line-height: 25px; margin: 0; text-align: center;" }
          %a{ href: "http://www.emprendedores.sems.gob.mx/" }
            www.emprendedores.sems.gob.mx
        %br
        %p{ style: "font-size: 15px; color: #404040; font-weight: 300; line-height: 25px; margin: 0;" }
          En ella podrás mantenerte en contacto con la comunidad del MEEMS, compartir experiencias y avances de tu Centro de Emprendedores, identificar oportunidades que ofrece el ecosistema; visualizar archivos de interés sobre el tema de emprendimiento; generar espacios de dialogo, realizar comentarios y consultas, participar activamente en foros, y actualizarnos a través de imágenes, videos e informes.
        %br
        %p{ style: "font-size: 15px; color: #404040; font-weight: 300; line-height: 25px; margin: 0;" }
          Para nosotros es fundamental que la plataforma sea de utilidad para ti, atender tus dudas, comentarios y dar soporte técnico, por eso ponemos a tu disposición la siguiente dirección de correo:
          = mail_to "fernanda@cursa.me"
        %br
        %br
        %p{ style: "font-size: 15px; color: #404040; font-weight: 300; line-height: 25px; margin: 0;" }
          ¡Saludos!
  %table{ style: "width: 540px;", align: "center", border: "0", cellspacing: "0", cellpadding: "0" }
    %tr
      %td{ align: "center", width: "350px" }
        %p{ style: "font-size: 15px; color: #888; font-weight: 500; line-height: 25px; margin: 0; text-align: center;" }
          Mtro. Eduardo Calderón Cuevas
        %p{ style: "font-size: 15px; color: #888; font-weight: 300; line-height: 25px; margin: 0; text-align: center;" }
          Coordinador Sectorial de Vinculación
        %br
      %td{ align: "center", width: "350px" }
        %p{ style: "font-size: 15px; color: #888; font-weight: 500; line-height: 25px; margin: 0; text-align: center;" }
          Juan E. Azpilcueta Rojas
        %p{ style: "font-size: 15px; color: #888; font-weight: 300; line-height: 25px; margin: 0; text-align: center;" }
          Director de Posicionamiento y Desarrollo
        %p{ style: "font-size: 12px; color: #888; font-weight: 300; line-height: 25px; margin: 0; text-align: center;" }
          "La educación es nuestra nueva revolución"
    %tr
      %td{ align: "center", width: "350px" }
        %p{ style: "font-size: 15px; color: #888; font-weight: 500; line-height: 25px; margin: 0; text-align: center;" }
          = image_tag "meems.jpg", size: "88x84"
      %td{ align: "center", width: "350px" }
        %p{ style: "font-size: 15px; color: #888; font-weight: 500; line-height: 25px; margin: 0; text-align: center;" }
          = image_tag "logo_nuevo.png"
