<header id="user_nav" class="topbar">
  <div class="topbar-spacer">
    <div class="wrapper spaced">
      <div class="network">
        <%= link_to "/", title: "Cúrsame", class: "free_network" do %>
          <%= icon('logo-cursame') %>
        <% end %>
      </div>
      <div class="fr" style="margin-top: 14px;">
        <%= link_to "Regresar a la red →", "/", title: "Cúrsame" %>
      </div>
    </div>
  </div>
</header>