= render partial: 'managers/publications/shared/managers_publicactions_subnav'

.wrapper
  .cols-12
    .col.col-12
      .col-inner
        .managers-section-header
          .title
            %h1 Ultimas Publicaciones
        %table.data-table
          %thead
            %tr
              %th Nombre
              %th Administradores
              %th Miembros
              %th Fecha de creación
              %th 
          %tbody
            %tr
              %td Actividad