.cols-12
  - @libraries.each do |library|
    - if !library.files.blank?
      = render partial: 'libraries/shared/card', locals: { library: library }
  - @files.each do |file|
    = render partial: 'library_files/shared/standalone_card', locals: { file: file }