.section-header
  .section-header-main
    .section-title
      = link_to icon('section-library'), libraries_path
      = link_to libraries_path do
        %h1="Biblioteca"
    .section-header-actions
      %ul.list-buttons.right
        %li= link_to "#{icon('plus-white')} Crear Carpeta".html_safe, new_library_library_directory_path(@library), title: "Crear Directorio", class: "btn btn-primary"