.section-header
  .section-header-main
    .section-title
      = link_to icon('section-library'), libraries_path
      = link_to libraries_path do
        %h1="Biblioteca"
    .section-header-actions