.section-header
  .section-header-main
    .section-title
      = link_to icon('section-library'), libraries_path
      = link_to libraries_path do
        %h1="Biblioteca"
    .section-header-actions
      %ul.list-buttons.right
        - unless current_user.student?
          %li= link_to "#{icon('plus-white')} Nueva Biblioteca".html_safe, new_library_path, title: 'Crear nueva Biblioteca', class: "btn btn-primary"