.wrapper
  - if libraries.blank? && files.blank?
    .no-content-section
      %h4="No hay documentos."
  - else
    .cols-12.courses-list
      = render partial: 'libraries/shared/card_list', locals: { libraries: libraries, files: files, directories: directories }