.wrapper
  - if libraries.blank? && files.blank? && directories.blank?
    .no-content-section
      %h4= t('.no_documents')
  - else
    .cols-12.courses-list
      = render partial: 'libraries/shared/card_list', locals: { libraries: libraries, files: files, directories: directories }