
/* Content Skin
----------------------------------*/
.video .button_add{
  background: #2CCAE1;
  border-radius: 3px;
  cursor: pointer;
  font-size:16px;
  color: #fff;
  text-align:center;   

  &:hover{
    background: #02B1CB;
    color: #fff;
  }        
}

.shareAdd {
  background: rgba(0,0,0,0.8);
  border-radius: 3px;
}

.tabCalssClose {
  background: transparent url('/assets/icons/close.png') no-repeat;
  font-family: verdana;
  font-size: 15px;
  cursor: pointer;
  opacity: 1;
  transition: all linear 0.2s;

  &:hover {
    opacity: 0.5;
  }
}

.button_pluss{
  font-size: 28px;
  color: #FFF;
  cursor: pointer;
  background: url('/assets/icons/add_plus_icon.png') no-repeat center center;
  text-align: center;
  opacity: 1px;

  &:hover{
    opacity: 0.7;
  }

  &:active{
    opacity: 1;       
  }
}

.button_plus_selected,
.button_plus_selected:hover {
  color:#fff;
  background: #ccc;
  cursor: default;
}

.play_button_pluss {
  font-size: 17px;
  color: #FFF;
  cursor: pointer;
  background: url('/assets/youtube_icon.png') no-repeat center center;
  text-align: center;
  vertical-align: middle;
  opacity: 1;

  &:hover {
    background: url('/assets/youtube_icon.png') no-repeat center center;
    opacity: 0.7;
  }
}

.redo_lik{
  background:#FBF7DB;
  border-radius: 20px;
}
.updateW > a:link, .updateW > a:visited {
  color: #fff;
}

.updateW > a:hover, .updateW > a:active {
  color: #00B1C5;
  text-decoration: underline;
}

#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:200;color:#fff;}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999;text-align:left;visibility:hidden;display:none;}
#sb-overlay{position:relative;height:100%;width:100%;}
#sb-wrapper{position:absolute;visibility:hidden;width:100px;}
#sb-wrapper-inner{position:relative;border:1px solid #303030;overflow:hidden;height:100px;}
#sb-body{position:relative;height:100%;}
#sb-body-inner{position:absolute;height:100%;width:100%;}
#sb-player.html{height:100%;overflow:auto;}
#sb-body img{border:none;}
#sb-loading{position:relative;height:100%;}
#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}
#sb-loading-inner span{background:url(loading.gif) no-repeat;padding-left:34px;display:inline-block;}
#sb-body,#sb-loading{background-color:#060606;}
#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden;}
#sb-title,#sb-title-inner{height:26px;line-height:26px;}
#sb-title-inner{font-size:16px;}
#sb-info,#sb-info-inner{height:20px;line-height:20px;}
#sb-info-inner{font-size:12px;}
#sb-nav{float:right;height:16px;padding:2px 0;width:45%;}
#sb-nav a{display:block;float:right;height:16px;width:16px;margin-left:3px;cursor:pointer;background-repeat:no-repeat;}
#sb-nav-close{background-image:url(close.png);}
#sb-nav-next{background-image:url(next.png);}
#sb-nav-previous{background-image:url(previous.png);}
#sb-nav-play{background-image:url(play.png);}
#sb-nav-pause{background-image:url(pause.png);}
#sb-counter{float:left;width:45%;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
#sb-counter a.sb-counter-current{text-decoration:underline;}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}
