

.mkt-langing-pages {

  .mkt-main {
    padding: 60px 0;
    position: relative;
  }

  .l-title {
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .l-body {
    padding-right: 35px;
    margin-bottom: 30px;

    p + p {
      margin-top: 30px;
    }
  }

  .l-form-wrap {
    padding: 15px;
    @include clearfix;
  }

  .mk-landing-page-footer {
    padding: 20px 0;
  }
}

.other-lms {
  display: none;
}