
<div class="evaluation-area">
  <div class="form-group">
    <div class="form-group-label">
      <%= f.label t('.entry') %> 
    </div>
    <div class="form-group-main rubro">
      <div class="form-unit">
        <h5><%= f.object.name %></h5>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-group-label">
      <%= f.label t('.comments') %>     
    </div>
    <div class="form-group-main">
      <div class="form-unit">
        <%= f.text_area :comment_for_rubre, :rows => 3 %></br>
      </div>
    </div>
  </div>

</div>