

.wrapper
  .cols-12
    .col.col-12
      .col-inner
        #timeline.tim
          - unless @wall.empty?
            = render :partial => "/shared/publications", :locals => {:wall => @wall, :visible_for => "network"}
          - else
            .no-content-section
              %h4 No se ha creado ninguna discusión.
        #paginate_wall{onclick: "PaginateINwall('/all_discussions',2, #{@wall.total_pages})"}