= render partial: 'managers/users/shared/managers_users_subnav'
.wrapper
  .cols-12
    .col.col-12
      .col-inner
        .managers-section-header
          .title
            %h1 Crear Curso
  .cols-12
    .col.col-6
      .col-inner
        = render partial: 'managers/courses/shared/form', locals: { course: @course }