<div id="message_{{{id}}}" class="chat-message-item message-sent">
  <div class="chat-message-main">
    <span class="tip"></span>
    <div class="chat-message-content">
      <p>{{body}}</p>
    </div>
    <span class="meta">{{createdAt}}</span>
  </div>
</div>