
<div class="sessions-footer">
  <div class="sessions-footer-link">
    <ul>
      <li>
        <%= link_to "Ayuda", help_path %>
      </li>
      <li>
        <%= link_to "Blog", blog_path %>
      </li>
      <li>
        <%= link_to "Términos y Condiciones", conditions_path%>
      </li>
    </ul>
  </div>
  <div class="sessions-footer-cursame">
    <p>Powered by <%= link_to 'Cúrsame', 'http://www.cursa.me', :target => '_blank'%></p>
  </div>
</div>