<footer>
<ul class="foo">
	<li><a href="#">Sobre nosotros</a></li>
	<li><a href="#">Ayuda</a></li>
	<li><a href="#">Blog</a></li>
	<li><a href="#">Empleos</a></li>
	<li><a href="#">T&eacute;rminos</a></li>
	<li><a href="#">Privacidad</a></li>
	<li><a href="#">Publicidad</a></li>
	<li><a href="#">Desarrolladores</a></li>
	<li><script>document.write(new Date().getFullYear())</script> &#174; C&uacute;rsame</li>
</ul>
</footer>