
/* Cards Listing
----------------------------------*/
.cards-list {
  margin: 20px 0;
  @include clearfix;

  .card {
    position: relative;

    .card-avatar {
      float: left;
      margin: 10px 0 10px 10px;
    }

    .card-main {
      margin: 10px 10px 10px 65px;

      .card-actions {
        position: absolute;
        bottom: 10px;
        right: 10px;
      }
    }
  }
}

.comunity-card-list .card {
  height: 100px;
  position: relative;
  margin-bottom: 20px;

  .user-actions {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

.user_networks_show{
  width:200px;
  height:100px;
  padding:50px;
  margin:auto auto auto auto;
  overflow: auto;
  position: center absolute;
  margin-top:5%;
  border-radius: 20px;
  color:#B135DF;
  float: center;
  
  a {
    color:#fff;
    font-size:60px;
    font-family: EraserFont;

    &:hover {
      color:#7ed1f3;
    }
  }
}

.user_dashboard_background{
  background: url('/assets/texture_first.jpeg');
  color:#080C0C;
  width:100%;
  height:100%;
  position:absolute;
  margin-top:-100px;   
  
  h1 {
    font-size:70px;
    color:#4ef4c4;
    margin:10px;
    font-family: EraserFont;
  } 
}

.strip_network {
  width:100%;
  padding:3px;
border-radius: 10px;
}

.note_network{
  font-size:12px;
  width:400px;
  height:60px;
  padding:50px;
  margin:auto auto auto auto;
  overflow: auto;
  position: center absolute;
  margin-top:2%;
  color:#fff;
  font-size:15px;
  border-radius: 20px;
}

.cursame_network_select{
  font-family: EraserFont;
  font-size:60;
  color:#fff;
  margin:auto auto auto auto;
  overflow: auto;
  position: center absolute;
  width:240;
  height:80px;
}

.first_part{
  float:left;
  padding-top:-5px;
  padding-bottom:6px;
  border-radius: 20px;
  height:60px;
  line-height: 45px;
  padding:5px;
}

.secont_part{
  float:left;
  background-color:#1AECCD;
  padding-top:-5px;
  padding-bottom:6px;
  border-radius: 20px;
  height:60px;
  line-height: 45px;
  padding:5px;
}

.avandonar_session{
  padding:10px;
  margin-top:-10px;

  a {
    color:#fff;
    font-size:30px;
    font-family: EraserFont;
    
    &:hover{
      color:#7ed1f3;
    }
  }  
}
    


