  <div style="background: #fafafa; background-color: #fafafa; <%= no_borders ? "" : "border-top: 1px solid #e3e3e3;" %>">
    <table style="width: 540px;" align="center">
      <tr>
        <td style="padding: 20px 0;">
          <h5 style="font-weight: bold; font-size: 13px; color: #333; margin: 0;">C&uacute;rsame &reg; 2014</h5>
          <p style="color: #333; font-size: 12px; margin: 0;">Versalles #94, Colonia Juárez, Delegaci&oacute;n Cuauht&eacute;moc, Ciudad de M&eacute;xico.</p>
          <p style="color: #333; font-size: 12px; margin: 0;"><a href="mailto:hola@cursa.me" style="color: #0071a2; text-decoration: none;">hola@cursa.me</a></p>
        </td>
      </tr>
    </table>
  </div>

</body>
</html>
