<script>

$('#user_nav').hide();
$('.container').css('background','#fff');

</script>
<center>
<div class="alert_method">
     <p><%=t('.text1')%></p></br></br>
     <%= link_to t('.net'), "http://#{current_user.subdomain}.#{links}", :class => 'network_button_aler_method', :id => 'kokola'%>
</div>
</center>

<script>
   $( "#kokola" ).click(function() {
     $.get('<%= ending_session_path %>');
   });
</script>
