<div class="signup-restore"></div>
	<div class="content login confirmationIndexHeader" id="titlheader" style="text-align:center; margin-top: 120px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding-top: 40px; padding-bottom: 1px;">
		<span style="font-size: 25px; font-weight: lighter;">Se envió un correo de confirmación a</span>
		<div class="userNotiInside"><div class="userNoti"><%= @user_inactive.email %></div></div>
		<span style="font-weight: lighter;">¿Ya recibiste el correo de confirmación?</span>
		<div class="confirm-btn no-wrap"><%= link_to "Inicia sesión",  'sign_up_path' %></div>
	</div>
