<div class="user-sessions-wrap user-sessions-medium">
  <div class="user-sessions-network-brand">
    <% if current_network.logo.file.nil? %>
      <%= link_to icon('logo-cursame'), root_path, title: current_network.name, class: "free_network" %>
    <% else %>
      <%= link_to image_tag("#{current_network.logo.square}"), "http://#{current_network.subdomain}.#{links}/"%>
    <% end %>
  </div>
  <div class="user-sessions-main">
    <div class="user-session-content">
      <h4><%t('.email')%></h4>
      <p><%t('.send')%></p><br>
      <%= link_to t('.log_in'), sign_in_path, class: "btn btn-primary btn-medium" %>
    </div>
  </div>
</div>
