<div class="section-header">
  <div class="wrapper spaced">

    <div class="section-header-title w-subnav">
      <div class="section-icon">
        <%= icon('section-courses') %>  
      </div>
      <div class="section-title">
        <h1>Comunidad</h1>
        <ul class="section-subnav">
          <li class="active">
            <%= link_to "Mis amigos" %>
          </li>
          <li>
            <%= link_to "Todos los usuarios", filter_comunity_path, :remote => true %>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div id="accesed">
<%= render :partial => 'networks/who_sent', :locals => {:friends => @friends} %>
</div>


	