<div id="nsdmenu">
	<h1><%=t('.new_net')%></h1>
		<div class="reload">
			<ul>
				<li style="width: 10px;"><img src="/assets/eback.png"></li>
				<li style="width: 20px;"><%= link_to 'Back', networks_path %></li>
			</ul>
		</div>
</div>
	<%= render 'form' %>
