<h1><%= current_user.email %></h1>
<%= render :partial => '/shared/comment_form',:locals => {:commentable_id => current_network.id,:commentable_type => 'Network'} %>
<div id="comments">	
<% @comments.each do |comment| %>			
	<%= render :partial => '/shared/comment', :locals => {:comment => comment} %>
<% end %>
</div>