.overlayia {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 200;
}

/* just some content with arbitrary styles for explanation purposes */
.modalia {
    width: 600px;
    height: 500px;
    // line-height: 200px;
    position: fixed;
    top: 20%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #f1c40f;
    border-radius: 5px;
    text-align: center;
    z-index: 210; /* 1px higher than the overlay layer */
}