<div class="side-section c-side-item">
  <div class="side-section-main">
    <div class="android-ad">
      <div class="ad-image">
        <%= image_tag("/ads/android-app.png") %>
      </div>
      <div class="ad-description">
        <h4>Nueva aplicación Android</h4>
        <p>Descarga la aplicación Cúrsame disponible para Android.</p>
        <a class="download-app" href="https://play.google.com/store/apps/details?id=com.cursame" title="Descargar">
          <%= image_tag("/ads/play-store.png") %>
        </a>
        <span>Aplicación iPhone a partir de Marzo.</span>
      </div>
    </div>
  </div>
</div>  