<div class="content-sidebar">
  <div class="content-sidebar-main">
    <div class="content-sidebar-stick">

      <% if sidebar_sections %>
        <% sidebar_sections.each do |widget| %>
          
          <% case widget %>
            <% when 'upcomming_deliveryes' %>
              <%= render partial: 'shared/sidebar/upcomming_deliveries_widget' if current_network.evaluable? %>

            <% when 'upcomming_surveys' %>
              <%= render partial: 'shared/sidebar/upcomming_surveys_widget' if current_network.evaluable? %>

            <% when 'android_app_ad' %>
              <%= render partial: 'shared/sidebar/android_app_ad' %>

          <% end %>

        <% end %>
      <% end %>

    </div>
  </div>
</div>