<div class="side-section c-side-item">
  <div class="side-section-header">
    <h6><%= icon('survey-post') %> <%= t('.side_section.next_questionnaires')%></h6>
  </div>
	<div class="side-section-main scrollbar" style="max-height: 245px;">
    <div class="lastest-activities-list ajax-lastest-activities" data-type="Survey" data-page="1">
    </div>
  </div>
</div>