<% content_for :javascripts do  %>
<%= javascript_include_tag 'sidebar/lastest-activities' %>
<% end %>
<div class="side-section c-side-item">
  <div class="side-section-header">
    <h6><%= icon('delivery-post') %> Tareas próximas</h6>
  </div>
  <div class="side-section-main scroller" style="max-height: 245px;">
    <div class="lastest-activities-list ajax-lastest-activities" data-type="Delivery" data-page="1"> 
    </div>
  </div>
</div>