Dear <%= @user.name%>:

  <h2>List of Errors</h2>
  <table id = "errores">
  <tr>
    <th> Linea </th>
    <th> Error </th>
  </tr>
  <% @errores.each do |hash| %>
    <tr>
      <th><%= hash[:line].to_s %></th>
      <th><%= hash[:message] %></th>
    <tr>
  <%end%>
</table>

