<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style>
    @import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);
    h1, h2, p, span, table, td, tr, a {-webkit-font-smoothing: antialiased;}
    p { font-weight: normal; }
  </style>
</head>
<body style="padding: 0; margin: 0; font-family: 'Roboto', 'Helvetica Neue', sans-serif; background-color: #fafafa;">

  <div style="background: #FAFAFA;">
    <div>
      <table style="width: 540px;" align="center" cellspacing="0" cellpadding="0">
        <tr>
          <td style="padding: 20px 0 12px 0;">
            <a href="http://cursa.me" title="Cúrsame">
              <img src="http://app.cursa.me/assets/mails/logo.png" alt="Cúrsame">
            </a>
          </td>
          <td align="right">
            <p style="font-size: 13px; color: #666;">Si no puedes ver este mail, <a href="" style="color: #0071a2; text-decoration: none;">haz click aquí.</a></p>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <table background="http://lvh.me:3000/images/website/teacher-day-title.jpg" style="border-top: 1px solid #098b8c; border-bottom: 1px solid #098b8c;" width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <div>
          <table width="540" align="center" cellspacing="0" cellpadding="0" style="backgrounnd-size: cover">
            <tr>
              <td style="text-align: left;"> 
                <h1 style="color: #fff; margin: 50px 0; font-weight: 400; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);">¡Feliz día del Maestro!</h1>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>

  <table width="540" align="center" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <br>
        <br>
        <h3 style="font-size: 18px; font-weight: 500; color: #333;">
          Estimado(a) <%= @user.name.split.map(&:capitalize).join(' ') %>,
        </h3>
        <p style="font-size: 16px; color: #333;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <p style="font-size: 16px; color: #333;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p style="font-size: 16px; color: #333;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <br>
        <h3 style="margin: 0; font-size: 18px; font-weight: 500; color: #333;">Leon Rangel</h3>
        <span style="font-size: 12px; color: #666;">Director General</span>
        <br>
        <br>
        <br>
        <br>
      </td>
    </tr>
  </table>

  <div style="background: #fafafa; background-color: #fafafa; border-top: 1px solid #e3e3e3;" >
    <table style="width: 540px;" align="center">
      <tr>
        <td style="padding: 20px 0;">
          <h5 style="font-weight: bold; font-size: 13px; color: #333; margin: 0;">C&uacute;rsame &reg; 2014</h5>
          <p style="color: #333; font-size: 12px; margin: 0;">Pomona #7, Roma Norte, Delegaci&oacute;n Cuauht&eacute;moc, Ciudad de M&eacute;xico.</p>
          <p style="color: #333; font-size: 12px; margin: 0;"><a href="mailto:hola@cursa.me" style="color: #0071a2; text-decoration: none;">hola@cursa.me</a></p>
        </td>
      </tr>
    </table>
  </div>

</body>