

/* Courses Skeleton
----------------------------------*/
.courses-list {
  margin: 10px 0;
  @include clearfix;

  .course {
    margin-bottom: 14px;

    &:hover {
      .course-actions {
        display: block;
      }
    }
  }

  .course-cover {
    margin: -1px;
    position: relative;

    .course-cover-image {
      overflow: hidden;
      height: 98px;

      img {
        width: 100%;
        height: auto;
      }

      &:after {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .course-actions {
    display: none;
    z-index: 3;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .course-user-status {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 273px;
    height: 100%;

    .request-sent {
      margin-top: 35px;
      padding: 8px;
    }

    .join-course-status {
      margin-top: 32px;
    }
  }

  .course-description {
    padding: 8px 10px;
    height: 80px;
  }

  .course-detail-list {
    padding: 10px;
    height: 80px;

    .course-detail {
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.profile-images {
  .profile-image {
    margin-bottom: 25px;
  }    
}

.courses-title-h2{
  float: left;
  width: 260px;
}

.admin-title {
  width: 715px;
  padding: 13px 0px 13px 13px;
  float: left;
  display: inline-block;
  position: relative;
}

.list_alt_box {
  width: 226px!important;
  float: left;
  padding: 7px 15px 8px 7px;
  margin-right: 7px!important;
  margin-left: 0px!important;
  margin-bottom: 6px;
  overflow:auto;
}

.course_status {
  padding: 2px 8px;
}

.status {
  margin-top: 18px;
  float: right;
}

#full-deliveries-area > a {
  position: absolute;
  float: right;
  display: none;
  margin-top: 16px;
}

.list_alt_box .header {
  font-family: Arial;
  font-weight: lighter;
  margin-left: 7px;
}

.list_alt_box .headerOne {
  margin-left: 3px;

  h1 {
    height: 20px;
    overflow: hidden;
  }
}

.top-header-delivery-box ul li {
  margin: 2px 0px 5px 0px !important;
  width: 130px!important;

  .green-circle-mini, .orange-circle-mini {
    margin: 6px 0px 0px 6px !important;
    display: block;
    width: 130px!important;
  }
}

.survey_list{
  margin-top:10px;
  float:left;
  width:400px;
  height:400px;
  overflow:auto;
}

.deliveries_list{
  margin-top:10px;
  float:left;
  width:350px;
  height:350px;
  overflow:auto;
}

.title_dxv{
  margin-left:20px;
  height:100%;
  width:907px;
  overflow:auto;
}

.locklok{
  float:left;
  width:515px;
  height:400px;
  overflow: auto;
  padding-left: 46px;
}

.high_tent{
  width:800px;
  height:450px;
}

.light_box {
  #new_delivery_form {

    #delivery_title {
      padding-top: 5px;
      width: 340px;
    }
  
    textarea {
      padding-left: 7px;
      padding-top: 10px;
      width: 504px;
    }

    #delivery_publish_date, #delivery_end_date {
      width: 246px;
    }

    .wrapper-dropdown {
      margin-top: 10px;
    }

    submit {
      margin-top: 10px;
    }

    .upload-input {
      margin-top: -5px;
    }
  }
}

/* Clone Course
----------------------------------*/
.clone-course-form-nav {
  margin-top: 20px;
  @include clearfix;
}

.single-form {
  padding: 5px 0;
}

/* Lightbox Exam
----------------------------------*/
.test_exam_list {
	background: #F8F8F8;
	width: 300px;
	height: 450px;
	overflow: auto;
	margin: -30px 0 0 -30px;
}

/* Course Form
----------------------------------*/
#configuration h1 {
  margin: 17px auto 0 !important;
  position: relative!important;
  display: block!important;
  width: 797px;
  padding: 20px 10px 10px 17px;
}

#configurationing h1 {
  margin: 17px auto 0 !important;
  position: relative!important;
  display: block!important;
  width: 797px;
  color: #fff!important;
  padding: 16px 10px 13px 17px!important;
}

.fixform {
  margin-bottom: 20px !important;
}

.califHeader {
  width: 198px;
  padding: 18px 30px 7px 30px;
  height: 20px;
  display: inline-block;
  position: relative;
  float: right;
}

.AlumHeader {
	width: 551px;
	float: left;
	display: inline-block;
	height: 29px;
	padding-top: 16px;
	padding-left: 13px;
	position: relative;
}

#uploadthingie {
  position: relative;

  input {
    position: absolute;
  }
}

#dummy {
  position: relative;
  width: 116px;
  padding: 9px 20px 3px 17px;
  height: 18px;
  display: block;
  margin-top: 3px;
}

.input-style {
  margin-bottom: 17px !important;
  width: 367px;
}

.date-input {
  width: 145px;
}

.custom-size-form {
  margin-bottom: 17px !important;
  width: 145px;
}

.slct-style input {
  padding: 10px 20px;
  margin-bottom: 17px !important;
}

/* Edit Members
----------------------------------*/
.imgge_gradient {
	width: 170px;
	height: 170px;
	display: block;
	position: absolute;
}

.cmembers {
  width: 939px;
  margin: 0 auto;
}

.pndts {
  margin-top: -25px;
  float: right;
}

.helptext {
  position: relative;
  display: block;
}


.membersCurse {
	height: 200px;
	overflow: hidden;
	position: relative;
}

.hoverShowEdit {
	height: 150px;
	width: 170px;
	padding-top: 20px;
	display: inline-block;
	position: absolute;
	margin-top: -462px;
}

.dstroytxt {
  width: 190px;
  margin-left: -10px;
  padding: 10px 0;
  margin-top: 20px;
}

/* Get Day Calendar
----------------------------------*/
#getDay {
  display: inline-block;
  z-index: 1;
  float: right;
  position: absolute;
  width: 100px;
  height: 35px;
  margin-top: 16px;
  margin-left: 754px;

  .month {
    width: 75px;
  }
}

.calendarHome {
  width: 300px;
  padding: 12px 10px 1px 10px;
}

.calendarEvnt {
  width: 300px;
  padding: 12px 10px 1px 10px;
}

/* Ajax Tareas
----------------------------------*/
.rate {
  display: inline-block;
  float: left;
  width: 434px;
  margin-top: -64px;
  padding: 27px 10px 19px 10px;
}

.rateTwo {
  display: inline-block;
  float: left;
  width: 100%;
  padding: 17px 10px 16px 10px;
}

#tarea_en_carga_notification {
  overflow: hidden;
}

.QuestionAsk {
	display: block;
	width: 98%;
	padding: 2% 0 2% 2%;
}

.AnswerAsk {
	width: 88%;
	padding: 2% 0 2% 2%;
	float: left;
}

.resultAnswer {
	float: right;
	width: 8%;
	padding: 2% 0 0 2%; 
}

.resultsExams {
	width: 100%;
	height: 400px;
	display: block;
}

.responUser {
  width: 454px;
  height: 117px;
  padding: 0!important;
}

.helpText {
  display: block;
  width: 414px;
  height: 25px;
  padding: 8px 20px;
}

.inputCalif {
  width: 230px;
  margin-left: 23px;
  padding: 10px;
}

.header_l {
  display: inline-block;
  float: right;
  width: 400px;
}

.usermenuTitle {
  display: block;
  width: 454px;
  margin-top: 18px;
}

.userDescription {
  display: block;
  margin-top: 10px;
}

.areaCrit {
  width: 230px;
  padding: 10px;
}

.light_box .deliveries_list {
	margin-left: -30px;
	margin-top: -19px;
	height: 450px;

  #titleDevSing {
    padding: 10px;
    width: 326px;
    display: block;
    margin-bottom: 0!important;

    &:hover {
      padding: 10px;
      width: 326px;
      display: block;
    }
  }
}

#titleDevSing {
  display: block;
  width: 200px;
  margin-bottom: 10px;
  padding: 10px;
}

.friendBlock {
  display: block;
  float: left;
  width: 150px;
  height: 191px;
  margin: 0 15px 10px 0;
  overflow: hidden;

  > .acceptFriend {
    transition: ease-out all 0.3s;
  }

  &:hover > .acceptFriend {
    margin-top: -44px;
    transition: ease-out all 0.3s;
  }
}

.friendHead {
  display: block!important;
  clear: both!important;
  position: relative!important;
  margin-top: 10px!important;
}

.friendPhoto {
  display: block;
  width: 150px;
  height: 150px;
}

.friendName {
  display: block!important;
  clear: both!important;
  position: relative!important;
  width: 150px;
  height: 21px;
  margin-top: 10px!important;
}

.acceptFriend {
  display: block;
  display: block;
  position: relative;
  height: 44px;

  > a {
    display: block;
    width: 126px;
    height: 22px;
    margin-top: 16px;
    margin-left: 12px;
    padding-top: 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    color: #fff!important;
    background: #00B1C7;
  }
}

.profileLinks {
  display: block;
  float: right;
  position: absolute;
  width: 887px;
  margin-top: -45px;
}

/* Notificacoines de Alumnos Pendientes
----------------------------------*/

.member_pending {
  display: block;
  float: right;
  position: relative;
  margin-top: -21px;
  padding: 0;    

  &:hover {
    display: block;
  }
}


.accepted_not_pending{
  margin-left:10px;
  margin-top:5px;      
}

/* Entregas - Menu Superior Curso Show
----------------------------------*/
.arco_course_deliver{
  width:700x;
  height:400px;
  margin:20px;
    
  .content_delivery {
    width:440px;
    height:400px;
    float:left;
    overflow-y: scroll;
    overflow-x: hidden;

    .delivery_f {
      width: 436px;
      float: left;
      overflow-y: scroll;
      overflow-x: hidden;

      .delivery_container {
        width: 431px;
        height: 80px;
        margin-bottom: 0px;
        padding-left: 5px;
        padding-top: 5px;
               
        .title {
          width: 375px;
          padding:8px 5px 5px 5px;
          height: 37px;
          overflow: hidden;
        }
               
        .dates {
          width: 240px;
          height: 10px;
          overflow: hidden;
          padding: 0px 5px 5px 5px;
          margin-top: -3px;
          float: left;
        }
               
        .state {
          padding:5px;
          font-align: justify;
          width: 375px;
          float: left;
                   
          .state-btn{
            padding:4px;
            width:70px;
            float:left;
            margin-top:-8px;
          } 
        }

        .image{
          float:right;
          position: relative;
          margin-top: -36px;
        }
      }
    }
  }
      
  .so_open {
    width: 436px;
    height: 400px;
    overflow: auto;
    float: left;
    margin-left: -5px;
    
    // Tareas
    .assignment{
      width: 436px;
      height: 60px;
      
      .title{
  			height: 41px;
  			overflow: hidden;
  			padding: 10px;			
      }

      .image{
  			float: right;
  			position: relative;
  			display: inline-block;
  			margin-top: -52px;
  			margin-right: 8px;
      }
    }    
  }
    
  .tcg{
    width: 470px;
    height-min:400px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left:-10px;
    display: inline-block;
    float: right;
  }

  // Examenes
  .content_survey {
    width:300px;
    height:400px;
    float:right;
    overflow:auto;

    .survey_f {
      width:290px;
      float:right;
      overflow:auto;

      .survey_container {
        width:285px;
        height:100px;
        margin-bottom:1px;
        padding-left: 5px;
        padding-top: 5px;

        .title {
          padding:8px 5px 5px 5px;
        }

        .dates {
          width: 240px;
          height: 10px;
          overflow: hidden;
          padding:5px;
          font-align: justify;
          color:#ccc;
        }

        .state {
          padding:5px;

          .state-btn {
            padding:4px;
            width:70px;   
            float:left;
            margin-top:-8px;
          }             
        }

        .image{
          float:right;
          position: relative;
          margin-top: -36px;
        }
      }
    }
  }
  
  h1 {
    height: 19px;
    width: 169px;
    padding: 14px 12px 10px 19px;
  }
}

.content_survey_slider {
  float: left;
  position: relative;
  width: 440px;
  display: block;
  overflow-x: hidden;
}

.delivery_f {
  width: 436px;
  float: right;
  overflow: auto;
}

.survey_fTwo {
  width: 440px!important;
  float: left;
  overflow: auto;
	
	.state-btn{
    padding:4px;
    width:70px;   
    float:left;
    margin-top:-8px;
  }
}

.delivery_container {
  width: 437px;
  height: 80px;
  margin-bottom: 0px;
  padding-left: 13px;
  padding-top: 5px;

  .title {
    padding:8px 5px 5px 5px;
    height: 40px;
    overflow: hidden;
  }

  .dates {
    width: 240px;
    height: 10px;
    overflow: hidden;
    padding:5px;
    float: left;
  }

  .state {
    padding:5px;
  }

  .image{
    float: right;
    position: relative;
    margin-top: -36px;
  }
}

.activities_depot_select{
  height: 40px;
}

.classContTitle {
	width: 960px;

  h2 {
    float: left;
    height: 20px;
    margin-right: 20px;
    margin-top: 10px;
    width: 378px;
    padding: 11px;
    display: block;
  }
}

.dropperDwn {
	padding: 5px;
	width: 250px;
}
.user_assets{
  width:475px;
  padding: 25px 20px;
  overflow: hidden;
}

#OpenClose {
  width: 45px;
  height: 85px;
  display: inline-block;
  margin-top: -5px;
  float: right;
  z-index: 999;
}

/* Area de Evaluaciones
----------------------------------*/
.stripe {
	padding: 10px 14px;	
  
  p {
    margin-top: 0px!important;
  }
}

.string {
	padding: 10px 14px;
  
  p {
    margin-top: 0px!important;
	}
}

.deactive:hover {
  padding-top: 4px;
}
	
#tab-2 .coklo-title {
	overflow: hidden !important;
}

.aSSigmentHW {
  padding: 10px 10px;
}

.light_box .locklok {
	width: 610px;
	height: 451px;
	overflow: auto;
	padding-left: 0px;
	margin-left: 320px;
	margin-top: -20px;
	position: absolute;
	display: block;
	float: right;

  .cogki_content_delivery {
    
    #tab-1, #tab-2 {
      .coklo-title{
        
        h1 {
          width: 570px;
          padding-right: 20px;
          padding-bottom: 17px;
          padding-left: 20px;
        }

        .cont {
          width: 580px;
        }
      }

      &.current {
        min-height: 435px;
      } 
    }
  }
}

.locklokDel {
  form {
    width: 535px;
    margin: 30px auto 10px;
    min-height: 220px;
  }

  #delivery_description {
    width: 523px;
  }
}

.CloseWinWd {
  width: 26px;
  height: 26px;
  padding: 1px;
  margin-top: -60px;
  z-index: 999;
  position: relative;
  display: inline-block;
  float: right;
}

#ExamsDelivery .delivery_container .dates {
  width: 240px;
  height: 10px;
  overflow: hidden;
  padding: 0px 5px 5px 5px;
  margin-top: -3px;
  float: left;
}
	
.state {
  padding:5px;
  width: 390px;
  float: left;

  .state-btn{
    padding:4px;
    width:70px;
    float:left;
    margin-top:-8px;
  } 
}

.delivery_f {
  width: 436px;
  float: left;
  overflow: auto;

  .delivery_container {
    width: 431px;
    height: 80px;
    margin-bottom: 0px;
    padding-left: 5px;
    padding-top: 5px;

    .title{
      width: 375px;
      padding:8px 5px 5px 5px;
      height: 37px;
      overflow: hidden;
    }

    .dates{
      width: 240px;
      height: 10px;
      overflow: hidden;
      padding: 0px 5px 5px 5px;
      margin-top: -3px;
      float: left;
    }

    .state {
      padding:5px;
      width: 375px;
      float: left;

      .state-btn {
        padding:4px;
        width:70px;
        float:left;
        margin-top:-8px;
      }            
    }          
    
    .image{
      float:right;
      position: relative;
      margin-top: -36px;
    }
  }
}

.arco_course_deliver .so_open_C2 {
	height: 400px;
	overflow: auto;
	float: left;
	margin-left: 0px;	
}

.so_open_C2{
  width: 436px;
  height: 400px;
  overflow: auto;
  float: left;
  margin-left: -5px;

  .assignment{
    width: 436px;
    height: 60px;          

    .title{
      height: 41px;
      overflow: hidden;
      padding: 10px;
    }
          
    .image{
      float: right;
      position: relative;
      display: inline-block;
      margin-top: -52px;
      margin-right: 8px;
    }
  }
}

.resultsExams{
  .responUser {
    height: 40px;
    clear: both;
    padding-top: 11px!important;
  }

  table {
    width: 100%;
  }
}

.UpdateBox {
	clear: both;
}

.UpdateRight {
	width: 190px;
	float: right;	
}

.UpdateLeft {
  width: 190px;
  float: left;
}

.UpdateSubmit > .default-form input[type=submit] {
  min-width: 146px!important;
}

.UpdateLeft p, .UpdateRight p {
  clear: both;
  position: relative;
  display: table;
  height: 22px;
  width: 183px;
  margin: 0;
  padding-top: 10px;
}

.RedBallon {
  min-width: 14px;
  float: right;
  position: relative;
  margin-top: -25px;
  padding: 3px;
}

.UploadArchiveBtn {
	width: 217px;
	position:realtive;
	display:block;
	margin: 5px auto;
	padding: 20px 0 10px 0;
	height: 30px;
}

.form-course {
  > tr {
    &:nth-child(even) {
      height: 32px;
    }

    &:nth-child(odd) {
      height: 40px;

      td {
        padding-top: 12px;
        padding-bottom: 10px;
        border-right: 1px solid #ccc;
        text-align: center;
      }
    }
  }
}

#admin-content .form-course {
	width: 660px!important;
	float: left;
}


.netWorkMenuHeader {
  z-index: 9;
  position: fixed;
  width: 888px;
  height: 25px;
  padding: 37px 21px 27px 30px;
}

.redPop {
  display: block;
  float: right;
  position: absolute;
  margin-top: -35px;
  margin-left: -3px;
  padding: 2px 4px;
}

.waitS > a,
.currentFriends > a {
  display: block;
  float: right;
  margin-left: 2px;
  padding: 5px 8px;
}

.dividerHeader {
  display: block;
  height: 100px;
}

.box_AllUsers {
  display: table;
  float: left;
  position: relative;
  width: 148px;
  height: 150px;
  margin: 3px;
}

.alert_method {
  width: 480px;
  height: 480px;
  margin-top: 50px;
  padding: 15px;
}

.network_button_aler_method {
  margin-top: 30px;
  padding: 10px;

  &:hover {
    margin-top: 30px;
    padding: 10px;
  }
}

/* Library
----------------------------------*/

.library-terms {
  margin-top: 20px;
}

.library-wrap {
  margin-bottom: 20px;
}

.library-items-list {
  .library-item {
    padding: 15px 5px;
    @include clearfix;

    .library-item-icon {
      float: left;
    }

    .library-item-main {
      margin-left: 45px;
    }
  }
}