// Courses Skin

// Courses List
.courses-list {
  .course {
    border-radius: $radius;
    @extend .basic-container-style;

    &.no-footer {
      .course-main, .course-main-cover {
        border-radius: $radius;
      }
    }
  }

  .course-main {
    border-radius: $radius $radius 0 0;
    @extend .cover-banner;

    h3 {
      color: $white;
    }

    p, a {
      font-size: 12px;
      color: tint($primary-color, 60%);
    }

    h3, p {
      text-shadow: 0 1px 1px rgba(0,0,0,.3);
    }
  }

  .course-main-cover {
    background: shade($primary-color, 43%);
    border-radius: $radius $radius 0 0;
    @include opacity(.83);
  }
}

// Library
.library-items-list {
  .library-item {
    border-bottom: 1px solid #e3e3e3;

    &:first-child {
      border-top: 1px solid #e3e3e3;
    }

    &:hover {
      background: #f7f7f7;
    }
  }
}

// Evaluation Schema
.course-evaluation-schema {
  
  .course-evaluation-schema-list {
    @extend .basic-container-style;
  }

  .table-schema {
    thead td {
      font-size: 11px;
      text-transform: uppercase;
    }

    .eva-percenage-input {
      span {
        color: $meta-color;
      }
    }
  }

  .add-new-criteria {
    > a {
      @extend .btn-secondary;
      text-align: center;
      border-width: 1px 0 0 0;
      border-radius: 0 0 $radius $radius;
    }
  }
}

// Closure
.closure-course-members-list {
  .member-item {
    @extend .basic-container-style;

    .member-item-header {
      background: $soft-background;
      border-radius: $radius $radius 0 0;
      border-bottom: 1px solid $separator-color;
    }

    .member-item-footer {
      background: $soft-background;
      border-top: 1px solid $separator-color;
    }
  }  

  .member-evaluation-table {
    tbody {
      td {
        &.middle {
          vertical-align: middle;
        }
        
        .score {
          font-size: 18px;
          font-weight: 500;
        }
      }

      .final-score td {
        background: #f7fbf3;

        .score {
          color: $primary-color;
        }
      }
    }
  }
}