<%@course.members_in_courses.each do |member|  %>
  
  <div class="everymbrm membersCurse">
    <% unless agil_find_user(findX="#{member.user_id}", byX='id') == "nil"%>
		  <%= avatar('user', '150', "no", "#{member.user_id}", "avatar", "no", "no") %>
      <h3><%= link_to  "#{agil_find_user(findX="#{member.user_id}", byX='id').name} perfil", show_user_path(agil_find_user(findX="#{member.user_id}", byX='id').personal_url) %></h3>
    <%end%>
  </div>
  
<%end%>