<div class="cards-list comunity-card-list">
  <div class="cols-12">
    <% @course.members_in_courses.each do |member|  %>
      <% user = agil_find_user(findX="#{member.user_id}", byX='id') %>
      <% next if user.nil? || user == current_user %>
      <%= render partial: 'users/shared/user_card', locals: { f: user } %>
    <% end %>
  </div>
</div>