<% @member_it = member_it %>
<% @member =  member %>
<% if current_user.id != @member_it.id && @member.accepted %>
  <div id="options_to_<%@member_it.id%>" style="display:block;">
    <div class="dropdown-wrap">
      <div class="dropdown-pull btn btn-small btn-secondary">
        <%= icon 'drop-arrow' %>
      </div>
      <div class="dropdown-v left" style="left: -9px;">
        <i class="tip"></i>
        <ul>
          <li>
            <%= link_to t('.delete_group'), @member, confirm: t('.confirm'), method: :delete, :remote => true %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<%end%>
