<div class="deliveries-activity-wrap">
  {{#each this}}
    <div id="{{id}}" class="delivery-item">
      <div class="delivery-item-author">
        <span class="avatar-holder">
          {{{user_avatar}}}
        </span>
      </div>
      <div class="delivery-item-main">
        <h6>{{user_name}}</h6>
        {{#if accomplishment}}
          <h6>Calificación: {{accomplishment}}</h6>
        {{else}}
          <p>Sin calificar</p>
        {{/if}}
        <a href="#" class="btn btn-secondary btn-small show-activity-delivery" data-type="{{type}}" data-id="{{id}}">Ver entrega</a>
      </div>
    </div>
  {{/each}}
</div>