<div id="{{compose.id}}" class="activity-depot-feed" data-type="{{compose.type}}">
  <div class="activity-depot-author">
    <i class="i i-depot-{{compose.type}}"></i>
  </div>
  <div class="activity-depot-main">
    <h6>{{headline}}</h6>
  </div>
</div> 