{{#each this}}
  <div id="{{id}}" class="delivery-item">
    <div class="delivery-item-author">
      <span class="avatar-holder">
        {{{user_avatar}}}
      </span>
    </div>
    <div class="delivery-item-main">
      <h6>{{user_name}}</h6>
      <h6>Resultado Obtenido: {{result}}</h6>
    </div>
  </div>
{{/each}}