<% if (@url == true) %>
   $('#taget').html('<p style="color:#14FD30; font-size:10px; padding:12px; margin-left:53px;">La url está disponible</p>');
<%end%>
<% if (@url == false) %>
   $('#taget').html('<p style="color:#D01515; font-size:10px; padding:12px; margin-left:53px;">La url no está disponible</p>');
<%end%>