<% if @friends.count != 0 %>
  $('#accesed').html("<%= escape_javascript(render :partial => 'users/friends_tpl', :locals => {:friends => @friends})%>");
<%else%>
  $('#accesed').html('<div class="no-content-section"><h4>No hay solicitudes de amistad pendientes.</h4></div>')
<%end%>