<div class="cta">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <%= link_to "¡Solicitar demo en mi institución!", request_demo_path, class: "btn btn-large btn-complementary" %>
      </div>
    </div>
  </div>
  <div class="line"></div>
</div>