<div class="sponsors">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <a href="http://www.spectron.com.mx/" title="Spectron" target="_blank">
            <%= image_tag "/images/website/spectron.png" %>    
          </a>
          <a href="http://mx.wayra.org/" title="Wayra" target="_blank">
            <%= image_tag "/images/website/wayra.png" %>    
          </a>
          <a href="http://www.sep.gob.mx/" title="SEP" target="_blank">
            <%= image_tag "/images/website/sep.png" %>    
          </a>
          <a href="http://www8.hp.com/mx/es/home.html" title="HP" target="_blank">
            <%= image_tag "/images/website/hp.png" %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>