<div class="overlay-header">
  <div class="overlay-title">
    <h4></h4>
  </div>
  <div class="close-overlay"><%= icon('x-close') %></div>
</div>
<div class="overlay-content no-padding">
  <iframe width="560" height="315" src="//www.youtube.com/embed/OG_IYAngraw?autoplay=1" frameborder="0" allowfullscreen></iframe>
</div>
