
<li class=""> <img src="/assets/icons/grey-mini-comment.png" class="icon"><%= link_to "Administración", managers_wall_path %></li>
<li class=""> <img src="/assets/icons/grey-mini-comment.png" class="icon"> <%= link_to "Usuarios", managers_members_path %></li>
<li class=""> <img src="/assets/icons/grey-mini-comment.png" class="icon"> <%= link_to "Settings", managers_network_configuration_path %></li>