<div id="admin-sidebar">
	<h5>Administracion</h5>
	<ul>
		<%= render :partial => "managers/menu"%>
	</ul>
</div>
<div id="admin-content">


<h1>Configuración de la red</h1>
<p>Formulario para configuración de aspectos de la red</p>
<%= render :partial => "networks/form"%>

</div>
</div>