<div id="admin-sidebar">
	<h5>Administracion</h5>
	<ul>
		<li class="active"> <img src="/assets/icons/grey-mini-comment.png" class="icon"> Dsashboard</li>
		<li> <img src="/assets/icons/grey-mini-comment.png" class="icon"> Usuarios</li>
		<li> <img src="/assets/icons/grey-mini-comment.png" class="icon"> Settings</li>
	</ul>
</div>
<div id="admin-content">
	<div class="users-chart">
		<img src="/assets/charts/users-chart.png">
	</div>
	
	<div class="admin-chart">
		<div class="header-chart"> <img src="/assets/icons/grey-mini-comment.png" class="icon"> Usuarios</div>
		<img src="/assets/charts/chart1.png">
	</div>
	
	<div class="admin-chart">
		<div class="header-chart"> <img src="/assets/icons/grey-mini-comment.png" class="icon"> Cursos</div>
		<img src="/assets/charts/chart1.png">
	</div>
	
	<div class="admin-chart">
		<div class="header-chart"> <img src="/assets/icons/grey-mini-comment.png" class="icon"> Tareas</div>
		<img src="/assets/charts/chart1.png">
	</div>
	
	<div class="admin-chart">
		<div class="header-chart"> <img src="/assets/icons/grey-mini-comment.png" class="icon"> Cuestionarios</div>
		<img src="/assets/charts/chart1.png">
	</div>
	
	<div class="admin-chart">
		<div class="header-chart"> <img src="/assets/icons/grey-mini-comment.png" class="icon"> Discusiones</div>
		<img src="/assets/charts/chart1.png">
	</div>
	
	<div class="admin-chart">
		<div class="header-chart"> <img src="/assets/icons/grey-mini-comment.png" class="icon"> Comentarios</div>
		<img src="/assets/charts/chart1.png">
	</div>
	
</div>