<%= form_for @asset = Asset.new,:html => { :id => "new_asset"} do |f| %>
  <div id="new_asset">
  <%= f.label :image, "Upload paintings:" %>
  <%= f.file_field :image, multiple: true, name: "painting[image]" %>
  </div>
<% end %>
<script>
  alert('<%= @asset.id%>')
</script>