<div class="media">
    <a class="pull-left" href="#">
     	<img class="media-object" src="http://placehold.it/64x64">
    </a>
    <div class="media-body">
       	<h4 class="media-heading">Armando González</h4>
        <%= comment.comment %>
    </div>
</div>	