<div id="comment_<%= comment.id %>" class="child-comment-box">
    <div class="heart-icon"></div>
    <a class="avatar-child-comment" href="#">
    	<img class="media-object" src="<%= comment.user.avatar%>" width ="30px">
    </a>        
    <div class="info-comment">
        <div class="username"><%= comment.user.name %></div>
        <div class="comment"><%= comment.comment_html %></div>
    </div>
</div>