 <!-- Tip Content -->
    <ol id="joyRideTipContentC" style="display:none">
      <li  data-text="Siguiente" class="custom">
        <h2>Bienvenido al perfil de curso </h2>
        <p>En este lugar podras ver todo lo que pasa en el curso.</p>
      </li>
      <li data-id="noticce" data-button="Siguiente" data-options="tipLocation:top;tipAnimation:fade">
        <h2>Notificaciones</h2>
        <p>Esta es el area de notificaciones.</p>
      </li>
      <li data-id="box-user-credential" data-button="Siguiente" data-options="tipLocation:right">
        <h2>Perfil</h2>
        <p>Este es el perfil del curso.</p>
      </li>

      <li data-id="edit_course" data-button="Siguiente" data-options="tipLocation:right">
        <h2>Editar el curso</h2>
        <p>Aqui puedes editar el curso.</p>
      </li>
      
       <li data-id="box-course" data-button="Siguiente" data-options="tipLocation:right">
        <h2>Descripción</h2>
        <p>Aqui va la descripcion del curso.</p>
      </li>

      <li data-id="edit_course" data-button="Siguiente" data-options="tipLocation:right">
        <h2>Editar el curso</h2>
        <p>Aqui puedes editar el curso.</p>
      </li>

      <li data-id="tabs-friends-1" data-button="Terminar">
        <h2>Amigos</h2>
        <p>Aqui encontraras un listado de tus amigos</p>
      </li>

      <li data-id="post-forms" data-button="Siguiente" data-options="tipLocation:right">
        <h2>Creación de contenido</h2>
        <p>Esta es el area de creación de contenido.</p>
      </li>
      <li data-id="timeline" data-button="Terminar" data-options="tipLocation:right">
        <h2>Publiciones</h2>
        <p>Aqui encontraras todas las publicaciones de la red.</p>
      </li>
    </ol>



<script>
  $('#joyRideTipContentC').joyride({
          autoStart : true,
          postStepCallback : function (index, tip) {
          if (index == 2) {
            $(this).joyride('set_li', false, 1);
          }
        },
        'postRideCallback': function (argument) {
          var data ={
              data:1
          };
          $.get('/home/finish_tour',data,null,"script");
        },
        // modal:true,
        expose: true
        });
</script>