 <!-- Tip Content -->
    <ol id="joyRideTipContentN" style="display:none">
      <li  data-text="Siguiente" class="custom">
        <h2>Bienvenido a Cúrsame</h2>
        <p>En este tour te mostraremos el nuevo diseño y las herramientas que podras utilizar dentro de nuestra plataforma.</p>
      </li>
      <li data-id="box-course" data-button="Siguiente" data-options="tipLocation:right">
        <h2>Creación de cursos</h2>
        <p>Al dar click en el bootón Crear (+) aparecera el formulario de creación para los cursos que impartes.</p>
      </li>
      <li data-id="post-forms" data-button="Siguiente" data-options="tipLocation:right">
        <h2>Menú de creación</h2>
        <p>En un solo lugar puedes crear Comentarios, Tareas, Discusiones y Cuestionarios.</p>
      </li>
      <li data-id="post-forms" data-button="Siguiente" data-options="tipLocation:right">
        <h2>Público o a tus cursos</h2>
        <p>Podrás escoger si tus publicaciones son públicas para toda la red o para uno o varios de tus cursos.</p>
        <div><%= image_tag("dropdown.png") %></div>
      </li>
      <li data-id="post-forms" data-button="Siguiente" data-options="tipLocation:right">
        <h2>Uno o varios cursos</h2>
        <p>!Tendrás la posibilidad de escoger si lo que creas pertenece a uno, varios o todos los cursos! .</p>
        <div><%= image_tag("cursos-dropdown.png") %></div>
      </li>

      <li data-class="publication-box" data-button="Siguiente" data-options="tipLocation:right" style="margin-top:50px;">
        <h2>Muro principal</h2>
        <p>En el muro principal aparecerán todas las publicaciones de tus cursos y amigos.</p>
      </li>

      <li data-id="trans-nav" data-button="Siguiente" data-options="tipLocation:right">
        <h2>Filtrado de publiciones</h2>
        <p>Con el menu de filtrado podrás escoger que tipo de publicación quieres ver en el muro.</p>
      </li>      

      <li data-id="tabs-friends-1" data-button="Siguiente" data-options="tipLocation:right">
        <h2>Amigos</h2>
        <p>En esta sección podrás ver a tus amigos, o ingresar a la "Comunidad" para agregarlos</p>
      </li>

      <li data-id="banner-btns" data-button="Siguiente">
        <h2>Menú interactivo</h2>
        <p>Dependiendo la sección en la que te encuentres este menú mostrará herramientas de utilidad.</p>
      </li>

      <li data-button="Terminar">
        <h2>Video tutoriales de ayuda</h2>
        <p>En cada sección donde veas un signo de interrogación "?", al dar click en el podras ver un video sobre como usar dicha función.</p>
      </li>
    </ol>



<script>
  $('#joyRideTipContentN').joyride({
          autoStart : true,
          postStepCallback : function (index, tip) {
          if (index == 2) {
            $(this).joyride('set_li', false, 1);
          }
        },
        'postRideCallback': function (argument) {
          var data ={
              data:0
          };
          $.get('/home/finish_tour',data,null,"script");
        },
        expose: true
  });
</script>