<div class="sounds">
  <audio id="new-message-sound" no-controls no-autoplay no-loop>
    <source src="/sounds/message.ogg" type="audio/ogg">
    <source src="/sounds/message.mp3" type="audio/mpeg">
  </audio>
  <audio id="new-notification-sound" no-controls no-autoplay no-loop>
    <source src="/sounds/notification.ogg" type="audio/ogg">
    <source src="/sounds/notification.mp3" type="audio/mpeg">
  </audio>
</div>