
/* Dropdowns
----------------------------------*/ 
.dropdown-wrap .dropdown-pull {
  cursor: pointer;
}

.dropdown-wrap .dropdown-v {
  border-radius: $radius;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 7px rgba(0, 0, 0, 0.35);
  text-align: left;

  .tip {
    background: url("/assets/pack.png") -36px 0 no-repeat;
  }

  > ul > li {
    border-top: 1px solid #d9d9d9;

    &:first-child {
      border-top: 0;

      a, .as-link {
        border-radius: 3px 3px 0 0;
      }
    }

    &:last-child a, &:last-child .as-link {
      border-radius: 0 0 3px 3px;
    }

    a, .as-link {
      color: #666;
      font-weight: normal;
      cursor: pointer;

      &:hover {
        background: #f2f2f2;
      }
    }
  }
}

.arrow-dropdown {
  @include triangle(8px, gray, down);
}

/* Public, User and Courses Dropdown
----------------------------------*/
.target-dropdown {

  .dropdown-pull {
    #title-dd {
      font-weight: bold;
    }

    .arrow {
      @include triangle(8px, gray, down);
    }
  }

  label {
    cursor: pointer;
  }

  .target-courses-selector li label {
    img {
      vertical-align: -8px;
    }

    input[type="checkbox"] {
    }
    
    &:hover {
      background: #f7f7f7;
    }

    &:first-child {
      border-radius: $radius $radius 0 0 ;
    }
  }

  .return-dd {
    color: $primary-color;
    cursor: pointer;
    border-radius: 0 0 $radius $radius;

    &:hover {
      background: #f7f7f7;
    }
  } 
}

/* Courses Actions
----------------------------------*/
.course-actions .dropdown-pull {
  background: rgba(0,0,0,.7);
  border-radius: $radius;

  &:hover {
    background: #000;
  }    
}

/* Activity Dropdown
----------------------------------*/
.activity-dropdown-wrap {

  .activity-dropdown-title {
    border-bottom: 1px solid #D6D6D6;
  }
  
  .activity-dropdown-content {
    background: #fcfcfc;
  }

  .activity-dropdown-footer {
    border-top: 1px solid #D6D6D6;

    a {
      font-size: 11px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .activity-feed-list {
    > li {
      border-bottom: 1px solid #e6e6e6;

      &:hover {
        background: #f7f7f7;
      }
    }
  }

  .activity-feed {
    .activity-feed-main {
      h6 {
        font-weight: normal;
        color: $global-color;
      }

      p {
        color: $global-color;
      }

      .meta {
        font-weight: normal;
        color: $meta-color;
        text-transform: uppercase;
        font-size: 11px;
      }
    }
  }
}