
/* Dropdowns
----------------------------------*/ 
.dropdown-wrap .dropdown-pull {
  cursor: pointer;
}

.dropdown-wrap .dropdown-v {
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15) ,0 1px 2px rgba(0,0,0,.1);

  .tip {
    background: url("/assets/pack.png") -36px -1px no-repeat;
  }

  > ul li {
    border-top: 1px solid #d9d9d9;

    &:first-child {
      border-top: 0;
      a {
        border-radius: 3px 3px 0 0;
      }
    }

    &:last-child a {
      border-radius: 0 0 3px 3px;
    }

    a {
      color: #666;

      &:hover {
        background: #f2f2f2;
      }
    }
  }
}

.arrow-dropdown {
  @include triangle(8px, gray, down);
}