.wrapper.ver-spaced
  .cols-12
    .col.col-12
      .col-inner 
        .container
          .header
            .left
              %h2= t('.new_library')
          = render partial: 'libraries/shared/form'
          