= render partial: 'deliveries/shared/deliveries_header'
.academic-activities-list-wrap
	- unless @deliveries.empty?
		.academic-activities-section
			.wrapper
				.academic-activities-main
					.cols-12
						= render partial: 'deliveries/shared/deliveries_list', locals: { deliveries: @deliveries }
	- else
		.no-content-section
			%h4 No tienes tareas pasadas.