<h1>Listing deliveries </h1>
<%= render 'form'%>


  <% current_course.deliveries.each do |ds| %>
   <b><%= ds.title %></b>
   <p><%= ds.description %></p>
  <%end%>
  
 
   
</table>

<br />

<%= link_to 'New Delivery', new_course_delivery_path %>
