@font-face {
  font-family: HelvRegular;
  src: url("/assets/fonts/HelveticaLTStdRoman.otf"), url("/assets/fonts/HelveticaLTStdRoman.otf");
  /* IE9+ */
}

@font-face {
  font-family: HelvBold;
  src: url("/assets/fonts/HelveticaLTStdBold.otf"), url("/assets/fonts/HelveticaLTStdBold.otf");
  /* IE9+ */
}

@font-face {
  font-family: HelvLight;
  src: url("/assets/fonts/HelveticaLTSLight.otf"), url("/assets/fonts/HelveticaLTSLight.otf");
  /* IE9+ */
}

@font-face {
  font-family: HelvBoldCond;
  src: url("/assets/fonts/HelveticaLTSBoldCond.otf"), url("/assets/fonts/HelveticaLTSBoldCond.otf");
  /* IE9+ */
}
