@font-face {
  font-family: HelvRegular;
  src: url("/assets/fonts/HelveticaLTStdRoman.otf"), url("/assets/fonts/HelveticaLTStdRoman.otf");
  /* IE9+ */
}

@font-face {
  font-family: HelvBold;
  src: url("/assets/fonts/HelveticaLTStdBold.otf"), url("/assets/fonts/HelveticaLTStdBold.otf");
  /* IE9+ */
}

@font-face {
  font-family: HelvLight;
  src: url("/assets/fonts/HelveticaLTSLight.otf"), url("/assets/fonts/HelveticaLTSLight.otf");
  /* IE9+ */
}

@font-face {
  font-family: HelvBoldCond;
  src: url("/assets/fonts/HelveticaLTSBoldCond.otf"), url("/assets/fonts/HelveticaLTSBoldCond.otf");
  /* IE9+ */
}

/* line 3, ../../app/assets/stylesheets/courses.scss */
.course {
  float: left;
  height: 250px;
  width: 240px;
  margin: 12px 30px 24px 0;
  border: 1px solid #c9d1da;
  border-radius: 5px;
  margin: 10px 10px 10px 20px;
  float: left;
  background: #f3f3f3;
}
/* line 14, ../../app/assets/stylesheets/courses.scss */
.course h2 {
  font-size: 24px;
  float: left;
  margin: 10px 0 5px 0px;
  color: #444444;
  font-family: HelvLight;
}
/* line 21, ../../app/assets/stylesheets/courses.scss */
.course .thumbnail {
  width: 240px;
}

/* line 26, ../../app/assets/stylesheets/courses.scss */
.hidden-text {
  white-space: nowrap;
  width: 79%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 34, ../../app/assets/stylesheets/courses.scss */
h4 {
  font-size: 14px;
}

/* line 37, ../../app/assets/stylesheets/courses.scss */
h3 {
  font-size: 18px;
}

/* line 40, ../../app/assets/stylesheets/courses.scss */
.al {
  font-size: 18px;
  background: none;
  border: none;
}

/* line 46, ../../app/assets/stylesheets/courses.scss */
.course-banner-profile {
  background-image: url("/assets/bannerprofile.png");
}

/* line 50, ../../app/assets/stylesheets/courses.scss */
.course li {
  padding-left: 20px;
  list-style: none;
  margin: 5px;
  color: #444444;
}

/* line 57, ../../app/assets/stylesheets/courses.scss */
#crud {
  position: relative;
  top: 0px;
  float: right;
  opacity: 0.5;
  text-align: right;
  margin: -130px 10px 0 0;
}

/* line 66, ../../app/assets/stylesheets/courses.scss */
#course-title {
  width: 200px;
  font-size: 14px;
  float: left;
  margin: 10px 20px 5px 20px;
  color: #444444;
  font-family: helvetica;
  text-align: center;
  font-weight: bold;
}

/* line 77, ../../app/assets/stylesheets/courses.scss */
#course-info {
  padding: 20px;
  font-size: 12px !important;
}

/* line 82, ../../app/assets/stylesheets/courses.scss */
#courses-list {
  width: 830px;
  margin: auto;
}

/* line 87, ../../app/assets/stylesheets/courses.scss */
.courses-title-h2 {
  font-size: 30px;
  font-family: helvetica;
  font-weight: bold;
  float: left;
  width: 260px;
}

/* line 95, ../../app/assets/stylesheets/courses.scss */
.serch-courses {
  width: 300px;
  margin: 4px 0 0 0;
  float: left;
}

/* line 101, ../../app/assets/stylesheets/courses.scss */
.serch-courses input {
  width: 200px;
  font-size: 14px;
  line-height: 16px;
  font-family: HelvLight;
}

/* line 108, ../../app/assets/stylesheets/courses.scss */
.new-course {
  float: right;
  margin: 6px 0 0 0;
}

/* line 114, ../../app/assets/stylesheets/courses.scss */
#header-courses {
  width: 780px;
  margin: auto;
  padding: 15px;
}
