<form action="<%= user_session_path %>"  class="form-signin" method="post">

  <input type="text" name="user[email]"  placeholder="Email" class="email" >
  <input type="password" name="user[password]"placeholder="Contrase&ntilde;a" class="pswd">
  

    <label class="checkbox remember">
    <input type="checkbox" name="user[remember_me]" value="remember-me"> <%=t('.remember')%>    
  </label></br>

  
  <button class="log-in" type="submit"><%=t('.log_in')%></button>

  
    <%=link_to (t('.pwd'), new_user_password_path,:class =>"forgot")%>
</form>
