<h1>Términos y condiciones del sitio</h1></br>

<b>1. Requerimientos para tener acceso a los Servicios de Cúrsame.</b>
Nuestros servicios están disponibles solamente para los individuos y las empresas del marco educativo (que incluyen pero no restringidos a estos, a las de propietario único) en correcta situación legal que puede firmar contratos legalmente obligatorios y se den derecho a suscribir y tener acceso a nuestros servicios bajo la legislación aplicable. Por lo que el cliente garantiza que está bajo la jurisdicción legal del país al que pertenece y bajo la normatividad del mismo. En consecuencia, el cliente garantiza que está autorizado para hacer negocios y está en correcta situación legal en las jurisdicciones en las cuales hace el negocio (durante el término de este acuerdo), que no es un competidor de Cúrsame, y que la persona que acepta este acuerdo tiene por lo menos dieciocho años de la edad y está capacitado y autorizado para asumir las obligaciones contractuales como cliente.</br>

<b>2. Servicios de Cúrsame.</b>
Conforme a los términos y condiciones del presente Acuerdo, Cúrsame se compromete a brindar ciertos Servicios al Cliente. Para los efectos del presente Acuerdo: (a) "Cliente" (o "usted") se refiere al individuo o a la entidad comercial que utiliza o se registró para utilizar dichos Servicios, incluyendo a sus empleados y agentes; (b) "Servicios" de Cúrsame se refiere a todos los servicios interactivos o electrónicos ofrecidos por Cúrsame. Cúrsame Online se reserva el derecho de modificar o interrumpir la prestación de sus Servicios en cualquier momento.</br>

<b>3. Propiedad</b>
Reconoce que el contenido (excepto el que se carga en Cúrsame) de esta página Web, incluyendo pero no limitándose a información, documentos, productos, logotipos, elementos gráficos y sonidos, gui, software y servicios (llamados colectivamente "Materiales"), es provisto por Cúrsame o por sus respectivos autores, diseñadores y vendedores (llamados colectivamente "Proveedores") y que Cúrsame y/o sus Proveedores se reservan todos los derechos de propiedad inherentes al mismo. Los elementos de la página Web están protegidos por las leyes aplicables al secreto comercial (trade dress) y por otras leyes que no pueden copiarse ni imitarse en su totalidad o en parte. Cúrsame, el logotipo de Cúrsame y otros productos a los que se hace referencia en el presente son marcas de Cúrsame y pueden estar registradas en ciertas jurisdicciones. Cualquier otro nombre de producto, nombre de la empresa, marcas, logotipos y símbolos pueden ser las marcas comerciales de sus propietarios respectivos.</br>

<b>4. Información del Cliente</b>
El Cliente reconoce y garantiza que la información que proporciona a Cúrsame en los formularios de información de contacto es verdadera, precisa, actual y completa. El Cliente acuerda mantener y actualizar dicha información para asegurar dichas condiciones. En el caso de que dicha información fuera incorrecta, imprecisa, desactualizada o incompleta, Cúrsame tendrá el derecho de suspender o terminar la cuenta del Cliente y el presente acuerdo.</br>

<b>5. Cuenta del Cliente (membresía de maestro Cúrsame)</b>
    
5.1 Usuarios autorizados
El Cliente puede designar a personas como sus agentes para que utilicen los Servicios, siempre que cada persona designada tenga la capacidad legal para realizar acuerdos de cumplimiento obligatorio para el Cliente. Además, el Cliente representa y garantiza que cada persona que se registra con la cuenta del Cliente es un agente autorizado del Cliente (un "Usuario Autorizado") que tiene dicha capacidad legal.

5.2 Responsabilidad de Acceso
El Cliente es el único responsable del acceso y uso de los Servicios (incluyendo todas las actividades y transacciones) por parte de cualquier Usuario Autorizado y/o ID del Usuario registrado bajo la cuenta del Cliente, a menos que dicho acceso o uso de los Servicios sea resultado directo de negligencia por parte de Cúrsame. Es responsabilidad del Cliente, a través de su Usuario Autorizado que administra sus sistemas, permitir el acceso apropiado a cualquiera de los Usuarios Autorizados del Cliente.

5.3 Responsabilidad por los ID y contraseñas del usuario
El Cliente es el único responsable de mantener la confidencialidad de la información de acceso del Cliente, es decir, IDs y contraseñas de acceso a las cuentas de sus Usuarios Autorizados, y es responsable de todas las actividades que ocurren en su cuenta. 5.4 Notificación de uso no autorizado El Cliente debe informarle inmediatamente a Cúrsame si nota cualquier actividad que indicara que su cuenta o información está siendo usada sin autorización, incluyendo: (a) El Cliente recibe la confirmación de una o más órdenes realizadas a través de su cuenta que en realidad nunca realizó o cualquier otro informe conflictivo similar; o (b) el Cliente nota el uso no autorizado de cualquier producto o servicio relacionado con su(s) cuenta(s).</br>

<b>6. Información del Cliente</b>
El Cliente es el único responsable por la información que almacena en los servidores de Cúrsame. El Cliente controla su información a través de su enlace generado. Cúrsame recomienda a los Clientes que archiven su información de manera regular y frecuente; el Cliente tiene absoluta responsabilidad de archivar su información y será el único responsable por información perdida o irrecuperable. El Cliente acuerda cumplir con las obligaciones legales concernientes a su información. Cúrsame eliminará información del Cliente una vez finalizado el presente Acuerdo. Sin embargo, Cúrsame puede llegar a retener información del Cliente en sus archivos luego de eliminarlo y no será responsable en lo absoluto por dicha información.

6.1 Circunstancias especiales
Cúrsame permitirá el acceso a los Servicios y a la información del Cliente a cualquier agente del Cliente ("Agente Autorizado") que presente a Cúrsame una carta notariada firmada por un funcionario del Cliente. Dicha carta deberá incluir declaraciones de autenticidad, autorización, y responsabilidad como lo estipula Cúrsame a su sola discreción. El cliente acuerda de forma expresa e irrevocable que Cúrsame puede confiar en dicha carta y en la autorización aparente de esa persona que solicita el acceso a los Servicios o a la cuenta del Cliente. Cúrsame no será responsable ante el Cliente o cualquier tercero por la veracidad de dicha carta o autoridad.</br>

<b>7. Uso aceptable</b>
Usted acuerda no utilizar los servicios de Cúrsame para:

a. cargar, publicar, enviar por correo electrónico, transmitir u ofrecer de otra manera cualquier Contenido que propague mensajes de terror o describa tortura o muerte; si es un caso muy serio, se informará a la autoridad legal competente y/o se contactará al correspondiente proveedor de Internet;

b. perjudicar a menores, esto incluye cualquier forma de pornografía infantil; si es un caso muy serio, se informará del contenido a la autoridad legal competente y/o se contactará al correspondiente proveedor de Internet; se prohibe publicar cualquier tipo de pornografía.

c. cargar, publicar, enviar por correo electrónico u ofrecer de otra manera cualquier Contenido que viole la patente, marca registrada, secreto de fabricación, derecho de autor u otros derechos propietarios de cualquier parte.

d. Envío masivo de correo no solicitado ("Spam"). Se prohíbe el envío de cualquier forma de Spam a través de los servidores de Cúrsame. Asimismo, también se prohíbe el uso de cualquier recurso de el sitio web de Cúrsame para el envío de Spam de otro proveedor de servicio, anuncio de un sitio Web, o dirección de correo. Las cuentas o los servicios de Cúrsame no pueden ser usados para solicitar información/respuestas de los clientes, mediante mensajes enviados desde otro ISP (Proveedor de Servicios de Internet) donde esos mensajes puedan violar esta política de uso o la del otro proveedor.

e. El anuncio, transmisión, o cualquier otra manera de hacer accesible, o el uso de cualquier programa, producto o servicio que esté diseñado para violar los términos y las condiciones de este acuerdo o del uso aceptable de este u otro ISP, incluyendo, aunque de forma no limitada a, facilitar los medios de envío de Spam, iniciación de operaciones de ping, avalancha, bombardeo de correo, o negación de ataques al servicio;

f. Reenvío a usuarios de Internet de cualquier sitio web que, si ese sitio web contase con soporte de Cúrsame, supondría la violación de los términos de este acuerdo;

g. proveer anonimato a actividades ilegales, fraudulentas o que violen los derechos de propiedad intelectual de una tercera parte;

h. conociendo o deliberadamente permitiendo a otros el uso de los servicios de Cúrsame: (i) para cualquier actividad ilegal, invasiva, fraudulenta, difamatoria, o con propósito fraudulento; (ii) para alterar, robar, corromper, inhabilitar, destruir, violar o penetrar en cualquier sistema de seguridad o cifrado de cualquier fichero electrónico, base de datos o red; (iii) para materialmente interferir el uso de la red de Cúrsame de otros clientes o usuarios autorizados; (iv) en violación de las políticas de uso aceptable aplicables al uso de los proveedores de servicios nucleares de Cúrsame, y considerando que usted está avisado de tales políticas o tales políticas está disponibles en lugares públicos de los sitios web de tales proveedores; o (v) de manera que, en opinión de Cúrsame, es contraria a las reglas generalmente aceptadas de etiqueta y de la buena conducta en Internet;

i. intentar obtener acceso a otra cuenta o recurso de otro ordenador de propiedad ajena sin autorización del legítimo dueño (por ejemplo "hacking");

j. obtener o intentar servicios por otros medios o usando dispositivos con la intención de intentar no pagar;

k. participar en actividades diseñadas para molestar o que puedan suponer la negación del servicio (por ejemplo ataques sincronizados) a otros usuarios, ya sea en la red de Cúrsame o en la de cualquier otro ISP (Proveedor de Servicios de Internet);

l. interferir con el uso o disfrute de la red Cúrsame u otros servicios por parte de otros clientes o usuarios autorizados, incluyendo el uso excesivo de los servicios impidiendo el uso equitativo por parte de otros usuarios de Cúrsame.

m. exponer a los proveedores, representantes, directivos, empleados, agentes, asociados o accionistas de Cúrsame a escrutinio público, ridículo o difamación

;
n. suplantar a cualquier persona o entidad, incluyendo, aunque sin limitarse a ellos, a representantes de Cúrsame, así como falsamente afirmar o inducir a interpretaciones erróneas sobre su personalidad o afiliación a personas o entidades;

o. importar de forma paralela cualquier copia de obras con derechos de propiedad intelectual protegida con el objeto de venderla, alquilarla, etc. por provecho, recompensa y/o.

p. importar o poseer cualquier importación paralela de copias de obras con derechos de propiedad intelectual protegidas, tales como, películas, series de televisión o grabaciones musicales para su reproducción o visionado público, incluyendo, aunque sin limitación, locales de karaoke, restaurantes, tiendas, etc.

7.1 Ilegalidad/ Contenido adulto
Cúrsame sanciona y no permite el contenido del sitio o la transmisión de información que contenga material obsceno o ilegal o fomente o promueva actividad ilegal, incluyendo pero no limitándose a juegos, venta de armas ilegales, y la promoción o publicación de cualquier material que pueda violar la legislación de delitos hostiles.

Cúrsame se reserva el derecho a suspender o rescindir inmediatamente y sin previo aviso cualquier cuenta o transmisión que viole esta política. Asimismo, si el Cliente violara esta política, Cúrsame asistirá y cooperará activamente con las agencias policiales y las autoridades gubernamentales al recolectar y ofrecer información sobre el Cliente, el sitio del Cliente, el contenido obsceno o ilegal, y de aquellas personas que puedan haber accedido, adquirido o utilizado de manera inapropiada contenido obsceno o ilícito.

<b>7.2 Conducta ilícita</b>
El Cliente no cometerá o permitirá la realización de actos dañinos o ilícitos que justifiquen la acción civil, que incluya pero no se limite a la publicación de información privada, escandalosa o difamatoria acerca de una persona sin su consentimiento o que causare intencionalmente angustia emocional.

<b>7.3 Acceso e interferencia</b>
Se prohíben estrictamente las violaciones o intentos de violaciones de los sistemas de Cúrsame, o la interrupción de sus servicios. Dicha violación puede resultar en responsabilidad civil y penal. Sin limitación, los ejemplos de violaciones del sistema incluyen:

(a) Acceso sin autorización o uso de los Servicios de Cúrsame, incluyendo cualquier intento de sondeo, copia o prueba de vulnerabilidad de un sistema o la violación de medidas de seguridad o autenticación sin autorización expresa de Cúrsame; o b) Interferencia con el Servicio a cualquier cliente o sistema, incluyendo, sin limitación, congestión o intento deliberado de sobrecargar un sistema y ataques explícitos; o c) Utilización de cualquier dispositivo, software, o rutina que interfiera o intente interferir con el correcto funcionamiento de los Servicios; o d) Cualquier acción que imponga una carga desproporcionada o inmoderada para la infraestructura de Cúrsame

El Cliente no deberá desarmar, desmontar, decodificar, extraer, revertir la ingeniería o de otra forma intentar derivar el código fuente del "software" (incluyendo los dispositivos, métodos, procesos, e infraestructura) que sustentan los Servicios o cualquier otro software en el sitio Web de Cúrsame. 8.4 Violación de derecho de autor o marca registrada Los Servicios de Cúrsame se pueden utilizar únicamente con propósitos legales. Se prohíbe la transmisión, distribución o almacenamiento de cualquier material en violación a cualquier ley vigente o regulación, incluyendo la exportación de leyes de control. Esto incluye, sin limitación, material protegido por patente, derecho de autor, marca registrada, marca identificada de servicios, secreto de fabricación, u otros derechos de propiedad intelectual. Si utiliza material de terceros, deberá obtener autorización previa. Al utilizar los Servicios, usted representa y garantiza ser el autor y dueño de derechos de autor y/o titular de la licencia con respecto a cualquier contenido alojado y, asimismo, representa y garantiza que ningún contenido viola la marca registrada o los derechos de terceros. Cúrsame se reserva el derecho de suspender o rescindir la(s) transmisión(es) que, a su criterio, violan estas políticas o violan alguna ley o regulación.

<b>7.5 Mal uso de los recursos del sistema</b>
El Cliente no deberá hacer mal uso de los recursos, que incluyan pero que no se limiten a, empleo del contenido que consume excesivo tiempo en el CPU o espacio de almacenamiento; utilización excesiva de la banda ancha; o reventa del acceso al contenido alojado en los servidores de Cúrsame.

<b>7.6 Otras actividades</b>
Ya sea lícito o ilícito, Cúrsame se reserva el derecho a determinar qué es perjudicial para sus Clientes, operaciones o reputación, incluyendo actividades que restrinjan o inhiban a algún otro usuario del uso o placer de disfrutar el Servicio o Internet.

Por favor, sea consciente que Cúrsame se reserva el derecho de supervisar, suspender, restringir, suprimir, modificar, o terminar cualquier contenido o transmisión de la cuenta que se considere viola cualquiera de las políticas anteriormente dichas. Si se da el caso, Cúrsame formulará las denuncias pertinentes a las autoridades responsables de la aplicación de la ley, y en tal caso, Cúrsame ayudará activamente a las entidades responsables de aplicar la ley y con la investigación y el proceso de cualquier actividad, incluyendo la entrega de las cuentas de los clientes y de sus datos personales.

Las quejas sobre violadores de nuestra Política deben enviarse por correo electrónico a politicasvioladas@cursa.me . Se investigará cada queja y puede resultar en la inmediata cancelación de los Servicios, sin previo aviso.</br>

<b>8. Limitación de la responsabilidad</b>
Usted usa Cúrsame bajo su propia responsabilidad. Si usted no está satisfecho con cualquier aspecto de nuestro servicio o con estos términos y condiciones, o algunas otras reglas o políticas, su única solución es finalizar el uso del servicio. Usted explícitamente entiende y acepta que Cúrsame no será responsable por cualquier daño directo, daños accidentales indirectos, fortuitos, especiales, consecuentes, incluyendo pero no limitados a, los daños por la pérdida de beneficios, buena voluntad, uso, datos u otras pérdidas intangibles (incluso si le hemos advertido sobre la posibilidad de tales daños), resultando de: (a) el uso o la incapacidad para utilizar el servicio; (b) el coste de obtención mercancías o servicios alternativos resultado de cualquier mercancía, dato, información comprados o obtenidos o mensajes recibidos o transacciones realizadas en o mediante este servicio; (c) acceso desautorizado a o alteración de sus transmisiones o datos; (d) declaraciones o actuaciones de cualquier tercer parte en el servicio; o (e) cualquier otra asunto relativo al servicio.</br>

<b>9. Limitación de la responsabilidad de protección a contenidos.</b>
Cúrsame no indemnizará al usuario en fallo del sistema, perdida de su información, jaqueo, destrucción de su información voluntariamente, intento de daño de otro usuario, uso de su información para daño físico, uso de su información para daño moral, uso de su información para cualquier tipo de violación a la ley. No nos hacemos responsables del uso que se le dé a sus contenidos en la red.</br>

<b>10. Tipo de indemnización.</b>
Cúrsame solo indemnizara al usuario en especie, no en ninguna forma monetaria, solo mediante la extensión del tiempo que haya sido contratado el servicio, según el tiempo que haya fallado el mismo.</br>