<body style="margin:0px;padding:0px;overflow:hidden">
    <iframe src="http://cursame.tumblr.com/" frameborder="0" style="overflow:hidden;height:800px;;width:100%" height="100%" width="100%"></iframe>
</body>
