<div>	
	<div style="float:left;width:200px">
		----Cursos--- <br>	
		<% @courses_online.each do |course|%>
		    <div><%= link_to course.title, open_channel_path(course.id,"course" => true), :remote => true%></div>
		<%end%>
		<br>----Amigos conectados---
		<% @friends_online.each do |user|%>
		    <div><%= link_to user.email, open_channel_path(user.id), :remote => true%></div>
		<%end%>	
	 </div>
	<div style="float:left;width:600px"> 

		<h1>Chat</h1>
			
		<ul id="chat" style="border:#000 1px solid; height:400px;">
		  
		</ul>
	<%= render :partial => "shared/chat/add_message_form", :locals => {:channel_name =>'',:channel_id=>''} %> 		
	</div>
</div>








