<% content_for :body_classes do %>
no-sidebar background-white
<% end %>

<div class="wrapper spaced ver-spaced">
  <h1><%=t('.help2')%></h1>
  <p><%=t('.videos')%></p>
  <br>
  <iframe width="100%" height="335" src="//www.youtube.com/embed/PsV6eKyMQNI" frameborder="0" allowfullscreen></iframe>
  <iframe width="100%" height="335" src="//www.youtube.com/embed/OBZwWue4NhQ" frameborder="0" allowfullscreen></iframe>
  <iframe width="100%" height="335" src="//www.youtube.com/embed/3UBeivcn3tk" frameborder="0" allowfullscreen></iframe>
  <iframe width="100%" height="335" src="//www.youtube.com/embed/EJ5A9RCCXXA" frameborder="0" allowfullscreen></iframe>
  <iframe width="100%" height="335" src="//www.youtube.com/embed/ODXlUmdEmeI" frameborder="0" allowfullscreen></iframe>
</div>