<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<title>Cúrsame - Red Social Educativa</title>
	<meta name="description" content="Cúrsame Red Social Educativa">
	<meta name="author" content="Cúrsame Red Social Educativa">
	<link rel="shortcut icon" href="/shared/favicon.ico">
	<link rel="icon" type="image/gif" href="/shared/images_landing/animated_favicon1.gif">

	<link href='http://fonts.googleapis.com/css?family=Luckiest+Guy' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/shared/css_landing/normalize.css" type="text/css">
	<link rel="stylesheet" href="/shared/css_landing/style.css" type="text/css">
	
	
	<link rel="stylesheet" type="text/css" href="css/parallax/style.css" />
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/jquery.counter.js"></script>
    
    <style>
        .black_overlay{
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index:1001;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=80);
        }
        .white_content {
            display: none;
            position: absolute;
            top: 25%;
            left: 25%;
            width: 50%;
            height: 50%;
            padding: 16px;
            background-color: white;
            z-index:1002;
            overflow: auto;
        }
    </style>

</head>
<body class="simple-demo">

<!-- <iframe class="blurred" frameborder="0" scrolling="yes" src="index.html" style="position: fixed; width: 100%; float: left; left: 0%; height: 100px; overflow: hidden;"></iframe> -->

<div id="navigation">
	<div class="nav-container">
	
		<div class="logo"><img src="img/logo_top.png"></div><!-- logo -->

		<a href="registro.html" class="registerBtn">Registrate</a>
		<a href="#"  style="margin-right: 10px;" class="registerBtn">Ingresa</a>
		<ul class="social_btns">
		<li><a href="https://www.facebook.com/Cursameoficial"><img src="img/fb.png"></a></li>
		<li><a href="https://twitter.com/cursame"><img src="img/tw.png"></a></li>
		<li><a href="mailto:hola@cursa.me"><img src="img/mail.png"></a></li>
		</ul>
			
	</div><!-- nav-container -->
</div><!-- navigation -->

		<script type="text/javascript">
		    $(document).ready(function(){ 
		        $(window).scroll(function(){
		            if ($(this).scrollTop() > 500) {
		                $('.scrollup').fadeIn();
		            } else {
		                $('.scrollup').fadeOut();
		            }
		        });
		        $('.scrollup').click(function(){
		            $("html, body").animate({ scrollTop: 0 }, 600);
		            return false;
		        });
		    });
		</script>

		<a href="#" class="scrollup" style="width:40px; height:40px; opacity:1; position:fixed; bottom:30px; right:50px; display:none; text-indent:-9999px; background: url('img/top.png'); opacity: 0.3; z-index: 999; display: block;">Scroll</a>

<div id="content-wrapper">
	<div id="bdym">
	
<! -------------------------------------------- wipe it -------------------------------------------- >
		
		<div id="headerComp">
			<div id="region"><img src="img/logo_center.png"></div>
			<div id="slowgan" class="slogan region">Clases, Actividades, Red Social</div>
			<div id="conasd" style="position: absolute; height: 200px; width: 100%; padding-top: 0px;">
				<span class="textElement"  style="font-size: 25px; margin: 30px auto 0 auto; line-height: 30px;">Cúrsame <b>conecta a directivos, profesores y alumnos</b><br /> permitiéndoles interactuar social y académicamente.</span>
				<div id="videMac" class="macbook region"></div>
			</div>
		</div>


<! -------------------------------------------- slide it -------------------------------------------- >

		<div id="pinit-prens" style="width: 100%; height: 700px; padding-top: 50px;">
			<div id="press-fly-it" style="position: absolute; display: inline-block; width: 980px; margin: 0 auto;"></div>
			<div class="quees" style="margin-top: 10px;"><img src="img/ipads.png" style="float: right;"></div>
		</div>	

		<div id="pi" style="width: 100%; height: 700px; padding-top: 50px;">
			<div id="pr" style="position: absolute; display: inline-block; width: 980px; margin: 0 auto;"></div>
			<div class="queses" style="margin-top: 10px;"><img src="img/ipads.png" style="float: right;"></div>
		</div>	



<! -------------------------------------------- pin it -------------------------------------------- >
		
		<div id="fly-container" style="width: 100%;background: url('img/social_net.jpg') top center #FFFFFF repeat-x; min-height: 700px; max-height: 100%; padding-top: 50px;">
			<div id="fly-it"><span class="titleTeacher">Funciones simples pero <b>poderosas</b></span></div>
				<div id="flymove-it">
					<!-- <span id="move-it-left" class="textElement"><b>Cada curso se convierte en una comunidad de aprendizaje con diversas herramientas</b> -->
					<br />
					<!-- Entérate de manera fácil que está sucediendo dentro de tus grupos ó institución gracias a la identiﬁcación por colores. -->
					<!--  <img src="img/icons.png" style="margin-top: 40px;"> -->
					
					</span> 
				</div>
				<div id="slider-icons">

				<div id="parallax-it">

		<div id="pxs_container" class="pxs_container">
			<div class="pxs_bg">
				<div class="pxs_bg1"></div>
				<div class="pxs_bg2"></div>
				<div class="pxs_bg3"></div>
			</div>
			<div class="pxs_loading">Cargando imagenes...</div>
			<div class="pxs_slider_wrapper">
				<ul class="pxs_slider">
					<li>
						<div class="func_cont">
							<img src="images/1.png" alt="First Image" />
						</div>
					</li>
					<li>
						<div class="func_cont">
							<img src="images/2.png" alt="Second Image" />
						</div>
					</li>
					<li>
						<div class="func_cont">
							<img src="images/3.png" alt="Third Image" />
						</div>
					</li>
					<li>
						<div class="func_cont">
							<img src="images/4.png" alt="Forth Image" />
						</div>
					</li>
					<li>
						<div class="func_cont">
							<img src="images/5.png" alt="Fifth Image" />
						</div>
					</li>
					<li>
						<div class="func_cont">
							<img src="images/6.png" alt="Sixth Image" />
						</div>
					</li>
					<li>
						<div class="func_cont">
							<img src="images/7.png" alt="Seven Image" />
						</div>
					</li>
				</ul>
				<div class="pxs_navigation">
					<span class="pxs_next"><img src="images/next.png" style="padding-top: 20px; padding-left: 7px; display: block;"></span>
					<span class="pxs_prev"><img src="images/prev.png" style="padding-top: 20px; padding-left: 7px; display: block;"></span>
				</div>
				<ul class="pxs_thumbnails">
					<li><img src="images/thumbs/1.png" alt="First Image" /></li>
					<li><img src="images/thumbs/2.png" alt="Second Image" /></li>
					<li><img src="images/thumbs/3.png" alt="Third Image" /></li>
					<li><img src="images/thumbs/4.png" alt="Forth Image" /></li>
					<li><img src="images/thumbs/5.png" alt="Fifth Image" /></li>
					<li><img src="images/thumbs/6.png" alt="Sixth Image" /></li>
					<li><img src="images/thumbs/7.png" alt="Seven Image" /></li>
				</ul>
			</div>
		</div>

				</div><!-- parallax-it -->
			</div>
		</div>

<! -------------------------------------------- users_cont -------------------------------------------- >

		<div id="users_cont">
			<div id="pinit-it"><span class="titleTeacher" style="color: #fff;">Diferentes <b>roles</b> de usuario</span></div>
				<div class="logros_cont">
				<div id="" class="">
					<img src="img/roles.png">
					<div class="text_description" style="color: #fff;">Nuestra red social educativa está conformada por usuarios con diferentes roles<br /> (maestros, alumnos y directivos) cada uno con diferentes capacidades dentro<br /> de la plataforma de acuerdo a su función en la institución.</div>
				</div>

				</div><!-- /logros_cont -->

		</div>
		
<! -------------------------------------------- pin it dos -------------------------------------------- >

		<div id="pinit-container" style="width: 100%;background: url('img/logros.jpg') top center #006F7C repeat-x; min-height: 700px; max-height: 100%; padding-top: 100px;">
			<div id="pinit-it"><span class="titleTeacher" style="color: #fff;"><b>Resultados</b> hasta el momento</span></div>
				<div class="logros_cont">
				<div id="box_left" class="logro">
					<img src="img/85.png">
					<div class="text_description" style="color: #fff;">Al menos 85% de adopción por escuela en el primer semestre</div>
				</div>
				
				<div id="box_left" class="logro">
					<img src="img/9.png">
					<div class="text_description" style="color: #fff;">9 de cada 10 Instituciones han decidido pilotear Cúrsame </div>
				</div>
				
				<div id="box_left" class="logro" style="margin-right: 0px;">
					<img src="img/100.png">
					<div class="text_description" style="color: #fff;">100% Pilotos exitosos<br /> durante 2012</div>
				</div>
				
				<div class="box_logros_bottom">
					<div class="text_description" style="color: #fff; font-weight: 300; float: left; width: left; width: 300px;">
						ACTIVIDADES DE EXPANSIÓN EN 10 ESTADOS DE LA REPÚBLICA<br /><br />
						<span style="font-weight: 100; font-size: 16px; position: relative; float: left; display: inlne-block;">
						• Educación Básica Jalisco, Guanajuato, Morelos y EDOMEX<br />
						• Secundarias Técnicas DF<br />
						• Colegio de BacHilleres EDOMEX, Puebla<br />
						• Educación Superior Veracruz<br />
						• Red Nacional de Emprendedores SEP<br />
						• Secretaría de Educación Superior<br />
						• Universidades Privadas 
						</span>
					</div>

				<span class="counter counter-analog2" style="padding-top: 50px; margin-right: 180px!important; display: inline; position: absolute;" data-direction="up" data-interval="99" data-format="99" data-stop="50">0</span><span class="holder"></span>
					<script>
					$('.counter').counter({});
					</script>
				</div>
				
				<div class="text_description" style="color: #fff; margin-top: 110px; margin-left: 40px;">Usuarios educativos beneficiados por<br /> Cúrsame hasta el momento</div>
				

				</div><!-- /logros_cont -->
				</div>
		</div>
		
		
<! -------------------------------------------- slide it -------------------------------------------- >



		
		<div id="pinit-compr" style="width: 100%; min-height: 700px; max-height: 100%; padding-top: 50px; background: url('img/social.jpg') no-repeat top center;">
			<div id="flying-it"><span class="titleTeacher" style="color: #;">Compromiso e<b> impacto social</span></div>

					<div class="parCues-Cont" style="padding-top: 20px;">
					<div class="no-wraping">
						Cúrsame busca generar un impacto positivo en la sociedad a través de la mejora educativa y la reducción de la brecha digital.  Por este motivo nuestros servicios buscan romper las barreras de entrada existentes, procuramos que Cúrsame esté al alcance de todos.
					</div><!-- no-wraping -->
					
					<div class="social_container">
					  
						<div class="brecha">
							<div class="brecha_container" style="margin-left: 381px; width: 360px; text-align: left; font-size: 16px; padding-top: 50px;">
								• Permite llevar seguimiento personalizado del avance educativo en los alumnos.<br /><br />
								• Entrega contenido especializado de acuerdo a las necesidades individuales y al tema que se está estudiando para potenciar
								el aprendizaje de los alumnos y ayudar a los profesores a impartir una mejor clase.<br /><br />
								• Aumenta la productividad ya que otorga herramientas para crear y caliﬁcar contenido de una manera muy sencilla, 
								rápida y a cualquier hora y lugar
							</div>
						</div>
						<div class="calidad" style="textalign:left;">
							<div class="calidad_container" style="margin-left: -361px; width: 360px; text-align: left; font-size: 16px; padding-top: 50px;">
								• Promueve el intercambio digital de archivos y por lo tanto el <span style="color: #076F7E; font-weight: bold;">uso de plataformas digitales</span> para su creación.<br /><br />
								• La <span style="color: #F39C20; font-weight: bold;">facilidad de uso y el entorno social</span> con el que se encuentran los usuarios permite romper la barrera de entrada de miedo o
								desconﬁanza a la tecnología.<br /><br />
								• La manera en la que <span style="color: #8AADD4; font-weight: bold;">Cúrsame trabaja (cursos de capacitación, implementación y seguimiento tecnológico)</span> logra que usuarios que antes no
								utilizaban las TICs en su vida diaria, ahora lo hagan, no solamente en la escuela, por lo que se ataca directamente la brecha digital.
							</div>
						</div>
					</div><!-- /social_container -->
					</div><!-- parCues-Cont -->

		</div>

<! -------------------------------------------- contact it -------------------------------------------- >

		<div id="contact-box" style="width: 100%;background: url('img/contact.jpg') top center #0090CF no-repeat; min-height: 580px; max-height: 100%; padding-top: 100px;">
			<div id="smush-it"><span class="titleTeacher" style="color: #fff;"><b>Contáctanos</b> es fácil</span></div>
				<div id="slider-icons">


					<div class="parCues-Cont" style="width: 970px; margin: 0 auto;">
					<div class="no-wraping" style="color: #fff; text-align: left; width: 400px; float: left; margin-right: 85px;">
					¿Quieres tener Cúrsame en tu institución?<br /><br /> Contáctanos, prometemos ponernos en cuntacto contigo en las próximos 48 horas."<br /><br />Los datos que nos proporciones nos ayudarán a enfocar más rápido y fácil tu petición.
					</div><!-- no-wraping -->
					<div class="contact" style="float: left; color: #fff; text-align: left;">
						<form action="demo_form.asp">
							<div class="field"><span>nombre</span> <input type="text" name="fname"></div>
							<div class="field"><span>email</span> <input type="text" name="fname"></div>
							<div class="field"><span>teléfono</span> <input type="text" name="fname"></div>
							<div class="field"><span>puesto</span> <input type="text" name="fname"></div>
							<div class="field"><span>institución</span> <input type="text" name="fname"></div>
								<div class="send"><a href="enviar()">Enviar</a></div>
						</form>
					</div>
					</div><!-- parCues-Cont -->

				</div>
		</div>
		

<! -------------------------------------------- press -------------------------------------------- >

		<div class="quoting">
			<span class="text_description" style="font-size:30px;">Lo que opinan nuestros clientes</span>
			<div class="quote" style="width: 800px; margin: 0 auto; padding-bottom: 50px;">
				<span class="titleTeacher">Es increíble lo que uno puede hacer…</span>
				<span class="titlePos">
				M. C. Cesari Rico Galeana<br /><br />
					Subdirector Tecnológico de 
					Escuelas Secundarias Técnicas
				</span>
				<span class="textQuote">Cúrsame ha sido una herramienta fundamental en el desarrollo y complemento del día a día en el salón de clases, aumenta el tiempo efectivo en el aula, además nos ayuda a montar programas de lectura y ahorro de papel, lo cual es un gran beneﬁcio.
				</span>
			</div>
			<div class="quote" style="width: 800px; margin: 0 auto; border-top: 1px solid #ddd;">
				<span class="titleTeacher">He utilizado un sin número de LMS’s…</span>
				<span class="titlePos">
				Lic. Alejandro Caballero<br /><br />
					Subdirector Académico 
					Universidad Tecnológica Emiliano Zapata
				</span>
				<span class="textQuote">Y Cúrsame es la plataforma educativa que mejor se ha adaptado al entorno académico real. Su facilidad de uso, entendimiendo y 
factor social ha provocado que nuestros maestros lo adopten y usen en su trabajo escolar diario beneﬁciando a miles de alumnos.
				</span>
			</div>
		</div>


<! -------------------------------------------- press -------------------------------------------- >
		
		<div class="press">
			<span class="text_description" style="font-size:30px;">Cúrsame en la prensa</span>
			<ul class="prensa_list">
			<li><a href="http://www.bitsenimagen.com/entrevista-cursame-la-red-social-para-la-escuela" target="_blank"><img src="img/excelsior.png"></a></li>
			<li><a href="http://eleconomista.com.mx/podcast/cursame/2012/02/27/cursame-forma-innovadora-aprender" target="_blank"><img src="img/economista.png"></a></li>
			<li><a href="http://www.elnorte.com/gadgets/articulo/747/1492783/" target="_blank"><img src="img/reforma.png"></a></li>
			<li><a href="http://pulsosocial.com/2012/04/02/cursa-mecon-50-mil-usuarios-pisa-fuerte-en-e-learning-mexicano/" target="_blank"><img src="img/pulso.png"></a></li>
			<li><a href="http://cursame.tumblr.com/post/17361316755/entrevista-con-eduardo-ruiz-healy-en-radio" target="_blank"><img src="img/formula.png"></a></li>
			<li><a href="http://cursame.tumblr.com/post/27036768594/entrevista-en-radio-centro-red-empresarial" target="_blank"><img src="img/centro.png"></a></li>
			<li><a href="" target="_blank"><img src="img/more.png"></a></li>
			</ul>
		</div>
		
<! -------------------------------------------- boxes -------------------------------------------- >

		<div id="footer" style="width: 100%;background: url('img/') top center #FFF repeat-x; height: 150px; padding-top: 20px;">
			<div class="foot-cont">
				<div class="footer_box" style="background: #F4F4F4;">
					<div class="text_description" style="padding-top: 25px; color: #000;"><b>Sómos <span style="color: #006531;">ecológicos</span></b><br />
					<span style="font-size: 16px;">Cúrsame promueve el intercambio de archivos y entregas digitales con lo que ahorramos bastante papel.
					
				<span class="smallcounter counter-analog" style="padding-top: 40px; float: left; margin-left: -157px; display: inline; position: absolute;" data-direction="up" data-interval="99" data-format="99" data-stop="20">0</span><span style="font-weight: bold; position: absolute; margin-top: 40px; margin-left: -189px;">,000,000 hojas<br /> ahorradas hasta el momento</span>
					<script>
					$('.smallcounter').counter({});
					</script>
				</div>
					
					</div>
				</div>
				<div class="footer_box label" style="margin: 0 30px;">
					<div class="text_description" style="padding-top: 78px; color: #000;">Tenemos una versión de<br /> Cúrsame para
					<center><a class="price" href="#">tu empresa</a></center>
					</div>
				</div>
				<div class="footer_box hire">
					<a href="#"><img src="img/hire.png"></a>
				</div>
			</div>
		</div>
		
<! -------------------------------------------- footer it -------------------------------------------- >

		<div class="end_footer">
			<div class="footer_container" style="width: 980px;">
				<div class="foot">
				Pomona 7, Roma Norte, Cuauhtémoc, Ciudad de México. Tel. 63632893
				Contacto: <a style="color: #0090CF; font-style: normal; font-weight: lighter;" href="mailto:hola@cursa.me">hola@cursa.me</a> Derechos reservados © 2013 Cúrsame.
				</div>
				<div class="sponsor" id="footer_box">
					<img src="img/logos.png">
				</div>
			</div><!-- /footer_container -->
		</div>

<! -------------------------------------------- ends -------------------------------------------- >

	</div><!-- bdym -->
</div><!-- content-wrapper -->
	

	<script type="text/javascript" src="js/greensock/TweenMax.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="_/js/jquery-1.9.1.min.js"><\/script>')</script>
	
  	<script src="js/jquery.superscrollorama.js"></script>
	<script>
		$(document).ready(function() {

			var controller = $.superscrollorama({ enablePin:true, triggerAtCenter: true, playoutAnimations: true });
			var scrollDuration = 200;
			var pinDur = 800;

			// individual element tween examples
		
			//controller.addTween('#fade-it', TweenMax.from( $('#fade-it'), 400, {css:{opacity: .001}, ease:Quad.easeInOut}), 50, -200);
			//controller.addTween('#fly-it', TweenMax.from( $('#fly-it'), .25, {css:{right:'1000px'}, ease:Quad.easeInOut}), 200, -250);
			
			controller.addTween(
					'#headerComp',
					(new TimelineLite())
						.append([
							TweenMax.fromTo($('#region'), 4, 
								{css:{top: 200}, immediateRender:false},
								{css:{top: 600}}),
							TweenMax.fromTo($('#slowgan'), 4,
								{css:{top: 290}, immediateRender:false},
								{css:{top: -680}}),
							TweenMax.fromTo($('#conasd'), 4,
								{css:{top: 370, opacity: 1}, immediateRender:false},
								{css:{top: -1250, opacity: 0}})
						]),
					8000 // scroll duration of tween
				);
			
			var pinAnimations = new TimelineLite();
				pinAnimations
					.append([
						TweenMax.from($('#headerComp'), 1, {css:{opacity:1}}),
						TweenMax.from($('#conasd'), 1, {css:{opacity:1, height: 100}}),
						TweenMax.to($('#conasd'), 1, {css:{opacity:1, height: 100}})
					], .5 )
					.append([
						TweenMax.from($('#press-fly-it'), 10, {css:{opacity:0, marginTop:0}}, 200, 400 ),
						TweenMax.from($('#pressfly'), 10, {css:{opacity: 0, marginTop:0}}),
						TweenMax.from($('.quees'), 10, {css:{opacity:0, marginTop:0}})
					], .5 )
					.append([
						TweenMax.to($('#press-fly-it'), 5, {css:{opacity:0}}),
						TweenMax.to($('#pressfly'), 5, {css:{opacity:0}}),
						TweenMax.to($('.quees'), 5, {css:{opacity:0}})
					], 20)
					.append(TweenMax.to($('#pin-frame-unpin'), .5, {css:{top:'700px'}}));



			// pin element, use onPin and onUnpin to adjust the height of the element
			controller.pin($('#pinit-prens'), 0, {
				anim:pinAnimations, 
				onPin: function() {
					$('#pinit-prens').css('height','600px');
				}, 
				onUnpin: function() {
					$('#pinit-prens').css('top','700px','position','absolute');
				}
			});
			
			
			// ipads
			controller.pin($('#ipads'), 700, {
			  anim: (new TimelineLite())
			    .append([
						TweenMax.to($('#pin-frame-wipe'), .5, {css:{top:0}}),
						TweenMax.from($('#pin-frame-wipe span'), .5, {css:{marginTop:'-600px'}})
					], .5)
			});


			// press fly it

			controller.pin($('#fly-container'), 700, {
			  anim: (new TimelineLite())
			    .append(
			      TweenMax.fromTo($('#flymove-it'), .5, 
			        {css:{left: -200, top: 500}, immediateRender:true}, 
			        {css:{top: -400}})
			    )
			}, 0 , -1400);
			controller.pin($('#devices'), 700, {
			  anim: (new TimelineLite())
			});
			
			
			// users_cont
			controller.pin($('#users_cont'), 700, {
			  anim: (new TimelineLite())
			    .append([
						TweenMax.to($('#pin-frame-wipe'), .5, {css:{top:0}}),
						TweenMax.from($('#pin-frame-wipe span'), .5, {css:{marginTop:'-600px'}})
					], .5)
			});
			
			// first pinner
			controller.pin($('#pinit-container'), 700, {
			  anim: (new TimelineLite())
			    .append([
						TweenMax.to($('#pin-frame-wipe'), .5, {css:{top:0}}),
						TweenMax.from($('#pin-frame-wipe span'), .5, {css:{marginTop:'-600px'}})
					], .5)
			});
			
			
			// third pinner
			controller.pin($('#pinit-compr'), 700, {
			  anim: (new TimelineLite())
			    .append([
						TweenMax.to($('#pin-frame-wipe'), .5, {css:{top:0}}),
						TweenMax.from($('#pin-frame-wipe span'), .5, {css:{marginTop:'-600px'}})
					], .5)
			});
			// scale it
			controller.addTween('#flying-it', TweenMax.from( $('#flying-it'), .25, {css:{right:'1000px'}, ease:Quad.easeInOut}));
			// second pinner
			controller.pin($('#pinit-box'), 700, {
			  anim: (new TimelineLite())
			    .append([
						TweenMax.to($('#pin-frame-wipe'), .5, {css:{top:0}}),
						TweenMax.from($('#pin-frame-wipe span'), .5, {css:{marginTop:'-600px'}})
					], .5)
			});
			// smush it
			controller.addTween('#smush-it', TweenMax.fromTo( $('#smush-it'), .25, {css:{opacity:0, 'letter-spacing':'30px'}, immediateRender:true, ease:Quad.easeInOut}, {css:{opacity:1, 'letter-spacing':'0px'}, ease:Quad.easeInOut}), 0, 100); // 100 px offset for better timing
			// forth pinner
			controller.pin($('#contact-box'), 700, {
			  anim: (new TimelineLite())
			    .append([
						TweenMax.to($('#pin-frame-wipe'), .5, {css:{top:0}}),
						TweenMax.from($('#pin-frame-wipe span'), .5, {css:{marginTop:'-600px'}})
					], .5)
			});
		});

	</script>

		<!-- The JavaScript -->
		<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script type="text/javascript">
			(function($) {
				$.fn.parallaxSlider = function(options) {
					var opts = $.extend({}, $.fn.parallaxSlider.defaults, options);
					return this.each(function() {
						var $pxs_container 	= $(this),
						o 				= $.meta ? $.extend({}, opts, $pxs_container.data()) : opts;
						
						//the main slider
						var $pxs_slider		= $('.pxs_slider',$pxs_container),
						//the elements in the slider
						$elems			= $pxs_slider.children(),
						//total number of elements
						total_elems		= $elems.length,
						//the navigation buttons
						$pxs_next		= $('.pxs_next',$pxs_container),
						$pxs_prev		= $('.pxs_prev',$pxs_container),
						//the bg images
						$pxs_bg1		= $('.pxs_bg1',$pxs_container),
						$pxs_bg2		= $('.pxs_bg2',$pxs_container),
						$pxs_bg3		= $('.pxs_bg3',$pxs_container),
						//current image
						current			= 0,
						//the thumbs container
						$pxs_thumbnails = $('.pxs_thumbnails',$pxs_container),
						//the thumbs
						$thumbs			= $pxs_thumbnails.children(),
						//the interval for the autoplay mode
						slideshow,
						//the loading image
						$pxs_loading	= $('.pxs_loading',$pxs_container),
						$pxs_slider_wrapper = $('.pxs_slider_wrapper',$pxs_container);
							
						//first preload all the images
						var loaded		= 0,
						$images		= $pxs_slider_wrapper.find('img');
							
						$images.each(function(){
							var $img	= $(this);
							$('<img/>').load(function(){
								++loaded;
								if(loaded	== total_elems*2){
									$pxs_loading.hide();
									$pxs_slider_wrapper.show();
										
									//one images width (assuming all images have the same sizes)
									var one_image_w		= $pxs_slider.find('img:first').width();
							
									/*
									need to set width of the slider,
									of each one of its elements, and of the
									navigation buttons
									 */
									setWidths($pxs_slider,
									$elems,
									total_elems,
									$pxs_bg1,
									$pxs_bg2,
									$pxs_bg3,
									one_image_w,
									$pxs_next,
									$pxs_prev);
							
									/*
										set the width of the thumbs
										and spread them evenly
									 */
									$pxs_thumbnails.css({
										'width'			: one_image_w + 'px',
										'margin-left' 	: -one_image_w/2 + 'px'
									});
									var spaces	= one_image_w/(total_elems+1);
									$thumbs.each(function(i){
										var $this 	= $(this);
										var left	= spaces*(i+1) - $this.width()/2;
										$this.css('left',left+'px');
											
										if(o.thumbRotation){
											var angle 	= Math.floor(Math.random()*41)-20;
											$this.css({
												'-moz-transform'	: '',
												'-webkit-transform'	: '',
												'transform'			: ''
											});
										}
										//hovering the thumbs animates them up and down
										$this.bind('mouseenter',function(){
											$(this).stop().animate({top:'-10px'},100);
										}).bind('mouseleave',function(){
											$(this).stop().animate({top:'0px'},100);
										});
									});
										
									//make the first thumb be selected
									highlight($thumbs.eq(0));
										
									//slide when clicking the navigation buttons
									$pxs_next.bind('click',function(){
										++current;
										if(current >= total_elems)
											if(o.circular)
												current = 0;
										else{
											--current;
											return false;
										}
										highlight($thumbs.eq(current));
										slide(current,
										$pxs_slider,
										$pxs_bg3,
										$pxs_bg2,
										$pxs_bg1,
										o.speed,
										o.easing,
										o.easingBg);
									});
									$pxs_prev.bind('click',function(){
										--current;
										if(current < 0)
											if(o.circular)
												current = total_elems - 1;
										else{
											++current;
											return false;
										}
										highlight($thumbs.eq(current));
										slide(current,
										$pxs_slider,
										$pxs_bg3,
										$pxs_bg2,
										$pxs_bg1,
										o.speed,
										o.easing,
										o.easingBg);
									});
							
									/*
									clicking a thumb will slide to the respective image
									 */
									$thumbs.bind('click',function(){
										var $thumb	= $(this);
										highlight($thumb);
										//if autoplay interrupt when user clicks
										if(o.auto)
											clearInterval(slideshow);
										current 	= $thumb.index();
										slide(current,
										$pxs_slider,
										$pxs_bg3,
										$pxs_bg2,
										$pxs_bg1,
										o.speed,
										o.easing,
										o.easingBg);
									});
							
								
							
									/*
									activate the autoplay mode if
									that option was specified
									 */
									if(o.auto != 0){
										o.circular	= true;
										slideshow	= setInterval(function(){
											$pxs_next.trigger('click');
										},o.auto);
									}
							
									/*
									when resizing the window,
									we need to recalculate the widths of the
									slider elements, based on the new windows width.
									we need to slide again to the current one,
									since the left of the slider is no longer correct
									 */
									$(window).resize(function(){
										w_w	= $(window).width();
										setWidths($pxs_slider,$elems,total_elems,$pxs_bg1,$pxs_bg2,$pxs_bg3,one_image_w,$pxs_next,$pxs_prev);
										slide(current,
										$pxs_slider,
										$pxs_bg3,
										$pxs_bg2,
										$pxs_bg1,
										1,
										o.easing,
										o.easingBg);
									});

								}
							}).error(function(){
								alert('here')
							}).attr('src',$img.attr('src'));
						});
							
							
							
					});
				};
				
				//the current windows width
				var w_w				= $(window).width();
				
				var slide			= function(current,
				$pxs_slider,
				$pxs_bg3,
				$pxs_bg2,
				$pxs_bg1,
				speed,
				easing,
				easingBg){
					var slide_to	= parseInt(-w_w * current);
					$pxs_slider.stop().animate({
						left	: slide_to + 'px'
					},speed, easing);
					$pxs_bg3.stop().animate({
						left	: slide_to/2 + 'px'
					},speed, easingBg);
					$pxs_bg2.stop().animate({
						left	: slide_to/4 + 'px'
					},speed, easingBg);
					$pxs_bg1.stop().animate({
						left	: slide_to/8 + 'px'
					},speed, easingBg);
				}
				
				var highlight		= function($elem){
					$elem.siblings().removeClass('selected');
					$elem.addClass('selected');
				}
				
				var setWidths		= function($pxs_slider,
				$elems,
				total_elems,
				$pxs_bg1,
				$pxs_bg2,
				$pxs_bg3,
				one_image_w,
				$pxs_next,
				$pxs_prev){
					/*
					the width of the slider is the windows width
					times the total number of elements in the slider
					 */
					var pxs_slider_w	= w_w * total_elems;
					$pxs_slider.width(pxs_slider_w + 'px');
					//each element will have a width = windows width
					$elems.width(w_w + 'px');
					/*
					we also set the width of each bg image div.
					The value is the same calculated for the pxs_slider
					 */
					$pxs_bg1.width(pxs_slider_w + 'px');
					$pxs_bg2.width(pxs_slider_w + 'px');
					$pxs_bg3.width(pxs_slider_w + 'px');
					
					/*
					both the right and left of the
					navigation next and previous buttons will be:
					windowWidth/2 - imgWidth/2 + some margin (not to touch the image borders)
					 */
					var position_nav	= w_w/2.5 - one_image_w/2 + 3;
					$pxs_next.css('right', position_nav + 'px');
					$pxs_prev.css('left', position_nav + 'px');
				}
				
				$.fn.parallaxSlider.defaults = {
					auto			: 0,	//how many seconds to periodically slide the content.
											//If set to 0 then autoplay is turned off.
					speed			: 1000,//speed of each slide animation
					easing			: 'jswing',//easing effect for the slide animation
					easingBg		: 'jswing',//easing effect for the background animation
					circular		: true,//circular slider
					thumbRotation	: true//the thumbs will be randomly rotated
				};
				//easeInOutExpo,easeInBack
			})(jQuery);
		</script>

		<script type="text/javascript">
			$(function() {
				var $pxs_container	= $('#pxs_container');
				$pxs_container.parallaxSlider();
			});
        </script>
				


</body></html>