<% 
  set_meta_tags title: 'Empleos',
                description: 'Estamos Transformando la Educación en México. ¿Te gustaría trabajar con nosotros?',
                keywords: 'cursame, trabaja, trabajo, trabajos, jobs, empleos',
                author: 'Cúrsame',
                og: {
                  title: 'Trabaja en Cúrsame',
                  description: 'Estamos Transformando la Educación en México. ¿Te gustaría trabajar con nosotros?.',
                  image: 'http://www.cursa.me/images/website/og-jobs.png',
                  url: 'http://www.cursa.me/jobs'
                }
%>
<div class="jobs-title intro-title-page intro-page">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-8">
        <div class="col-inner">
          <div class="section-title">
            <h1>Empleos</h1>
            <p>Estamos Transformando la Educación en México. <br>¿Te gustaría trabajar con nosotros?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="job-board wrapper">
  <div class="cols-12">
    <div class="col col-4">
      <div class="col-inner">
        <div class="jobs-positions-list">
          <h4>Vacantes</h4>
          <ul class="jobs-links">
            <li>
              <a class="active" data-job-target="senior-ror" href="">Senior Ruby on Rails Developer</a>
            </li>
            <li>
              <a href="" data-job-target="android-dev">Android Developer</a>
            </li>
            <li>
              <a href="" data-job-target="ios-dev">iOS Developer</a>
            </li>
            <li>
              <a href="" data-job-target="implement">Implementación</a>
            </li>
            <li>
              <a href="" data-job-target="sales">Ventas</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col col-8">
      <div class="col-inner">
        <div class="job-view active" data-job="senior-ror">
          <h2>Senior Ruby on Rails Developer</h2>        
          <p>Para poder seguir ofreciendo la mejor plataforma educativa del mercado a nuestros usuarios e impactar positivamente en la calidad educativa de nuestro país, buscamos tener siempre el mejor equipo de desarrollo. </p>

          <p>Buscamos un perfil con experiencia en manejo de equipos de desarrollo.</p>

          <p><strong>Responsabilidades:</strong><br>
          + Planeación y ejecución del Road Map de desarrollo de la plataforma y nuevos productos.<br>
          + Establecer metodologías de trabajo ágiles para el equipo de desarrollo.<br>
          + Organización de los roles trabajo de los miembros del equipo para cubrir las áreas de necesidad.<br>
          + Participar en la creación de código para el back end de la plataforma.</p>

          <p><strong>Requerimientos:</strong><br>
          + Al menos 3 años de experiencia en desarrollo de software as a service.<br>
          + Al menos 2 años de experiencia desarrollando en Ruby, RoR.<br>
          + Licenciatura o Ingeniería concluída<br>
          + Ganas de cambiar el mundo.</p>

          <p><strong>Ofrecemos:</strong><br>
          + Sueldo competitivo con el mercado (a negociar).<br>
          + Prestaciones de Ley.<br>
          + Gran ambiente de trabajo.<br>
          + Bonos conforme a resultados.<br>
          + Oportunidad de trabajar en una empresa con un potencial de crecimiento enorme y de cambiar la vida de millones de personas.</p>
        </div>

        <div class="job-view" data-job="android-dev">
          <h2>Android Developer</h2>
          <p>La plataforma Android de Cúrsame es un servicio para nuestros usuarios que busca llevar la excelencia educativa hasta los lugares más remotos por medio de tabletas.</p>

          <p><strong>Responsabilidades:</strong><br>
          + Mantenimiento de las diferentes aplicaciones de Cúrsame para Android. <br>
          + Desarrollo de los nuevos "features" y nuevas versiones de las app Android de tabletas y celulares.</p>

          <p><strong>Requerimientos:</strong><br>
          + Experiencia en el desarrollo de apps para la plataforma Android (portafolio de apps requerido).<br>
          + Disponibilidad para estar full time en el equipo de desarrollo de Cúrsame.<br>
          + Ganas de cambiar el mundo.</p>

          <p><strong>Ofrecemos:</strong><br>
          + Sueldo competitivo con el mercado.<br>
          + Prestaciones de Ley.<br>
          + Gran ambiente de trabajo.<br>
          + Oportunidad de trabajar en una empresa con un potencial de crecimiento enorme y de cambiar la vida de millones de personas.</p>
        </div>

        <div class="job-view" data-job="ios-dev">
          <h2>iOS Developer</h2>

          <p>Las plataformas móviles son cada vez más importantes en el día a día de nuestros usuarios. </p>

          <p>Buscamos un developer capaz de crear desde cero las nuevas aplicaciones nativas para iPad, iPhone y iPod Touch de Cúrsame.</p>

          <p><strong>Responsabilidades:</strong><br>
          + Desarrollo "from scratch" de las diferentes aplicaciones de Cúrsame para iOS. <br>
          + Desarrollo de los nuevos "features" y nuevas versiones de las app de tabletas y celulares.</p>

          <p><strong>Requerimientos:</strong><br>
          + Experiencia en el desarrollo de apps para la plataforma iOS (portafolio de apps requerido).<br>
          + Disponibilidad para estar full time en el equipo de desarrollo de Cúrsame.<br>
          + Ganas de cambiar el mundo.</p>

          <p><strong>Ofrecemos:</strong><br>
          + Sueldo competitivo con el mercado.<br>
          + Prestaciones de Ley.<br>
          + Gran ambiente de trabajo.<br>
          + Oportunidad de trabajar en una empresa con un potencial de crecimiento enorme y de cambiar la vida de millones de personas.</p>
        </div>

        <div class="job-view" data-job="implement">
          <h2>Implementación</h2>

          <p>El área de implementación es clave en el funcionamiento de nuestra plataforma y más importante aún en el cumplimiento de nuestra misión de impactar positivamente a la educación y cambiar la vida de los involucrados a través de la tecnología educativa. </p>

          <p>Un "implementador" es quien tiene el trato directo con nuestros usuarios, el contacto con los directivos de las instituciones y que además tiene la capacidad para enseñar como utilizar la plataforma y los beneficios que conlleva.</p>

          <p><strong>Responsabilidades:</strong><br>
          + Acercamiento con planteles educativos públicos.<br>
          + Trato con los directivos y administradores de plantel.<br>
          + Implementación de la plataforma Cúrsame.<br>
          + Explicación de uso y capacitación tecnológica.<br>
          + Seguimiento de la relación con los usuarios.</p>

          <p><strong>Requerimientos:</strong><br>
          + Sexo masculino.<br>
          + Buena presentación.<br>
          + Capacidad de movilizarse (auto propio).<br>
          + Buen trato con la gente.<br>
          + Paciencia para explicar / enseñar.<br>
          + Interés en la tecnología / educación.<br>
          + Ganas de cambiar el mundo.</p>

          <p><strong>Ofrecemos:</strong><br>
          + Sueldo competitivo con el mercado.<br>
          + Prestaciones de Ley.<br>
          + Viáticos.<br>
          + Gran ambiente de trabajo.<br>
          + Oportunidad de trabajar en una empresa con un potencial de crecimiento enorme y de cambiar la vida de millones de personas.</p>
        </div>

        <div class="job-view" data-job="sales">
          <h2>Ventas</h2>
          <p>Las escuelas privadas son parte importante dentro del modelo de Cúrsame.</p>

          <p>Buscamos una persona con experiencia en ventas capaz de llevar el día a día de nuestras relaciones comerciales con instituciones privadas.</p>

          <p><strong>Responsabilidades:</strong><br>
          + Generación de oportunidades y vínculo con instituciones privadas.<br>
          + Seguimiento de las oportunidades generadas.<br>
          + Cierre de ventas y canalización con el área correspondiente.</p>

          <p><strong>Requerimientos:</strong><br>
          + Sexo y edad indistintos.<br>
          + Buena presentación.<br>
          + Experiencia en ventas (preferentemente al sector educativo).<br>
          + Ganas de Cambiar al mundo.</p>

          <p><strong>Ofrecemos:</strong><br>
          + Sueldo base.<br>
          + Comisiones.<br>
          + Prestaciones de Ley.<br>
          + Gran ambiente de trabajo.<br>
          + Oportunidad de trabajar en una empresa con un potencial de crecimiento enorme y de cambiar la vida de millones de personas.</p>
        </div>

        <br><br>
        <%= link_to '¡Aplicar para esta vacante!', contact_path, class: 'btn btn-large btn-primary' %>
      </div>
    </div>
  </div>
</div>
<%= render partial: "shared/website/sponsors" %>