<% @notifications.each do |notification|%>
	$('#notifications_list').append('<%= escape_javascript(render(:partial => '/shared/notification_type', :locals => {:notification => notification, :cls => ''}))%>');
<%end%>

$('#load-more-notifications').html('<a href="/home/load_more_notfications?page=<%=@page + 1%>" data-remote="true">Ver mas ...</a>');
