<script>
 setTimeout(function(){
      $('.container').css('background','#fff');
     },50);
</script>
<div style="font-size:30px; padding:100px; font-height:bold; margin-top:-100px;">
    <center>
        <p>No hemos podido encontrar esta página</p>
    
    <div style="width:200px; height:240px; background:url('/assets/viking.png'); background-size:100%;"></div>
    </center>
</div>

<div style="font-size:170px; padding:100px; font-height:bold; margin-top:-205px; color:#fff;">
    <center>
    <p><div style="background:#FFCC64; padding:5px; width:220px; float:left;">4</div><div style="background:#64C9FF; padding:5px; width:220px; float:left;">0</div><div style="background:#B5FFC6; padding:5px; width:220px; float:left;">4</div></p>
    </center>
</div>
<div style="font-size:50px; padding:100px; font-height:bold; margin-top:30px;">
    <center>
        <p><%= link_to "Regresar al inicio", "http://#{current_network.subdomain}.#{links}"%></p>
    </center>
</div>