<% content_for :body_classes do %>
no-sidebar background-white
<% end %>

<div class="wrapper spaced ver-spaced">
  <h1>AVISO DE PRIVACIDAD</h1><br>
  
  <table border="1" style="border-collapse:collapse;font-size:13px;background-color:rgb(242,242,242);font-family:Arial,Helvetica,sans-serif;font-weight:lighter;border:none;padding:0px">
  <tbody>
    <tr>
    <td style="font-family:Arial,Helvetica,sans-serif;font-weight:bold">¿Quiénes somos?</td><td style="font-family:Arial,Helvetica,sans-serif;font-weight:lighter">Redes Sociales de Aprendizaje SAPI de CV, mejor conocido como Cúrsame&nbsp;, con domicilio en&nbsp;calle Pomona 7, colonia Roma Norte, ciudad DF, municipio o delegación Cuauhtémoc, c.p. 06100, en la entidad de México DF, país México , y portal de internet <a href="http://www.cursa.me" target="_blank">www.cursa.me</a>&nbsp;, es el responsable del uso y protección de sus datos personales, y al respecto le informamos lo siguiente:</td>
  </tr><tr><td style="font-family:Arial,Helvetica,sans-serif;font-weight:bold">¿Para qué fines utilizaremos sus datos personales?</td><td style="font-family:Arial,Helvetica,sans-serif;font-weight:lighter"><ul></ul>De manera adicional, utilizaremos su información personal para las siguientes finalidades secundarias que&nbsp;<b>no son necesarias</b>&nbsp;para el servicio solicitado, pero que nos permiten y facilitan brindarle una mejor atención:<br>
  <ul><li>Mejora del producto.</li></ul><br>En caso de que no desee que sus datos personales sean tratados para estos fines secundarios, desde este momento usted nos puede comunicar lo anterior a través del siguiente mecanismo:<br>
  <br>A través de nuestro soporte en línea o escribiendo a <a href="mailto:hola@cursa.me" target="_blank">hola@cursa.me</a><br><br><br>La negativa para el uso de sus datos personales para estas finalidades no podrá ser un motivo para que le neguemos los servicios y productos que solicita o contrata con nosotros.<br>
  <br></td></tr><tr><td style="font-family:Arial,Helvetica,sans-serif;font-weight:bold">¿Dónde puedo consultar el aviso de privacidad integral?</td><td style="font-family:Arial,Helvetica,sans-serif;font-weight:lighter">Para conocer mayor información sobre los términos y condiciones en que serán tratados sus datos personales, como los terceros con quienes compartimos su información personal y la forma en que podrá ejercer sus derechos ARCO, puede consultar el aviso de privacidad integral en:<br>
  <br><a href="http://www.cursa.me" target="_blank">www.cursa.me</a><span class="HOEnZb"><font color="#888888"><br></font></span></td></tr></tbody></table>
</div>