<div style="font-size:50px; padding:100px; font-height:bold; margin-top:-50px;">
    <center>
        <p>Debido a una contingencia no es posible mostrar esta información</p>
    </center>
</div>
<div style="font-size:170px; padding:100px; font-height:bold; margin-top:-150px; color:#fff;">
    <center>
    <p><div style="background:#FFCC64; padding:5px; width:220px; float:left;">5</div><div style="background:#64C9FF; padding:5px; width:220px; float:left;">0</div><div style="background:#B5FFC6; padding:5px; width:220px; float:left;">0</div></p>
    </center>
</div>
<div style="font-size:50px; padding:100px; font-height:bold; margin-top:30px;">
    <center>
        <p><%= link_to "Regresar al inicio", "http://#{current_network.subdomain}.#{links}"%></p>
    </center>
</div>