<% 
  set_meta_tags title: 'Feliz Día del Maestro',
                description: 'Lo que se dice en medios sobre Cúrsame.',
                keywords: 'cursame, prensa, noticias, news, press',
                og: {
                  title: 'Prensa · Cúrsame',
                  description: 'Lo que se dice en medios sobre Cúrsame.',
                  image: 'http://cursa.me/images/website/press-title.jpg',
                  url: 'http://cursa.me/press'
                }
%>
<div class="teacher-day-title intro-title-page intro-page">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h1>¡Feliz día del Maestro!</h1>
            <p>Lo que se dice en medios sobre Cúrsame.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="teacher-day-letter">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="letter-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <br>
            <h2>Leon Rangel</h2>
            <span>Director General</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>