= render partial: 'managers/users/shared/managers_users_subnav'
.cols-12
  .col.col-12.alpha.omega
    .col-inner
      .managers-section-header
        .title
          %h1= t('.edit1')
.cols-12
  .col.col-8.alpha.omega
    .col-inner
      = render partial: 'managers/users/shared/form', locals: { user: @user }