.managers-sub-navigation
  .wrapper
    .cols-12
      .col.col-12
        .col-inner
          %ul
            %li= link_to "Comentarios", '', class: active_class(['index', 'show', 'edit'], 'managers/courses')
            %li= link_to "Tareas", '', class: active_class('import')
            %li= link_to "Cuestionarios", '', class: active_class('import')
            %li= link_to "Discusiones", '', class: active_class('import')