$('#hidden-<%= @course %>').html('');
 <% if @course_find.public_status == "Private" %>
   $('#hidden-<%= @course %>').prepend('<span style="color:#fff;font-weight:lighter;font-size:12px;">Aún no has sido aceptado en este curso</span>');
   
 <%else%>
   $('#hidden-<%= @course %>').prepend('<span style="color:#fff;font-weight:lighter;font-size:12px;">Ya has sido aceptado</span>'); 
 <%end%>
