var target        = $('#hidden-<%= @course %>'),
    statusHolder  = target.closest('.course-user-status');

target.remove();

<% if @course_find.public_status == "Private" %>
  statusHolder.prepend('<p class="request-sent"><i class="i i-clock-w"></i> Esperando a ser aceptado</p>');
<%else%>
  statusHolder.prepend('<p class="request-sent">Has ingresado a este grupo</p>'); 
<%end%>


