
/* Overlays Skeleton
----------------------------------*/
.overlay-wrapper {

  .overlay-screen {
    background-color: rgba(0, 13, 19, .8);
    box-shadow: inset 0 0 200px rgba(0, 0, 0, .5)
  }

  .overlay {
    background-color: #fff;
    border-radius: $radius;
    @include animation-duration(.52s);

  }

  .overlay-header {
    background: #f7f7f7;
    border-bottom: 1px solid #d6d6d6;
    border-radius: $radius $radius 0 0;

    .overlay-title {
      h6 {
        font-weight: normal;
        color: #666;

        a {
          font-weight: bold;
        }
      }
    }

    .close-overlay {
      cursor: pointer;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: bold;
      color: #b2b2b2;

      .i {
        vertical-align: -3px;
      }
    }
  }

  .overlay-footer {
    background: #f7f7f7;
    border-top: 1px solid #d6d6d6;
    border-radius: 0 0 $radius $radius;
  }
}

/* Delivery Overlay
----------------------------------*/
.delivery-results {
  font-weight: normal;

  .delivery-overall-result {
    .result {
      background-color: $primary-color;
      color: #fff;
      border-radius: $radius;
      font-size: 18px;
      font-weight: bold;
    }
  }
}

.delivered-delivery-rubres {
  .delivered-delivery-rubre {
    .rubre-calification {
      background: #ededed;
      border-radius: $radius;
      font-size: 15px;
    }
  }
}

/* Survey Overlay
----------------------------------*/
.survey-wrap {
  ol {
    li {
      font-weight: bold;
      font-size: 16px;
    }
  }

  .survey-question {
    p {
      font-size: 14px;
      color: #000;
    }
  }

  .survey-answers {
    ul {
      list-style-type: lower-alpha;
      list-style-position: inside;

      li {
        font-weight: bold;
        font-size: 14px;

        &.active {
          color: #fff;
        }
      }
    }

    .survey-question-answer label {
      background: #f7f7f7;
      border: 1px solid #d6d6d6;
      border-radius: $radius;
      cursor: pointer;
      font-size: 13px;
      
      input[type="checkbox"] {
        display: none;
      }
        
      &:hover {
        background: #f0f0f0;
        border-color: #cfcfcf;
      }

      &.active {
        background: #86b100;
        border-color: #7aa629;
        color: #fff;
      }
    }
  }
}