<div class="thanks-message" style="display: none;">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <%= link_to icon('cursame-logo-gray'), root_path %>
          <div class="l-title">
            <h1>¡Gracias por contactarnos!</h1>
            <p>Uno de nuestros agentes se comunicará contigo lo más pronto posible.</p>
          </div>
          <div class="l-body">
            <iframe width="100%" height="700" src="//www.youtube.com/embed/OG_IYAngraw?autoplay=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>