$('#add_friend<%=@user.id%>').html('');
<<<<<<< HEAD
$('#add_friend<%=@user.id%>').append('Solicitud enviada');


$('.send_request').remove().html('');
$(".friendship_conf").append('<div class="sent_request btn_gray" style="margin-bottom: 10px;">Solicitud enviada</div>');
=======
$('#add_friend<%=@user.id%>').append('<span class="btn btn-small btn-disabled">Solicitud enviada</span>');
Notice('success', 'Se ha enviado una solicitud de amistad.')
>>>>>>> depuracion_ui
