$('#add_friend<%=@user.id%>').html('');
$('#add_friend<%=@user.id%>').append('<span class="btn btn-small btn-disabled">Solicitud enviada</span>');
Notice('success', 'Se ha enviado una solicitud de amistad.')
