<p id="notice"><%= notice %></p>

<p>
  <b> <h3><%=@user.email%> Friendship List: </h3></b>
</p>

<p>
  <b>Accepted Friends:</b>
  <p>

  <%@all_friends.each do |user|%>
    <%if (user[:accepted]) then%>
      <tr>
        <td>
            <%= link_to user[:user].email, show_user_path(user[:user].personal_url)%>
        </td>
      </tr>
      <p>
    <%end%>
  <%end%>
   <p>
   <b>Non Accepted Friends:</b>
   <p>

   <%@all_friends.each do |user|%>
    <%if !(user[:accepted]) then%>
      <tr>
        <td>
            <%= link_to user[:user].email, show_user_path(user[:user].personal_url)%>
        </td>
      </tr>
      <p>
   <%end%>
   <%end%>
</p>
