<<<<<<< HEAD
$('.sent_me_request').remove().html('')
$('.friendship_conf').append('<div class="send_request btn_gray" style="margin-bottom: 10px;">Amigo</div>');
=======
$('#taxk_<%=@f%>').html('')
$('#taxk_<%=@f%>').html('<%= link_to "Eliminar", friendships_destroy_friend_path(@f), class: "btn btn-small btn-primary" %>');


>>>>>>> depuracion_ui
