.comment-admin-actions
  .dropdown-wrap
    .dropdown-pull.activity-dropdown-pull
      = icon('arrow-down-10')
    .dropdown-v.right{style: "right: -12px;"}
      %i.tip
      %ul
        %li= link_to t('.delete'), destroy_comment_path(comment.id), remote: true, confirm: t('.confirm')
