%span.meta-info Filtrar: &nbsp;
%select{ class: "select-redirect", style: "width: 180px;"}
  %option Selecciona un curso
  - student_courses.each do |course|
    %option{ value: surveys_course_path(course) }= course.title