%span.meta-info= t('.filter') + ':' + ' '
%select{ class: "select-redirect", style: "width: 180px;"}
  %option= t('.select')
  - student_courses.each do |course|
    %option{ value: surveys_course_path(course) }= course.title