<div id="box-request-child" class="request-field" >
  <div id="request-num" class="num">a)</div>
  <%= f.text_field :content, :placeholder=>t('.answer'), :required => "required" %>
  <%= f.check_box :correct, :class=> 'is-correct-chk' %>
  <%= f.label :correct, t('.correct'), :class=>'is-correct-label' %>
  <%= link_to_remove_fields t('.delete'), f, {:class=>'remove-icon'}, '#box-request'%>
</div>