.form-group
  .form-group-label
    %label Entidad Federativa
  .form-group-main
    .form-unit
      = select_tag :entity, options_for_select(school_entitites), required: true, include_blank: true
.form-group
  .form-group-label
    %label Municipio
  .form-group-main
    .form-unit
      = select_tag :municipality, options_for_select([]), required: true, include_blank: true
.form-group
  .form-group-label
    %label Subsistema
  .form-group-main
    .form-unit
      = select_tag :subsystem, options_for_select([]), required: true, include_blank: true
.form-group
  .form-group-label
    %label Centro Emprendedor
  .form-group-main
    .form-unit
      = f.select :school_id, options_for_select([]), required: true, include_blank: true

:javascript
  $(function() {
    var updateMunicipalities = function () {
      var entityId = $("#entity").val();

      $.get("/api/municipalities", { entity_id: entityId }, function (data) {
        appendOptionsToSelect('#municipality', data)
      });
    };

    var updateSubsystems = function () {
      var entityId = $("#entity").val();
      var municipalityId = $("#municipality").val();

      $.get("/api/subsystems", { entity_id: entityId, municipality_id: municipalityId }, function (data) {
        appendOptionsToSelect('#subsystem', data)
      });
    }

    var updateCCT = function () {
      var entityId = $("#entity").val();
      var municipalityId = $("#municipality").val();
      var subsystemId = $("#subsystem").val();

      $.get("/api/schools", { entity_id: entityId, municipality_id: municipalityId, subsystem_id: subsystemId }, function (data) {
        appendOptionsToSelect('#course_school_id', data)
      });
    }

    var appendOptionsToSelect = function (select, data) {
      $.each(data, function (i, item) {
        $(select).append(
          $('<option>', { value: item.id, text: item.name })
        );
      });
    };

    $('#entity').change(updateMunicipalities);
    $('#municipality').change(updateSubsystems);
    $('#subsystem').change(updateCCT);
  });
