<div class="load-more">
  <div class="cols-12">
    <div class="col col-12">
      <div class="col-inner">
        <%= link_to 'Cargar más...', courses_paginate_ajax_path(page: page, role: role, state: state), remote: true, class: 'btn btn-secondary btn-full' %>
      </div>
    </div>
  </div>
</div>