%div{ style: "border-bottom: 3px solid #F3F3F3; background: #FAFAFA;" }
  %div{ style: "border-bottom: 1px solid #CFCFCF;" }
    %table{  style: "width: 540px;", align: "center" }
      %tr
        %td{ style: "padding: 20px 0 12px 0;" }
          %a{ href: "http://cursa.me", title: "Cúrsame" }
            %img{ src: "http://app.cursa.me/assets/mails/logo.png", alt: "Cúrsame" }
