
/* Buttons Skin
----------------------------------*/
.btn {
  border-radius: $radius;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  line-height: 33px;

  &.input-btn {
    > input {
      @include appearance(none);
      background: transparent;
      border: 0;
      cursor: pointer;

      &:disabled {
        opacity: .3;
        cursor: not-allowed;
      }
    }

    &[disabled="disabled"] {
      opacity: .3;
      cursor: not-allowed;

      > input {
        opacity: 1;
      }
    }
  }
  
  &.btn-small {
    line-height: 19px;
    font-size: 12px;
  }

  &.btn-medium {
    line-height: 38px;
    font-size: 14px;
  }

  &.btn-large {
    font-size: 15px;
  }

  &.hard-border-btn {
    border: 0;
    box-shadow: 0 0 0 1px rgba(0,0,0,.3);
  }

  &.btn-full {
    text-align: center;
  }

  &[disabled="disabled"] {
    opacity: .3;
    cursor: not-allowed;
  }
}

.btn-shadow {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);
}

.btn-primary {
  color: $white;
  background: $primary-color;
  border: 1px solid darken($primary-color, 10%);
  border-bottom-color: darken($primary-color, 15%);
  @extend .btn-shadow;
  @include linear-gradient($primary-color, darken($primary-color, 3%));

  input {
    color: $white;
  }

  &:hover {
    color: #fff;
    background: lighten($primary-color, 3%);
    @include linear-gradient(lighten($primary-color, 3.5%), $primary-color);
  }

  &.input-btn > input {
    color: $white;
  }
}

.btn-secondary {
  color: #666;
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-bottom-color: darken(#dbdbdb, 7%);
  @extend .btn-shadow;
  @include linear-gradient(#fafafa, darken(#fafafa, 1%));


  &:hover {
    color: #666;
    background: lighten(#fafafa, 3%);
    @include linear-gradient(lighten(#fafafa, 3.5%), #fafafa);
  }

  input {
    color: #666;
  }
}

.btn-complementary {
  color: #ffffff;
  background: $complementary-color;
  border: 1px solid darken($complementary-color, 10%);
  border-bottom-color: darken($complementary-color, 15%);
  @extend .btn-shadow;
  @include linear-gradient($complementary-color, darken($complementary-color, 3.5%));

  &:hover {
    color: #fff;
    background: lighten($complementary-color, 3%);
    @include linear-gradient(lighten($complementary-color, 3.5%), $complementary-color);
  }

  &.active {
    background: lighten($complementary-color, 3%);
    @include linear-gradient(lighten($complementary-color, 3.5%), $complementary-color); 
  }

  input {
    color: #ffffff;
  }
}

.btn-fb {
  color: #ffffff;
  background: #4460a2;
  border: 1px solid #2b488b;
  border-bottom-color: #233e7a;
  @extend .btn-shadow;
  @include linear-gradient(#4460a2, darken(#4460a2, 3.5%));

  &:hover {
    color: #fff;
  }
}

.btn-twitter {
  color: #fff;
  background: #56aaf3;
  border: 1px solid #3d93df;
  border-bottom-color: #3989cf;
  @extend .btn-shadow;
  @include linear-gradient(#56aaf3, darken(#56aaf3, 3.5%)); 

  &:hover {
    color: #fff;
  }
}

.btn-transparent {
  color: #fff;
  background: rgba(255,255,255,.2);
  border: 2px solid $white;

  &:hover {
    color: #fff;
    background: rgba(255,255,255,.4);
  }
}

.btn-disabled {
  border: 1px solid lighten($meta-color, 30);
  color: lighten($meta-color, 15);
  cursor: default;
}

.group-buttons {
  border-radius: $radius;
  @include clearfix;

  .button {
    .btn {
      border-radius: 0;
      border-width: 0 0 0 1px;
    }

    &:first-child .btn {
      border-radius: $radius 0 0 $radius;
    }

    &:last-child .btn {
      border-radius: 0 $radius $radius 0;
    }
  }

  &.hard-border {
    box-shadow: 0 0 0 1px rgba(0,0,0,.5)
  }
}