
/* Buttons Skin
----------------------------------*/
.btn {
  border-radius: $radius;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  line-height: 33px;

  &.input-btn {
    > input {
      @include appearance(none);
      background: transparent;
      border: 0;
      cursor: pointer;
    }
  }

  &.btn-medium {
    line-height: 38px;
  }
}

.btn-primary {
  color: $white;
  background: $primary-color;
  border: 1px solid darken($primary-color, 10);

  &:hover {
    background: lighten($primary-color, 7);
  }

  &.input-btn > input {
    color: $white;
  }
}

.btn-secondary {
  color: #808080;
  background: #f2f2f2;
  border: 1px solid #d9d9d9;

  &:hover {
    background: lighten(#f2f2f2, 3);
  }
}

.btn-transparent {
  color: #fff;
  background: rgba(255,255,255,.3);
  border: 1px solid $white;

  &:hover {
    background: rgba(255,255,255,.6);
  }
}