.wrapper.ver-spaced
  .cols-12
    .col.col-12
      .col-inner 
        .container
          .header
            .left
              %h2= t('.upload_file')
          = render partial: 'library_files/shared/form'