$('#role_permission').append("<div class='alert alert-info'>El permiso esta siendo cargado <img class = 'pull-right' src='/assets/loading_black.gif'></div></br>");
setTimeout(function(){ 
    
    $("#role_permission").empty();
    $(window.location.reload());
    $('#role_permission').append("<div class='alert alert-info'>El permiso ha sido agregado</div></br>");
    
}, 2000 );

 
