
/* Buttons Skeleton
----------------------------------*/
.calendar-wrap {
  .calendar-header {
    @include clearfix;
    
    .calendar-header-current-month {
      margin: 0 auto;
      width: 400px;
    }

    .calendar-header-prev-month {
      float: left;

      a {
        padding: 15px 15px 15px 0;
      }
    }

    .calendar-header-next-month {
      float: right;

      a {
        padding: 15px 0 15px 15px;
      }
    }

    .change-month a {
      display: block;
    }
  }

  table {
    width: 100%;
    height: 100%;

    thead tr th {
      padding: 5px 10px;
      width: (100/7) * 1%;
    }

    tbody tr {
      td {
        padding: 8px;
      }
    }
  }

  .notmonth {
    .calendar-day .calendar-day-main {
      display: none;
    }
  }

  .calendar-day {

    .calendar-day-main {
      .calendar-day-task {
        padding: 1px 4px;
        margin: 2px 0px;
      }
    }
  }
}