
/* Buttons Skeleton
----------------------------------*/
.calendar-wrap {

  .calendar-header {
    background-color: #fcfcfc;
    border-bottom: 1px solid #c7cdcf;

    .calendar-header-current-month {
      text-align: center;

      h1 {
        text-transform: capitalize;
        line-height: 45px;
      }
    }

    .change-month a {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 11px;
    }

    @include max-screen(600px) {
      .calendar-header-current-month h1 {
        font-size: 16px;
      }
    }
  }

  table {
    thead tr th {
      background-color: #fff;
      border: 1px solid #E6E6E6;
      border-width: 0 0 1px 1px;
      text-align: center;
      @extend .meta-info;

      &:first-child {
        border-left: 0;
      }
    }

    tbody {
      background-color: #fff;

      tr {
        td {
          border: 1px solid #E6E6E6;
          border-width: 1px 0 0 1px;

          &:first-child {
            border-left: 0;
          }
        }
      }
    }
  }

  .today {
    background-color: #F0F6F8;

    .calendar-day-number {
      color: $primary-color;
    }
  }
  
  .notmonth {
    background-color: #F8F8F8;
  }

  .calendar-day {
    
    .calendar-day-number {
      font-weight: bold;
    }

    .calendar-day-main {

      .events-availables {
        border-radius: $radius-circle;

        &.delivery {
          background-color: #8bbf27;
        }
        
        &.survey {
          background-color: #f06c15;
        }
      }
    }

    @include max-screen(600px) {
      text-align: center;
    }
  }
}

.calendar-day-task {
  color: $white;
  border-radius: $radius;

  &.delivery {
    background-color: $delivery-color;
  }
  
  &.survey {
    background-color: $survey-color;
  }

  &.discussion {
    background-color: $discussion-color;
  }
  
  span {
    font-size: 12px;
  }
}

.calendar-events-wrap {
  .calendar-events-header {
    background-color: #fcfcfc;
    border-bottom: 1px solid #c7cdcf;
    text-align: center;

    .back-to-calendar {
      border-right: 1px solid #E6E6E6;
    }
  }
}