<div id="box-request-child" class="request-field" >
  <span id="request-num" class="num">a)</span>
  <%= f.text_field :content, :class => "answer-field-input ", :placeholder=>t('.response'), :required => "required" %>
  
  <div class="answer-child-options">
    <span class="btn btn-small btn-secondary">
      <%= f.check_box :correct, :class=> 'is-correct-chk' %> <%=t('.correct')%>
    </span>
    <%= link_to_remove_fields t('.delete'), f, {:class=>'btn btn-small btn-secondary'}, '#box-request'%>
  </div>
</div>