<div id="box-request-child" class="request-field">
  <div id="request-num" class="num">a)</div>
  <%= f.label @answer.content, :id => @answer.id %>
  <%= f.check_box :correct, :class => 'is-correct-chk' %>
  <%= f.label :correct, "-", :class => 'is-correct-label' %>
</div>