

<div class="wrapper">
  <div class="cols-12">
    <div class="col col-12">
      <div class="col-inner">
        <div id="timeline" class="tim">
          <% unless @wall.empty? %>
            <%= render :partial => "/shared/publications", :locals => {:wall => @wall, :visible_for => "network"} %>
          <% else %>
            <div class="no-content-section">
              <h4><%=t('.no_quest')%></h4>
            </div>
          <% end %>
        </div>
        <div id="paginate_wall" onclick="PaginateINwall('/all_surveys',2, <%= @wall.total_pages %>)"></div>
      </div>
    </div>
  </div>
</div>