<h1>
	<%= get_chat_title channel %>
</h1>			
<ul id="chat-messages" class="main-chat-zone">
	<%=render(:partial => '/shared/chat/messages', :locals => {:messages => messages})%>	  
</ul>
<%= render :partial => "shared/chat/add_message_form", :locals => {:channel_name =>channel.channel_name,:channel_id=>channel.id} %>