<div id="go-to-chats-url">
<!-- 	<div class="pending-dropdown">
		<ul class="pending-channels-list">
			
		</ul>
	</div> -->
	<%= link_to "<span class='counter'></span>".html_safe, chat_path %>
</div>