<div class="chat-panel-item" id ="go-to-chats-url" pendingChats=""></div>

<script>
	var sizeOfWindow = 255, separacion;

	if( !$('#chat').length ){
		$("#chat-channel-<%= channel.id%>").css('bottom','312px');
	}else{
		$("#chat-zone-<%= channel.id%>").hide();
	}

	// Agregamos el canal que no se pudo abrir
	$("#go-to-chats-url").attr('pendingChats', ' <%=@channel.channel_name%>');

	// cerramos el chat
	$("#close-chat-go-to-chats-url").click(function () {
		$("#chat-channel-<%= channel.id%>").remove();
		window.chatPanelsCount--;
	});   
</script>