<div class="insideChat">
	<span class="insideChatText">
		<div class="imgChat"><%=image_tag(message.user.avatar.profile || message.user.image_avatarx,:style => "float:left; width:20px; height:20px; margin-top:-4px;", :alt => message.user.name)%>
		<span class="toolTipUser"><p>HOla</p></span>
		</div>
		
		<p style="float:left; margin-left:5px;"> &nbsp; <%= message.mesage_html %> </p></span>
</div>
<div style="clear:both"></div>