<div class="insideChat">
	<span class="insideChatText">
		<div class="imgChat" style="width: 20px; height: 20px;">
			<%=image_tag(message.user.avatar.blank? ? message.user.image_avatarx : message.user.avatar.profile ,:style => "float:left; width:20px; height:20px; margin-top:-4px;")%>
			<span class="toolTipUser"><p><%= message.user.name %></p></span>
		</div>

		<span class="MsjC"><%= message.mesage_html %></span>
		
	</span>
</div>

<div style="clear:both"></div>

<script>
	$(document).ready ( function() {
		$('p:empty').hide();
	});
</script>