
/* Icons
----------------------------------*/
.i {
  background: url("/assets/pack.png") no-repeat;
  vertical-align: middle;
  @include inline-block;
}

.i-home-w { width: 16px; height: 16px; background-position: 0 0; }
.i-homeworks-w { width: 16px; height: 16px; background-position: 0 -15px; }
.i-questionaries-w { width: 16px; height: 16px; background-position: 0 -34px; }
.i-discussions-w { width: 16px; height: 16px; background-position: -17px 0; }
.i-courses-w { width: 16px; height: 16px; background-position: -19px -17px; }
.i-stats-w { width: 16px; height: 16px; background-position: -18px -37px; }
.i-calendar-w { width: 16px; height: 16px; background-position: -18px -55px; }
.i-community-w { width: 16px; height: 16px; background-position: -0px -54px; }
.i-like-c { width: 12px; height: 12px; background-position: -1px -74px; vertical-align: -2px; } 
.i-like-c-active { width: 12px; height: 12px; background-position: -18px -74px; vertical-align: -2px; }
.i-like-c-white { width: 12px; height: 12px; background-position: -59px -69px; vertical-align: -2px; } 
.i-like-c-white-active { width: 12px; height: 12px; background-position: -73px -69px; vertical-align: -2px; }
.i-commet-post { width: 16px; height: 16px; background-position: 0 -88px; vertical-align: -5px; }
.i-discussion-post { width: 16px; height: 16px; background-position: -18px -88px; vertical-align: -5px;}
.i-delivery-post { width: 16px; height: 16px; background-position: -37px -89px; vertical-align: -5px; }
.i-survey-post { width: 16px; height: 16px; background-position: -38px -71px; vertical-align: -5px; }
.i-comments { width: 14px; height: 14px; background-position: -37px -42px; }
.i-discussion-publication { width: 32px; height: 32px; background-position: -58px -36px; }