
/* Icons
----------------------------------*/
.i {
  background: url("/assets/pack.png") no-repeat;
  vertical-align: middle;
  @include inline-block;
}

.i-home-w { width: 16px; height: 16px; background-position: 0 0; }
.i-homeworks-w { width: 16px; height: 16px; background-position: 0 -15px; }
.i-questionaries-w { width: 16px; height: 16px; background-position: 0 -34px; }
.i-discussions-w { width: 16px; height: 16px; background-position: -17px 0; }
.i-courses-w { width: 16px; height: 16px; background-position: -19px -17px; }
.i-stats-w { width: 16px; height: 16px; background-position: -18px -37px; }
.i-calendar-w { width: 16px; height: 16px; background-position: -18px -55px; }
.i-community-w { width: 16px; height: 16px; background-position: -0px -54px; }
.i-like-c { width: 12px; height: 12px; background-position: -1px -74px; vertical-align: -2px; } 
.i-like-c-active { width: 12px; height: 12px; background-position: -18px -74px; vertical-align: -2px; }
.i-like-c-white { width: 12px; height: 12px; background-position: -59px -69px; vertical-align: -2px; } 
.i-like-c-white-active { width: 12px; height: 12px; background-position: -73px -69px; vertical-align: -2px; }
.i-commet-post { width: 16px; height: 16px; background-position: 0 -88px; vertical-align: -5px; }
.i-discussion-post { width: 16px; height: 16px; background-position: -18px -88px; vertical-align: -5px;}
.i-delivery-post { width: 16px; height: 16px; background-position: -37px -89px; vertical-align: -5px; }
.i-survey-post { width: 16px; height: 16px; background-position: -38px -71px; vertical-align: -5px; }
.i-comments { width: 14px; height: 14px; background-position: -37px -42px; }
.i-discusion-publication { width: 32px; height: 32px; background-position: -58px -36px; }
.i-tarea-publication { width: 32px; height: 32px; background-position: -96px -34px; }
.i-cuestionario-publication { width: 32px; height: 32px; background-position: -97px -70px; }
.i-curso-publication { width: 32px; height: 32px; background-position: 0 -142px; }
.i-upload-asset { width: 19px; height: 16px; background-position: 0 -106px; vertical-align: -3px; }
.i-youtube-asset { width: 19px; height: 16px; background-position: -42px -106px; vertical-align: -3px; }
.i-wikipedia-asset { width: 19px; height: 16px; background-position: -63px -106px; vertical-align: -3px; }
.i-dropbox-asset { width: 19px; height: 16px; background-position: -21px -106px; vertical-align: -3px; }
.i-youtube-asset-blue { width: 19px; height: 16px; background-position: -42px -124px; vertical-align: -3px; }
.i-dropbox-asset-blue { width: 19px; height: 16px; background-position: -21px -124px; vertical-align: -3px; }
.i-wikipedia-asset-blue { width: 19px; height: 16px; background-position: -63px -124px; vertical-align: -3px; }
.i-public-new-publication { width: 16px; height: 16px; background-position: -85px -105px; vertical-align: -4px; }
.i-course-new-publication { width: 16px; height: 16px; background-position: -104px -105px; vertical-align: -4px; }
.i-back-blue { width: 10px; height: 8px; background-position: -58px -84px; }
.i-checked-16 { width: 16px; height: 16px; background-position: -73px -84px; }
.i-section-courses { width: 45px; height: 45px; background-position: -133px 0; }
.i-section-surveys { width: 45px; height: 45px; background-position: -133px -46px; }
.i-section-discussions { width: 45px; height: 45px; background-position: -133px -92px; }
.i-settings { width: 16px; height: 16px; background-position: -85px -124px; } 
.i-leave-course { width: 12px; height: 12px; background-position: -101px -3px; }
.i-edit-12 { width: 12px; height: 12px; background-position: -117px -3px; }
.i-trash-12 { width: 12px; height: 12px; background-position: -101px -17px; }
.i-clock-w { width: 12px; height: 12px; background-position: -115px -19px; vertical-align: -2px; }
.i-calendar-12 { width: 12px; height: 12px; background-position: -107px -126px; }
.i-profesor-12 { width: 12px; height: 12px; background-position: -106px -141px; }
.i-activity-messages { width: 20px; height: 20px; background-position: -33px -144px; }
.i-activity-notifications { width: 20px; height: 20px; background-position: -59px -142px;   }