// 320px
// 480px
// 768px
// 1024px


@media screen and (min-width: 960px) {
  .wrapper {
    width: 1100px;
  }
}

@media screen and (max-width: 1100px) {
  .website-pages, .mkt-langing-pages {
    .wrapper {
      width: 960px;
    }
  }
}

@media screen and (max-width: 960px) {
  .website-pages, .mkt-langing-pages{
    .wrapper {
      width: 740px;
    }
  }
}

@media screen and (max-width: 740px) {
  .website-pages, .mkt-langing-pages {
    .wrapper {
      width: 630px;
    }
  }
}

@media screen and (max-width: 630px) {
  .website-pages, .mkt-langing-pages {
    .wrapper {
      width: 90%;
    }
  
    ul.nav {
      display: none;
    }
    
    .homepage-laptop img {
      display: none;
    }
  
    .intro-homepage-hidden {
      height: auto;
    }
  
    .jobs-positions-list {
      margin-right: 0;
    }
  
    .contact-page .form-contact {
      margin-right: 0;
    }
  
    .stories-list .story {
      img {
        margin-bottom: 15px;
      }
      .story-section {
        margin-left: 0;
      }
    }
  }
}