
/* Global Skeleton
----------------------------------*/
* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  -webkit-overflow-scrolling: touch;

  &.collapsed-layout {
    .global-sidebar {
      left: -230px;
    }
  }

  &.overlay-open {
    overflow: hidden;
  }
}

.no-sidebar {
  .wrap {
    padding-left: 0;
  }

  .topbar .topbar-spacer {
    padding-left: 0;

    .wrapper {
      @include max-screen(480px) {
        width: 100%;
      }
    }

    .col-inner {
      @include max-screen(480px) {
        padding: 0;
      }
    }
  }
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  z-index: 100;
  width: 100%;

  .topbar-spacer {
    padding-left: 200px;
  }

  .network {
    float: left;
    height: 44px;
    margin-top: 3px;
    @include clearfix;

    > a {
      float: left;
    }

    .free_network {
      display: block;
      margin-top: 11px;
    }

    .menu-sidebar {
      float: left;
      padding: 16px 15px;
      margin: -3px 15px 0 0;
    }
  }

  .activity-notificactions {
    float: right;
    @include clearfix;

    .activity-block {
      float: left;

      .activity-dropdown-pull {
        padding: 15px 15px 11px 15px;

        .activity-counter {
          position: absolute;
          padding: 3px 5px;
          top: 5px;
          right: 5px;
        }

        @include max-screen(480px) {
          padding: 15px 10px 9px 10px;
        }
      }
    }

    .support-buttton {
      a {
        display: block;
        padding: 15px 10px 17px 10px;
      }

      @include max-screen(480px) {
        display: none;
      }
    }
  }

  #log_loadding {
    position: absolute;
    z-index: 15;
    width: 100%;
    left: 0;
    top: 48px;
    margin-top: 0;
    height: 2px;
    display: none;
  }
}

.menu-user {
  a {
    position: relative;
    margin-top: -3px!important;
  }

  span {
    margin-top: 2px!important;
  }

  .avatar {
    margin-top: -8px!important;
  }
}

.wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  @include clearfix;
}

.app .wrapper {
  width: 880px;

  @include max-screen(1100px) {
    width: 700px;
  }

  @include max-screen(700px) {
    width: 95%;
  }
}

.content-main {
  width: 625px;
  float: left;
  margin: 0 5px 0 10px;

  @include max-screen(1100px) {
    width: 445px;
  }

  @include max-screen(700px) {
    width: 100%;
    margin: 0;
  }
}

.full-width {
  width: 100%;
}

.ver-spaced {
  padding-top: 20px;
  padding-bottom: 20px;
}

.spaced {
  padding-left: 10px;
  padding-right: 10px;
}

.wrap {
  padding: 50px 0 0 200px;
}

.clear{
  @include clearfix;
}

.clear-break {
  clear: both;
}

.inline-block {
  @include inline-block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.padded {
  padding: 10px;
}

.hide-input-file {
  width: 0;
  height: 0;
  overflow: hidden;
  @include inline-block;
}

.inner-no-content {
  padding: 30px 10px;
}

.no-content-section {
  padding: 50px 0;
}

.no-sub-content-section {
  padding: 20px 0;
}

/* Avatars
----------------------------------*/
.avatar-holder {
  position: relative;
  @include inline-block;

  img {
    display: block;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.avatar {

  &.avatar-24 {
    width: 24px;
    height: 24px;
  }

  &.avatar-30 {
    width: 30px;
    height: 30px;
  }

  &.avatar-38 {
    width: 38px;
    height: 38px;
  }

  &.avatar-30 {
    width: 30px;
    height: 30px;
  }

  &.avatar-60 {
    width: 60px;
    height: 60px;
  }

  &.avatar-80 {
    width: 80px;
    height: 80px;
  }

  &.avatar-150 {
    width: 150px;
    height: 150px;
  }

  &.avatar-cover-small {
    height: 65px;
    width: 175px;
  }
}

/* Sidebar Global
----------------------------------*/
.global-sidebar {
  width: 215px;
  position: fixed;
  z-index: 105;
  left: 0;
  height: 100%;
  @include clearfix;

  .user {
    position: relative;
    @include clearfix;

    img {
      margin-right: 5px;
    }

    > a {
      display: block;
      padding: 10px;
    }
  }

  .navigation li a .i {
    margin-right: 7px;
  }

  .side-courses li a {
    img {
      margin-right: 3px;
    }
  }

  // &:after {
  //   content: "";
  //   height: 100%;
  //   width: 5px;
  //   position: absolute;
  //   right: 0;
  //   top: 0;
  // }

  .sidebar-courses {
    @include max-screen(600px) {
      display: none;
    }
  }

  .sidebar-chat {
    @include max-screen(600px) {
      display: none;
    }
  }

  .chat-link {
    display: none;

    @include max-screen(600px) {
      display: block;
    }
  }
}

.sidebar-section {
  .sidebar-section-header {
    padding: 6px 10px;
    position: relative;
    @include clearfix;
  }
}

.section-list {
  > li a {
    padding: 5px 20px 5px 10px;
    display: block;

    @include max-screen(600px) {
      padding: 10px;
    }
  }
}

.scroller {
  overflow-y: auto;
}

/* Content Sidebar
----------------------------------*/
.content-sidebar {
  width: 220px;
  margin: 0 10px;
  float: left;

  .side-section {
    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }
  }

  .content-sidebar-stick {
    width: 220px;
  }

  @include max-screen(700px) {
    display: none;
  }
}

.side-section {
  .side-section-header {
    padding: 10px 10px;
  }
}

.lastest-activities-list {
  list-style: none;

  .ajax-next-activities a {
    display: block;
    padding: 7px 10px;

    span {
      display: block;
    }
  }

  .load-more-upcomming-activities {
    padding: 5px;
  }
}

/* Chat Switch
----------------------------------*/
.chat-switch-wrap {
  position: absolute;
  right: 0;
  top: 0;
  @include clearfix;

  .chat-switch {
    float: left;
    padding: 4px 9px 3px 9px;
    height: 21px;

    span {
      display: none;
    }

    &:hover span {
      display: inline;
    }
  }
}

/* Footer
----------------------------------*/
.global-footer {
  position: relative;
  padding: 8px 10px 5px 10px;
  @include clearfix;

  .footer-logo {
    display: block;
    width: 62px;
    height: 20px;
  }

  .cursame-brand {
    float: left;
  }

  .rights {
    float: right;
  }
}

/* List of Buttons
----------------------------------*/
.list-buttons {
  @include clearfix;

  > li {
    margin: 0 5px;
    float: left;
  }

  &.left > li:first-child{
    margin-left: 0;
  }

  &.right > li:last-child {
    margin-right: 0;
  }
}

/* Sections Pages
----------------------------------*/
.section-header {
  margin-bottom: 20px;

  .section-header-main {
    padding: 10px;
    @include clearfix;
  }

  .section-title {
    height: 45px;
    float: left;

    .i {
      margin-right: 5px;
    }

    h1 {
      @include inline-block;
      vertical-align: 15px;
    }

    &.no-icon h1 {
      vertical-align: middle;
    }
  }

  .section-header-actions {
    float: right;
    margin-top: 5px;
  }

  @include max-screen(630px) {
    .section-icon {
      display: none;
    }

    .section-header-title .section-title, .section-header-title.w-subnav .section-title {
      padding-top: 0 !important;
      margin-left: 0;
    }
  }
}

.section-sub-header-wrap {
  margin-bottom: 20px;

  .sub-header {
    padding: 10px;
  }
}

.sc-margined {
  margin-top: 15px;
  margin-bottom: 15px;
}

.page-normal-header {
  padding: 30px 0;
}

.section-help {
  padding: 10px;
  margin-bottom: 20px;
  @include clearfix;

  .i {
    float: left;
    margin-top: 5px;
  }

  .section-help-content {
    padding-left: 30px;
  }
}

/* Menu User
----------------------------------*/
.menu-user{
  width: 320px;
  float: right;
  margin-top: 10px;

  & .logout{
    margin-top: 5px;
    float: right;
    padding-left: 6px;
  }

  & .avatar {
    float: right;
    text-align: center;
    color: #666;
    width: 27px;
    margin-top: 1px;
    font-size: 13px;
    border-radius: 50%;
    border: 1px solid #FFF;
    transition: 0.3s;
  }
  & .avatar:hover {
  border-radius: 50%;
  border: 1px solid #006696;
  transition: 0.3s;
  }

  & span{
    margin-top: 11px;
    float: right;
    text-align: center;
    color: #666;
    padding: 0px 10px 0px 3px;
    font-family: HelvLight;
  }
  & .admin-access{
    margin-left: -20px;
  }
}

/* Notices
----------------------------------*/
#noticce {
  width:100%;
  position: absolute;
  left: 0;
  top: -51px;
  z-index: 15;
  @include transition (top .3s ease-in-out);

  .notice-spacer {
    padding-left: 230px;
  }

  #notice {
    padding: 14px 15px 16px 15px;;
  }

  &.full .notice-spacer {
    padding-left: 0;
  }
}

.expires .uninstal_exit{
  width:200px;
  height:40px;

  &:hover{
    width:200px;
    height:40px;
  }
}

/* Scroll to Top Button
----------------------------------*/
#scrollup {
  width: 34px;
  height: 34px;
  position: fixed;
  top: 60px;
  right: 6px;
  display:none;
}

#pageless-loader {
  width: 80px !important;
  height: 80px;
  margin: 0 auto;
  @include opacity(0);

  img {
    margin-top: 20px !important;
  }
}

.search-wrap {
  position: relative;

  .search-input {
    padding-right: 70px;
  }

  .search-button {
    position: absolute;
    right: 0;
    top: 0;
  }
}

#support-tab-sessions {
  width: 44px;
  height: 105px;
  position: fixed;
  right: 0;
  top: 30%;
  margin-top: -22px;
  z-index: 30;

  @include max-screen(480px) {
    display: none;
  }
}

/* Messages from Admins
----------------------------------*/
.global-message-wrap {
  .global-message {
    position: relative;
    @include clearfix;
  }

  .close-message {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .global-message-type {
    float: left;
    padding: 25px 15px;
  }

  .global-message-main {
    margin-left: 60px;
    padding: 20px 25px 25px 25px;
  }
}

/* Android Ad
----------------------------------*/
.android-ad {
  .ad-image {
    margin: -1px;
  }

  .ad-description {
    padding: 5px 10px 10px 10px;
  }

  .download-app {
    display: block;
    margin: 10px 0 2px 0;
  }
}

.scrollbar {
  overflow: hidden !important;
  position: relative;
}


.load-more {
  a {
    display: none !important;
  }
}

.va-middle {
  display: table-cell;
  vertical-align: middle;
}

.mta-spcer {
  padding: 0px 5px;
}

.ui-autocomplete {
  margin-top: 20px;
  margin-bottom: 20px;
  position: absolute;
  height: 230px;
  overflow-y: scroll;
  overflow-x: hidden;

  li {
    a {
      display: block;
      padding: 5px;
    }

    img {
      margin-right: 8px;
    }
  }
}
