
/* Global Skin
----------------------------------*/
* {
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}

body {
  color: $global-color;
  background: darken(#edeff2, 1%);
  font-family: $font-cursame;
  font-size: 13px;
  font-weight: normal;

  &.background-white {
    background: $white;
  }
}

ul{
  list-style-type: none;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: lighten($primary-color, 10%);
  }
}

strong {
  font-weight: 500;
}

.h {
  border: 3px solid green;
}

.basic-container-style {
  background: $white;
  border: 1px solid #d6d8db;
  border-bottom-color: #cacccf;
  border-radius: $radius;
  box-shadow: 0 1px 1px rgba(0,0,0,.035);
}

.cover-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.topbar {
  background: $white;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0,0,0,.1);

  .network {
    .menu-sidebar {
      border: 1px solid #E6E6E6;
      border-width: 0 1px 0 1px;
      color: $primary-color;
      font-weight: bold;
      font-size: 13px;
      text-transform: uppercase;
      cursor: pointer;

      @include max-screen(320px) {
        border-left: 0;
      }
    }
  }

  .activity-notificactions .activity-block {
    border-right: 1px solid #e6e6e6;

    @include max-screen(480px) {
      border-right: 0;
    }
      
    .activity-dropdown-pull {
      &:hover {
        background: #FCFCFC;

        @include max-screen(480px) {
          background: none;          
        }
      }

      .activity-counter {
          background: #df2a2a;
          border-radius: $radius;
          border-bottom: 1px solid #b91515;
          color: #fff;
          font-weight: 800;
          font-size: 10px;
          text-shadow: 0 -1px 0 #b91515;
        }
      }

    &:first-child {
      border-left: 1px solid #e6e6e6;        
    }

    &.support-buttton .i {
      vertical-align: -3px;
    }
  }

  #log_loadding {
    background: $primary-color;
    // @include linear-gradient(50deg, transparent 0%, $primary-color 25%, $primary-color 50%, transparent 100%);
  }
}

.uppercase {
  text-transform: uppercase;
}

.meta-info {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  color: $meta-color;
}

.as-link {
  font-weight: normal;
  color: $primary-color;

  &:hover {
    color: lighten($primary-color, 10%);
  }
}

.triagle-8 {
  @include triangle(8px, gray, down);
}

.no-content-section, .no-sub-content-section, .inner-no-content {
  text-align: center;
}

.small {
  font-size: 11px;
}

.underline {
  text-decoration: underline;
}

.plain-text p {
  line-height: 23px;
  text-align: justify;
}

/* Titles
----------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

/* Avatars
----------------------------------*/
.avatar-holder {
  &:after {
    content: "";
    border-radius: 3px;
    box-shadow: inset 0 0 1px rgba(0,0,0,.5);
  }
}

.avatar {
  border-radius: 2px;
}

/* Sidebar Global
----------------------------------*/
.global-sidebar {
  background: $primary-color;
  color: $white;

  a {
    color: $white;
  }

  .user {
    background: lighten($primary-color, 1);
    border-bottom: 1px solid darken($primary-color, 5);

    img {
      vertical-align: -10px;
    }

    .name {
      color: $white;
      font-size: 14px;
    }

    > a:hover {
      background: lighten($primary-color, 2);
    }
  }

  .navigation li a .i {
    vertical-align: -3px;
  }

  .side-courses li a {
    img {
      vertical-align: -7px;
    }
  }

  // &:after {
  //   @include background(linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.15)) repeat);
  //   pointer-events: none;
  // }
}

.sidebar-section {
  .sidebar-section-header {
    background: lighten($primary-color, 1);
    border-top: 1px solid lighten($primary-color, 5);
    border-bottom: 1px solid darken($primary-color, 5);

    .section-header-content {

    }

    h3 {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}

.section-list {
  > li a {
    
    &:hover {
      background: lighten($primary-color, 2);
      box-shadow: 0 -1px 0 rgba(255, 255, 255, .15),  0 1px 0 rgba(0, 0, 0, 0.12);
    }
  }
}

/* Content Sidebar
----------------------------------*/
.side-section {
  @extend .basic-container-style;

  .side-section-header {
    background: #fcfcfc;
    border-bottom: 1px solid #d6d6d6;
    border-radius: $radius $radius 0 0;
  }
}

.lastest-activities-list {
  .ajax-next-activities {
    border-top: 1px solid #D6D6D6;

    a {
      span {
        text-transform: uppercase;
        font-size: 11px;
        color: #808080
      }
    }

    &:first-child {
      border-top: 0;
    }

    &:last-child {
      border-radius: 0 0 $radius $radius;
    }

    &:hover {
      background: #fcfcfc;
    }
  }

  .ajax-next-activities + .inner-no-content {
    border-top: 1px solid #D6D6D6;
  }

  .load-more-upcomming-activities {
    border-top: 1px solid #D6D6D6; 
    text-align: center;
    color: $primary-color;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
  }
}

/* Chat Switch
----------------------------------*/
.chat-switch-wrap {
  .chat-switch {
    cursor: pointer;
    border-left: 1px solid darken($primary-color, 4);

    i {
      vertical-align: -1px;
      opacity: .5;
    }

    span {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: bold;
      opacity: .5;
    }

    &.active {
      background: lighten($primary-color, 3.5);

      span, .i {
        opacity: 1;
      }
    }

    &:hover {
      background: lighten($primary-color, 3.5);

      span, .i {
        opacity: 1;
      }
    }
  }
}

/* Footer
----------------------------------*/
.global-footer {
  background: lighten($primary-color, 1);
  border-top: 1px solid lighten($primary-color, 5);
  box-shadow: 0 -1px 1px darken($primary-color, 5);

  .footer-logo {
    background: url('pack.png') -36px -11px;
    @include hide-text;
  }  

  .rights {
    color: lighten($primary-color, 50);
    font-size: 12px;
  }
}

/* Sections Pages
----------------------------------*/
.section-header {
  @extend .basic-container-style;
  border-top: 0;
  border-radius: 0 0 $radius $radius;

  .section-title {
    h5 {
      color: $gray-color;
    }

    h1 {
      color: $global-color;
    }
  }
}

.page-normal-header {
  border-bottom: 1px solid #E7E7E7;
}

.section-sub-header-wrap {
  .sub-header {
    @extend .basic-container-style; 
  }
}

.section-help {
  @extend .basic-container-style;
}

/* Zenbox Tab
----------------------------------*/
#zenbox_tab{
  background:transparent!important;
  border: 0px!important;
}

/* Scroll to Top Button
----------------------------------*/
#scrollup{
  cursor: pointer;
  background: url('/assets/pack.png') -93px -196px no-repeat;
}

/* Notices
----------------------------------*/
#noticce {
  #notice {
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid transparent;

    &.success {
      background: #75b70c;
      color: #fff;
      border-bottom-color: #578c03; 
    }

    &.notice {
      background: #fcf8e3;
      border-bottom-color: #ddd6b2;
    }

    &.error {
      background: #eb5757;
      color: #fff;
      border-bottom-color: #ac0f0f;
    }
  }
}

/* Pageless Loader
----------------------------------*/
#pageless-loader {
  text-align: center;
  background: url('/assets/pack.png') -193px -305px;
}

.search-wrap {
}

#support-tab-sessions {
  background: url('/assets/megaphone-24.png') 0 0 no-repeat;
  @include hide-text;
}

/* Messages from Admins
----------------------------------*/
.global-message-wrap {

  .global-message {
    @extend .basic-container-style;
    background: #fafafa;
    border-top: 0;
    border-radius: 0 0 $radius $radius;
  }

  .global-message-main {
    border-left: 1px solid #e1e7e8;
  }

  p {
    @include text-size-regular;
  }
}

/* Android Ad
----------------------------------*/
.android-ad {
  .ad-description {
    text-align: center;
  }

  span {
    font-size: 11px;
  }
}

.ui-autocomplete {
  border-radius: $radius;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 7px rgba(0, 0, 0, 0.35);

  li {
    border-top: 1px solid #d9d9d9;

    &:first-child {
      border-top: 0;
    }

    a {
      cursor: pointer;

      &.ui-state-hover, &.ui-state-focus, &.ui-state-active {
        background-color: #f2f2f2;
      }
    }

    &:first-child a {
      border-radius: $radius $radius 0 0;
    }

    &:last-child a {
      border-radius: 0 0 3px 3px;
    }

    img {
      vertical-align: -10px;
    }
  }
}