
/* Quiz Forms Skeleton
----------------------------------*/
.quiz-item {
  padding: 15px;

  .quiz-item-header {
    margin-bottom: 10px;
  }

  .quiz-item-options {
    .option {
      padding-top: 6px;

      &:first-child {
        padding-top: 0;
      }
    }
  }
}