
/* Quiz Forms Skin
----------------------------------*/
.quiz-item {
  border-bottom: 1px solid #E6E6E6;

  .quiz-item-header {
    label {
      font-size: 14px;
      font-weight: 600;

      .required {
        color: red;
      }
    }
  }
}