
/* Quiz Forms Skin
----------------------------------*/
.quiz-item {

  .quiz-item-header {
    label {
      font-size: 14px;
      font-weight: 400;
    }
  }

  border-bottom: 1px solid #E6E6E6;
}