<%= form_tag(search_courses_path, :class => "search-courses") do %>
  <div class="search-wrap">
    <%= text_field_tag 'query', '', placeholder: t('.courses_search'), class: 'search-input', id: 'search-courses' %>
    <div class="search-button">
      <span class="btn btn-secondary input-btn">
        <%= submit_tag t('.search') %>
      </span>
    </div>
  </div>
<% end %>
<script>
	$('.search-courses').submit(function(event) {
		var input = $('#search-courses');
		if( input.val().trim() == "" ) {
			Notice('error', 'Escribe en el campo de busqueda.');
			input.focus();
			return false;
		}
	});
</script>