   <%= link_to image_tag(@user.avatar.mini), call_assignments_response_path(assignment.id, :data=> course.id) , :remote => true %>
     <%= link_to "#{@user.name}", call_assignments_response_path(assignment.id, :data=> course.id) , :remote =>  true %></a>