   <%= link_to image_tag(assignment.user.avatar.mini), call_assignments_response_path(assignment.id, :data=> course.id) , :remote => true %>
     <%= link_to "#{assignment.user.name}", call_assignments_response_path(assignment.id, :data=> course.id) , :remote =>  true %></a>