<% permitted_to? :create, :courses do %>

<div class="title_dxv">
    <div class="black-delivery-box", style="padding:5px; margin-top:4px;width: 837px;">
        <div class="header">
        
    <h1 style="margin-left:10px; padding:2px;">Cursos antiguos</h1>
        </div>
    </div>
        <% old_course_for_user.each do |course|%>

            <!-- estamos creando un container especial para que no se descomponga el layout -->
            
            <div class="list_alt_box" id="propyety_course_<%= course.id %>">
                <div class="header">
                    <%= course.title %>
                    <div class="status">
                        <%if  course.active_status == true%>
                          Activo <%= link_to "desactivar curso", active_status_path(course.id), :remote => true %>
                        <%else%>
                          Inactivo <%= link_to "activar curso", active_status_path(course.id), :remote => true %>
                        <%end%>
                    </div>
                </div>
             </div>
             
       <%end%>
       
</div>
<%end%>