
feedsDetailContainer  = $('.activities-depot-main');
feedsDetailContainer.html('');

feedsDetailContainer.append( HandlebarsTemplates['activities-depot/delivery-detail']( <%=j @survey.to_json.html_safe %> ) );

<% if @responces.empty? %>
	feedsDetailContainer.append('<div class="no-sub-content-section"><h6>Nadie ha contestado este cuestionario.</h6></div>');
<% else %>
  feedsDetailContainer.append( HandlebarsTemplates['activities-depot/surveys']( <%=j @survey_replies.to_json.html_safe %> ) );
<% end %>