<script src="/assets/courses_validate_form.js"></script>
<% content_for :body_classes do %>
background-white
<% end %>

<div class="page-normal-header">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-header-title no-icon">
            <div class="section-title">
              <h1>Editar Curso</h1>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>

<div class="wrapper ver-spaced">
	<%= render partial: 'form', locals: { create: false } %>
</div>