
<div id="edituserdmenu" style="margin-top: 52px;">
<div style="width: 860px; display: block; padding: 20px auto 0 auto; height: 35px; margin: 0 auto;">
	<h2 class="courses-title-h2">Editar curso</h2>
</div>

	<!--
	<div id="nsdmenu">
		<div class="reload">
			<ul>
				<li style="width: 10px;"><img src="/assets/reload.png"></li>
				<li style="width: 20px;"><%= link_to 'Show', @course %></li>
				<li style="width: 10px;"><img src="/assets/eback.png"></li>
				<li style="width: 20px;"><%= link_to 'Back', courses_path %></li>
			</ul>
		</div>
	</div>
	-->

<script type="text/javascript">
	//bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>

<div class="fixedForm" style="width: 100%; position: absolute;">
    <% if("#{@member.owner}" == 'true') %>
	<%= render 'form_course' %>
	<%else%>
	  <center><h2>Usted no esta autorizado para editar este curso<h2></center>
	<%end%>
</div>