.wrapper.ver-spaced
  .cols-12
    .col.col-12
      .col-inner 
        .container
          .header
            .left
              %h2 #{ current_network.course_tag } Nuevo
          = render partial: 'form'