.load-more
  .cols-12
    .col.col-12
      .col-inner
        #pageless-loader
          %img{src: "/assets/load.gif"}/
        = link_to t('.load'), discussions_paginate_ajax_path(page: page, type: type, course: course), remote: true, class: 'btn btn-secondary btn-full'