.section-header-wrap
  .wrapper
    .cols-12
      .col.col-12
        .col-inner
          .section-header
            .section-header-main
              .section-title
                = link_to icon('section-discussions'), discussions_path
                = link_to discussions_path do
                  %h1= t('.discuss')
              - unless current_user.courses.empty?
                = render partial: 'discussions/shared/discussions_filter_course'