
/* Califications Skeleton
----------------------------------*/
.course-califications-wrap {
  margin-bottom: 20px;

  .course-califications-header {
    padding: 10px;
    padding-bottom: 0;
    @include clearfix;
  
    .course-califications-header-avatar {
      float: left;
    }

    .course-califications-header-main {
      margin-left: 55px;
      position: relative;

      .btn {
        position: absolute;
        top: 5px;
        right: 0;
      }
    }
  }

  .course-califications-main {
    padding: 10px;
    padding-top: 0;
  }
}

.course-califications-section {
  
  .no-califications {
    padding: 40px 0;
  }
  .course-califications-section-title {
    padding: 10px;
  }

  .course-califications-section-footer {
    @include clearfix;
    
    .title {
      float: left;
      padding: 15px 10px;
    }

    .score {
      float: right;
      width: 120px;
      padding: 14px 10px;
    }
  }
}

.user-califications-wrap {
  margin-bottom: 10px;

  .user-califications-header {
    padding: 10px;
    position: relative;
    @include clearfix;

    .avatar {
      float: left
    }

    .user-califications-header-title {
      margin-left: 35px;
    }

    .arrow-down {
      position: absolute;
      right: 15px;
      top: 27px;
    }

    &.active .arrow-down {
      top: 20px
    }
  }

  .user-califications-main {
    display: none;
    padding: 10px;
  }

  
}

table {
  width: 100%;

  thead tr th {
    padding: 5px 10px
  }

  tbody tr td {
    padding: 8px 10px;
  }
}

.califications-courses {
  margin-bottom: 20px;
}

.califications-course-members {
  .member-calification {
    padding: 15px 10px;

    .avatar-holder {
      float: left;
    }

    .member-calification-main {
      margin: 3px 0 0 55px;
    }
  }

  a {
    display: block;
    @include clearfix;
  }
}

.member-score-overview {
  padding: 10px;
  margin-bottom: 20px;
  @extend .basic-container-style;

  .member-score-overview-user {
    margin-bottom: 10px;
    @include clearfix;

    .avatar-holder {
      float: left;
    }

    .member-score-overview-user-main {
      margin: 2px 0 0 55px;
    }
  }

  .member-score-overview-main {
    .course-califications-section {
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.standalone-member-calification {
  .course-califications-section {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.califications {
  margin-bottom: 20px;
}