
/* Califications Skin
----------------------------------*/
.course-califications-wrap {
  @extend .basic-container-style;
}

table {
  thead tr th {
    border-bottom: 1px solid #e3e3e3;
    @extend .meta-info;
   }

   tbody tr {
    &.even td {
      background: #f7f7f7;
    }

    td {
      border: 1px solid #e3e3e3;
      border-width: 1px 0 0 1px;

      &:first-child {
        border-left: 0;
      }
    }
   }
}

.course-califications-section {
  background: $white;
  border-radius: $radius;
  
  .course-califications-section-title {
    border-radius: $radius $radius 0 0;
    border: 1px solid #e3e3e3;
    border-bottom: 0;

    .i {
      vertical-align: -6px;
    }
  }

  table {
    border: 1px solid #e3e3e3;
    border-width: 0 1px;
  }

  .no-califications {
    text-align: center;
    border: 1px solid #e3e3e3;
    border-radius: 0 $radius;
  }

  .course-califications-section-footer {
    border: 1px solid #e3e3e3;
    border-radius: 0 0 $radius $radius;

    .score {
      border-left: 1px solid #e3e3e3;
      font-size: 16px;
      font-weight: bold;
      color: $primary-color;
    }
  }
}

.user-califications-wrap {
  border: 1px solid #e3e3e3;
  border-radius: $radius;

  .user-califications-header {
    background: #fcfcfc;
    border-radius: $radius $radius 0 0;
    cursor: pointer;

    &:hover {
      background: #f7f7f7;
    }

    .arrow-down {
      @include triangle(12px, #e3e3e3, down);
    }

    &.active {
      border-bottom: 1px solid #e3e3e3;

      .arrow-down {
        @include triangle(12px, #e3e3e3, up);
      }
    }
  }
}

.number {
  font-size: 16px;
  font-weight: bold;
  color: $primary-color;
}

.califications-course-members {
  @extend .basic-container-style;

  > a:first-child .member-calification {
    border-radius: $radius $radius 0 0;
    border-top: 0;
  }

  > a:last-child .member-calification {
    border-radius: 0 0 $radius $radius;
  }

  .member-calification {
    border-top: 1px solid $separator-color;

    &:hover {
      background: #fafafa;
    }

    .member-score {
      color: $meta-color;
    }
  }
}

.standalone-member-calification {
  .course-califications-section {
    @extend .basic-container-style;

    table {
      border: 0;
    }
    
    .course-califications-section-title {
      border: 0;
    }
    
    .course-califications-section-footer {
      border-width: 1px 0 0 0;
    }

    .no-califications {
      border: 0;
    }
  }
}

.member-score-overview {
  @extend .basic-container-style;
}