<span class="meta"><%= es_current_date("#{notification.created_at.strftime('%B')}", "#{notification.created_at.strftime('%d')}", "#{notification.created_at.strftime('%Y')}" , "#{notification.created_at.strftime('%l:%M%P')}",'latin_string') %></span>
