<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @basic_permiission.title %>
</p>


<%= link_to 'Edit', edit_basic_permiission_path(@basic_permiission) %> |
<%= link_to 'Back', basic_permiissions_path %>
