
/* Forms Skeleton
----------------------------------*/
select {
  padding: 7px 25px 8px 9px;
}

.default-form{
  
  // Uploade
  .upload-label{
    padding: 0px 5px 4px 5px;
    display: none;
    @include clearfix;

    .file-mini-upload {
      float: left;
      width: 148px;
      height: 32px;
      padding: 0px 0px 0px 30px;
      margin: 4px 0px 0px 0px;

      span {
        float: left;
        overflow: hidden;
        width: 118px;
      }
      
      .progress-bar {
        height: 5px;
        width: 120px;
        margin-top: 23px;

        .bar {
          height: 5px;
        }
      }

      .trash{
        display: none;
        float: right;
        width: 24px;
        height: 23px;
        margin: 5px 5px 0px 0px;
      }

      &:hover .trash{
        display: block;

        &:hover{
          margin: 4px 4px 0px 0px;
        }
      }
    }
  }
  
  .a-btn{
    min-width: 80px;
    height: 28px;
    float:left;
    padding: 0px 10px;
  }

  .submit-area{
    clear: both;
    margin-top: 5px;
    float: right;
    width: 100%;
  }

  // Date fields
  .date-input .delivery {
    width: 130px;
    float: right;
    margin-left: 3px;
  }

  .percent-label{
    padding: 0px 23px 0px 0px;
    margin: 10px 0px 0px 0px;
    width: 30px;
    float: left;
  }

  // Sliders
  #side-bar > .default-form .slider {
    margin-left: 0px!important;
  }
  
  .slider-content{
    width: 200px;
    position: relative;
    height: 18px;
  }

  .slider{
    width: 190px;
    position: absolute;
    margin-left: 15px;
    height: 4px;
  }

  .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    top: -6px;
    margin-left: -12px;
  }

  .ui-slider-range {
    position: absolute;
    top: -1px;
    left: -1px;
    height: 100%;
  }
}

// Boton para link
.a-button {
  margin: 4px 4px 2px 4px;
  min-width: 100px;
  height: 100%;
  float:left;
  padding: 6px 23px;
  display:inline-block;
}

.green-btn{
  margin: 4px 4px 2px 4px;
  min-width: 100px;
  height: 100%;
  float:left;
  padding: 7px 12px 4px 12px;
  display:inline-block;
}


.survey-form-area-style{

  .survey-form {

    .request-field {
      
      .remove-icon{
        display: none!important;
        height: 27px;
        width: 77px;
        float: left;
      }

      .is-correct-label{
        padding: 8px 29px 10px 6px;
      }

      .is-correct-chk{
        float: right;
        width: 10px;
        display: none;
      }

      &:hover .remove-icon {
        display: block !important;
        height: 27px;
        float: left;
        margin-top: 6px;
        width: 45px;
        padding-left: 27px;
      }
    }
  }
}

.survey-assignment-box{
  display:none;
  margin: 7px 0px 0px 30px;

  .box-question{
    width: 100%;
  }

  .question-field{
    clear: both;
  }

  .request-field {

    .is-correct-chk{
      width: 10px;
      display: none;
    }
  }

  .assignment-survey-form{
    input[type=submit]{
      float: right;
    }
  }
}

.ingresar_resp {
  margin-right: 5px;
}

#edituserdmenu h3 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.img_prev_cover > img {
  width: 100%!important;
}

.netWorkMenuHeader h3 {
  position: absolute;
}

.clip {
  width: 35px;
  height: 91px;
  position: relative;
  float: right;
  margin-top: -47px;
}

#edituserdmenu .box-fields label, .avatar-label, .coverphoto-label {
  clear: both!important;
  margin-top: 10px!important;
  position: relative!important;
  display: block!important;
}

.edituser {
  width: 526px!important;
}

.leftlabel {
  float: left;
}

.rightlabel {
  float: right;
}

.course-form {
  margin: 5px 0px 4px 6px;

  textarea{
    height: 70px;
    width: 206px;
  }
  
  select{
    width: 217px;
  }
  
  label{
    clear: both;
    float: left;
  }

  button {
    margin-top: 10px !important;
  }

  input[type=submit]{
    margin-top: 10px !important;
  }
  
  .date-input{
    width: 96px !important;
    margin-bottom: 10px !important;
  }
  
  .slider-content{
    float: left;
    width: 130px !important;
    clear: both;
    margin: 13px 0px 0px 8px;
  }
  
  .slider{
    width: 130px !important;
    clear: both;
  }
  
  .percent-input{
    width: 48px!important;
    float: left;
    margin: 0px 0px 0px 14px !important;
  }
}

.edit-course {
  .slider-content {
    float: left;
    width: 130px !important;
    clear: both;
    margin: 8px 0px 0px 8px;
  }

  .slider {
    clear: both;
  }
}

.response-survey {
 position: absolute;
 left: 45%;
 top: 50%;
}

.dropperDwn #user_permissionings_attributes_0_role_id {
  padding: 13px;
  width: 287px; font-size: 12px;
  margin-left: 5px;
}

.image-surveys {
  height: 90%;
  width: 100%;
  position: relative;
  top: 10px;
  
  .response-survey {
    position: absolute;
    left: 45%;
    top: 45%;
    display: none;
  }

  &:hover .response-survey {
    display: block;
  }
}

.resolve-surveys {
  height: 75px;
  width: 100%;
  position: relative;
  top: 10px;
}
 
label.error {
  display: none!important;
  position: absolute;
  display: block;
  margin-top: -24px;
  margin-left: 7px;
}

.fixFormUser {
  width: 435px;
}

.fixLabeluser {
  width: 175px;
}

/* Forms Columns
----------------------------------*/
@for $i from 1 through 10 {
  .f-col-#{$i} {
    width: $i * 10%;
  }
}

.form-group {
  margin-bottom: 10px;
  @include clearfix;

  .form-group-label {
    float: left;
    padding-top: 6px;
    width: 150px;
  }

  .form-group-main {
    margin-left: 150px;
    @include clearfix;

    .f-col {
      float: left;
    }

    .form-unit {
      padding-left: 10px;
    }
  }

  &.no-label .form-group-main {
    margin-left: 0;
  }
}

.input-icon {
  display: block;
  position: relative;

  .i {
    position: absolute;
  }
}