
/* Forms Skeleton
----------------------------------*/
.default-form{
  select{
    height: 31px;
    overflow: hidden;
    padding-left: 5px;
    margin: 4px 0px 0px 0px;
    float: left;
  }

  // Uploader
  .file-input-box{
    position: relative;
    float: left;

    .browse-button{
      padding: 0px 9px 0px 24px;
    }

    .upload-input{
      position:absolute;
      top:0px;
      left: 0px;
      z-index:2;
      width: 145px;
      height: 35px;
    }
  }

  .upload-label{
    width: 545px;
    float: left;
    padding: 0px 5px 4px 5px;
    margin-top: 16px;
    display: none;

    .file-mini-upload {
      float: left;
      width: 148px;
      height: 32px;
      padding: 0px 0px 0px 30px;
      margin: 4px 0px 0px 0px;

      span {
        float: left;
        overflow: hidden;
        width: 118px;
      }
      
      .progress-bar {
        height: 5px;
        width: 120px;
        margin-top: 23px;

        .bar {
          height: 5px;
        }
      }

      .trash{
        display: none;
        float: right;
        width: 24px;
        height: 23px;
        margin: 5px 5px 0px 0px;
      }

      &:hover .trash{
        display: block;

        &:hover{
          margin: 4px 4px 0px 0px;
        }
      }
    }
  }
  
  button{
    min-width: 100px;
    height: $height-btn;
    float:right;
    margin: 4px 4px 2px 4px;
  }

  .a-btn{
    min-width: 80px;
    height: 28px;
    float:left;
    padding: 0px 10px;
  }

  // Special Buttons
  .evaluate-btn{
    padding: 0px 9px 0px 24px;
    margin: 4px 0px 0px 0px;
    height: 28px;
    float: left;
  }

  .submit-area{
    clear: both;
    margin-top: 5px;
    float: right;
    width: 100%;
  }

  // // Dropdown (Checkbox)
  // .wrapper-dropdown {
  //   position: relative;
  //   width: 120px;
  //   height: 28px !important;
  //   padding: 0px 0px 0px 30px !important;
  //   float: right !important;

  //   .box-arrow{
  //     float: right !important;
  //     width: 32px !important;
  //     height: 29px !important;
  //   }

  //   input[type=checkbox] {
  //     position: absolute !important;
  //     top: -9999px !important;
  //     left: -9999px !important;
  //   }

  //   &:after {
  //     content: "" !important;
  //     width: 0 !important;
  //     height: 0 !important;
  //     position: absolute !important;
  //     right: 10px !important;
  //     top: 50% !important;
  //     margin-top: -3px !important;
  //   }

  //   .dropdown {
  //     position: absolute !important;
  //     top: 100% !important;
  //     margin-top: 1px;
  //     left: -1px !important;
  //     right: -1px !important;

  //     li {
  //       position: relative !important;

  //       label {
  //         display: block !important;
  //         padding: 10px 10px 10px 30px !important;

  //         &.return-dd{
  //           padding: 10px 10px 10px 60px !important;
  //         }
  //       }

  //       // Checkboxes
  //       input {
  //         position: absolute !important;
  //         display: block !important;
  //         right: 10px !important;
  //         top: 50% !important;
  //         margin-top: -8px !important;
  //       }
  //     }
  //   }

  //   &.active .dropdown {
  //     margin-top: 8px !important;
  //     z-index: 99 !important;
  //     min-width: 150px !important;
  //   }
  // }

  // Date fields
  .date-input .delivery {
    width: 130px;
    float: right;
    margin-left: 3px;
  }

  .percent-label{
    padding: 0px 23px 0px 0px;
    margin: 10px 0px 0px 0px;
    width: 30px;
    float: left;
  }

  // Sliders
  #side-bar > .default-form .slider {
    margin-left: 0px!important;
  }
  
  .slider-content{
    width: 200px;
    position: relative;
    height: 18px;
  }

  .slider{
    width: 190px;
    position: absolute;
    margin-left: 15px;
    height: 4px;
  }

  .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    top: -6px;
    margin-left: -12px;
  }

  .ui-slider-range {
    position: absolute;
    top: -1px;
    left: -1px;
    height: 100%;
  }
}

// Boton para link
.a-button {
  margin: 4px 4px 2px 4px;
  min-width: 100px;
  height: 100%;
  float:left;
  padding: 6px 23px;
  display:inline-block;
}

.green-btn{
  margin: 4px 4px 2px 4px;
  min-width: 100px;
  height: 100%;
  float:left;
  padding: 7px 12px 4px 12px;
  display:inline-block;
}


.survey-form-area-style{
  height: 190px;
  position: relative;
  display: none;

  .survey-form {
    margin: 7px 0px 0px 0px;
    padding: 13px 0;
    
    .box-question {
      float: left;
      width: 100%;
    }

    .question-field {
      float: left;
      clear: both;
      width: 100%;
      
      .add-question{
        height: 29px!important;
        width: 548px;
        float: left;
        padding: 15px 0px 0px 50px;
      }

      .element{
        float: left;
        height: 40px;
        width: 100%;
        
        .remove-icon{
          display: none !important;
        }
        
        &:hover .remove-icon {
          display: block !important;
          height: 27px;
          float: left;
          margin-top: 6px;
          width: 45px;
          padding-left: 27px;
        }
      }

      .num {
        float: left;
        height: 41px;
        margin: 0px 5px 0px 23px;
      }

      input[type=text]{
        float: left;
        width: 330px;
      }

      .add-request{
        float: left;
        width: 571px;
        height: 30px;
        margin: 0px!important;
        padding: 9px 0px 0px 27px!important;
      }
    }

    .request-field {
      
      .remove-icon{
        display: none!important;
        height: 27px;
        width: 77px;
        float: left;
      }

      .element{
        float: left;
        height: 40px;
        width: 100%;
      }

      .num{
        float:left;
        margin-left: 50px;
      }

      input[type=text]{
        float: left;
        width: 210px;
      }

      .is-correct-label{
        float: right;
        width: 160px;
        padding: 7px 29px 7px 0px;
        margin-right: 13px;
        margin-top: 5px;        
      }

      .is-correct-chk{
        float: right;
        width: 10px;
        display: none;
      }

      &:hover .remove-icon {
        display: block !important;
        height: 27px;
        float: left;
        margin-top: 6px;
        width: 45px;
        padding-left: 27px;
      }
    }

    .title-txt-input{
      width: 300px;
      margin-left: 20px;
    }

    textarea{
      float: left;
    }

    .add-response{
      float: right;
    }

    .question-field{
      float: left;
    }

    .request-field{
      float: left;
      width: 100%;
    }

    .input-button{
      float: right;
    }

    input[type=submit]{
      float: right;
    }
  }
}

.delivery-assignment-box{
  display:none;
  float: left;
  padding: 0px 10px;

  .assignment-delevery-form {
    
    input[type=submit]{
      float: right;
    }

    .input-button{
      float: right;
    }
  }
}

.survey-assignment-box{
  display:none;
  margin: 7px 0px 0px 30px;

  .box-question{
    width: 100%;
  }

  .question-field{
    clear: both;
    width: 100%;

    .element{
      width: 100%;
    }

    .num{
      margin: 0px 5px 0px 23px;
    }
  }

  .request-field {

    .element{
      height: 40px;
      width: 100%;
    }

    .num{
      margin-left: 30px;
    }

    .is-correct-label{
      width: 160px;
      height: 23px;
      padding: 12px 29px 0px 0px;
      float: right;
      margin-right: 13px;
    }

    .is-correct-chk{
      width: 10px;
      display: none;
    }
  }

  .assignment-survey-form{
    input[type=submit]{
      float: right;
    }

    .input-button{
      float: right;
    }
  }
}

.ingresar_resp {
  margin-right: 5px;
}

.user-edit-form {
  margin: 22px 25px 20px 25px;
  position: relative;
  float: left;
  width: 890px;

  label{
    clear: both;
    margin-top: 11px;
  }

  .upload-label{
    width: 200px!important;
  }

  input[type=text], input[type=email], input[type=password] {
      float: left;
      clear: both;
  }

  .box-fields{
    float: left;
    width: 400px;
  }

  .box-cancel{
    clear: both;
    float: left;
    position: absolute;
    margin-top: 207px;
    display: block;
  }

  .personal-url-label{
    float: left;
    padding: 0px 3px 0px 0px;
  }

  .personal-url{
    clear: none !important;
    width: 150px !important;
    margin: 4px 0px 0px 5px !important;
  }

  .submit-btns{
    margin-top: 17px;
    float: left;
  }

  .a-btn{
    margin-top: 4px;
  }

  .box-avatar{
    float: right;
    width: 275px;
    padding: 20px;
    margin-top: 31px;

    .box-image{
      margin: 0px 0px 18px 0px;
      float: left;
      width: 240px;
    }

    .avatar{
      height: 50px;
      float: left;
    }

    .avatar-label{
      clear: both !important;
      margin: 7px 0px 0px 6px;
      width: 230px;
    }

    .coverphoto-label{
      clear: both !important;
      width: 230px;
      margin: 7px 0px 0px 6px;
    }

    .cover{
      height: 45px;
      clear: both;
      float: left;
      width: 50px;
    }
  }
}

#edituserdmenu h3 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.fixelement .user-edit-form label {
  float: right;
}

.img_prev_cover > img {
  width: 100%!important;
}

#user_avatar_select {
  padding: 0;
  position: relative;
  margin: 0 auto;
  display: block;
  width: 160px;
  height: 35px;

  > input {
    width: 100%;
    height: 100%;
  }
}


.netWorkMenuHeader h3 {
  position: absolute;
}

.clip {
  width: 35px;
  height: 91px;
  position: relative;
  float: right;
  margin-top: -47px;
}

.FixStylize {
  margin: 0 auto;
}

.EditUserFix > .edituser {
  width: 638px!important;
}

.EditUserLabel {
  width: 300px!important;
}

.stylize {
  width: 120px;
  padding: 7px 20px;
  margin-left: 10px;
}

.stylizeForm {
  width: 113px;
  padding: 7px 20px;
}

.fixelement {
  margin-left: 6px;
  position: relative;
  margin-top: -17px;
  display: block;
}

#edituserdmenu .box-fields label, .avatar-label, .coverphoto-label {
  clear: both!important;
  margin-top: 10px!important;
  position: relative!important;
  display: block!important;
}

.edituser {
  width: 526px!important;
}

.leftlabel {
  float: left;
}

.rightlabel {
  float: right;
}

.course-form {
  margin: 5px 0px 4px 6px;

  input[type=text]{
    width: 207px;
    height: 28px;
  }

  textarea{
    height: 70px;
    width: 206px;
  }
  
  select{
    width: 217px;
  }
  
  label{
    clear: both;
    float: left;
  }

  button {
    margin-top: 10px !important;
  }

  input[type=submit]{
    margin-top: 10px !important;
  }
  
  .date-input{
    width: 96px !important;
    margin-bottom: 10px !important;
  }
  
  .slider-content{
    float: left;
    width: 130px !important;
    clear: both;
    margin: 13px 0px 0px 8px;
  }
  
  .slider{
    width: 130px !important;
    clear: both;
  }
  
  .percent-input{
    width: 48px!important;
    float: left;
    margin: 0px 0px 0px 14px !important;
  }
}

.edit-course {
  input {
    clear:both;
    float: left;
  }

  label {
    clear: both;
    float: left;
  }

  select {
    clear: both;
    float: left;
    width: 135px;
  }

  submit {
   clear: both;
   float: left;
  }

  textarea {
    clear: both;
    float: left;
    padding: 10px 5px;
  }

  .slider-content {
    float: left;
    width: 130px !important;
    clear: both;
    margin: 8px 0px 0px 8px;
  }

  .slider {
    clear: both;
  }
}

.response-survey {
 position: absolute;
 left: 45%;
 top: 50%;
}

.dropperDwn #user_permissionings_attributes_0_role_id {
  padding: 13px;
  width: 287px; font-size: 12px;
  margin-left: 5px;
}

.image-surveys {
  height: 90%;
  width: 100%;
  position: relative;
  top: 10px;
  
  .response-survey {
    position: absolute;
    left: 45%;
    top: 45%;
    display: none;
  }

  &:hover .response-survey {
    display: block;
  }
}

.resolve-surveys {
  height: 75px;
  width: 100%;
  position: relative;
  top: 10px;
}
 
label.error {
  display: none!important;
  position: absolute;
  display: block;
  margin-top: -24px;
  margin-left: 7px;
}

.form_fix_title_overlay {
  width: 526px!important;
}

.form_fix_date_overlay {
  width: 161px!important;
}

.fixFormUser {
  width: 435px;
}

.fixLabeluser {
  width: 175px;
}
