
// Forms Skeleton
label.error {
  display: block;
}
  
select {
  padding: 7px 25px 8px 9px;
}

// Form Groups
@for $i from 1 through 10 {
  .f-col-#{$i} {
    width: $i * 10%;
  }
}

.form-group {
  margin-bottom: 10px;
  @include clearfix;

  .form-group-label {
    float: left;
    padding-top: 8px;
    width: 150px;

    &.label-no-p {
      padding-top: 1px;
    }
  }

  .form-group-main {
    margin-left: 150px;
    @include clearfix;

    .f-col {
      float: left;
    }

    .form-unit {
      padding-left: 10px;
    }
  }

  &.no-label .form-group-main {
    margin-left: 0;
  }

  &.label-on-top {
    .form-group-label {
      width: auto;
      float: none;
      margin-bottom: 5px;
    }

    .form-group-main {
      margin-left: -10px;
    }
  }

  @include max-screen(1024px) {
    .form-group-label {
      text-align: left !important;
      float: none;
      width: auto;
      margin-bottom: 5px;
    }

    .form-group-main {
      margin-left: -10px;
    }
  }
}

.input-icon {
  display: block;
  position: relative;

  .i {
    position: absolute;
  }
}

// Datepicker
.ui-datepicker {
  border-radius: $radius;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15) ,0 1px 2px rgba(0,0,0,.1);
  font-family: $font-cursame;
  display: none;
  margin-top: 5px;

  .ui-datepicker-header {
    color: #333;
    font-weight: bold;
    line-height: 30px;

    .ui-datepicker-title {
      text-align: center;
    }

    .ui-datepicker-prev, .ui-datepicker-next {
      display: inline-block;
      width: 30px;
      height: 30px;
      text-align: center;
      cursor: pointer;
      background-image: url('/assets/components/arrow.png');
      background-repeat: no-repeat;
      line-height: 600%;
      overflow: hidden;
    }

    .ui-datepicker-prev {
      float: left;
      background-position: center -30px;
    }

    .ui-datepicker-next {
      float: right;
      background-position: center 0px;
    }
  }

  thead th {
    text-transform: uppercase;
    font-size: 11px;
    padding: 5px 0;
    color: #666666;
    text-align: center;
    @extend .meta-info;
  }

  tbody tr {
    border-bottom: 1px solid #bbb;

    &:last-child {
      border-bottom: 0;
    }
  }

  td {
    padding: 0;
  
    span, a {
      color: #333;
      display: block;
      text-align: center;
      line-height: 35px;
      width: 35px;
      height: 35px;
    }
  
    a {
      background: tint($primary-color, 98%);
    }
  
    .ui-state-hover {
      background: tint($primary-color, 85%);
    }
  
    .ui-state-active {
      background: $primary-color;
      color: #fff;
      border: 1px solid $primary-color;
      position: relative;
      margin: -1px;
    }
  }
}

.ui-timepicker-div {
  padding: 10px;
  border-top: 1px solid #E3E3E3;
}

.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px;
}

.ui-timepicker-div dl {
  text-align: left;
}

.ui-timepicker-div dl dt {
  height: 25px;
  margin-top: 8px;
  margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
  margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
  font-size: 90%;
}

.ui-tpicker-grid-label {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.ui-timepicker-rtl {
  direction: rtl;
}

.ui-timepicker-rtl dl {
  padding: 10px;
  text-align: right;
}

.ui-timepicker-rtl dl dd {
  margin: 0 65px 10px 10px;
}

.ui-slider {
  position: relative;
  background: #DBDBDB;
  border-radius: $radius-circle;

  .ui-slider-range {
    height: 5px;
    background: $complementary-color;
    border-radius: $radius-circle;
  }

  .ui-slider-handle {
    position: absolute;
    top: -6px;
    width: 15px;
    height: 15px;
    margin-left: -7px;
    outline: none;
    color: #1C94C4;
    cursor: pointer;
    border-radius: $radius-circle;
    background: $primary-color;
  }
}


.ui_tpicker_hour_slider {
  width: 130px;
}

.ui_tpicker_minute_slider {
  width: 130px;
}

.ui-datepicker-buttonpane {
  padding: 0 10px 10px 10px;
  margin-top: 10px;
  @include clearfix;

  .ui-priority-secondary {
    float: left;
    @extend .btn-small;
  }
  
  .ui-priority-primary {
    float: right;
    @extend .btn-small;
  }
}