
/* Forms Skin
----------------------------------*/

#{$all-text-inputs}, textarea {
  background-color: $white;
  border: 1px solid #ccc;
  border-radius: $radius;
  box-shadow: inset 0 1px 0 rgba(0,0,0,.02);
  margin: 0;
  padding: 7px 7px 8px 7px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;

  @include placeholder {
    color: #999;
  }
}

#{$all-text-inputs-focus}, textarea:focus {
  border-color: $primary-color;
  background-color: tint($primary-color, 97%)
}

textarea {
  resize: none;
}

input.red-placeholder, textarea.red-placeholder, input.error, textarea.error {
  border-color: red ;
  background: #f7e7e7 !important;

  @include placeholder {
    color: red;
  }
}

label.error {
  color: red;
  font-size: 11px;
}

.required {
  color: red;
}

select {
  border: 1px solid #ccc;
  border-radius: $radius;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: #808080;
  background-color: #fafafa;
  background-image: url('select.png');
  background-position: right 10px center;
  background-repeat: no-repeat;
  @include appearance(none);

  &:hover, &:focus {
    background-color: lighten(#f2f2f2, 3);
  }
}

// Form Groups
.form-group {
  .form-group-label {
    text-align: right;

    label {
      font-weight: 500;
      cursor: pointer;
    }

    &.label-right, &.label-right label {
      text-align: right;
    }
  }

  &.l-label .form-group-label {
    text-align: left;
  }

  .support-text {
    @include text-size-x-small;
  }
}

.clock{
  font-size: 20px;
  padding: 1px;
  color: #01DF74;
  float:right;
  width: 30%;
  margin-top:-5px;
  text-align: right;
}
.clock-end{
  font-size: 20px;
  padding: 1px;
  color: #DF0101;
  float:right;
  width: 30%;
  margin-top:-5px;
  text-align: right;
}
.no_attemps{
  font-size: 20px;
  padding: 1px;
  color: #DF0101;
  text-align: center;
  padding: 30px;
}