
/* Deliveries Skeleton
----------------------------------*/
#tareas_entregadas {
  padding: 12px;
}

.cogki_content_delivery{

  .tab-content{
    display: none;
    padding: 17px 0px 20px 0px;

    &.current{
      display: inherit;
    }
  }
}