
/* Deliveries Skeleton
----------------------------------*/
#valu {
  outline: none;
  background: url('/assets/youtube.png') no-repeat !important;

  &:hover {
    outline: none;
    background: url('/assets/youtube_hover.png') no-repeat !important;
  }
}


#valw {
  outline: none;
  background: url('/assets/wikipedia.png') no-repeat !important;

  &:hover {
    outline: none;
    background: url('/assets/wikipedia_hover.png') no-repeat !important;
  }
}

.cogki_content_delivery{
        
  ul.tabs{
    background: #FFF;
    list-style: none;

    li {
      background: none;
      color: #222;
      cursor: pointer;
      font-size:17px;
      
      &.current{
        background: #006696;
        color: #FFF;
        font-weight: 100;
      }
    }
  }

  & .tab-content{
    background: #F5F5F5;
  }
}