
/**overlay**/
.ui-widget-overlay{
  position:fixed;
  opacity:0.5;
  filter:Alpha(opacity=50);
  background:#000;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:9000;
  display:none;
  color:#FFF;
}

#cursame-modal {
  position:fixed;
  border-radius:4px;
  padding:8px;
  color: blue;
  width: auto;
  z-index:9999;
  height: auto;
}

.shadow-forms {
  box-shadow: 10px 10px 6px -6px #888;
}

.ui-survey-overlay{
  opacity:0.5;
  filter:Alpha(opacity=50);
  background:#000;
  position:absolute;
  top:6%;
  left:0;
  width:100%;
  height:100%;
  display:none;
  color:#FFF;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#ajax-msj{
  position: absolute;
  display: block;
  color: #FFF;
  padding: 10px;

  img {
    float: left;
  }

  p {
    float: left;
    margin-top: -15px;
    font-size: 28px;
    margin-right: 5px;
  }
}

#calendar {
	width: 900px;
	margin: 0 auto;
}
	
/* --------------- botones generales ------------------ */
.btn_blue {
	max-width: 180px;
	padding: 10px 15px;
	background: #1A83D5;
	color: #FFF;
	margin: 0 auto;
	margin-right: 10px;
	text-align: center;
	font-weight: 100;
	border-radius: 3px;
  cursor: pointer;

  &:hover {
    background: #072C65;
  }
}

.btn_gray {
	max-width: 180px;
	padding: 10px 15px;
	background: transparent;
	color: #CCC;
	margin: 0 auto;
	margin-right: 10px;
	text-align: center;
	font-weight: 100;
	border: 1px solid #CCC;
	border-radius: 3px;

  &:hover {
  background: transparent;
  }
}

@media print {
  body {
  background-color: #FFF;
  }

  #container {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
       
  #line_items {
    page-break-before: always;
  }
}