$font-cursame: "Roboto", sans-serif;
$radius: 3px;
$global-color: #333;
$primary-color: #0071a2;
$white: #ffffff;
$meta-color: #999;
$gray-lighter: #f7f7f7;
$main-background: tint($primary-color, 87);

