
.form-signin {
  max-width: 293px;
  height: 193px;
  padding: 19px 29px 29px;
  margin: 40px auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.form-signup input[type="text"],
  .form-signup input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 0!important;
    padding: 7px 9px;
}

.form-signin .terms{ 
  width: 290;
  height: 100px;
  margin-top: 5px;
  overflow: auto;
  text-align: justify;
  font-size: 10px;
  color: #000;
  background: #eee;
  
  b {
   font-size:10px;
   font-weight: bold;
  }
             
  h1 {
    font-size:10px;
    font-weight: bold;
  }    
}

.form-signin {
  .terms_box {
    margin-top: 5px;
    margin-bottom: -20px;
    font-size: 12px;
    color: #000;
  }

  .email {
    width: 260px!important;
    background: #fff!important;
  }

  .text {
    width: 260px!important;
    background: #fff!important;
  }

  .pswd {
    width: 262px!important;
    height: 33px!important;
    margin-left: -5px;
    padding: 7px 19px!important;
    font-size: 14px!important;
  }
}

.form-signup .pswdcode {
  width: 262px!important;
  height: 33px!important;
  margin-left: -5px;
  padding: 7px 19px!important;
  border: 0!important;
  font-size: 14px!important;
  color: #000;
  focus: none;

  &:focus {
    outline: 0 auto;
  }
}

input,
textarea {
  background-color: #fff;
}

h2.form-signin-heading {
  text-align: center;
  color: #00b0ca;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin: 0!important;
}

input.log-in {
  transition: ease-out all 0.2s;
}

.fixLogin {
  margin-right: 32px!important;
}

input.log-in:hover {
  color: #fff;
  background: #00AEC5;
  transition: ease-out all 0.2s;
  cursor: pointer;
}

.bg-layout {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url('/assets/background-login.png') no-repeat top center;
  background-size: 120%;
}

.signup-layout {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url('/assets/background-login.png') no-repeat top center;
  background-size: 120%;
}

.signup-restore {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url('/assets/background-restore.jpg') no-repeat top center;
  background-size: 120%;
}
	
.error-res {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url('/assets/error-bg.jpg') no-repeat top center;
  background-size: 120%;
}
	
.foo li {
  display: inline;
  padding: 0 3px;

  > a {
    text-decoration: none;
    color: #fff!important;

    &:hover {
      text-decoration: underline;
      color: #fff!important;
    }
  }
}

.log-in {
  margin-top: 2px!important;
}

.form-signup {
  height: 417px;
  margin: 21px auto 20px!important;
}

input:-webkit-autofill,
input:-moz-autofill,
input:autofill {
  background-color: #ddd!important;
}

.signup-btn {
  width: 290px;
  height: 45px;
  margin: 10px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,0.25);
  font-family: "HelveticaNeue-Light",sans-serif;
  font-size: 17px;
  color: white;
  background-image: -khtml-gradient(linear,left top,left bottom,from(#f86049), to(#d6432d) );
  background-image: -moz-linear-gradient(top,#f86049,#d6432d);
  background-image: -ms-linear-gradient(top,#f86049,#d6432d);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f86049), color-stop(100%,#0064CD) );
  background-image: -webkit-linear-gradient(top,#f86049,#d6432d);
  background-image: -o-linear-gradient(top,#f86049,#d6432d);
  background-image: linear-gradient(top,#f86049,#d6432d);
  cursor: pointer;

  &:hover {
    background-image: -webkit-linear-gradient(top,#e35843,#c03c28);
  }
}


.confirm-btn {
  width: 290px;
  height: 45px;
  margin-top: 16px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,0.25);
  font-family: "HelveticaNeue-Light",sans-serif;
  font-size: 17px;
  color: white;
  background-image: -khtml-gradient(linear,left top,left bottom,from(#f86049), to(#d6432d) );
  background-image: -moz-linear-gradient(top,#f86049,#d6432d);
  background-image: -ms-linear-gradient(top,#f86049,#d6432d);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f86049), color-stop(100%,#0064CD) );
  background-image: -webkit-linear-gradient(top,#f86049,#d6432d);
  background-image: -o-linear-gradient(top,#f86049,#d6432d);
  background-image: linear-gradient(top,#f86049,#d6432d);
  cursor: pointer;

  &:hover {
    background-image: -webkit-linear-gradient(top,#e35843,#c03c28);
  }
}

.confirmation-links {
  width: 300px;
  margin: 0 auto;
  margin-top: 70px;
  text-align: center;
  line-height: 2em;

  > a {
    text-shadow: 0 1px 5px #000;
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }
}

.plain-text{
  width:90%;
  padding:5%;
  text-align:justify;
  line-height:250%; 
  
  h1 {
    color:#1C1B1B;
    font-size:25px;
    font-height:bold;
  }  
  
  p{
    font-size:15px;  
  }
}