html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, tt, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

address, cite, q, dfn {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, th {
    font-weight: normal;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
    display: block;
}

a, ins, del {
    text-decoration: none ;
}

q, blockquote {
    quotes: none;
}

q:after, q:before,
blockquote:after, blockquote:before {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    vertical-align: top;
}

th {
    text-align: left;
}

button, input, select, textarea {
    font: inherit;
}