
// Variables
$font-cursame: "Roboto", sans-serif;
$font-serif: "Droid Serif", Serif;
$radius: 3px;
$radius-circle: 50px;

$global-color: #333;
$primary-color: #0375b0;
$complementary-color: #8bc504;
$white: #ffffff;
$black: #333;
$gray: #666;
$meta-color: #999;
$gray-color: #666666;
$gray-lighter: #f7f7f7;
$separator-color: #e1e3e6;
$soft-background: #fcfcfc;
$main-background: #E0E9EC;
$separator-color: #e1e3e6;
$delivery-color: #689d02;
$survey-color: #e15e05;
$form-color: #854EAB;
$discussion-color: #d3b302;
$library-color: #0e9c92;
$course-color: shade($primary-color, 43%);

$space: 10px;