//When I wrote this, only God and I understood what I was doing
//Now, God only knows - RodrigoAyala.me

// Fonts
@font-face {
  font-family: HelvRegular;
  src: url('/assets/fonts/HelveticaLTStdRoman.otf'),
  url('/assets/fonts/HelveticaLTStdRoman.otf'); /* IE9+ */
}
@font-face {
  font-family: HelvBold;
  src: url('/assets/fonts/HelveticaLTStdBold.otf'),
  url('/assets/fonts/HelveticaLTStdBold.otf'); /* IE9+ */
}
@font-face {
  font-family: HelvLight;
  src: url('/assets/fonts/HelveticaLTSLight.otf'),
  url('/assets/fonts/HelveticaLTSLight.otf'); /* IE9+ */
}
@font-face {
  font-family: HelvBoldCond;
  src: url('/assets/fonts/HelveticaLTSBoldCond.otf'),
  url('/assets/fonts/HelveticaLTSBoldCond.otf'); /* IE9+ */
}

// Sizes
$widht-content: 920px;
$width-left-bar: 260px;
$width-right-bar: 675px;
$width-lateral-box: 230px;
$width-form-post: 600px;

$height-post-box: 80px;
$comment-box: 600px;
$height-btn: 30px;

//Colors
$gray-e: #eeeeee;
$border-general: #c9d1da;

//Borders
$border-box: 1px solid $border-general;
$border-forms: $border-box;
$border-gray: 1px solid $gray-e;

//Radius
$border-radius-box: 5px;
$border-radius-avatar-mini: 3px;

@mixin border-radius{
  border-radius: $border-radius-box;
}
@mixin border-t-right-radius{
  -webkit-border-top-right-radius: $border-radius-box;
  -moz-border-top-right-radius: $border-radius-box;
  border-top-right-radius: $border-radius-box;
}
@mixin border-t-left-radius{
  -webkit-border-top-left-radius: $border-radius-box;
  -moz-border-top-left-radius: $border-radius-box;
  border-top-left-radius: $border-radius-box;
}
@mixin border-b-right-radius{
  -webkit-border-bottom-right-radius: $border-radius-box;
  -moz-border-bottom-right-radius: $border-radius-box;
  border-bottom-right-radius: $border-radius-box;
}
@mixin border-b-left-radius{
  -webkit-border-bottom-left-radius: $border-radius-box;
  -moz-border-bottom-left-radius: $border-radius-box;
  border-bottom-left-radius: $border-radius-box;
}
@mixin border-radius-btn{
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
}

//Backgrounds
$bg-page: #FFF;
$bg-general: #fcfcfc; //#fbfcfd; //#fcfcfc;// #FFF;//#f6f7f9;
$bg-bars: #F6F7F9;

@mixin bg-normal-btn{
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f8f8f8) );
  background:-moz-linear-gradient( center top, #ffffff 5%, #f8f8f8 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f8f8f8');
  background-color:#f8f8f8;
}

//Margin
$margin-sidebar-left: 17px;

//Shadows
@mixin shadow-input{
  -moz-box-shadow:    inset 0px 1px 2px #e8e8e8;
  -webkit-box-shadow: inset 0px 1px 2px #e8e8e8;
  box-shadow:         inset 0px 1px 2px #e8e8e8;
}
@mixin shadow-title-tab{
  -moz-box-shadow:inset 0px -1px 2px #dee2e6;
  -webkit-box-shadow:inset 0px -1px 2px #dee2e6;
  box-shadow:inset 0px -1px 2px #dee2e6;
}
@mixin shadow-float-box{
  -moz-box-shadow:  0px 1px 5px #999;
  -webkit-box-shadow: 0px 1px 5px #999;
  box-shadow: 0px 1px 5px #999;
}
@mixin shadow-normal-btn{
  -webkit-box-shadow: inset 0px 1px 3px #FFF, inset 0px -1px 1px $border-general;
  -moz-box-shadow:    inset 0px 1px 3px #FFF, inset 0px -1px 1px $border-general;
  box-shadow:         inset 0px 1px 3px #FFF, inset 0px -1px 1px $border-general;
}

@mixin circle-obj{
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  width: 60px;
  height: 60px;
}
@mixin circle-inset-shadow{
  -webkit-box-shadow: inset 0px 0px 5px #666;
  -moz-box-shadow:    inset 0px 0px 5px #666;
  box-shadow:         inset 0px 0px 5px #666;
}

@mixin border-circle-obj{
  border: #FFF solid 2px;
  -webkit-box-shadow: 0px 1px 4px #666;
  -moz-box-shadow:    0px 1px 4px #666;
  box-shadow:         0px 1px 4px #666;
}