#admin-sidebar {
	width: 250px;
	float: left;
	background: #1A83D5;
	color: #FFF;
	height: 900px;
	display: block;
	position: relative;
		
	& h5{
		font-size: 25px;
		border-bottom: 1px solid #3490DA;
		padding: 15px 5px 15px 10px;
		text-align: left;
		color: #FFF;
		font-weight: 100;
		font-size: 15px;
		//text-shadow: 1px 1px 2px #e3e3e3;
        //filter: dropshadow(color=#e3e3e3, offx=1, offy=1);
	}
	
	& ul{
		
	}
	
	& li{
		border-bottom: 1px solid #3490DA;
		background-color: #1A83D5;	
		//text-shadow: 1px 1px 2px #e3e3e3;
        //filter: dropshadow(color=#e3e3e3, offx=1, offy=1);
	}
	& li:hover{
		background-color: #1B57A0;
	}
	& .active{
		background-color: #1B57A0;
	}
	& li > a:link {
		padding: 15px 5px 15px 40px;
		color: #FFF;
		display: inline-block;
		font-weight: 100;
	}
	& li > a:visited {
		color: #FFF;
		display: inline-block;
	}
	& li > img {
		opacity: 0.5;
		padding-left: 10px;
		padding-top: 11px;
		position: absolute;
	}
}

#admin-content {
	width:728px;
	float:left;
	background-color: white;
	border-left: 1px solid #e0e0e0;
	padding-bottom: 20px;
	
	& h3{
		text-align: center;
		font-size: 20px;
		text-transform: capitalize;
    	padding: 20px;

	}
  & li:hover{
	   background-color: #f2f2f2;
	}

}

.admin-chart {
	display: block;
	width: 344px;
	height: 300px;
	//border: 1px solid #F0F0F0;
	float: left;
	margin: 9px 0 0 4px;
	//-moz-box-shadow: 0px 0px 4px #e0e0e0;
	//-webkit-box-shadow: 0px 0px 4px #e0e0e0;
	//box-shadow: 0px 0px 4px #e0e0e0;

}

.users-chart{
	display: block;
	width: 700px;
	height: 43px;
	//border-right: 1px solid #e0e0e0;
	//border-bottom: 1px solid #e0e0e0;
	float: left;
	//margin: 43px 0 0 20px;
	margin: 45px 0 0 0px;
}

.header-chart{
	//border-bottom: 1px solid #e0e0e0;
	padding: 10px;
	//background-color: #f0f0f0;
	font-family: HelvLight;
	font-size: 16px;
	text-transform: capitalize;
	text-shadow: 1px 1px 2px #e3e3e3;
    filter: dropshadow(color=#e3e3e3, offx=1, offy=1);
}

.user-list{
	//padding: 10px;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	overflow: hidden;
	
	& .avatar{
		float: left;
		//margin-left: 30px;
	}
	& .info{
		float: left;
		margin-left: 10px;
		line-height: 20px;
		//width: 250px;
		width: 380px;
		float: left;
		font-family: HelvLight;
		font-size: 16px;
		padding-top: 6px;
	}
	& .info a{
		font-size: 14px;
	}
	& .actions{
		float: right;
		//opacity: .6;
		margin-top: 25px;
		margin-right: 10px;
		//margin-right: 30px;
		//border-left: 1px solid #EEE;
	}
	& .actions:hover{
		opacity: 1;
	}
	& .clear {
		clear: both;
	}
}

.submit_role_user {
	border: 0px;
	background: #FFF;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
	color: #333;
	padding: 2px 6px;
}
.submit_role_user:hover {
   background: #4FA3E9;
   color: #FFF;
   cursor: pointer;
}

.submit_role_dropdown {
    position: relative;
    width: 80px;
    color: #FFF;
    cursor: pointer;
    outline: none;
    height: 25px;
    font-size: 14px;
    padding: 0px;
    float: left;
    border: 0px;
    
    background-color: transparent;
	background-image: url('images/select_arrow.gif');
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 20px;
    }
.submit_role_dropdown select {
   background: transparent;
   width: 80px;
   height: 25px;
   border: none;
   padding: 0px;
   color: #FFF;
   outline: none;
}
    

.actions_active {
	position: absolute;
	float: right;
	//width: 208px;
	width: 273px;
	height: 49px;
	display: inline-block;
	background: #1B57A0;
	color: #FFF;
	margin: 0px!important;
	padding-top: 10px;
	padding-right: 10px;
	opacity: 1;
}
.actions_active > .openClass_toggle {
	margin-top: 6px!important;
}
.user-list-clear, .user-list-clear:hover {
	background: #1B57A0!important;
	color: #FFF;
}


.par {
	   background-color: #f9f9f9;
	}
	
.list{
	//border: 1px solid #e0e0e0;
	//width: 600px;
	width: 100%;
	margin: auto;
}

.the-list{
	//margin-top: 50px;
	clear: both;
}

#header-users{
	width: 600px;
	margin: auto;
	padding: 15px;
	margin-bottom: 20px;
}
