/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 //= require_self
 //= require_tree
*/


/*
 * When I wrote this, only God and I understood what I was doing
 * Now, God only knows
*/


/* /\/\/\/\ Reset /\/\/\/\ */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, tt, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

address, cite, q, dfn {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, th {
    font-weight: normal;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
    display: block;
}

a, ins, del {
    text-decoration: none ;
}

q, blockquote {
    quotes: none;
}

q:after, q:before,
blockquote:after, blockquote:before {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    vertical-align: top;
}

th {
    text-align: left;
}

button, input, select, textarea {
    font: inherit;
}
/* /\/\/\/\ End Reset /\/\/\/\ */
/**overlay**/
.ui-widget-overlay{
    opacity:0.5;
    filter:Alpha(opacity=50);
    background:#000;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:2000px;
    z-index:9000;
    display:none;
    color:#FFF;
}

.cursame-modal {
    position:absolute;
    /*background:url(tint20.png) 0 0 repeat;*/
    /*background:rgba(0,0,0,0.2);*/
    /*background:#FFF;*/
    border-radius:4px;
    padding:8px;
    color: blue;
    width: auto;
    z-index:9999;
    height: auto;
}
.shadow-forms {
    -webkit-box-shadow: 10px 10px 6px -6px #888;
    -moz-box-shadow: 10px 10px 6px -6px #888;
    box-shadow: 10px 10px 6px -6px #888;
}
.ui-survey-overlay{
    opacity:0.5;
    filter:Alpha(opacity=50);
    background:#000;
    position:absolute;
    top:6%;
    left:0;
    width:100%;
    height:100%;
    display:none;
    color:#FFF;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#calendar {
	width: 900px;
	margin: 0 auto;
	}
	
@media print {
        body { background-color: #FFF; }
  #container {
                width: auto;
                margin: 0;
                padding: 0;
                border: none;
        }
       
        #line_items {
                page-break-before: always;
        }
}