/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 //= require_self
 //= require_directory .
*/


/*
 * When I wrote this, only God and I understood what I was doing
 * Now, God only knows
*/


/* /\/\/\/\ Reset /\/\/\/\ */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, tt, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

address, cite, q, dfn {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, th {
    font-weight: normal;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
    display: block;
}

a, ins, del {
    text-decoration: none ;
}

q, blockquote {
    quotes: none;
}

q:after, q:before,
blockquote:after, blockquote:before {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    vertical-align: top;
}

th {
    text-align: left;
}

button, input, select, textarea {
    font: inherit;
}
/* /\/\/\/\ End Reset /\/\/\/\ */
/**overlay**/
.ui-widget-overlay{
    position:fixed;
    opacity:0.5;
    filter:Alpha(opacity=50);
    background:#000;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:9000;
    display:none;
    color:#FFF;
}

#cursame-modal {
    position:fixed;
    border-radius:4px;
    padding:8px;
    /*background:#EEE;*/
    color: blue;
    width: auto;
    z-index:9999;
    height: auto;
}

.shadow-forms {
    -webkit-box-shadow: 10px 10px 6px -6px #888;
    -moz-box-shadow: 10px 10px 6px -6px #888;
    box-shadow: 10px 10px 6px -6px #888;
}
.ui-survey-overlay{
    opacity:0.5;
    filter:Alpha(opacity=50);
    background:#000;
    position:absolute;
    top:6%;
    left:0;
    width:100%;
    height:100%;
    display:none;
    color:#FFF;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#ajax-msj{
    position: absolute;
    display: block;
    color: #FFF;
    padding: 10px;
}
#ajax-msj img{
    float: left;
}
#ajax-msj p{
    float: left;
    margin-top: -15px;
    font-size: 28px;
    margin-right: 5px;
}

#calendar {
	width: 900px;
	margin: 0 auto;
	}
	
/* --------------- botones generales ------------------ */

.btn_blue {
	max-width: 180px;
	padding: 10px 15px;
	background: #1A83D5;
	color: #FFF;
	margin: 0 auto;
	margin-right: 10px;
	text-align: center;
	font-weight: 100;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.btn_blue:hover {
	cursor: pointer;
	background: #072C65;
}
.btn_gray {
	max-width: 180px;
	padding: 10px 15px;
	background: transparent;
	color: #CCC;
	margin: 0 auto;
	margin-right: 10px;
	text-align: center;
	font-weight: 100;
	border: 1px solid #CCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.btn_gray:hover {
	background: transparent;
}
.btn_red {
	max-width: 180px;
	padding: 10px 15px;
	background: transparent;
	color: #A6140D;
	margin: 0 auto;
	margin-right: 10px;
	text-align: center;
	font-weight: 100;
	border: 1px solid #A6140D;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.btn_red:hover {
	background: #A6140D;
	color: #FFF;
}

@media print {
        body { background-color: #FFF; }
  #container {
                width: auto;
                margin: 0;
                padding: 0;
                border: none;
        }
       
        #line_items {
                page-break-before: always;
        }
}

#scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom: 86%;
    right: 1%;
    display:none;
    text-indent:-9999px;
    background: url('/assets/icon_top.png') no-repeat;
}