.visibleDiv, #topLeft, #topRight, #bottomLeft, #bottomRight,#users-and-groups-for-chat,#chat-panels-zone{
    position: fixed;
    width: 200px;
    height: 20px;
    border: solid 1px #e1e1e1;
    vertical-align: middle;
    background: #4DC7DF;
    text-align: center;
}
#users-and-groups-for-chat {
	background: #5F95BE;
	color: #fff;
	padding-top: 7px;
	padding-left: 10px;
    bottom: 0px;
    right: 15px;
    transition: ease-out all 0.3s;
    text-align: left;
    -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;
}

#users-and-groups-for-chat:hover {
	background: #0094E1;
	cursor: pointer;
	transition: ease-out all 0.3s;
}

.chat-panel{
    bottom: 0px;
    right: 275px;
    position: fixed;
    padding: 4px 10px;
    color: #fff;
    width: 230px;
    height:20px;
    background: #5F95BE;
    margin-left: 5px;
    display: block;
    margin-right: 20px;
    -webkit-backface-visibility: hidden;
}

.chat-panel > span {
	width: 204px;
	overflow: hidden;
	display: inline-block;
	margin-left: -9px;
	padding: 6px 8px 6px 9px;
	margin-top: -3px;
	cursor: pointer;
	overflow: hidden;
	height: 10px;
	margin-bottom: 5px;
}

.chatWrapper {
	margin-right: 10px;
}

#users-and-groups-online{
	width: 188px;
	height:302px;
	background: #F2F4F8;
	margin-top: 5px;
	margin-left: -10px;
	display: block;
	padding-top: 10px;
	padding-left: 12px;
	padding-right: 10px;
	overflow: scroll;
	}
		#users-and-groups-online div > a:link {
			width: 198px;
			display: block;
			margin-left: -11px;
			padding-left: 10px;
			padding: 5px 0 5px 10px;
			color: #1a1a1a;
			font-weight: lighter;
		}
		#users-and-groups-online div > a:hover {
			background: #E0E4EE;
			cursor: pointer;
		}
		#users-and-groups-online div > a:active {
			background: #307BEC;
			color: #fff;
			cursor: pointer;
		}

.titleBraker {
	width: 190px;
	padding: 5px 10px;
	font-size: 16px;
	font-weight: lighter;
	margin-top: 10px;
	color: #000;
	font-weight: bold;
	display: block;
	margin-left: -12px;
	margin-top: -4px;
	margin-bottom: 6px;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

.titleBrakerSecondary {
width: 190px;
padding: 5px 10px;
font-size: 16px;
font-weight: lighter;
margin-top: 10px;
color: #000;
font-weight: bold;
display: block;
margin-left: -12px;
margin-top: 10px;
margin-bottom: 6px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

#ChatFilter:hover {
	background: #FFF;
}

#ChatFilterDrop {
	position: absolute;
	background: #363F4D;
	margin-top: 17px;
	margin-left: -12px;
	width: 221px;
	display: block;
}

#ChatFilterDrop ul li {
display: block;
position: relative;
width: 203px;
color: #FFF;
}

#ChatFilterDrop ul li > a {
	display: block;
	position: relative;
	padding: 14px 10px 14px 14px;
	width: 198px;
	color: #FFF;
	margin-left: -1px;
}

#ChatFilterDrop ul li > a:hover {
	color: #FFF;
	background: #006696;
	display: block;
	position: relative;
	padding: 14px 10px 14px 14px;
	width: 198px;
	color: #FFF;
}

.chat-zone{
	background: #EEE;
	height:320px;
}

.closeChat { 
	width: 23px;
	height: 28px;
	position: absolute;
	margin-left: 216px;
	margin-top: -22px;
	overflow: visible;
	z-index: 99999;
 }
 
.closeChat:hover {
	background: #3B5998;
	cursor: pointer;
}


//------------------------------------------------------------------------------------//
//------------------------------- zona de tabs en chat -------------------------------//


.chat-zone-messages{
	width: 230px;
	height: 250px;
	margin-left: -10px;
	/*background: #F2F4F8;*/
	background: #FFF;
	overflow: auto;
	padding: 10px;
	color: #000;
	font-weight: lighter;
}

.chat-zone-messages .insideChat {
	width: 228px;
	padding: 0;
	margin: 0;
}

.chat-zone-messages .insideChat .insideChatText .imgChat {
width: 20px;
height: 20px;
float: left;
position: relative;
display: block;
}

.chat-zone-messages .insideChat .insideChatText .MsjC p {
	width: 164px;
	margin-top: -5px;
}


//------------------------------- termina zona de tabs en chat -------------------------------//
//--------------------------------------------------------------------------------------------//


.chat-zone-footer{
    background: #FFF;
}

.chat-zone-footer #mesage { 
	background: transparent;
	border: 0;
	padding: 7px 6px;
	width: 183px;
	outline: none
}

.chat-zone-footer #mesage input:focus { 
	border: 0;
}

.chat-zone-footer form {
	width: 250px;
	margin-left: -10px;
	background: #fff;
	height: 30px;
	border-top: 1px solid #ccc;
}

.sendBtnChat {
	background: #28C9AB;
	color: #fff;
	border: 0;
	margin-top: 5px;
	position: absolute;
	border-radius: 3px; -webkit-border-radius: 3px;
}
.sendBtnChat:hover {
	background: #5F95BE;
	cursor: pointer;
}
.main-chat-zone{
    /*border:#ddd 1px solid;*/
    /*height:500px;*/
    height: 400px;
    overflow: auto;
    padding-top: 10px;
}

.chatSingle {
width: 198px;
display: block;
margin-left: -11px;
padding-left: 10px;
padding: 0px 0 0px 10px;
color: #1a1a1a;
font-weight: lighter;
}
.chatSingle > a:link {
width: 189px;
display: block;
margin-left: -11px;
padding-left: 10px;
padding: 11px 5px 11px 10px;
color: #1a1a1a;
font-weight: lighter;
transition: 0.3s;
-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;

}
.chatSingle > a:hover {
background: #5F95BE;
cursor: pointer;
color: #FFF;
transition: 0.1s;
}
.chatSingle > a:active {
background: #307BEC;
color: #fff;
cursor: pointer;
}


.chatSingle_big {
width: 198px;
display: block;
margin-left: -11px;
padding-left: 10px;
padding: 0px 0 0px 10px;
color: #FFF;
font-weight: lighter;
}
.chatSingle_big > a:link {
width: 189px;
display: block;
margin-left: -11px;
padding-left: 10px;
padding: 11px 5px 11px 10px;
color: #FFF;
font-weight: lighter;
transition: 0.3s;
-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;

}
.chatSingle_big > a:hover {
background: #5F95BE;
cursor: pointer;
color: #FFF;
transition: 0.1s;
}
.chatSingle_big > a:active {
background: #307BEC;
color: #fff;
cursor: pointer;
}

#chat .titleChat {
	width: 695px!important;
	z-index: 99;
}
#chat .main-chat-zone {
	width: 714px;
	padding-top: 10px;
	display: block;
	overflow: auto;
	height: 100%;
	padding-bottom: 50px;
}
#chat .shareMSJ {
	width: 716px;
	background: #F2F2F2;
	z-index: 99;
	position: fixed;
	bottom: 0;
	display: block;
	margin-bottom: -3px;
}

#chat .shareMSJ input#mesage {
	width: 485px;
	margin: 10px;
}

.titleChat {
		width: 535px;
		padding-top: 20px;
		background: #FFF;
		text-align: left;
		display: fixed;
		padding: 18px 10px 5px 10px;
		height: 26px;
		color: #000;
		font-size: 16px;
		border-bottom: 1px solid #DDD;
		border-right: 1px solid #DDD;
}

.insideChat {
		padding: 10px 10px;
		width: 375px;
		margin-left: 7px;
		margin-bottom: 6px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		min-height: 13px;
	}

/*
#chat-messages .insideChat {
		box-shadow: 0px 2px 4px #ccc;
		background: #1C87A4;
	}
*/

.insideChat p {
		font-family: arial;
		font-size: 12px;
		color: #1a1a1a;
}

.MsjC p {
		width: 310px;
		font-family: arial;
		min-height: 10px;
		max-height: 240px;
		display: table;
		position: relative;
		font-size: 12px;
		color: #2576aa;
		float: right;
		/*text-shadow: 0em 0em 0.4em #333;*/
		font-weight: bold;
		height: 0px;
		padding: 11px 15px;
		background: #CBE6F7;
		margin-bottom: 13px;
		border: #8acbf3 solid 1px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
}

/*

Hay que checar los estilos ya que no se pueden customizar

.MsjC p:after {
	content: "";
position: absolute;
top: 3px;
left: -15px;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #CBE6F7;
display: block;
width: 0;
z-index: 1;
}

.MsjC p:before {
content: "";
position: absolute;
top: 3px;
left: -16px;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #8acbf3;
display: block;
width: 0;
z-index: 0;
}

*/


#chat-messages .insideChat p { color: #2576aa; margin-top: -12px; }

#chat-messages .insideChat .insideChatText .imgChat img {
	width: 30px!important;
	height: 30px!important;
	margin-top: -13px!important;
	position: relative;
	display: block;
	margin-left: -7px;
	border: 1px solid #F7F7F7;
}

.insideChatText {
		font-family: arial;
		color: #111;
		font-size: 11px;
		font-weight: lighter;
		margin-bottom: 4px; 
		height:auto; min-height:50px;
}

.toolTipUser {
		background: url('/assets/triangle.png') no-repeat center right;
		width: auto;
		height: 10px;
		display: block;
		position: absolute;
		color: #fff!important;
		float: left;
		text-align: right;
		padding: 5px 6px 5px 5px;
		margin-top: -4px;
		z-index: 99;
		margin-left: -110px;
}
.toolTipUser p {
		background: #FFF;
		color: #fff;
		padding: 5px;
		width: auto;
		margin-top: -6px;	
	}

.imgChat { 
		width: 25px;
		height: 25px;
		display: inline-block;
		float: left;
		cursor: pointer;
 }
 
.imgChat img + .toolTipUser {
		visibility: hidden;
		transition: all ease-in 0.4;
}
.imgChat img:hover + .toolTipUser {
		visibility: visible;
		transition: all ease-in 0.4;
}

.shareMSJ {}

.shareMSJ input#mesage {
	padding: 10px;
	width: 355px;
	outline: none;
	margin-top: -2px;
	float: left;
}
.shareMSJ input.sendBtnChat {
	padding: 12px;
	width: 176px;
	outline: none;
	margin-top: 9px;
	float: right;
	display: inline-block;
	position: absolute;
	-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;
}

.load-more-messages{
	width:250px;
	margin-left:-10px;
	background: #F2F4F8;
	text-align:center;
	font-weight:bolt;
	color:#CCC;
	cursor:pointer;
	margin-top: -4px;
}

#go-to-chats-url{
    bottom: 0px;
    right: 275px;
    position: fixed;
    padding: 4px 10px;
    color: #fff;
    width: 100px;
    height:20px;
    background: #5F95BE;
    margin-left: 5px;
    display: block;
    margin-right: 20px;
    -webkit-backface-visibility: hidden;
}

#go-to-chats-url > span {
	width: 100px;
	display: block;
	margin-left: -9px;
	padding: 6px 8px 6px 9px;
	margin-top: -3px;
	cursor: pointer;
}

#go-to-chats-url > span a{
	cursor: pointer !important;
	color:#FFF;
}