// Place all the styles related to the content controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content_charge{
    height:400px; overflow:auto;
      
}

.video{
   height:137px;
   overflow: hidden;
   weight:200px;
   margin:5px;
   margin:solid ;
   float: left;

   & .button_add{
       background: #2CCAE1;
       width: 130px;
       border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
       cursor: pointer;
       margin: -92px 0 0 38px!important;
       z-index: 2;
       position: absolute;
       height: 25px; 
       font-size:16px;
       padding-top: 5px;
       display: block;
       color: #fff;
       text-align:center;   
   }
   &  .button_add:hover{
    background: #02B1CB;
    color: #fff;      
   }
           
}

.shareAdd {
	background: rgba(0,0,0,0.8);
	height: 59px;
	width: 100px;
	//margin-top: -152px!important;
	margin-top: -91px;
	display: block;
	position: absolute;
	margin-left: 52px;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

.tabCalss {
	background: transparent;
	width: 563px;
	color: #333;
	//width: 591px;
	//background: #5F95BE;
	//color: #fff;
	text-align: left;
	height: 20px;
	margin-left: -11px;
	padding-top: 5px;
	padding-left: 10px;
	z-index: 2;
	-webkit-border-top-left-radius: 3px; -moz-border-radius-topleft: 3px; border-top-left-radius: 3px;
}
.tabCalssClose {
	background: transparent url('/assets/icons/close.png') no-repeat;
	float: right;
	font-family: verdana;
	font-size: 15px;
	height: 23px;
	margin-left: 560px;
	margin-top: -20px;
	padding-left: 11px;
	padding-right: 11px;
	cursor: pointer;
	padding-top: 2px;
	opacity: 1;
	transition: all linear 0.2s;
}
.tabCalssClose:hover {
	opacity: 0.5;
	transition: all linear 0.2s;
}

.youTName {
	
}
.choser{
    width:560px;
}
.choser > a:link {
	width: 210px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 0 5px;
	color: #555;
	overflow: hidden;
	display: block;
	height: 25px;
	padding-top: 4px;
	line-height: 25px;
}

.choser > a:hover, .choser > a:active {

}

#close_youtube_delivery{ margin-right: 30px; }

.button_pluss{
	font-size: 28px;
	color: #FFF;
	cursor: pointer;
	background: url('/assets/icons/add_plus_icon.png') no-repeat center center;
	width: 30px;
	height: 35px;
	text-align: center;
	margin-top: 10px!important;
	margin-left: 11px;
	opacity: 1px;
}
.button_pluss:hover{
	opacity: 0.7;
}
.button_pluss:active{
    opacity: 1;       
}
.button_plus_selected, .button_plus_selected:hover {
	color:#fff;
	background: #ccc;
	cursor: default;
}

.play_button_pluss {
	font-size: 17px;
	color: #FFF;
	cursor: pointer;
	background: url('/assets/youtube_icon.png') no-repeat center center;
	display: block;
	width: 34px;
	height: 27px;
	text-align: center;
	margin-top: 10px!important;
	margin-left: 58px;
	vertical-align: middle;
	padding-top: 8px;
	//border-radius: 50%;
	opacity: 1;
}

.play_button_pluss:hover {
	background: url('/assets/youtube_icon.png') no-repeat center center;
	opacity: 0.7;
}

.redo_lik{
	    background:#FBF7DB;
	    width:300px;
	    -webkit-border-radius: 20px;
	    -moz-border-radius: 20px;
	    border-radius: 20px;
}

.cancel_link{
	float: left;
	background: url('/assets/icons/close.png') no-repeat;
	font-size: 20px;
	width: 18px;
	height: 26px;
	text-align: center;
	margin-left: 5px;
	margin-top: 8px;
   
    & .cancel_link:hover{
        background:#5F95BE;
        color:#fff;
        cursor: pointer;
     }
}

.appendClass {
	float: left;
	width: 280px;
}

.link_cto_content_macher{
    margin-top:5px;
    margin-right:1px;
    margin-left:1px;
    cursor:pointer;
    width:26px;
    height:26px; 
    padding-top:16px;  
    padding-left:7px;
    padding-right:7px;  
    margin-bottom:17px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background:#F7F7F7;
}

.link_cto_content_macher:hover{
   background: #DDD;
   width:26px;
   height:26px;
   padding-top:16px;
   padding-left:7px;
   padding-right:7px;  
}
.link_cto_content_macher:active{
   background: #333;
   width:26px;
   height:26px;
   padding-top:16px;  
   padding-left:7px;
   padding-right:7px;
}

.updateW {
	float: right;
	position: absolute;
	margin-top: 37px;
	margin-left: 732px;
	display: block;
	z-index: 2;
}

.updateW > a:link, .updateW > a:visited {
	color: #fff;
}

.updateW > a:hover, .updateW > a:active {
	color: #00B1C5;
	text-decoration: underline;
}

.conetiner_manager_content_bar{
    min-height:45px;
    min-width:60px;
    margin-right:5px;
    padding-left:1px;
    padding-right:5px;
   /* background:#DDFFA5; */
    /*background:#E8FFC3; */
     /*background: #5F95BE;*/
    float: right;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top:15px;
    text-align:center;
}
.contents_title{
    color:#918B7D;
    float: right;
    min-width:580px;
    min-height:25px;
    margin-top:15px;
    /*font-size:17px;*/
    margin-right:10px;
    
    
    
    
}


#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:200;color:#fff;}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999;text-align:left;visibility:hidden;display:none;}
#sb-overlay{position:relative;height:100%;width:100%;}
#sb-wrapper{position:absolute;visibility:hidden;width:100px;}
#sb-wrapper-inner{position:relative;border:1px solid #303030;overflow:hidden;height:100px;}
#sb-body{position:relative;height:100%;}
#sb-body-inner{position:absolute;height:100%;width:100%;}
#sb-player.html{height:100%;overflow:auto;}
#sb-body img{border:none;}
#sb-loading{position:relative;height:100%;}
#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}
#sb-loading-inner span{background:url(loading.gif) no-repeat;padding-left:34px;display:inline-block;}
#sb-body,#sb-loading{background-color:#060606;}
#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden;}
#sb-title,#sb-title-inner{height:26px;line-height:26px;}
#sb-title-inner{font-size:16px;}
#sb-info,#sb-info-inner{height:20px;line-height:20px;}
#sb-info-inner{font-size:12px;}
#sb-nav{float:right;height:16px;padding:2px 0;width:45%;}
#sb-nav a{display:block;float:right;height:16px;width:16px;margin-left:3px;cursor:pointer;background-repeat:no-repeat;}
#sb-nav-close{background-image:url(close.png);}
#sb-nav-next{background-image:url(next.png);}
#sb-nav-previous{background-image:url(previous.png);}
#sb-nav-play{background-image:url(play.png);}
#sb-nav-pause{background-image:url(pause.png);}
#sb-counter{float:left;width:45%;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
#sb-counter a.sb-counter-current{text-decoration:underline;}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}

.content-in-assignment{
    width:110%;
    margin-left:-20px;
}
