// Place all the styles related to the content controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content_charge{
    height:400px; overflow:auto;
      
}

.video{
           height:137px;
           overflow: hidden;
           weight:200px;
           margin:5px;
           margin:solid ;
           float: left;

           & .button_add{
               background: #2CCAE1;
               width: 130px;
               border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
               cursor: pointer;
               margin: -92px 0 0 38px!important;
               z-index: 2;
               position: absolute;
               height: 25px; 
               font-size:16px;
               padding-top: 5px;
               display: block;
               color: #fff;
               text-align:center;
               
           }
           
           &  .button_add:hover{
                  background: #02B1CB;
                  color: #fff;
                  
                  
           }
           
           
}       
       
