@import "vars";

.course{
  float: left;
  height: 250px;
  width: 218px;
  margin: 10px 4px;
  border: $border-box;
  @include border-radius;
  float: left;
  background: #f3f3f3;
  //@include shadow-float-box;
  & h2{
    font-size:24px;
    float: left;
    margin: 10px 0 5px 0px;
    color: #444444;
    font-family: HelvLight;
  }
  & .thumbnail{
   width: 218px; overflow: hidden; vertical-align: middle;
 }
}

.hidden-text{  
    	white-space: nowrap;
    	width: 79%;
    	overflow: hidden;
        text-overflow: ellipsis;
       
}

h4{
  font-size:14px;
}
h3{
  font-size:18px;  
}
.al{
   font-size:18px;  
   background:none;
   border:none;
 
}
.course-banner-profile{
     background-image: url("/assets/bannerprofile.png");
}

.course li {
	padding-left: 20px;
	list-style: none;
	margin: 5px;
	color: #444444;
}

#crud{
	position: relative;
	top: 0px;
	float: right;
	opacity: 0.5;
	text-align: right;
	margin: -130px 10px 0 0; 
}

#course-title{
	width: 188px;
    font-size:14px;
    float: left;
    margin: 10px 6px;
    color: #444444;
    font-family: helvetica;
    text-align: center;
    font-weight: bold;
}

#course-info{
	 padding: 10px;
	 font-size: 12px !important;	
}

#courses-list {
	width: 915px;
	margin: auto;
	}
	
.courses-title-h2{
	font-size: 30px;
	font-family: helvetica;
	font-weight: lighter;
	float: left;
	width: 260px;
}

.serch-courses{
	width: 300px;
	margin: 4px 0 0 0;
	float: left;
}

.serch-courses input{
	width: 200px;
	font-size: 14px; 
	line-height: 16px;
	font-family: HelvLight;
}

.new-course {
	float: right;
	margin: 6px 0 0 0;

}

#header-courses{
	width: 910px;
	margin: auto;
	padding: 25px 15px 15px 15px;
}

.SearchForm {
	width: 600px;
	margin-top: 10px;
}

.SearchForm #search {
	width: 600px;
	padding-top: 6px;
}

.list_alt_box{
	width: 226px!important;
	background: #fff;
    float: left;
    padding: 7px 15px 8px 7px;
   	margin-right: 7px!important;
   	margin-left: 0px!important;
    border-right: solid #4FA3E9 4px;
    /*border-left: solid #eee 2px;*/ border-left: 0!important;
    margin-bottom: 6px;
    overflow:auto;
    transition: all linear 0.3s;
}

.list_alt_box:hover { transition: all linear 0.3s; }

.course_status { background: #83B81F; color: #fff!important; cursor: pointer; padding: 2px 8px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.course_status:hover { background: #F39C20; }
.course_status > a { color: #fff!important; }
.status { margin-top: 18px; float: right; }

.top-header-delivery-box ul li span { color: #B3B3B3; }
.top-header-delivery-box ul li span:hover { color: #4FA3E9; }

#full-deliveries-area > a { position: absolute; float: right; display: none; margin-top: 16px; }

.list_alt_box .header { font-family: Arial; font-weight: lighter; margin-left: 7px; color: #ddd;  }
.list_alt_box .header .status > a:hover { color: #39D4E2; }

.list_alt_box .headerOne { font-family: Arial; font-weight: lighter; margin-left: 3px; color: #000; }
.list_alt_box .headerOne .status > a:headerOne { color: #39D4E2; }

.list_alt_box .headerOne h1 {
	height: 20px;
	overflow: hidden;
}

.top-header-delivery-box ul li .green-circle-mini, .top-header-delivery-box ul li .orange-circle-mini { margin: 6px 0px 0px 6px!important; color: #1a1a1a!important; display: block; width: 130px!important; }
.top-header-delivery-box ul li { margin: 2px 0px 5px 0px !important; width: 130px!important; }

.survey_list{
    margin-top:10px;
    float:left;
    width:400px;
    height:400px;
    overflow:auto;
}
.deliveries_list{
    margin-top:10px;
    float:left;
    width:350px;
    height:350px;
    overflow:auto;
    
}

#notice { position: absolute; color: #608847; font-size: 14px; padding: 0px; margin: 0 auto; text-align: center; font-weight: bold; z-index: 9999; background: #DFF0D8; border: 0px solid #608847; width: 0px; display: inline; height: 0px; }

#wrong {
	
}

.title_dxv{
    margin-left:20px;
    height:100%;
    width:907px;
    overflow:auto;
    & h1 {
           font-size:20px;
         }
}
.locklok{
    float:left;
    width:515px;
    height:400px;
    //overflow:auto;
    overflow: auto;
    padding-left: 46px;
}
.high_tent{
     width:800px;
     height:450px;
}

.light_box #new_delivery_form #delivery_title {
	padding-top: 5px;
	width: 340px;
}

.light_box #new_delivery_form textarea {
	padding-left: 7px;
	padding-top: 10px;
	width: 504px;
}

.light_box #new_delivery_form #delivery_publish_date, .light_box #new_delivery_form #delivery_end_date {
	width: 246px;
}

.light_box #new_delivery_form .wrapper-dropdown {
	margin-top: 10px;
}

.light_box #new_delivery_form submit {
	margin-top: 10px;
}

.light_box #new_delivery_form .upload-input {
	margin-top: -5px;
}

/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ lightbox exam ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */

.test_exam_list {
	background: #F8F8F8;
	width: 300px;
	height: 450px;
	overflow: auto;
	margin: -30px 0 0 -30px;
}

/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ course form ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */

#configuration h1 { margin: 17px auto 0 !important; position: relative!important; display: block!important; width: 797px; color: #fff!important; padding: 20px 10px 10px 17px; background: rgba(252,252,252,0.2) url(../assets/tool.png) no-repeat center right; }
#configurationing h1 { margin: 17px auto 0 !important; position: relative!important; display: block!important; width: 797px; color: #fff!important; padding: 16px 10px 13px 17px!important; background: rgba(252,252,252,0.2) url(../assets/) no-repeat center right; font-size: 20px; }
.fixform { margin-bottom: 20px!important; }

.fixform h4 {
	color: #333;
	font-size: 17px;
}

.califHeader {
	background: #00ADC4;
	width: 198px;
	padding: 13px 30px 7px 30px;
	text-align: center;
	font-size: 16px;
	height: 25px;
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	float: right;
	}
.AlumHeader {
	width: 551px;
	float: left;
	background: #38CDE2;
	color: #fff;
	display: inline-block;
	height: 31px;
	padding-top: 14px;
	padding-left: 13px;
	font-size: 16px;
	position: relative;
	text-align: left;
	font-weight: lighter;
}

.form-course { display: table; position: relative; width: 784px; border-top: 0px solid #ccc; margin: 0 auto; padding: 20px; background: rgba(252, 252, 252, 0.9); height: 346px; overflow: scroll; }
.form-course input:focus { border: 1px solid #6AB2BF!important; }
.form-course p { clear: both; color: #969696; font-family: HelvLight; font-size: 14px; margin-top: 10px; position: relative; display: block; line-height: 14pt!important; }
.form-course input[type="file"] { background: transparent; }
.form-course .upload { display: none; }
#uploadthingie { position: relative; }
#uploadthingie input { position: absolute; }
div#dummy { position: relative; width: 116px; padding: 9px 20px 3px 17px; height: 18px; /*background: #08B5CE;*/ background: rgba(252,252,252,1); font-family: arial; cursor: pointer; color: #969696; text-align: center; display: block; margin-top: 3px; border: 1px solid #c9d1da; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
div#dummy:hover { background: #08B5CE; color: #fff; }
.input-style { margin-bottom: 17px!important; width: 367px; }
.date-input { width: 145px }
.custom-size-form { margin-bottom: 17px!important; width: 145px; }
.slct-style input { background: #00B1C7; color: #fff; padding: 10px 20px; margin-bottom: 17px!important; }
.act-crs { margin-top: 26px!important; }

/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ edit course ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
#nsdmenu { margin: 17px auto 0 !important; position: relative!important; display: block!important; width: 900px; padding: 20px 10px 10px 17px; }
#nsdmenu h1 { color: #969696!important; font-size: 16px; }
#nsdmenu .reload { float: right; display: inline; position: relative; margin-top: -17px; }
.reload li { display: inline-table; height: 17px; vertical-align: middle; }

/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ edit members ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */

.cmembers {
	width: 939px;
	margin: 0 auto;
	}
.pndts {
	margin-top: -25px;
	float: right;
	}
.everymbrm {
	background: #fff;
	width: 170px;
	overflow: hidden;
	/*border: 1px solid #eee;*/
	padding: 3px;
	transition: linear all 0.2s;
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
	  & a {
	      color:#fff;
      }
	}
.everymbrm .everymbrm {
	margin-top: -10px;
	}
.everymbrm:hover {
	box-shadow: 0px 0px 0px #28C8DF;
	transition: linear all 0.2s;
	color: #FFF;
	/*background: #5F95BE;*/
	}

.everymbrm:hover > a:link {
	color: #FFF!important;
}
.everymbrm h3{
	background: #DEDEDE;
	padding: 5px;
	text-align: center;
	font-size: 14px;
	display: block;
	height: 20px;
	position: relative;
	margin-top: 3px;
	}
	
.everymbrm img { width: 100%; }
.everymbrm .nameUser { height: 10px; }
.everymbrm .helptext {
	color: #FFF;
	font-weight: lighter;
	font-size: 14px;
	position: relative;
	display: block;
	}
.helptext { color: #ccc; font-weight: lighter; font-size: 12px; position: relative; display: block; }
.everymbrm .dstroytxt { width: 190px; background: #ccc; color: #fff!important; margin-left: -10px; padding: 0; text-align: center; margin-top: 20px; transition: linear all 0.2s; }
.everymbrm .dstroytxt:hover { background: red; transition: linear all 0.2s; }
.everymbrm .dstroytxt > a { color: #fff; display: block; height: 30px; position: relative; padding-top: 14px; }

.membersCurse {
	height: 200px;
	overflow: hidden;
	position: relative;
}

.hoverShowEdit {
	background: rgba(0,102,150,0.8);
	height: 150px;
	width: 170px;
	padding-top: 20px;
	display: inline-block;
	position: absolute;
	margin-top: -462px;
}

.dstroytxt { width: 190px; background: #ccc; color: #fff!important; margin-left: -10px; padding: 10px 0; text-align: center; margin-top: 20px; transition: linear all 0.2s; }
.dstroytxt:hover { background: red; transition: linear all 0.2s; }
.dstroytxt > a { color: #fff; }

/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ get Day Calendar ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */

#getDay { height: 35px; width: 100px; position: absolute; float: left; text-align: center;
float: right; display: inline-block; z-index: 1; margin-left: 754px; margin-top: 16px;
-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
#getDay .month { width: 75px; color: #4FA3E9; font-weight: lighter; }
#getDay .day { color: #4FA3E9!important; font-size: 20px; }

.calendarHome { background: #fff; padding: 12px 10px 1px 10px; width: 300px; border-right: 4px solid #83B81F; }
.calendarEvnt { background: #fff; padding: 12px 10px 1px 10px; width: 300px; border-right: 4px solid #F39C20; }

/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ ajax tareas ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */

.homeworkCalf { width: 300px; text-align: center; clear: both; }
input.nombreCrit { width: 230px; padding: 10px!important; }
.rate { 
	background: #00ADC4;
	color: #fff;
	font-size: 20px;
	padding: 27px 10px 19px 10px;
	display: inline-block;
	text-align: center;
	float: left;
	width: 434px;
	margin-top: -64px;
	vertical-align: middle;
 }
.rateTwo { 
	background: #006696;
	color: #fff;
	font-size: 20px;
	padding: 17px 10px 9px 10px;
	display: inline-block;
	text-align: center;
	float: left;
	width: 439px;
	vertical-align: middle;
	//margin-bottom: 15px;
 }
.QuestionAsk {
	color: #4c4646;
	background: #f0efef;
	font-size: 17px;
	text-align: center;
	//margin-top: 15px;
	display: block;
	//border-bottom: 1px solid #d9d9d9;
	width: 447px;
	padding: 13px 6px 10px 6px;
	//margin-bottom: 10px;
}
.AnswerAsk {
	color: #262222;
	font-size: 14px;
	text-align: left;
}
.resultsExams {
	//padding: 10px;
	width: 459px;
	height: 400px;
	display: block;
	font-family: arial;
	color: #000;
}
.responUser {
background: #ddd;
vertical-align: middle;
text-align: center;
padding: 0!important;
height: 117px;
//margin-bottom: 20px;
//margin-left: -10px;
width: 454px;
}

.helpText { 
	width: 414px;
	text-align: center;
	color: #333;
	display: block;
	padding: 8px 20px;
	height: 25px;
 }
.inputCalif {
	width: 230px;
	padding: 10px;
	margin-left: 23px;
}
.submitCalif {
	margin-left: 180px;
	position: relative;
	display: block;
}
.header_l { width: 400px; float: right; display: inline-block; }
.usermenuTitle { color: #333; font-size: 16px; margin-top: 18px; display: block; width: 454px; text-align: center; text-transform: uppercase; }
.userDescription { color: #969696; font-size: 14px; margin-top: 10px; display: block; }
.areaCrit { padding: 10px; width: 230px; }
.titleCrit { color: #969696; font-size: 14px; display: block; width: 270px; margin: 15px auto 4px auto; /*margin: 12px 0 5px;*/ }
.homeworkCalf .default-form select {
	width: 200px;
}

.light_box .deliveries_list {
	margin-left: -30px;
	margin-top: -19px;
	background: #f8f8f8;
	height: 450px;
}

.deliveries_list #titleDevSing {
	background: #f8f8f8!important;
	padding: 10px;
	width: 326px;
	display: block;
	margin-bottom: 0!important;
	border-bottom: 1px solid #f4f3f3;
	border-right: 3px solid #f8f8f8;
	}
.deliveries_list #titleDevSing:hover {
	background: #fff!important;
	padding: 10px;
	width: 326px;
	display: block;
	border-right: 3px solid #83B81F;
	}


#titleDevSing { background: #fff; padding: 10px; width: 200px; display: block; margin-bottom: 10px; border-right: 2px solid #83B81F; }

.friendBlock > .acceptFriend { transition: ease-out all 0.3s; }
.friendBlock:hover > .acceptFriend { margin-top: -44px; transition: ease-out all 0.3s; }

.friendBlock { width:150px; height:191px; display:block; border:1px solid #ccc; margin: 0 15px 10px 0; float: left; overflow: hidden; transition: ease-out all 0.3s; }
.friendHead { clear: both!important; color: #969696!important; font-family: HelvLight!important; font-size: 14px!important; margin-top: 10px!important; position: relative!important; display: block!important; line-height: 14pt!important; }
.friendPhoto { width: 150px; height: 150px; display: block; }
.friendName { clear: both!important; color: #969696!important; font-family: HelvLight!important; font-size: 14px!important; margin-top: 10px!important; position: relative!important; display: block!important; line-height: 14pt!important; text-align: center; width: 150px; height: 21px; }


.acceptFriend { color: #eee!important; display: block; position: relative; height: 44px; display: block; }
.acceptFriend > a { color: #fff!important; display: block; width: 126px; background: #00B1C7; text-align: center; height: 22px; padding-top: 6px; margin-top: 16px; margin-left: 12px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
.acceptFriend > a:hover { background: #0B6AAD; }

.profileLinks { position: absolute; float: right; display: block; margin-top: -45px; width: 887px; text-align: right; }

/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ notificacoines de alumnos pendientes ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */


.member_pending{
background: #FF0000; padding: 0px; color: #fff; text-align: center; display: block; float: right; position: relative; margin-top: -21px; font-size: 12px; font-weight: bold; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; cursor: pointer;
       
       & :hover {

       }
       
       & li{
           color:#fff;
           
       }
       
       & a {
           color:#fff;
           
       }
        
       
}

.member_pending:hover {
	background: #AA4643; display: block;
}

.accepted_not_pending{
       margin-left:10px;
       margin-top:5px;
       
}

/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ entregas ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */

.arco_course_deliver{
    width:700x;
    height:400px;
    margin:20px;
    
    
    & .content_delivery {
        width:440px;
        height:400px;
        float:left;
        //overflow:auto;
        overflow-y: scroll;
		overflow-x: hidden;
        background-color: #FFF;
    
    & .delivery_f {
        width: 436px;
        float: left;
        //overflow: auto;
        overflow-y: scroll; overflow-x: hidden;
        border-left: 4px solid #2683B3;
        border-bottom: 1px solid #e6e6e6;
        
           & .delivery_container {
               width: 431px;
               height: 80px;
               margin-bottom: 0px;
               /*border-bottom: 1px solid #E2E0E0;*/
               /* background: url(../assets/ir-a.png) right center no-repeat #FFF; */
               background: #FFF;
               transition: ease-out all 0.3s;
               /*box-shadow: inset -7px -2px 4px -4px #ccc;*/
               padding-left: 5px;
               padding-top: 5px;
               
               & .title{
                   /* background: #7E9157; */
                   width: 375px;
                   font-size:15px;
                   padding:8px 5px 5px 5px;
                   color: #444;
                   height: 37px;
                   font-weight: lighter;
                   overflow: hidden;
               }
               
               & .dates{
               	   width: 240px;
                   height: 10px;
                   overflow: hidden;
                   padding: 0px 5px 5px 5px;
                   font-align: justify;
                   color:#8d8d8d;
                   margin-top: -3px;
                   float: left;
               }
               
               & .state {
                   padding:5px;
                   font-align: justify;
                   color:#15B1B9;
                   width: 375px;
                   float: left;
                   
                    & .state-btn{
                        padding:4px;
                        background:#128617 !important;
                        width:70px;
                        color: #FFF;
                        float:left;
                        text-align:center;
                        margin-top:-8px;
                        -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
                    }
                    
                    & .state-btn:hover{
                        background:#EED12C !important;
                    }
                   
               }
               
               & .image{
                   float:right;
                   position: relative;
                   margin-top: -36px;
               }
           }
           
         
         
         }
    }
   
   
   & .delivery_container:hover {
	   /* cursor: pointer;
	   background: url(../assets/ir-a-two.png) right center no-repeat #fff!important;
	   background-repeat:no-repeat; 
	   transition: ease-out all 0.3s;
	   box-shadow: inset 0px 0px 0px transparent; */
   }
   
   & .delivery_container:selected, .delivery_container:selected {
       background: url(../assets/ir-a.png) right center no-repeat #eee;
       transition: ease-out all 0.3s;
       box-shadow: inset 0 -1px 0px 5px transparent;
   }
      
   & .so_open{
        width: 436px;
        height: 400px; /*height: auto; */
        overflow: auto;
        float: left;
        margin-left: -5px;
        
        & .assignment{
            width: 436px;
            height: 60px;
            background: #eee;
          
          & .title{
			height: 41px;
			overflow: hidden;
			color: #0f0f0f;
			background: transparent;
			font-size: 12px;
			padding: 10px;
			/*border-top:solid 1px #929292;
            border-bottom:solid 1px #929292;*/
              & b{
                  
              }
			
            }
            
          & .name{
              color:#fff;
              background:#42B9C1;
          }
          
          & .image{
			float: right;
			position: relative;
			display: inline-block;
			margin-top: -52px;
			margin-right: 8px;
          }
            
        }
        
    }
    
    & .tcg{
           color: #000;
           background: #F5F5F5;
           width:459px;
           height:400px;
           overflow-y: scroll;
           overflow-x: hidden;
           margin-left:-10px;
      	   display: inline-block;
      	   float: right;
       }
   & .content_survey {
              width:300px;
              height:400px;
              float:right;
              overflow:auto;
    & .survey_f {
		    width:290px;
            float:right;
            overflow:auto;
         
         
              & .survey_container{
                   width:285px;
                   height:100px;
                   margin-bottom:1px;
                   background: url(../assets/ir-a.png) right center no-repeat #eee;
                   transition: ease-out all 0.3s;
                   box-shadow: inset -7px -2px 4px -4px #ccc;
                   padding-left: 5px;
                   padding-top: 5px;

                   & .title{
                       /* background: #7E9157; */
                       font-size:16px;
                       padding:8px 5px 5px 5px;
                       color: #333;
                       font-weight: bold;
                   }

                   & .dates{
                   	   width: 240px;
                       height: 10px;
                       overflow: hidden;
                       padding:5px;
                       font-align: justify;
                       color:#ccc;

                   }

                   & .state {
                       padding:5px;
                       font-align: justify;
                       color:#15B1B9;  
                       
                        & .state-btn{
                            padding:4px;
                            background:#EBDDB1 !important;
                            width:70px;   
                            float:left;
                            text-align:center;
                            margin-top:-8px;
                        }

                        & .state-btn:hover{
                            background:#EED12C !important;
                        }
                       
                        
                   }

                   & .image{
                       float:right;
                       position: relative;
                       margin-top: -36px;
                   }
               }


     }
     
     & .content_survey:hover {
   	   cursor: pointer;
   	   background: url(../assets/ir-a-two.png) right center no-repeat #fff!important;
   	   background-repeat:no-repeat;
   	   transition: ease-out all 0.3s;
   	   box-shadow: inset 0px 0px 0px transparent;
      }

      & .content_survey:selected, .delivery_container:selected {
          background: url(../assets/ir-a.png) right center no-repeat #eee;
          transition: ease-out all 0.3s;
          box-shadow: inset 0 -1px 0px 5px transparent;
      }
            
        
    }
    
    
    
    & h1 {
		color: #333;
		font-size: 18px;
		height: 19px;
		width: 169px;
		border-top: 4px solid #2683B3;
		padding: 14px 12px 10px 19px;
		background: rgba(255,255,255,1);
		transition: ease-out all 0.3s;		
        
        & .survey_container{
             
        }
    }
}

.calificacionesSpan {
		
}

.containText {
			color: #333;
}

.delivery_f {
        width: 436px;
        float: right;
        overflow: auto;
        }
       
.survey_fTwo {
		width: 440px!important;
		float: left;
		overflow: auto;
		
		 & .state-btn{
                padding:4px;
                background:#EBDDB1 !important;
                width:70px;   
                float:left;
                text-align:center;
                margin-top:-8px;
            }

            & .state-btn:hover{
                background:#EED12C !important;
            }
        
} 

.imageExam { 
		color: #0f0f0f;
		background: #e1e1e1;
		height: 45px;
		padding: 10px;
		font-size:15px;
		text-align:center;
		border-top: solid 1px #929292;
        border-bottom: solid 1px #929292;
		 & b{
                color:#013B43 !important;
            }
		
		& img {
			float: right;
		}
		
 }


.delivery_container {
               width: 437px;
               height: 80px;
               margin-bottom: 0px;
               /*border-bottom: 1px solid #E2E0E0;*/
               background: url(../assets/ir-a.png) right center no-repeat #eee;
               transition: ease-out all 0.3s;
               /*box-shadow: inset -7px -2px 4px -4px #ccc;*/
               padding-left: 13px;
               padding-top: 5px;
               
               & .title{
                   /* background: #7E9157; */
                   font-size:16px;
                   padding:8px 5px 5px 5px;
                   color: #333;
                   height: 40px;
                   font-weight: bold;
                   overflow: hidden;
               }
               
               & .dates{
               	   width: 240px;
                   height: 10px;
                   overflow: hidden;
                   padding:5px;
                   font-align: justify;
                   color:#4FA3E9;
                   float: left;
               }
               
               & .state {
                   padding:5px;
                   font-align: justify;
                   color:#15B1B9;  
               }
               
               & .image{
                   float:right;
                   position: relative;
                   margin-top: -36px;
               }
          }
          
.activities_depot{
         width:390px;
         min-height:65px;
         max-height: 200px;
         background-color:#f7f7f7;
         margin-top:-13px;
         border-bottom:solid #ccc 1px;
         text-align:justify;
         display: block;
         padding: 13px 5px;
         
         & .title{
         	 width: 320px;
         	 overflow-y: hidden;
             font-size: 16px;
             color: #293433;
             float: left;
             margin-top: 3px;
             margin-left: 60px;
             height: 20px;
         }
         & .titleNoTwo{
         	 width: 320px;
             font-size: 16px;
             color: #293433;
             float: left;
             margin-top: 3px;
             margin-left: 60px;
             display: block;
         }
         
         & .reference{
              width: 310px;
              font-size:12px;
              color:#293433;
              float:left;
              position:absolute;
              margin-top:30px;
              margin-left: 60px;
              line-height: 15px;
              height: 30px;
              overflow-y: hidden;
         }
         
         & .referenceNoTwo{
			  width: 310px;
              font-size:12px;
              color:#293433;
              float:left;
              position:absolute;
              margin-top:10px;
              margin-left:60px;
              height: 145px;
              overflow: scroll;
              line-height: 15px;
              position: relative;
			  display: block;
         }
}

.reference img {
	position: relative;
	float: right;
}

.activities_depot:hover {
	background: #e6e6e6;
	cursor: pointer;
}

 .activities_depot_select{
     background:#5F95BE;
     color:#fff;
     height:40px;
     font-size: 15px;     
 }
 
.classContTitle {
	width: 960px;
}

.classContTitle h2 {
	font-size: 15px;
	font-weight: lighter;
	color: #555;
	text-align: center;
	float: left;
	height: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 12px;
	background: #F2F2F2;
	width: 378px;
	padding: 11px;
	display: block;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}
 
 .membFilter {
	 float: right;
	 padding-top: 7px;
	 padding-right: 7px
 }
.dropperDwn {
	-webkit-appearance: none;
	//border: 1px solid #ccc;
	//background: url(/assets/icons/select-mini.png) #fff no-repeat center right;
	-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;
	padding: 5px;
	color: #B3B3B3;
	font-weight: lighter;
	width: 250px;
	font-size: 14px;
	/*padding-left: 20px;
	margin-top: -1px;
	margin-left: -20px;*/
}
 .expoced{
     position:relative;
     float:left;
     width:517px;
     overflow:auto;
     background: #F7F7F7;
     margin-left:21px;
     
 }
 .user_assets{
     width:475px;
     padding: 25px 20px;
     border-bottom: 1px solid #ccc;
     border-top: 1px solid #fff;
     overflow: hidden;
 }
  .user_assets:hover {
	  background: #E6E6E6;
  }
 
 .depot_button{
     background:#F2F2F2;
     color:#2E2E2E;
     font-size:10px;
     float:right;
     position:relative;
     margin-top:20px;
     margin-right:15px;
     margin-bottom:-44px;
     padding:5px;
     opacity:1;
     cursor: pointer;
	
     filter:alpha(opacity=60); 
      & a{
             color:#2E2E2E;
         }
     
        &:hover {
            background:#eee;
            opacity:0.9;
            filter:alpha(opacity=90); /* For IE8 and earlier */
        }
        
        &:active{
            background:#2E2E2E; 
            color:#fff;
            opacity:0.6;
            filter:alpha(opacity=60); /* For IE8 and earlier */
            
            & a{
                color:#fff;
            }
            
            
        }
        
        
 }
 
#OpenClose {
	width: 45px;
	height: 85px;
	display: inline-block;
	background: #FFF;
	margin-top: -5px;
	cursor: pointer;
	float: right;
	z-index: 999;
	transition: 0.2s;
	background: url(right_arrow.png) no-repeat center center;
 }
 #OpenClose:hover {
	 transition: 0.2s;
	 background: #EAEAEA url(right_arrow.png) no-repeat center center;
 }
 
 
// area de evaluaciones

.stripe {
	background: #e7e6e6;
	border: 1px solid #d3d2d2;
	padding: 10px 14px;
	color: #5b5b5b;
	
	& p {
		margin-top: 0px!important;
	}
}

.string {
	background: #ececec;
	border: 1px solid #d3d2d2;
	padding: 10px 14px;
	color: #5b5b5b;

	& p {
		margin-top: 0px!important;
	}
}
td {
	color: #5b5b5b;
	// border: 1px solid #d3d2d2;
}

.activate {
	color: #333;
	background: rgba(255,255,255,1);
	transition: ease-out all 0.3s;
	cursor: pointer;
	border-top: 1px solid #2683B3;
	/*
	font-size: 18px;
	height: 19px;
	width: 169px;
	padding: 14px 12px 10px 19px;
	display: inline-block;
	position: relative;
	*/
}
.deactive {
	background: rgba(226, 224, 224, 0.6);
	transition: ease-out all 0.3s;
	/*
	font-size: 18px;
	height: 23px;
	width: 209px;
	padding: 14px 12px 10px 19px;
	margin-top: -47px;
	position: absolute;
	display: block;
	margin-right: 188px;
	float: right;
	margin-left: 200px;
	*/
    }
	
.deactive:hover {
	background: #000;
	cursor: pointer;
	background: rgba(238,238,238,1);
	padding-top: 4px;
	transition: ease-out all 0.3s;
	box-shadow: inset -7px -8px 12px -5px #ccc;
	}
	
#tab-2 .coklo-title {
	overflow: hidden!important;
}

.aSSigmentHW {
	 padding: 10px 10px;
	 background: #F5F5F5;
}
.aSSigmentHW:hover {
	background: #FFF;
}

.light_box .locklok {
	width: 610px;
	height: 451px;
	overflow: auto;
	padding-left: 0px;
	margin-left: 320px;
	margin-top: -20px;
	position: absolute;
	display: block;
	float: right;
}

.light_box .locklok .cogki_content_delivery ul.tabs {
	width: 610px;
}

.light_box .locklok .cogki_content_delivery ul.tabs li {
	width: 275px;
}

.light_box .locklok .cogki_content_delivery #tab-1 .coklo-title, .light_box .locklok .cogki_content_delivery #tab-2 .coklo-title {
	width: 610px;
}
.light_box .locklok .cogki_content_delivery #tab-1 .coklo-title h1, .light_box .locklok .cogki_content_delivery #tab-2 .coklo-title h1 {
	width: 570px;
	padding-bottom: 17px;
	padding-left: 20px;
	padding-right: 20px;
}
.light_box .locklok .cogki_content_delivery #tab-1 .coklo-title .cont, .light_box .locklok .cogki_content_delivery #tab-2 .coklo-title .cont {
	width: 580px;
}

.light_box .locklok .cogki_content_delivery .tab-content.current {
	min-height: 435px;
}

.locklokDel form {
	width: 535px;
	margin: 30px auto 10px;
	min-height: 220px;
}

.locklokDel #delivery_description {
	width: 523px;
}

.CloseWinWd {
	width: 26px;
	height: 26px;
	padding: 1px;
	color: #fff;
	text-align: center;
	font-size: 20px;
	margin-top: -60px;
	z-index: 999;
	position: relative;
	display: inline-block;
	background: #006696;
	float: right;
	cursor: pointer;
	}

.CloseWinWd:hover {
	background: #013E5A;
}	

#ExamsDelivery .delivery_container .dates{
	width: 240px;
   height: 10px;
   overflow: hidden;
   padding: 0px 5px 5px 5px;
   font-align: justify;
   color:#8d8d8d;
   margin-top: -3px;
   float: left;
}
	
.state {
   padding:5px;
   font-align: justify;
   color:#15B1B9;
   width: 390px;
   float: left;
   
    & .state-btn{
        padding:4px;
        background:#128617 !important;
        width:70px;
        color: #FFF;
        float:left;
        text-align:center;
        margin-top:-8px;
        -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    }
    
    & .state-btn:hover{
        background:#EED12C !important;
    }
   
}

.delivery_f {
        width: 436px;
        float: left;
        overflow: auto;
        border-left: 4px solid #2683B3;
        border-bottom: 1px solid #e6e6e6;
        
           & .delivery_container {
               width: 431px;
               height: 80px;
               margin-bottom: 0px;
               /*border-bottom: 1px solid #E2E0E0;*/
               /* background: url(../assets/ir-a.png) right center no-repeat #FFF; */
               background: #FFF;
               transition: ease-out all 0.3s;
               /*box-shadow: inset -7px -2px 4px -4px #ccc;*/
               padding-left: 5px;
               padding-top: 5px;
               
               & .title{
                   /* background: #7E9157; */
                   width: 375px;
                   font-size:15px;
                   padding:8px 5px 5px 5px;
                   color: #444;
                   height: 37px;
                   font-weight: lighter;
                   overflow: hidden;
               }
               
               & .dates{
               	   width: 240px;
                   height: 10px;
                   overflow: hidden;
                   padding: 0px 5px 5px 5px;
                   font-align: justify;
                   color:#8d8d8d;
                   margin-top: -3px;
                   float: left;
               }
               
               & .state {
                   padding:5px;
                   font-align: justify;
                   color:#15B1B9;
                   width: 375px;
                   float: left;
                   
                    & .state-btn{
                        padding:4px;
                        background:#128617 !important;
                        width:70px;
                        color: #FFF;
                        float:left;
                        text-align:center;
                        margin-top:-8px;
                        -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
                    }
                    
                    & .state-btn:hover{
                        background:#EED12C !important;
                    }
                   
               }
               
               & .image{
                   float:right;
                   position: relative;
                   margin-top: -36px;
               }
           }
         }

.arco_course_deliver .so_open_C2 {
	height: 400px;
	overflow: auto;
	float: left;
	margin-left: 0px;	
}

	.so_open_C2{
        width: 436px;
        height: 400px; /*height: auto; */
        overflow: auto;
        float: left;
        margin-left: -5px;
        
        & .assignment{
            width: 436px;
            height: 60px;
            background: #eee;
          
          & .title{
			height: 41px;
			overflow: hidden;
			color: #0f0f0f;
			background: transparent;
			font-size: 12px;
			padding: 10px;
			/*border-top:solid 1px #929292;
            border-bottom:solid 1px #929292;*/
              & b{
                  
              }
			
            }
            
          & .name{
              color:#fff;
              background:#42B9C1;
          }
          
          & .image{
			float: right;
			position: relative;
			display: inline-block;
			margin-top: -52px;
			margin-right: 8px;
          }
            
        }
        
     }

.resultsExams .responUser {
	background: #EEEEEE;
	height: 40px;
	clear: both;
	padding-top: 11px!important;
}
.resultsExams table {
	width: 459px;
}

.UpdateBox {
	clear: both;
}
.UpdateRight {
	width: 190px;
	float: right;	
}
.UpdateLeft {
	width: 190px;
	float: left;
}

.UpdateSubmit > .default-form input[type=submit] {
	min-width: 146px!important;
}

.UpdateLeft p, .UpdateRight p {
	clear: both;
	position: relative;
	display: table;
	height: 22px;
	width: 183px;
	margin: 0;
	padding-top: 10px;
}

.RedBallon {
	min-width: 14px;
	float: right;
	position: relative;
	margin-top: -25px;
	background: #00B4C4;
	color: #FFF;
	border-radius: 50%;
	padding: 3px;
	text-align: center;
}

.UploadArchiveBtn{
	width: 217px;
	position:realtive;
	display:block;
	margin: 5px auto;
	text-align:center;
	padding: 20px 0 10px 0;
	background: #FFF;
	border: 1px dotted #00B4C4;
	color: #00B4C4;
	height: 30px;
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}

.UploadArchiveBtn:hover{
	background: #006696!important;
	color: #FFF!important;
}

.fixedForm > .form-course {
	background: rgba(252, 252, 252, 0);
}

.form-course > tr:nth-child(even) {
  background-color: #FFF!important;
  height: 32px;
  border-top: 1px solid #EEE;
}
.form-course > tr:nth-child(odd) {
  background-color: #f7f6f6!important;
  height: 40px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.form-course > tr:nth-child(odd) > td {
	padding-top: 12px;
	padding-bottom: 10px;
	border-right: 1px solid #ccc;
	text-align: center;
}
