@import "vars";

.course{
  float: left;
  height: 250px;
  width: 200px;
  margin: 10px 4px;
  border: $border-box;
  @include border-radius;
  float: left;
  background: #f3f3f3;
  //@include shadow-float-box;
  & h2{
    font-size:24px;
    float: left;
    margin: 10px 0 5px 0px;
    color: #444444;
    font-family: HelvLight;
  }
  & .thumbnail{
   width: 200px; overflow: hidden; vertical-align: middle;
 }
}

.hidden-text{  
    	white-space: nowrap;
    	width: 79%;
    	overflow: hidden;
        text-overflow: ellipsis;
       
}

h4{
  font-size:14px;
}
h3{
  font-size:18px;  
}
.al{
   font-size:18px;  
   background:none;
   border:none;
 
}
.course-banner-profile{
     background-image: url("/assets/bannerprofile.png");
}

.course li {
	padding-left: 20px;
	list-style: none;
	margin: 5px;
	color: #444444;
}

#crud{
	position: relative;
	top: 0px;
	float: right;
	opacity: 0.5;
	text-align: right;
	margin: -130px 10px 0 0; 
}

#course-title{
	width: 188px;
    font-size:14px;
    float: left;
    margin: 10px 6px;
    color: #444444;
    font-family: helvetica;
    text-align: center;
    font-weight: bold;
}

#course-info{
	 padding: 10px;
	 font-size: 12px !important;	
}

#courses-list {
	width: 846px;
	margin: auto;
	}
	
.courses-title-h2{
	font-size: 30px;
	font-family: helvetica;
	font-weight: bold;
	float: left;
	width: 260px;
}

.serch-courses{
	width: 300px;
	margin: 4px 0 0 0;
	float: left;
}

.serch-courses input{
	width: 200px;
	font-size: 14px; 
	line-height: 16px;
	font-family: HelvLight;
}

.new-course {
	float: right;
	margin: 6px 0 0 0;

}

#header-courses{
	width: 780px;
	margin: auto;
	padding: 15px;
}

.list_alt_box{
	width: 226px!important;
	background: #fff;
    float: left;
    padding: 7px 15px 8px 7px;
   	margin-right: 7px!important;
   	margin-left: 0px!important;
    border-right: solid #4FA3E9 4px;
    /*border-left: solid #eee 2px;*/ border-left: 0!important;
    margin-bottom: 6px;
    overflow:auto;
    transition: all linear 0.3s;
}

.list_alt_box:hover { transition: all linear 0.3s; }

.course_status { background: #83B81F; color: #fff!important; cursor: pointer; padding: 2px 8px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.course_status:hover { background: #F39C20; }
.course_status > a { color: #fff!important; }
.status { margin-top: 18px; float: right; }

.top-header-delivery-box ul li span { color: #B3B3B3; }
.top-header-delivery-box ul li span:hover { color: #4FA3E9; }

#full-deliveries-area > a { position: absolute; float: right; display: none; margin-top: 16px; }

.list_alt_box .header { font-family: Arial; font-weight: lighter; margin-left: 7px; color: #ddd;  }
.list_alt_box .header .status > a:hover { color: #39D4E2; }

.list_alt_box .headerOne { font-family: Arial; font-weight: lighter; margin-left: 3px; color: #000; }
.list_alt_box .headerOne .status > a:headerOne { color: #39D4E2; }

.top-header-delivery-box ul li .green-circle-mini, .top-header-delivery-box ul li .orange-circle-mini { margin: 6px 0px 0px 6px!important; color: #1a1a1a!important; display: block; width: 130px!important; }
.top-header-delivery-box ul li { margin: 2px 0px 5px 0px !important; width: 130px!important; }

.survey_list{
    margin-top:10px;
    float:left;
    width:400px;
    height:400px;
    overflow:auto;
}
.deliveries_list{
    margin-top:10px;
    float:left;
    width:350px;
    height:350px;
    overflow:auto;
    
}

#notice { position: absolute; color: #608847; font-size: 14px; padding: 0px; margin: 0 auto; text-align: center; font-weight: bold; z-index: 9999; background: #DFF0D8; border: 0px solid #608847; width: 0px; display: inline; height: 0px; }

#wrong {
	
}

.title_dxv{
    margin-left:20px;
    height:100%;
    width:907px;
    overflow:auto;
    & h1 {
           font-size:20px;
         }
}
.locklok{
    float:left;
    width:480px;
    height:400px;
    overflow:auto;
}
.high_tent{
     width:800px;
     height:450px;
}

/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ course form ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */

#configuration h1 { margin: 17px auto 0 !important; position: relative!important; display: block!important; width: 797px; color: #fff!important; padding: 20px 10px 10px 17px; background: rgba(252,252,252,0.2) url(../assets/tool.png) no-repeat center right; }
#configurationing h1 { margin: 17px auto 0 !important; position: relative!important; display: block!important; width: 797px; color: #fff!important; padding: 16px 10px 13px 17px!important; background: rgba(252,252,252,0.2) url(../assets/) no-repeat center right; font-size: 20px; }
.fixform { margin-bottom: 20px!important; }

.fixform h4 {
	color: #333;
	font-size: 17px;
}

.califHeader { background: #00ADC4; width: 764px; padding: 20px 30px; text-align: center; height: 16px; margin-left: -20px; margin-top: -34px; font-size: 20px; text-transform: uppercase; display: inline-block; position: absolute; }
.form-course { display: table; position: relative; width: 784px; border-top: 0px solid #ccc; margin: 0 auto; padding: 20px; background: rgba(252, 252, 252, 0.9); height: 346px; overflow: scroll; }
.form-course input:focus { border: 1px solid #6AB2BF!important; }
.form-course p { clear: both; color: #969696; font-family: HelvLight; font-size: 14px; margin-top: 10px; position: relative; display: block; line-height: 14pt!important; }
.form-course input[type="file"] { background: transparent; }
.form-course .upload { display: none; }
#uploadthingie { position: relative; }
#uploadthingie input { position: absolute; }
div#dummy { position: relative; width: 116px; padding: 9px 20px 3px 17px; height: 18px; /*background: #08B5CE;*/ background: rgba(252,252,252,1); font-family: arial; cursor: pointer; color: #969696; text-align: center; display: block; margin-top: 3px; border: 1px solid #c9d1da; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
div#dummy:hover { background: #08B5CE; color: #fff; }
.input-style { margin-bottom: 17px!important; width: 367px; }
.date-input { width: 145px }
.custom-size-form { margin-bottom: 17px!important; width: 145px; }
.slct-style input { background: #00B1C7; color: #fff; padding: 10px 20px; margin-bottom: 17px!important; }
.act-crs { margin-top: 26px!important; }

/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ edit course ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
#nsdmenu { margin: 17px auto 0 !important; position: relative!important; display: block!important; width: 790px; padding: 20px 10px 10px 17px; }
#nsdmenu h1 { color: #969696!important; font-size: 16px; }
#nsdmenu .reload { float: right; display: inline; position: relative; margin-top: -17px; }
.reload li { display: inline-table; height: 17px; vertical-align: middle; }

/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ edit members ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */

.cmembers { width: 809px; margin: 0 auto; }
.pndts { margin-top: -25px; float: right; }
.everymbrm { background: #fff; width: 170px; border: 1px solid #eee; box-shadow: 1px 2px 1px #ccc; padding: 10px 10px 10px 10px; transition: linear all 0.2s; float: left; margin-right: 10px; margin-bottom: 20px; }
.everymbrm .everymbrm { margin-top: -10px; }
.everymbrm:hover { box-shadow: 0px 0px 5px #28C8DF; transition: linear all 0.2s; }
.everymbrm h3 { text-align: center; font-size: 14px; display: block; height: 20px; position: relative; margin-top: 17px; }
.everymbrm img { width: 100%; }
.everymbrm .nameUser { height: 10px; }
.everymbrm .helptext { color: #ccc; font-weight: lighter; font-size: 12px; position: relative; display: block; }
.helptext { color: #ccc; font-weight: lighter; font-size: 12px; position: relative; display: block; }
.everymbrm .dstroytxt { width: 190px; background: #ccc; color: #fff!important; margin-left: -10px; padding: 0; text-align: center; margin-top: 20px; transition: linear all 0.2s; }
.everymbrm .dstroytxt:hover { background: red; transition: linear all 0.2s; }
.everymbrm .dstroytxt > a { color: #fff; display: block; height: 30px; position: relative; padding-top: 14px; }

.dstroytxt { width: 190px; background: #ccc; color: #fff!important; margin-left: -10px; padding: 10px 0; text-align: center; margin-top: 20px; transition: linear all 0.2s; }
.dstroytxt:hover { background: red; transition: linear all 0.2s; }
.dstroytxt > a { color: #fff; }

/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ get Day Calendar ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */

#getDay { height: 35px; width: 100px; position: absolute; float: left; text-align: center;
float: right; display: inline-block; z-index: 1; margin-left: 754px; margin-top: 16px;
-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
#getDay .month { width: 75px; color: #4FA3E9; font-weight: lighter; }
#getDay .day { color: #4FA3E9!important; font-size: 20px; }

.calendarHome { background: #fff; padding: 12px 10px 1px 10px; width: 300px; border-right: 4px solid #83B81F; }
.calendarEvnt { background: #fff; padding: 12px 10px 1px 10px; width: 300px; border-right: 4px solid #F39C20; }

/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ ajax tareas ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */

.homeworkCalf { width: 300px; text-align: center; clear: both; }
input.nombreCrit { width: 230px; padding: 10px!important; }
.rate { 
	background: #00ADC4;
	color: #fff;
	font-size: 20px;
	padding: 27px 10px 19px 10px;
	display: inline-block;
	text-align: center;
	float: left;
	width: 434px;
	margin-top: -64px;
	vertical-align: middle;
 }
.rateTwo { 
	background: #00ADC4;
	color: #fff;
	font-size: 20px;
	padding: 27px 10px 19px 10px;
	display: inline-block;
	text-align: center;
	float: left;
	width: 434px;
	vertical-align: middle;
	margin-bottom: 15px;
 }
.QuestionAsk {
	color: #4c4646;
	font-size: 17px;
	text-align: left;
	margin-top: 15px;
	display: block;
	border-bottom: 1px solid #d9d9d9;
	width: 422px;
	padding: 11px 6px 6px 6px;
	margin-bottom: 10px;
}
.AnswerAsk {
	color: #262222;
	font-size: 14px;
	text-align: left;
}
.resultsExams {
	padding: 10px;
	width: 433px;
	height: 400px;
	display: block;
	font-family: arial;
	color: #000;
}
.responUser {
background: #ddd;
vertical-align: middle;
text-align: center;
padding: 0!important;
height: 117px;
margin-bottom: 20px;
margin-left: -10px;
width: 454px;
}

.helpText { 
	width: 414px;
	text-align: center;
	color: #333;
	display: block;
	padding: 8px 20px;
	height: 25px;
 }
.inputCalif {
	width: 230px;
	padding: 10px;
	margin-left: 23px;
}
.submitCalif {
	margin-left: 180px;
	position: relative;
	display: block;
}
.header_l { width: 400px; float: right; display: inline-block; }
.usermenuTitle { color: #333; font-size: 16px; margin-top: 18px; display: block; width: 454px; text-align: center; text-transform: uppercase; }
.userDescription { color: #969696; font-size: 14px; margin-top: 10px; display: block; }
.areaCrit { padding: 10px; width: 230px; }
.titleCrit { color: #969696; font-size: 14px; display: block; width: 270px; margin: 15px auto 4px auto; /*margin: 12px 0 5px;*/ }
.homeworkCalf .default-form select {
	width: 200px;
}
#titleDevSing { background: #fff; padding: 10px; width: 200px; display: block; margin-bottom: 10px; border-right: 2px solid #83B81F; }

.friendBlock > .acceptFriend { transition: ease-out all 0.3s; }
.friendBlock:hover > .acceptFriend { margin-top: -44px; transition: ease-out all 0.3s; }

.friendBlock { width:150px; height:191px; display:block; border:1px solid #ccc; margin: 0 15px 10px 0; float: left; overflow: hidden; transition: ease-out all 0.3s; }
.friendHead { clear: both!important; color: #969696!important; font-family: HelvLight!important; font-size: 14px!important; margin-top: 10px!important; position: relative!important; display: block!important; line-height: 14pt!important; }
.friendPhoto { width: 150px; height: 150px; display: block; }
.friendName { clear: both!important; color: #969696!important; font-family: HelvLight!important; font-size: 14px!important; margin-top: 10px!important; position: relative!important; display: block!important; line-height: 14pt!important; text-align: center; width: 150px; height: 21px; }


.acceptFriend { color: #eee!important; display: block; position: relative; height: 44px; display: block; }
.acceptFriend > a { color: #fff!important; display: block; width: 126px; background: #00B1C7; text-align: center; height: 22px; padding-top: 6px; margin-top: 16px; margin-left: 12px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
.acceptFriend > a:hover { background: #0B6AAD; }

.profileLinks { position: absolute; float: right; display: block; margin-top: -45px; width: 887px; text-align: right; }

/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ notificacoines de alumnos pendientes ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */


.member_pending{
background: #FF0000; padding: 0px; color: #fff; text-align: center; display: block; float: right; position: relative; margin-top: -21px; font-size: 12px; font-weight: bold; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; cursor: pointer;
       
       & :hover {

       }
       
       & li{
           color:#fff;
           
       }
       
       & a {
           color:#fff;
           
       }
        
       
}

.member_pending:hover {
	background: #AA4643; display: block;
}

.accepted_not_pending{
       margin-left:10px;
       margin-top:5px;
       
}

/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ entregas ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */
/* ⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵⌵ */

.arco_course_deliver{
    width:700x;
    height:400px;
    margin:20px;
    
    
    & .content_delivery {
        width:450px;
        height:400px;
        float:left;
        overflow:auto;
        background-color: #eee;
    
    & .delivery_f {
        width: 450px;
        float: left;
        overflow: auto;
        
           & .delivery_container {
               width: 437px;
               height: 80px;
               margin-bottom: 0px;
               border-bottom: 1px solid #E2E0E0;
               background: url(../assets/ir-a.png) right center no-repeat #eee;
               transition: ease-out all 0.3s;
               box-shadow: inset -7px -2px 4px -4px #ccc;
               padding-left: 5px;
               padding-top: 5px;
               
               & .title{
                   /* background: #7E9157; */
                   font-size:16px;
                   padding:8px 5px 5px 5px;
                   color: #333;
                   height: 40px;
                   font-weight: bold;
                   overflow: hidden;
               }
               
               & .dates{
               	   width: 240px;
                   height: 10px;
                   overflow: hidden;
                   padding:5px;
                   font-align: justify;
                   color:#4FA3E9;
                   float: left;
               }
               
               & .state {
                   padding:5px;
                   font-align: justify;
                   color:#15B1B9;  
               }
               
               & .image{
                   float:right;
                   position: relative;
                   margin-top: -36px;
               }
           }
           
         
         
         }
    }
    
   & .delivery_container:hover {
	   cursor: pointer;
	   background: url(../assets/ir-a-two.png) right center no-repeat #fff!important;
	   background-repeat:no-repeat;
	   transition: ease-out all 0.3s;
	   box-shadow: inset 0px 0px 0px transparent;
   }
   
   & .delivery_container:selected, .delivery_container:selected {
       background: url(../assets/ir-a.png) right center no-repeat #eee;
       transition: ease-out all 0.3s;
       box-shadow: inset 0 -1px 0px 5px transparent;
   }
      
   & .so_open{
        width: 445px;
        height: 400px; /*height: auto; */
        overflow: auto;
        float: left;
        
        & .assignment{
            width: 440px;
            height: 50px;
            background: #00BFCD;
          
          & .title{
			height: 41px;
			overflow: hidden;
			color: #fff;
			background: #037E87;
			font-size: 14px;
			padding: 10px;
            }
            
          & .name{
              color:#fff;
              background:#42B9C1;
          }
          
          & .image{
			float: right;
			position: relative;
			display: inline-block;
			margin-top: -52px;
			margin-right: 8px;
             }
            
        }
        
    }
    
    & .tcg{
           color: #fff;
           background:#eaeaea;
           width:454px;
           height:400px;
           overflow: scroll;
           margin-left:-10px;
      	   display: inline-block;
      	   float: right;
       }
   & .content_survey {
              width:300px;
              height:400px;
              float:right;
              overflow:auto;
    & .survey_f {
		    width:290px;
            float:right;
            overflow:auto;
         
         
              & .survey_container{
                   width:285px;
                   height:100px;
                   margin-bottom:1px;
                   background: url(../assets/ir-a.png) right center no-repeat #eee;
                   transition: ease-out all 0.3s;
                   box-shadow: inset -7px -2px 4px -4px #ccc;
                   padding-left: 5px;
                   padding-top: 5px;

                   & .title{
                       /* background: #7E9157; */
                       font-size:16px;
                       padding:8px 5px 5px 5px;
                       color: #333;
                       font-weight: bold;
                   }

                   & .dates{
                   	   width: 240px;
                       height: 10px;
                       overflow: hidden;
                       padding:5px;
                       font-align: justify;
                       color:#4FA3E9;

                   }

                   & .state {
                       padding:5px;
                       font-align: justify;
                       color:#15B1B9;  
                   }

                   & .image{
                       float:right;
                       position: relative;
                       margin-top: -36px;
                   }
               }


     }
     
     & .content_survey:hover {
   	   cursor: pointer;
   	   background: url(../assets/ir-a-two.png) right center no-repeat #fff!important;
   	   background-repeat:no-repeat;
   	   transition: ease-out all 0.3s;
   	   box-shadow: inset 0px 0px 0px transparent;
      }

      & .content_survey:selected, .delivery_container:selected {
          background: url(../assets/ir-a.png) right center no-repeat #eee;
          transition: ease-out all 0.3s;
          box-shadow: inset 0 -1px 0px 5px transparent;
      }
            
        
    }
    
    
    
    & h1 {
		color: #333;
		font-size: 18px;
		height: 23px;
		width: 64px;
		padding: 14px 12px 10px 19px;
		background: rgba(238,238,238,1);
		transition: ease-out all 0.3s;		
        
        & .survey_container{
             
        }
    }
    
    & .deactive {
		color: #333;
		font-size: 18px;
		height: 23px;
		background: rgba(226,224,224,0.6);
		width: 89px;
		padding: 14px 12px 10px 19px;
		margin-top: -47px;
		position: relative;
		display: block;
		margin-left: 96px;
		transition: ease-out all 0.3s;
		float: left;
		margin-right: 188px;
    }
	
	& .deactive:hover {
		background: #000;
		cursor: pointer;
		background: rgba(238,238,238,1);
		transition: ease-out all 0.3s;
		box-shadow: inset -7px -8px 12px -5px #ccc;
	}
}

.calificacionesSpan {
		
}

.containText {
			color: #333;
}

.delivery_f {
        width: 450px;
        float: right;
        overflow: auto;
        }
       
.survey_fTwo {
		width: 440px!important;
		float: left;
		overflow: auto;
} 

.imageExam { 
		background: #037E87;
		color: #fff;
		height: 45px;
		padding: 10px;
		
		& img {
			float: right;
		}
		
 }

.delivery_container {
               width: 437px;
               height: 80px;
               margin-bottom: 0px;
               border-bottom: 1px solid #E2E0E0;
               background: url(../assets/ir-a.png) right center no-repeat #eee;
               transition: ease-out all 0.3s;
               box-shadow: inset -7px -2px 4px -4px #ccc;
               padding-left: 13px;
               padding-top: 5px;
               
               & .title{
                   /* background: #7E9157; */
                   font-size:16px;
                   padding:8px 5px 5px 5px;
                   color: #333;
                   height: 40px;
                   font-weight: bold;
                   overflow: hidden;
               }
               
               & .dates{
               	   width: 240px;
                   height: 10px;
                   overflow: hidden;
                   padding:5px;
                   font-align: justify;
                   color:#4FA3E9;
                   float: left;
               }
               
               & .state {
                   padding:5px;
                   font-align: justify;
                   color:#15B1B9;  
               }
               
               & .image{
                   float:right;
                   position: relative;
                   margin-top: -36px;
               }
          }
          
.activities_depot{
         width:400px;
         min-height:65px;
         max-height: 200px;
         background-color:#f7f7f7;
         margin-top:-13px;
         border-bottom:solid #ccc 1px;
         text-align:justify;
         display: block;
         height:150px;
         & .title{
             font-size:16px;
             color:#293433;
             float:left;
             margin-top:3px;
             margin-left:5px;
             height:20px;
         }
         & .reference{
              font-size:12px;
              color:#293433;
              float:left;
              position:absolute;
              margin-top:30px;
              margin-left:50px;
              width: 345px;
              line-height: 15px;
         }
}

.reference img {
	position: relative;
	float: right;
}

.activities_depot:hover {
	background: #e6e6e6;
}

 .activities_depot_select{
     background:#5F95BE;
     color:#fff;
     height:40px;
     font-size: 15px;     
 }
 
.classContTitle {
	width: 960px;
}

.classContTitle h2 {
	font-size: 15px;
	font-weight: lighter;
	color: #555;
	text-align: center;
	float: left;
	height: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 12px;
	background: #F2F2F2;
	width: 378px;
	padding: 11px;
	display: block;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}
 
 .membFilter {
	 float: right;
	 padding-top: 7px;
	 padding-right: 7px
 }
.dropperDwn {
	-webkit-appearance: none;
	//border: 1px solid #ccc;
	//background: url(/assets/icons/select-mini.png) #fff no-repeat center right;
	-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;
	padding: 5px;
	color: #B3B3B3;
	font-weight: lighter;
	width: 250px;
	padding-left: 20px;
	font-size: 14px;
	margin-top: -1px;
	margin-left: -20px;
}
 .expoced{
     position:relative;
     float:left;
     width:500px;
     overflow:auto;
     background:#eee;
     margin-left:10px;
     
 }
 .user_assets{
     width:470px;
     height:40px;
     background:#fff;
     margin-top:5px;
     margin-left:14px;
     margin-bottom:3px;
 }
 
 .depot_button{
     background:#F2F2F2;
     color:#2E2E2E;
     font-size:10px;
     float:right;
     position:relative;
     margin-top:20px;
     margin-right:15px;
     margin-bottom:-44px;
     padding:5px;
     opacity:1;
     cursor: pointer;
	
     filter:alpha(opacity=60); 
      & a{
             color:#2E2E2E;
         }
     
        &:hover {
            background:#eee;
            opacity:0.9;
            filter:alpha(opacity=90); /* For IE8 and earlier */
        }
        
        &:active{
            background:#2E2E2E; 
            color:#fff;
            opacity:0.6;
            filter:alpha(opacity=60); /* For IE8 and earlier */
            
            & a{
                color:#fff;
            }
            
            
        }
        
        
 }