@import "vars";

.course{
  float: left;
  height: 250px;
  width: 240px;
  margin: 12px 30px 24px 0;
  border: $border-box;
  @include border-radius;
  margin: 10px 10px 10px 20px;
  float: left;
  background: #f3f3f3;
  //@include shadow-float-box;
  & h2{
    font-size:24px;
    float: left;
    margin: 10px 0 5px 0px;
    color: #444444;
    font-family: HelvLight;
  }
  & .thumbnail{
   width: 240px;
 }
}

.hidden-text{  
    	white-space: nowrap;
    	width: 79%;
    	overflow: hidden;
        text-overflow: ellipsis;
       
}

h4{
  font-size:14px;
}
h3{
  font-size:18px;  
}
.al{
   font-size:18px;  
   background:none;
   border:none;
 
}
.course-banner-profile{
     background-image: url("/assets/bannerprofile.png");
}

.course li {
	padding-left: 20px;
	list-style: none;
	margin: 5px;
	color: #444444;
}

#crud{
	position: relative;
	top: 0px;
	float: right;
	opacity: 0.5;
	text-align: right;
	margin: -130px 10px 0 0; 
}

#course-title{
	width: 200px;
    font-size:14px;
    float: left;
    margin: 10px 20px 5px 20px;
    color: #444444;
    font-family: helvetica;
    text-align: center;
    font-weight: bold;
}

#course-info{
	 padding: 20px;
	 font-size: 12px !important;	
}

#courses-list {
	width: 830px;
	margin: auto;
	}
	
.courses-title-h2{
	font-size: 30px;
	font-family: helvetica;
	font-weight: bold;
	float: left;
	width: 260px;
}

.serch-courses{
	width: 300px;
	margin: 4px 0 0 0;
	float: left;
}

.serch-courses input{
	width: 200px;
	font-size: 14px; 
	line-height: 16px;
	font-family: HelvLight;
}

.new-course {
	float: right;
	margin: 6px 0 0 0;

}

#header-courses{
	width: 780px;
	margin: auto;
	padding: 15px;
}