// Place all the styles related to the deliveries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.var_delivery{
    height:35px;
    float:right;
    font-size:15px;
	position: absolute;
	margin-left: 300px;
    
    & a {
        margin-top:5px;
        padding:0px;
        margin-left: -4px;
        margin-bottom:10px;
        width: 30px;
        height: 30px;
        display: inline-block;
        margin-right: 4px;
    }
    
    & .pkl{
        margin-left:5px;
        padding-left:5px;
        width:135px;
    }
    
}

#valu { background: url('/assets/youtube.png') no-repeat !important; }
#valu:hover { background: url('/assets/youtube_hover.png') no-repeat !important; }

#valw { background: url('/assets/wikipedia.png') no-repeat !important; }
#valw:hover { background: url('/assets/wikipedia_hover.png') no-repeat !important; }

.dropbox-chooser {
	background: url('/assets/dropBox.png') no-repeat !important;
	margin-top: -41px!important;
	width: 30px!important;
	height: 30px!important;
	position: relative!important;
	float:left;
	border:none;
}
.dropbox-chooser:hover { 	background: url('/assets/dropBox_hover.png') no-repeat !important; }