// Place all the styles related to the deliveries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.var_delivery{
    height:35px;
    float:right;
    font-size:15px;
	position: absolute;
	margin-left: 300px;
    
    & a {
        margin-top:5px;
        padding:5px;
    }
    
}