// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//=================================================================
//= When I wrote this, only God and I understood what I was doing =
//= Now, God only knows                      - RodrigoAyala.me    =
//=================================================================

//
// -
@import "vars";

//====================================================================
//========================== Generic Form ============================
//====================================================================

.default-form{
  & select{
    height: 31px;
    overflow: hidden;
    padding-left: 5px;
    background: url('/assets/icons/select-mini.png') no-repeat right #fff;
    border: $border-forms;
    -webkit-appearance: none;
    appearance: none;
    @include shadow-input;
    margin: 4px 0px 0px 0px;
    float: left;
  }
  & textarea{
    border: $border-forms;
    border-radius: $border-radius-box;
    margin: 0px;
    padding-left: 7px;
    @include shadow-input;
    margin: 4px 0px 0px 0px;
  }
  & input[type=text], input[type=email], input[type=password]{
    background: #FFF;
    height: 28px;
    border: $border-forms;
    border-radius: $border-radius-box;
    @include shadow-input;
    padding-left: 7px;
    margin: 4px 0px 0px 0px;
  }
  & input[type=number]{
    background: #FFF;
    height: 28px;
    border: $border-forms;
    border-radius: $border-radius-box;
    @include shadow-input;
    padding-left: 7px;
    margin: 4px 0px 0px 0px;
    &::-webkit-inner-spin-button,::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  //================================================================
  //========================== Uploader ============================
  //================================================================
  & .file-input-box{
    position: relative;
    float: left;
    & .browse-button{
      padding: 0px 9px 0px 24px;
      color: #999;
      @include border-radius-btn;
      @include bg-upload-btn;
      @include shadow-normal-btn;
      background-repeat: no-repeat;
      background-position: left;
    }
    & input.upload-input{
      position:absolute;
      top:0px;
      left: 0px;
      opacity:0;
      -moz-opacity:0;
      filter: alpha(opacity=0);
      z-index:2;
      width: 145px;
      font-size: 1em;
      height: 35px;
      cursor: pointer;
    }
  }
  & .upload-label{
    float: left;
    background: #f2f7fd;
    border: $border-high;
    @include border-radius-btn;
    width: 568px;
    font-size: 12px;
    font-weight: 300;
    padding: 0px 5px 4px 5px;
    margin-top: 4px;
    display: none;
    & .file-mini-upload{
      //clear:both;
      float: left;

      width: 157px;
      background: url('/assets/icons/file-basic-mini.png') no-repeat 1px 1px;
      height: 32px;
      padding: 0px 0px 0px 30px;
      line-height: 23pt;
      margin: 4px 0px 0px 0px;
      cursor: pointer;
      border: solid 1px transparent;

      & span{
        float: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 125px;
      }
      & .trash{
        display: none;
        float: right;
        background: url('/assets/icons/trash-mini-active.png') no-repeat left;
        width: 24px;
        height: 23px;
        margin: 5px 5px 0px 0px;
      }
      &:hover{
        background-color: #e5edf6;
        border: solid 1px #b9c3d3;
        @include border-radius-btn;
        & .trash{
          display: block;
          &:hover{
            background: #d5dde9 url('/assets/icons/trash-mini-hover.png') no-repeat left;
            border: 1px solid #95a4be;
            font-weight: bold;
            margin: 4px 4px 0px 0px;
          }
        }
      }
    }
  }

  //===============================================================
  //========================== Buttons ============================
  //===============================================================
  & input[type=submit]{
    font-size: 14px;
    margin: 4px 4px 2px 4px;
    min-width: 100px;
    height: $height-btn;
    line-height: 23px;
    float:left;
    -moz-box-shadow:inset 0px 1px 0px 0px #95e5f1, inset 0px -1px 0px #449eae;
    -webkit-box-shadow:inset 0px 1px 0px 0px #95e5f1, inset 0px -1px 0px #449eae;
    box-shadow:inset 0px 1px 0px 0px #95e5f1, inset 0px -1px 0px #449eae;

    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2fcce3), color-stop(1, #00b0ca) );
    background:-moz-linear-gradient( center top, #2fcce3 5%, #00b0ca 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2fcce3', endColorstr='#00b0ca');
    background-color:#2fcce3;

    @include border-radius-btn;
    border: 1px solid #449eae;
    display:inline-block;
    color:#FFF;//#197d91;
    text-decoration:none;
    text-shadow:0px 1px 0px #197d91;//#c3edf3;
    cursor: pointer;
    &:hover{
      background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00b0ca), color-stop(1, #2fcce3) );
      background:-moz-linear-gradient( center top, #00b0ca 5%, #2fcce3 100% );
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b0ca', endColorstr='#2fcce3');
      background-color:#00b0ca;
      color:#FFF;//#197d91;
      -webkit-box-shadow: inset 0px 1px 1px #2f8999;
      -moz-box-shadow:    inset 0px 1px 1px #2f8999;
      box-shadow:         inset 0px 1px 1px #2f8999;
    }
  }
  & button{
    //background: #FFF;
    text-align: center;
    color: #999;
    min-width: 100px;
    height: $height-btn;
    float:left;
    border: $border-forms;
    cursor: pointer;
    @include border-radius-btn;
    @include bg-normal-btn;
    @include shadow-normal-btn;
    margin: 4px 4px 2px 4px;
    font-size: 14px;
    &:hover{
      color: #555;
      background: #f8f8f8;
      -webkit-box-shadow: inset 0px 1px 1px #91a5bb;
      -moz-box-shadow:    inset 0px 1px 1px #91a5bb;
      box-shadow:         inset 0px 1px 1px #91a5bb;
    }
  }
  & .a-btn{
    text-align: center;
    color: #999;
    min-width: 80px;
    height: 28px;
    float:left;
    border: $border-forms;
    cursor: pointer;
    @include border-radius-btn;
    @include bg-normal-btn;
    @include shadow-normal-btn;
    font-size: 14px;
    line-height: 30px;
    padding: 0px 10px;
    &:hover{
      color: #555;
      background: #f8f8f8;
      -webkit-box-shadow: inset 0px 1px 1px #91a5bb;
      -moz-box-shadow:    inset 0px 1px 1px #91a5bb;
      box-shadow:         inset 0px 1px 1px #91a5bb;
    }
  }

  //===============================================================
  //======================  Special Buttons =======================
  //===============================================================
  & .evaluate-btn{
    padding: 0px 9px 0px 24px;
    color: #999;
    @include border-radius-btn;
    @include bg-evaluate-btn;
    @include shadow-normal-btn;
    margin: 4px 0px 0px 0px;
    background-position: left;
    height: 28px;
    float:left;
    border: $border-forms;
    cursor: pointer;
    font-size: 14px;
    line-height: 30px;
    &:hover{
      color: #555;
      -webkit-box-shadow: inset 0px 1px 1px #91a5bb;
      -moz-box-shadow:    inset 0px 1px 1px #91a5bb;
      box-shadow:         inset 0px 1px 1px #91a5bb;
    }
  }
  & .submit-area{
    clear: both;
    border-top: 1px dotted #ccc;
    margin-top: 5px;
    float: right;
    width: 100%;
  }


  //===============================================================
  //====================  Dropdown (Checkbox) =====================
  //===============================================================

  & .wrapper-dropdown {
    /* Size and position */
    position: relative;
    width: 120px;
    //padding: 6px 0px 0px 30px;
    border: $border-forms;
    color: #999;
    background: #fff;
    @include bg-normal-btn;
    @include shadow-normal-btn;
    cursor: pointer;
    outline: none;
    @include border-radius-btn;
    height: 28px;
    font-size: 14px;
    padding: 0px 0px 0px 30px;
    float: right;
    &.public-dd{
      background-position: 5px 3px;
      @include bg-public-dropdown-btn;
      background-repeat: no-repeat;
    }
    &.course-dd{
      background-position: 5px 3px;
      @include bg-course-dropdown-btn;
      background-repeat: no-repeat;
    }
    & span{
      line-height: 30px;
      &.title-label-dd{

      }
    }
    & .box-arrow{
      float: right;
      width: 32px;
      height: 29px;
      border-left: $border-forms;
    }


    //Por este medio se hace constar que el C. Diego Orlando Correa ha trabajando con nosotros, y en los distintos negocios familiares desempeñado distintas labores, tenemos una es una persona en quien confiar es muy responsable y elementos que en nuestras empresas hemos valorado mucho, el trabajo con nosotros en distintas etapas de su vida y tenemos una relación laboral muy cercana, y dedicado, los
    // nivel de confianza y responsabilidad.

    & input[type=checkbox] {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    &:after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -3px;
      border-width: 6px 6px 0 6px;
      border-style: solid;
      border-color: #c0c0c0 transparent;
    }
    & .dropdown {
      /* Size&position */
      position: absolute;
      top: 100%;
      margin-top: 1px; /* border of wrapper */
      left: -1px;
      right: -1px;
      background: white;
      border: $border-forms;
      list-style: none;
      transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out; /* Firefox 4 */
      -webkit-transition: all 0.3s ease-out; /* Safari and Chrome */
      -o-transition: all 0.3s ease-out; /* Opera */

      /* Hiding */
      opacity: 0;
      pointer-events: none;

      & li {
        position: relative; /* Enable absolute positioning for checkboxes */
        &:last-of-type label {
          border: none;
        }
        & label {
          display: block;
          padding: 10px 10px 10px 30px; /* Same padding as the button */
          border-bottom: $border-forms;
          //transition: all 0.3s ease-out;
          cursor: pointer;
          text-transform: capitalize;
          &.world-dd{
            background: url('/assets/icons/world-mini-low.png') no-repeat 5px 7px;
          }
          &.course-dd{
            background: url('/assets/icons/course-mini-low.png') no-repeat 5px 7px;
          }
          &.return-dd{
            background: url('/assets/icons/return-mini-low.png') no-repeat 35px 7px;
            padding: 10px 10px 10px 60px!important;
          }
          &:hover {
            background: #fcfcfd url('/assets/icons/check-mini-low.png') no-repeat 5px 7px;
            @include border-radius-btn;
            &.world-dd{
              background: #fcfcfd url('/assets/icons/world-mini-high.png') no-repeat 5px 7px;
            }
            &.course-dd{
              background: #fcfcfd url('/assets/icons/course-mini-high.png') no-repeat 5px 7px;
            }
            &.return-dd{
              background: url('/assets/icons/return-mini-high.png') no-repeat 35px 7px;
            }
          }
        }
        // Checkboxes
        & input {
          position: absolute;
          display: block;
          right: 10px;
          top: 50%;
          margin-top: -8px;
          // Checked state
          &:checked ~ label {
            color: #999a9b;
            background: url('/assets/icons/check-mini.png') no-repeat 5px 7px;
          }
        }
      }
    }
    &.active{
      & .dropdown{
        opacity: 1;
        pointer-events: auto;
        margin-top: 8px;
        background: #f7f8fa;
        z-index: 99;
        min-width: 150px;
        @include border-radius-btn;
        font-size: 13px;
      }
      /* Active state */
      &:after {
        border-width: 0 6px 6px 6px;
      }
    }
  }

  //===============================================================
  //========================  Date fields =========================
  //===============================================================
  & .date-input{
    background: url('/assets/icons/calendar-mini.png') no-repeat #FFF right !important;
    &.delivery{
      width: 130px;
      float: right;
      margin-left: 3px;
    }
  }

  & .percent-input{
    background: url('/assets/icons/percent-mini.png') no-repeat #FFF right !important;
  }
  & .percent-label{
    background: url('/assets/icons/percent-mini-high.png') no-repeat #FFF right !important;
    color: #999;
    font-size: 12pt;
    text-align: right;
    padding: 0px 23px 0px 0px;
    margin: 10px 0px 0px 0px;
    width: 30px;
    float: right;
  }
  //===============================================================
  //==========================  Sliders ===========================
  //===============================================================
  & .slider-content{
    width: 245px;
    position: relative;
    height: 18px;
  }
  & .slider{
    border-radius: 25px;
    width: 240px;
    position: absolute;
    height: 13px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f9f9f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#f9f9f9 100%); /* W3C */

    -webkit-box-shadow: inset 0px 1px 5px #c3c3c3;
    -moz-box-shadow:    inset 0px 1px 5px #c3c3c3;
    box-shadow:         inset 0px 1px 5px #c3c3c3;


    //box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5), 0 1px 0 0px rgba(250, 250, 250, .5);
    border: 1px solid #64c2d2;
  }
  & .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: url('/assets/icons/handle.png') no-repeat 50% 50%;
    font-weight: bold;
    color: #1C94C4;
    outline: none;
    top: -6px;
    margin-left: -12px;
  }
  & .ui-slider-range {
    background: #72d2e6; /* Old browsers */
    background: -moz-linear-gradient(top,  #72d2e6 0%, #6abfd5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#72d2e6), color-stop(100%,#6abfd5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #72d2e6 0%,#6abfd5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #72d2e6 0%,#6abfd5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #72d2e6 0%,#6abfd5 100%); /* IE10+ */
    background: linear-gradient(top,  #72d2e6 0%,#6abfd5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72d2e6', endColorstr='#6abfd5',GradientType=0 ); /* IE6-9 */
    position: absolute;
    border: 1px solid #3c98a8;
    top: -1px;
    left: -1px;
    height: 100%;
    border-radius: 25px;
    -webkit-box-shadow: inset 0px -2px 5px #5facbf;
    -moz-box-shadow:    inset 0px -2px 5px #5facbf;
    box-shadow:         inset 0px -2px 5px #5facbf;
  }
}

// Boton para link <a></a>
.a-button{
  font-size: 14px;
  margin: 4px 4px 2px 4px;
  min-width: 100px;
  height: 100%;
  line-height: 23px;
  float:left;
  -moz-box-shadow:inset 0px 1px 0px 0px #95e5f1, inset 0px -1px 0px #449eae;
  -webkit-box-shadow:inset 0px 1px 0px 0px #95e5f1, inset 0px -1px 0px #449eae;
  box-shadow:inset 0px 1px 0px 0px #95e5f1, inset 0px -1px 0px #449eae;

  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2fcce3), color-stop(1, #00b0ca) );
  background:-moz-linear-gradient( center top, #2fcce3 5%, #00b0ca 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2fcce3', endColorstr='#00b0ca');
  background-color:#2fcce3;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border: 1px solid #449eae;
  display:inline-block;
  color:#FFF;//#197d91;
  text-decoration:none;
  text-shadow:0px 1px 0px #197d91;//#c3edf3;
  cursor: pointer;
  text-align: center;

  &:hover{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00b0ca), color-stop(1, #2fcce3) );
    background:-moz-linear-gradient( center top, #00b0ca 5%, #2fcce3 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b0ca', endColorstr='#2fcce3');
    background-color:#00b0ca;
    color:#FFF;//#197d91;
    -webkit-box-shadow: inset 0px 1px 1px #2f8999;
    -moz-box-shadow:    inset 0px 1px 1px #2f8999;
    box-shadow:         inset 0px 1px 1px #2f8999;
  }
}


//====================================================================
//============================ Post Form =============================
//====================================================================

.profile-post-box{
  border: $border-box;
  @include border-radius;
  background: #FFF;
  margin: 6px 0 0px 55px;
  width: $width-form-post;
  float: left;

  & .post-btns-box {
    list-style: none;
    display: inline;
    float: left;
    width: 100%;
    height: $height-post-box;
    margin: 7px 0 6px 10px;
    & a{
      display: block;
      height: 100%;
      width: 145px;
      float: left;
      text-align: center;
      color: #969696;
      font-size: 10px;
    }

    & a:hover{
      //margin-top: -2px;
      //padding-top: 62px;
    }
    & .icon{
      @include circle-obj;
      @include border-circle-obj;
      @include circle-inset-shadow;
      background: #ccc url('/assets/create/comment.png') repeat-y 3px 3px;
      margin: -2px 0px 0px -2px;
    }
    & .border{
      @include circle-obj;
      @include border-circle-obj;
      margin: 0px 0px 4px 40px;
    }
    & .message-form-btn{
      & .icon{
        background: #4fa3e9 url('/assets/create/comment.png') repeat-y 3px 3px;
      }
    }
    & .delivery-form-btn{
      & .icon{
        background: #83b81f url('/assets/create/delivery.png') repeat-y 3px 3px;
      }
    }
    & .discussion-form-btn{
      & .icon{
        background: #d5d30e url('/assets/create/discussion.png') repeat-y 3px 3px;
      }
    }
    & .survey-form-btn{
      & .icon{
        background: #f39c20 url('/assets/create/survey.png') repeat-y 3px 3px;
      }
    }
    & .poll{
      & .icon{
        background:  #9e1111 url('/assets/create/poll.png') repeat-y 3px 3px;
      }
    }
    & .event{
      & .icon{
        background: #7b33a9 url('/assets/create/event.png') repeat-y 3px 3px;
      }
    }
  }
}


//=======================================================================
//========================== Post Form Areas ============================
//=======================================================================
.delivery-form-area-style{
  height: 195px;
  background: #FFF;
  position: relative;
  display: none;
  @include border-radius;

  & .delivery-form{
    margin: 0px 10px 0px 10px;
    & .percent-input{
      width: 60px;
      float: right;
    }
    & .a-btn{
      clear: both;
      margin: 4px 4px 10px 0px;
    }
    & .wrapper-dropdown{
      //clear: both;
      margin: 4px 5px 0px 0px;
      float: right;
    }
    & .slider-content{
      float: left;
      margin: 13px 0px 0px 14px;
    }
    & select{
      width: 217px;
      height: 31px;
      overflow: hidden;
      padding-left: 5px;
      background: url('/assets/icons/select-mini.png') no-repeat right #fff;
      border: $border-forms;
      -webkit-appearance: none;
      appearance: none;
      @include shadow-input;
      margin: 4px 0px 0px 0px;
    }
    & textarea{
      width: 569px;
    }
    & button{
      float: right !important;
    }
    & .date-input{
      margin-bottom: 5px !important;
      //width: 160px;
      //float: right;
    }
    & .subject{
      float: left;
      clear: both;
    }
    & input[type=submit]{
      float: right !important;
    }
    & .total{
      float: right;
      border-top: 1px dotted #ccc;
      font-size: 14px;
      margin-top: 7px;
      color: #666;
      padding: 5px 0px 5px 20px;
      text-align: right;
      clear: both;
      margin-bottom: 5px;
      font-size: 12pt;
    }
    & .evaluation-area{
      border-top: 1px dotted #ccc;
      margin-top: 4px;
      padding-top: 5px;
      float: left;
      width: 100%;
    }
  }
}

.message-form-area-style{
  height: 130px;
  background: #FFF;
  position: relative;
  display: none;
  @include border-radius;
  width: $width-form-post;
  & .comment-form{
    float: left;
    margin: 0px 10px 0px 10px;
    & textarea{
      margin: 10px 0px 0px 0px;
      width: 570px;
    }
    & button{
      float: right !important;
      margin-right: 9px;
    }
    & input[type=submit]{
      float: right !important;
    }
    & .wrapper-dropdown{
      margin: 4px 5px 0px 0px;
      float: right;
    }
  }

}

.discussion-form-area-style{
  height: 158px;
  background: #FFF;
  position: relative;
  display: none;
  @include border-radius;
  width: $width-form-post;

  & .discussion-form {// edit for course
    margin: 0px 10px 0px 10px;
    & button {
      float: right;
    }
    & input[type=submit]{
      float: right;
    }
    & .wrapper-dropdown{
      margin: 4px 5px 0px 0px;
      float: right;
    }
    & textarea{
      margin: 10px 0px 0px 0px;
      width: 570px;
      clear: both;
      float: left;
    }
  }
}

.survey-form-area-style{
  height: 190px;
  background: #FFF;
  position: relative;
  display: none;
  @include border-radius;
  & .survey-form {
    margin: 7px 0px 0px 0px;
    & .box-question{
      background: #000;
      float: left;
      width: 100%;
    }
    & .question-field{
      border-bottom: 1px dashed #c9d1da;
      background: #f9fafc;
      float: left;
      clear: both;
      width: 100%;
      & .add-question{
        background: url('/assets/icons/add-question.png') no-repeat;
        height: 35px;
        float: left;
        padding: 8px 0px 0px 37px;
        margin: 5px 0px 0px 22px;
        &:hover{
          text-decoration: underline;
        }
      }
      & .element{
        float: left;
        height: 40px;
        width: 100%;
        & .remove-icon{
          display: none !important;
        }
        &:hover{
          & .remove-icon{
            display: block !important;
            height: 27px;
            float: left;
            margin-top: 6px;
            cursor: pointer;
            background: url('/assets/icons/remove-mini-icon-active.png') no-repeat;
            width: 45px;
            padding-left: 27px;
            line-height: 27px;
            font-size: 11px;
            &:hover{
              background: url('/assets/icons/remove-mini-icon-hover.png') no-repeat;
            }
          }
        }
      }

      & .num{
        float: left;
        color:  #919fb5;
        font-weight: bold;
        font-size: 13pt;
        height: 41px;
        line-height: 40px;
        margin: 0px 5px 0px 23px;
      }
      & input[type=text]{
        float: left;
        width: 330px;
        //background: url('/assets/icons/question-mini-low.png') no-repeat #FFF right !important;
      }
      & .add-request{
        //background: url('/assets/icons/add-answer.png') no-repeat;
        float: left;
        width: 138px;
        background-position: left;
        height: 25px;
        line-height: 25px;
        margin: 0px 0px 0px 69px;
        padding: 6px 0px 0px 5px;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    & .request-field {
      border-top: 1px dotted #c9d1da;
      & .remove-icon{
        display: none!important;
        height: 27px;
        width: 77px;
        float: left;
      }
      & .element{
        float: left;
        height: 40px;
        width: 100%;
      }
      &:hover{
        & .remove-icon{
          display: block !important;
          //height: 27px;
          float: left;
          margin-top: 6px;
          cursor: pointer;
          background: url('/assets/icons/remove-mini-icon-active.png') no-repeat;
          //width: 10px;
          padding-left: 27px;
          line-height: 27px;
          font-size: 11px;
          &:hover{
            background: url('/assets/icons/remove-mini-icon-hover.png') no-repeat;
          }
        }
      }
      & .num{
        float:left;
        margin-left: 50px;
        font-weight: none;
        font-size: 11pt;
        font-weight: normal;
      }
      & input[type=text]{
        float: left;
        width: 210px;
        //
        background: url('/assets/icons/pencil-mini-low.png') no-repeat #FFF right !important;

      }
      & .is-correct-label{
        float: right;
        width: 160px;
        cursor: pointer;
        color: #00B1C5;
        font-size: 12px;
        background: url('/assets/icons/question-icon-true.png') no-repeat right;
        height: 23px;
        padding: 12px 29px 0px 0px;
        text-align: right;
        margin-right: 13px;
        &:hover{
          background: url('/assets/icons/question-icon-true-hover.png') no-repeat right;
        }
      }
      & .is-correct-chk{
        float: right;
        width: 10px;
        position: absolute;
        top: -9999px;
        left: -9999px;
        /* Toggled State */
        &:checked ~ .is-correct-label {
          background: url('/assets/icons/question-icon-false.png') no-repeat right;
        }
      }
    }
    & .title-txt-input{
      width: 300px;
      margin-left: 20px;
    }

    & textarea{
      float: left;
    }

    & .add-response{
      float: right;
      color: #919fb5;
    }
    & .question-field{
      float: left;
    }
    & .request-field{
      background: #f1f3f6;
      float: left;
      width: 100%;
    }
    & .input-button{
      float: right;
    }
    & input[type=submit]{
      float: right;
    }
  }
}


.more-comment-box{
  clear: both;
  float: left;
  border-bottom: $border-forms;
  width: 553px;
  margin-left: 14px;
  position: relative;
  cursor: pointer;
  color: #7498ce;
  font-size: 11px;
  height: 28px;
  line-height: 27px;
  background: url("/assets/icons/more-comments-icon.png") no-repeat;
  background-position: 0px 3px;
  & span{
    background: url("/assets/icons/dots-comment-mini.png") no-repeat;
    width: 528px;
    height: 100%;
    padding: 0px 0px 0px 25px;
    float: left;
    background-position: 264px 3px;
  }
}
.child-comment-box{
  clear: both;
  float: left;
  border-bottom: $border-forms;
  width: 553px;
  margin-left: 14px;
  position: relative;
  & .heart-icon{
    background: url("/assets/icons/heart-icon-child-comment.png") no-repeat;
    position: absolute;
    right: 1px;
    height: 23px;
    width: 20px;
    top: 6px;
    cursor: pointer;
    &:hover{
      background: url("/assets/icons/heart-icon-child-comment-hover.png") no-repeat;
    }
  }
  & .info-comment{
    float: left;
    margin: 6px 0px 0px 0px;
    & .username{
      color: #7498ce;
      font-weight: bold;
      font-size: 11px;
      float: left;
    }
    & .date{
      float: left;
      font-size: 10px;
      color: #9c9c9c;
      margin-left: 13px;
    }
    & .comment{
      font-size: 12px;
      color: #333;
      line-height: 1.28;
      clear: both;
    }
  }
  & .avatar-child-comment{
    float: left;
    margin: 6px 8px 5px 0px;
  }
}
.post-child-comment-box{
  background-color: #f7f7f9;
  float: left;
  border: 1px solid #d7dbe1;
  border-top: 1px solid #d7dbe1;

  margin-bottom: 12px;
  -moz-box-shadow:    inset 0px 1px 0px #eeeef1;
  -webkit-box-shadow: inset 0px 1px 0px #eeeef1;
  box-shadow:         inset 0px 1px 0px #eeeef1;

  margin-left: 56px;
  width: 580px;
  @include border-b-right-radius;
  @include border-b-left-radius;
  & .user-post-child-comment{
    float: left;
    padding: 0px 14px;
    width: 560px;
    & .avatar-child-comment{
      float: left;
      margin: 6px 8px 5px 0px;
    }
    & form{
      float: left;
      & textarea{
        font-size: 12px;
        border: $border-forms;
        border-radius: $border-radius-child-comment-box;
        padding-left: 7px;
        @include shadow-none;
        width: 543px;
        height: 24px;
        line-height: 24px;
        margin: 7px 0px 4px 0px;
      }
    }
  }

}


.user-edit-form{
  margin: 22px 25px 20px 25px;
  position: relative;
  float: left;
  width: 890px;
  & label{
    clear: both;
    float: left;
    margin-top: 11px;
  }
  & .upload-label{
    width: 200px!important;
  }
  & input[type=text], input[type=email], input[type=password] {
      float: left;
      clear: both;
  }
  & .box-fields{
    float: left;
    width: 400px;
  }
  & .box-cancel{
    clear: both;
    float: left;
  }
  & .personal-url-label{
    float: left;
    color: #666;
    font-size: 11pt;
    padding: 0px 3px 0px 0px;
  }
  & .personal-url{
    clear: none !important;
    width: 90px !important;
    margin: -7px 0px 0px 0px !important;
  }
  & .submit-btns{
    margin-top: 17px;
    float: left;
  }
  & .a-btn{
    margin-top: 4px;
  }
  & .box-avatar{
    float: right;
    width: 400px;

    & .box-image{
      margin: 0px 0px 18px 0px;
      float: left;
    }
    & .avatar{
      height: 50px;
      float: left;
    }
    & .avatar-label{
      clear: both !important;
      margin: 7px 0px 0px 6px;
      width: 230px;
    }
    & .coverphoto-label{
      clear: both !important;
      width: 230px;
      margin: 7px 0px 0px 6px;
    }
    & .cover{
      height: 45px;
      clear: both;
      float: left;
    }
  }
}


.course-form{  //(class form difined by Rails)
  color: #333;
  margin: 5px 0px 4px 6px;
  & input[type=text]{
    width: 207px;
    height: 28px;
  }
  & textarea{
    height: 70px;
    width: 206px;
  }
  & select{
    width: 217px;
  }
  & label{
    clear: both;
    float: left;
    color: #999;
  }
  & button {
    margin-top: 10px !important;
  }
  & input[type=submit]{
    margin-top: 10px !important;
  }
  & .date-input{
    width: 96px !important;
    margin-bottom: 10px !important;
  }
  & .slider-content{
    float: left;
    width: 130px !important;
    clear: both;
    margin: 8px 0px 0px 8px;
  }
  & .slider{
    width: 130px !important;
    clear: both;
  }
  & .percent-input{
    width: 48px!important;
    float: left;
    margin: 0px 0px 0px 14px !important;
  }
}

.edit-course {// edit for course
  & input{
    clear:both;
    float: left;
  }
  & label{
    clear: both;
    float: left;
  }
  & select {
    clear: both;
    float: left;
    width: 135px;
  }
  & submit {
   clear: both;
   float: left;
  }
  & textarea{
    clear: both;
    float: left;
  }
  & .slider-content{
    float: left;
    width: 130px !important;
    clear: both;
    margin: 8px 0px 0px 8px;
  }
  & .slider{
   // width: 130px !important;
    clear: both;
  }
}