// Place all the styles related to the Friendships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edituserdmenuHeader { background: rgba(221,221,221,0.2); width: 899px; height: 48px; padding: 20px; margin-left: -25px; margin-top: -22px; position: fixed; z-index: 9; transition: ease-out all 0.3s; }
.edituserdmenuHeader:hover { background: rgba(221,221,221,0.9); }

.containerFriends {  }
.containerFriendsCateg { float: right; width: 220px; display: inline-block; position: relative; margin-top: -41px; }
.containerFriends .waitS, .containerFriends .currentFriends { }
.redPop { background: #FF0000; padding: 2px 4px; color: #fff; text-align: center; display: block; float: right; position: absolute; margin-top: -35px; font-size: 12px; font-weight: bold; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; margin-left: -3px; }

.containerFDNS { }

.containerFriends .waitS > a, .containerFriends .currentFriends > a { background: #00AEC1; padding: 5px 8px; color: #fff; text-align: center; display: block; float: right; margin-left: 2px; color: #fff; }
.containerFriends .waitS > a:hover, .containerFriends .currentFriends > a:hover { background: #0B6AAD; }