// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-signin {
   /* max-width: 300px; */ max-width: 293px;
    height: 193px;
    padding: 19px 29px 29px;
        margin: 40px auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
	  .form-signup input[type="text"],
      .form-signup input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 0!important;
        padding: 7px 9px;
      }

.form-signin .email { width: 260px!important; background: #fff!important; }
.form-signin .pswd { width: 262px!important; height: 33px!important; margin-left: -5px; padding: 7px 19px!important; font-size: 14px!important; }
.form-signup .pswdcode { width: 262px!important; height: 33px!important; margin-left: -5px; padding: 7px 19px!important; font-size: 14px!important; color: #000; border: 0!important; focus: none; }
.form-signup .pswdcode:focus { outline: 0px auto; }
input, textarea { background-color: #fff; }
h2.form-signin-heading { text-align: center; color: #00b0ca; }
.form-signin .form-signin-heading, .form-signin .checkbox { margin: 0px!important; }
input.log-in { transition: ease-out all 0.2s; }
input.log-in:hover { background: #00AEC5; color: #fff; cursor: pointer; transition: ease-out all 0.2s; }
.bg-layout { overflow: hidden; width: 100%; height: 100%; z-index: -1; position: fixed; top: 0px; left: 0px; background: url('/assets/background-login.png') no-repeat top center; }
.signup-layout { overflow: hidden; width: 100%; height: 100%; z-index: -1; position: fixed; top: 0px; left: 0px; background: url('/assets/background-login.png') no-repeat top center; }

.foo li { display: inline; padding: 0 3px; }
.foo li > a { color: #fff!important; text-decoration: none; }
.foo li > a:hover { color: #fff!important; text-decoration: underline; }

.frgt-pswd { position: absolute; display: block; margin: 10px 0 0 20px; }
.frgt-pswd > a:hover, .menu-user > a:hover { color: #F25B44; }
.log-in { margin-top: 2px!important; }

.menu-user a:link { position: relative; /*margin-top: 9px!important;*/ margin-top: -3px!important; }
.menu-user span { margin-top: 2px!important; }
.menu-user .avatar { margin-top: -8px!important; }

.form-signup { height: 298px; margin: 21px auto 20px!important; }
.signup-btn { color: white; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
/*border-color: #f46d59; border-color: #f46d59;*/ border: 0; width: 290px; height: 45px; font-size: 17px; font-family: "HelveticaNeue-Light", sans-serif; margin-top: 10px; cursor: pointer;
background-image: -khtml-gradient(linear, left top, left bottom, from(#f86049), to(#d6432d));
background-image: -moz-linear-gradient(top, #f86049, #d6432d);
background-image: -ms-linear-gradient(top, #f86049, #d6432d);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f86049), color-stop(100%, #0064CD));
background-image: -webkit-linear-gradient(top, #f86049, #d6432d);
background-image: -o-linear-gradient(top, #f86049, #d6432d);
background-image: linear-gradient(top, #f86049, #d6432d); }
.signup-btn:hover { background-image: -webkit-linear-gradient(top, #e35843, #c03c28); }

.confirmation-links { width: 300px; margin: 0 auto; text-align: center; line-height: 2em; }
.confirmation-links > a { color: #fff; }
.confirmation-links > a:hover { text-decoration: underline; }