// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//=================================================================
//= When I wrote this, only God and I understood what I was doing =
//= Now, God only knows - RodrigoAyala.me                         =
//=================================================================

@import "vars.scss";

body {
  color: #333;
  font-family:  helvetica, verdana, arial, sans-serif;
  font-size: 13px;
  background: $bg-page;
}

ul{
  list-style-type: none;
}

a {
  color: #00B1C5;
  text-decoration: none;
}

.clear{
  clear:both;
}
.hidden_elem {
  display: none !important;
}
.clear {clear:both;}


::-webkit-input-placeholder {
  color:#bcc2cd;
}
::-moz-placeholder {
  color:#bcc2cd;
} /* firefox 19+ */
:-ms-input-placeholder {
  color:#bcc2cd;
} /* ie */
input:-moz-placeholder {
  color:#bcc2cd;
}


/* /\/\/\/\ Template Generic /\/\/\/\ */
.center-div{
  width: $widht-content;
  margin: 0px auto;
}


.topbar{
  position: fixed; background: #f7f7f7;
  height: 35px;
  z-index: 999;
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin:0px auto;
}

.container{
  position: absolute;
  margin-top: 35px;
  border: 1px solid #d5d5d5;
  background: linear-gradient(to bottom, rgba(252,252,252,1), rgba(255,255,255,0));
  /*background: $bg-general; */
  z-index: -2;
  width: 939px;
}
.side-left-bar{
  width: $width-left-bar;
  float: left;
}



/* /\/\/\/\ Boxes /\/\/\/\ */

#box-post-form{
  border-bottom: 1px solid #ccc;
}
#box-content{
  float: left;
  &.profile-line{
    background: url('/assets/line-tl.png') $bg-general repeat-y 285px 0px;
  }

}

.course-line{
	padding-top: 40px;
}






#pre-post-form-princpal{
  width: 100%;
  height: $height-post-box;
  background: url('/assets/post_user_bg_principal.png') no-repeat 20px 0px;
  margin: 25px 0 0 -25px;
  padding: 10px 0 0 30px;
}

#box-stream-post{
  width: $width-right-bar;
  float: left;
}
/*===== Estilos genericos para todo tipo de pulicaciones =========*/
.publication-box{
  //line-dashed-mini.png
  clear: both;
  float: left;
  margin-left: 9px;
  margin-top: 10px;
  & .general-cir-homework{
     background: url('/assets/comment-cir-mini-homework.png') no-repeat;
     width: 35px;
     height: 35px;
     float: left;
   }
  & .general-cir-survey {
     background: url('/assets/comment-cir-mini-surveys.png') no-repeat;
     width: 35px;
     height: 35px;
     float: left; 
  }
  & .general-cir-discussion {
       background: url('/assets/comment-cir-mini-discusion.png') no-repeat;
       width: 35px;
       height: 35px;
       float: left; 
    }
  & .upload-label{
    float: left;
    background: #f2f7fd;
    border: $border-high;
    @include border-radius-btn;
    width: 568px;
    font-size: 12px;
    font-weight: 300;
    padding: 0px 5px 4px 5px;
    margin-top: 4px;
    display: block;
    & .file-mini-upload{
      //clear:both;
      float: left;
      width: 157px;
      background: url('/assets/icons/file-basic-mini.png') no-repeat 1px 1px;
      height: 32px;
      padding: 0px 0px 0px 30px;
      line-height: 23pt;
      margin: 4px 0px 0px 0px;
      cursor: pointer;
      border: solid 1px transparent;
      position: relative;
      & span{
        float: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 125px;
      }
    }
  }
  & .avatar{
    margin-left: 4px;
    position: absolute;
    margin-top: 4px;
    margin-right: 8px;
    float: left;
  }

  & .end-date-box{
    width: 157px;
    height: 34px;
    border: #b9c3d4 solid 1px;
    color: #9696ac;
    @include border-radius-btn;
    background: #f7f7f9 url('/assets/icons/end-date-icon.png') no-repeat 0px 6px;
    font-size: 11px;
    position: absolute;
    right: 10px;
    & .end-date-label {
      padding: 5px 0px 0px 23px;
    }
    & .end-date {
      padding: 0px 0px 0px 23px;
      font-weight: bold;
    }
  }
  & .extra-label{
    float: left;
    clear: both;
    color: #9696ac;
    font-size: 11px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  & .comment-text{
    width: $comment-box;
    height: 100%;
    background: #FFF;
    float: left;
    border: $border-box;
    border-radius: $border-radius-box;
    margin: 5px 0px 0px 11px;

    &.delivery{

      & h1{
        float: left;
        clear: both;
        font-weight: bold;
        padding: 8px 0px 0px 0px;
        margin: 0px 10px;
      }
      & .description{
        float: left;
        clear: both;
        margin-top: 3px;
        margin: 0px 10px;
      }
      & .asset-box{
        float: left;
        margin: 0px 10px;
      }
      & .evaluation-box{
        float: left;
        margin: 0px 10px;
      }
      & .delivery-box{
        background: url('/assets/line-dashed-mini.png') repeat-x 0px 0px;
        width: 100%;
        float: left;
        text-align: right;
      }
      & .green-btn{
        float: right;
        margin-right: 10px;
      }
    }
    //
    & .header{
      line-height: 23pt;
      & .top-null-image{
        width: 60px;
        height: 10px;
        float: left;
      }
      & .date{
        color: #999;
        float: right;
        margin-right: 6px;
      }
    }
    & .title-discusion{
      font-size: 18px; 
      font-weight: bold;
      margin-bottom: 10px;
    }
    & .text-discusion{
      padding-left: 10px;
    }
    & .video{
       padding: 10px;
    }
    & .attatchments{
    }
    & .title-homework{
      font-size: 18px; 
      font-weight: bold;
      margin-bottom: 10px;
    }
    & .text-homework{
      padding-left: 10px;
    }
    //
    & .content{
      color: #333;
      font-size: 13px;
      padding: 6px 0px 5px 0px;
      position: relative;
      & .null-image{
        width: 60px;
        height: 23px;
        float: left;
      }
    }
    & .footer{
      border-top:1px solid $border-general;
      height: 25px;
      color: #777777;
      float: left;
      width: 100%;
      margin-top: 15px;
      & .icon{
        float: left;
        margin: 4px 0px 0px 5px;
      }
      & .labels{
        float: right;
        margin: 4px 5px 0px 10px;
      }
      & .like{
        width: 23px;
        margin-left: 14px;
        margin-top: 6px;
        background: url("/assets/icons/heart-icon-child-comment.png") no-repeat;
        &:hover{
          background: url("/assets/icons/heart-icon-child-comment-hover.png") no-repeat;
        }
      }
    }
  }

  & .comment-image{
    width: $comment-box;
    height: 100%;
    background: #FFF;
    float: left;
    border: $border-box;
    border-radius: $border-radius-box;
    margin: 5px 0px 10px 11px;
    position: relative;

    & .content{
      float:left;
      & .single-image{
        width: $comment-box;
        float: left;
        @include border-b-right-radius;
        @include border-b-left-radius;
      }
    }
    & .footer{
      position: absolute;
      height: 40px;
      color: #FFF;
      float: left;
      width: $comment-box;
      bottom:0;
      background: url('/assets/comment-img-bar.png');
      @include border-b-right-radius;
      @include border-b-left-radius;
      & .content-footer{
        margin-top: 12px;
        border-top: 1px solid rgba(255,255,255,0.3);
        & .icon{
          float: left;
          margin: 5px 0px 0px 5px;
        }
        & .labels{
          float: right;
          margin: 5px 5px 0px 10px;
        }
      }

    }
  }

  & .header{
    background: #e9e9e9;//#ebebef;
    height: 25px;
    @include border-t-right-radius;
    @include border-t-left-radius;
    width: 100%;
    -moz-box-shadow:    inset 0px 1px 0px #f7f7f8;
    -webkit-box-shadow: inset 0px 1px 0px #f7f7f8;
    box-shadow:         inset 0px 1px 0px #f7f7f8;
    border-bottom: $border-box;
    & .null-image{
      width: 60px;
      height: 15px;
      float: left;
    }
    & .name{
      color: #333;
    }
  }
  & .general-cir{
    background: url('/assets/comment-cir-mini.png') no-repeat;
    width: 35px;
    height: 35px;
    float: left;
  }
   & .general-cir-surveys{
    background: url('/assets/comment-cir-mini-surveys.png') no-repeat;
    width: 35px;
    height: 35px;
    float: left;
  }
  & .arrow-left {
    background: url('/assets/arrow_comment.png') no-repeat;
    width: 9px;
    height: 14px;
    float:left;
    position: absolute;
    margin:5px 0px 0px -9px;
  }
}

/* homework */
#box-homework{
  clear: both;
  float: left;
  margin-left: 9px;
  & .avatar{
    margin-left: 3px;
    position: absolute;
    margin-top: 4px;
    margin-right: 8px;
    float: left;
  }
  & .comment-text{
    width: $comment-box;
    height: 100%;
    background: #FFF;
    float: left;
    border: $border-box;
    border-radius: $border-radius-box;
    margin: 5px 0px 10px 11px;
    & .header{
      line-height: 23pt;
      & .top-null-image{
        width: 60px;
        height: 10px;
        float: left;
      }
      & .date{
        color: #999;
        float: right;
        margin-right: 6px;
      }
    }
    & .content{
      color: #333;
      font-size: 13px;
      padding: 6px 10px 5px 10px;
      & .null-image{
        width: 60px;
        height: 23px;
        float: left;
      }
    }
    
    & .video{
	     padding: 10px;
    }
    
    & .attatchments{
	    
    }
    
    & .title-homework{
	    font-size: 18px; 
	    font-weight: bold;
	    margin-bottom: 10px;
    }
    
    & .text-homework{
	    padding-left: 10px;
    }
    & .footer{
      border-top:1px solid $border-general;
      height: 25px;
      color: #777777;
      float: left;
      width: 100%;
      & .icon{
        float: left;
        margin: 4px 0px 0px 5px;
      }
      & .labels{
        float: right;
        margin: 4px 5px 0px 10px;
      }
    }
  }

  & .comment-image{
    width: $comment-box;
    height: 100%;
    background: #FFF;
    float: left;
    border: $border-box;
    border-radius: $border-radius-box;
    margin: 5px 0px 10px 11px;
    position: relative;

    & .content{
      float:left;
      & .single-image{
        width: $comment-box;
        float: left;
        @include border-b-right-radius;
        @include border-b-left-radius;
      }
    }
    & .footer{
      position: absolute;
      height: 40px;
      color: #FFF;
      float: left;
      width: $comment-box;
      bottom:0;
      background: url('/assets/comment-img-bar.png');
      @include border-b-right-radius;
      @include border-b-left-radius;
      & .content-footer{
        margin-top: 12px;
        border-top: 1px solid rgba(255,255,255,0.3);
        & .icon{
          float: left;
          margin: 5px 0px 0px 5px;
        }
        & .labels{
          float: right;
          margin: 5px 5px 0px 10px;
        }
      }

    }
  }

  & .header{
    background: #e9e9e9;//#ebebef;
    height: 25px;
    @include border-t-right-radius;
    @include border-t-left-radius;
    width: 100%;
    -moz-box-shadow:    inset 0px 1px 0px #f7f7f8;
    -webkit-box-shadow: inset 0px 1px 0px #f7f7f8;
    box-shadow:         inset 0px 1px 0px #f7f7f8;
    border-bottom: $border-box;
    & .null-image{
      width: 60px;
      height: 15px;
      float: left;
    }
    & .name{
      color: #333;
    }
  }
  & .general-cir{
    background: url('/assets/comment-cir-mini.png') no-repeat;
    width: 35px;
    height: 35px;
    float: left;
  }
   & .general-cir-homework{
    background: url('/assets/comment-cir-mini-homework.png') no-repeat;
    width: 35px;
    height: 35px;
    float: left;
  }
  & .arrow-left {
    background: url('/assets/arrow_comment.png') no-repeat;
    width: 9px;
    height: 14px;
    float:left;
    position: absolute;
    margin:5px 0px 0px -9px;
  }
}

/* discusion*/
#box-publication{
  clear: both;
  float: left;
  margin-left: 9px;
  & .avatar{
    margin-left: 3px;
    position: absolute;
    margin-top: 4px;
    margin-right: 8px;
    float: left;
  }
  & .comment-text{
    width: $comment-box;
    height: 100%;
    background: #FFF;
    float: left;
    border: $border-box;
    border-radius: $border-radius-box;
    margin: 5px 0px 10px 11px;
    & .header{
      line-height: 23pt;
      & .top-null-image{
        width: 60px;
        height: 10px;
        float: left;
      }
      & .date{
        color: #999;
        float: right;
        margin-right: 6px;
      }
    }
    & .content{
      color: #333;
      font-size: 13px;
      padding: 6px 10px 5px 10px;
      & .null-image{
        width: 50px;
        height: 23px;
        float: left;
      }
    }
    
    & .video{
	     padding: 10px;
    }
    
    & .attatchments{
	    
    }
    & .title-discusion{
	    font-size: 18px; 
	    font-weight: bold;
	    margin-bottom: 10px;
    }
    
    & .text-discusion{
	    padding-left: 10px;
    }
    
    & .footer{
      border-top:1px solid $border-general;
      height: 25px;
      color: #777777;
      float: left;
      width: 100%;
      & .icon{
        float: left;
        margin: 4px 0px 0px 5px;
      }
      & .labels{
        float: right;
        margin: 4px 5px 0px 10px;
      }
    }
  }

  & .comment-image{
    width: $comment-box;
    height: 100%;
    background: #FFF;
    float: left;
    border: $border-box;
    border-radius: $border-radius-box;
    margin: 5px 0px 10px 11px;
    position: relative;

    & .content{
      float:left;
      & .single-image{
        width: $comment-box;
        float: left;
        @include border-b-right-radius;
        @include border-b-left-radius;
      }
    }
    & .footer{
      position: absolute;
      height: 40px;
      color: #FFF;
      float: left;
      width: $comment-box;
      bottom:0;
      background: url('/assets/comment-img-bar.png');
      @include border-b-right-radius;
      @include border-b-left-radius;
      & .content-footer{
        margin-top: 12px;
        border-top: 1px solid rgba(255,255,255,0.3);
        & .icon{
          float: left;
          margin: 5px 0px 0px 5px;
        }
        & .labels{
          float: right;
          margin: 5px 5px 0px 10px;
        }
      }

    }
  }

  & .header{
    background: #e9e9e9;//#ebebef;
    height: 25px;
    @include border-t-right-radius;
    @include border-t-left-radius;
    width: 100%;
    -moz-box-shadow:    inset 0px 1px 0px #f7f7f8;
    -webkit-box-shadow: inset 0px 1px 0px #f7f7f8;
    box-shadow:         inset 0px 1px 0px #f7f7f8;
    border-bottom: $border-box;
    & .null-image{
      width: 60px;
      height: 15px;
      float: left;
    }
    & .name{
      color: #333;
    }
  }
     & .general-cir-discusion{
    background: url('/assets/comment-cir-mini-discusion.png') no-repeat;
    width: 35px;
    height: 35px;
    float: left;
  }
  & .arrow-left {
    background: url('/assets/arrow_comment.png') no-repeat;
    width: 9px;
    height: 14px;
    float:left;
    position: absolute;
    margin:5px 0px 0px -9px;
  }
}

/* surveys */
#box-survey{
  clear: both;
  float: left;
  margin-left: 9px;
  & .avatar{
    margin-left: 3px;
    position: absolute;
    margin-top: 4px;
    margin-right: 8px;
    float: left;
  }
  & .comment-text{
    width: $comment-box;
    height: 100%;
    background: #FFF;
    float: left;
    border: $border-box;
    border-radius: $border-radius-box;
    margin: 5px 0px 10px 11px;
    & .header{
      line-height: 23pt;
      & .top-null-image{
        width: 60px;
        height: 10px;
        float: left;
      }
      & .date{
        color: #999;
        float: right;
        margin-right: 6px;
      }
    }
    & .content{
      color: #333;
      font-size: 13px;
      padding: 6px 10px 5px 10px;
      & .null-image{
        width: 50px;
        height: 23px;
        float: left;
      }
    }
    
    & .video{
	     padding: 10px;
    }
    
    & .attatchments{
	    
    }
    & .title-discusion{
	    font-size: 18px; 
	    margin-bottom: 10px;
    }
    
    & .text-discusion{
	    padding-left: 10px;
    }
    
    & .footer{
      border-top:1px solid $border-general;
      height: 25px;
      color: #777777;
      float: left;
      width: 100%;
      & .icon{
        float: left;
        margin: 4px 0px 0px 5px;
      }
      & .labels{
        float: right;
        margin: 4px 5px 0px 10px;
      }
    }
  }

  & .comment-image{
    width: $comment-box;
    height: 100%;
    background: #FFF;
    float: left;
    border: $border-box;
    border-radius: $border-radius-box;
    margin: 5px 0px 10px 11px;
    position: relative;

    & .content{
      float:left;
      & .single-image{
        width: $comment-box;
        float: left;
        @include border-b-right-radius;
        @include border-b-left-radius;
      }
    }
    & .footer{
      position: absolute;
      height: 40px;
      color: #FFF;
      float: left;
      width: $comment-box;
      bottom:0;
      background: url('/assets/comment-img-bar.png');
      @include border-b-right-radius;
      @include border-b-left-radius;
      & .content-footer{
        margin-top: 12px;
        border-top: 1px solid rgba(255,255,255,0.3);
        font-size: 18px;
        text-align: right;
        padding: 2px 30px 0 0;
        
        & .icon{
          float: left;
          margin: 5px 0px 0px 5px;
        }
        & .labels{
          float: right;
          margin: 5px 5px 0px 10px;
        }
      }

    }
  }

  & .header{
      line-height: 23pt;
      & .top-null-image{
        width: 60px;
        height: 10px;
        float: left;
      }
      & .date{
        color: #999;
        float: right;
        margin-right: 6px;
      }
    & .name{
      color: #333;
    }
  }
     & .general-cir-survey{
    background: url('/assets/comment-cir-mini-surveys.png') no-repeat;
    width: 35px;
    height: 35px;
    float: left;
  }
  & .arrow-left {
    background: url('/assets/arrow_comment.png') no-repeat;
    width: 9px;
    height: 14px;
    float:left;
    position: absolute;
    margin:5px 0px 0px -9px;
  }
}



.tabs-style{
  & .plus-courses{
    position: absolute;
    float: right;
    width: 37px;
    height: 38px;
    text-align: right;
    @include border-t-right-radius;
    background: url('/assets/plus-box-icon.png') no-repeat;
    margin-left: 79px;
    cursor:pointer;
    margin-top: -1px;
  }
  & .plus-courses:hover{
    background: url('/assets/plus-box-icon-hover.png') no-repeat;
  }
  & .element-left{
    float: left;
    @include border-t-left-radius;
  }
  & .element-right{
    float: left;
    border-left: $border-box;
    margin-left: -1px;
    @include border-t-right-radius;
  }

  & #ul-tabs{
    & .title{
      color: #969696;
      font-family: HelvLight;
      font-size: 9pt;
      text-transform: uppercase;
    }
    & .title-num{
      color: #444444;
      font-family: HelvBold;
      font-size: 20pt;
    }
    & li{
      width: 50%;
      float: left;
      outline-width: 0;
    }
    & li a {
      height: 40px;
      float: left;
      width: 100%;
      outline-width: 0;
      & .content-tab{
        margin: 7px 0px 0px 5px;
      }
    }
    & li.ui-state-default{
      background: #fafafa;
      border-bottom: $border-box;
      margin-bottom: -1px;
      @include shadow-title-tab;
    }
    & li.ui-tabs-active{
      background: #ffffff;
      border-bottom: 1px solid #FFF;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      outline-width: 0;
    }
  }
}

.basic-lateral-box {
  border: $border-box;
  border-radius: $border-radius-box;
  background: #FFF;
  margin: 40px 0px 10px 0;
  margin-left: $margin-sidebar-left;
  width: $width-lateral-box;
  position: relative;
  z-index: 10;
  & h2{
    position: absolute;
    top:-21px;
    color:#dfdfdf;
    font-family: helvbold;
    font-size: 19pt;
    z-index: -1;
    right: 122px;//2px;
    text-transform: uppercase;
  }
}

.basic-lateral-box-principal {
  border: $border-box;
  border-radius: $border-radius-box;
  background: #FFF;
  margin: 10px 0px 10px 0;
  margin-left: $margin-sidebar-left;
  width: $width-lateral-box;
  position: relative;
  z-index: 10;
  & h2{
    position: absolute;
    top:-19px;
    color:#dfdfdf;
    font-family: helvbold;
    font-size: 19pt;
    z-index: -1;
    right: 2px;
    text-transform: uppercase;
  }
}


#box-profile-info{
  min-height: 70px;
  color: #666666;
  background: $bg-bars;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-left: $margin-sidebar-left;
  -moz-box-shadow:    0px 1px 0px #fff, inset 0px 1px 0px #fff;
  -webkit-box-shadow: 0px 1px 0px #fff, inset 0px 1px 0px #fff;
  box-shadow:         0px 1px 0px #fff, inset 0px 1px 0px #fff;
  padding: 5px 0px 5px 0px;
  &.margin-top {
    margin-top: 100px;
  }
}


#box-profile-info li{
 list-style: none;
 padding: 5px 0px 5px 20px;
 font-size: 10px;
 margin-left: 10px;
 width: 180px;
}

.aboutme{
background: url("/assets/icons/aboutme.png") no-repeat;
background-position: left center;
margin-top: 6px;
}

.mail{
background: url("/assets/icons/mail.png") no-repeat;
background-position: left center;
}

.twitter{
background: url("/assets/icons/twitter.png") no-repeat;
background-position: left center;
}

.facebook{
background: url("/assets/icons/facebook.png") no-repeat;
background-position: left center;
margin-top: 5px;
}

.silabus{
background: url("/assets/icons/silabus.png") no-repeat;
background-position: left center;
}

.files{
background: url("/assets/icons/files.png") no-repeat;
background-position: left center;
}

.initdate{
background: url("/assets/icons/initdate.png") no-repeat;
background-position: left center;
}

.finishdate{
background: url("/assets/icons/finishdate.png") no-repeat;
background-position: left center;
}

#box-course{ 
  //min-height: 390px;//320px;
  &.boxinfocourse{
	   min-height: 70px;
  width: 210px;
  color: #666666;
  background: $bg-bars;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-left: $margin-sidebar-left;
  -moz-box-shadow:    0px 1px 0px #fff, inset 0px 1px 0px #fff;
  -webkit-box-shadow: 0px 1px 0px #fff, inset 0px 1px 0px #fff;
  box-shadow:         0px 1px 0px #fff, inset 0px 1px 0px #fff;
  padding: 15px;
  font-size: 12px;
  line-height: 15px;
  }

  &.margin-top {
    margin-top: 141px;
  }
  
  
  & #course-list{
    clear: both;
    & li{
      font-family: HelvLight;
      vertical-align: middle;
      font-size: 13px;
      overflow: hidden;
      text-transform: capitalize;
      border-bottom: $border-gray;
      & a{
        color: #888888;
        line-height: 33px;
        width: 100%;
        height: 100%;
        float: left;
        padding: 3px 0px 0px 20px;
      }
      & a:hover{
        color: #666;
        line-height: 33px;
        width: 100%;
        height: 100%;
        padding: 3px 0px 0px 16px;
        border-left: 4px #e6e6e6 solid;
        color: black;
      }
      & .active{
        color: #666;
        font-family: HelvRegular;
        line-height: 33px;
        width: 100%;
        height: 100%;
        padding: 3px 0px 0px 18px;
        border-left: 4px #00b0ca solid;
        font-size:10pt;
      }
    }

  }
}
#box-friends{
  min-height: 200px;
  float: left;
  & .content-avtr{
    margin-bottom: 8px;
  }
  & #tabs-friends-1, #tabs-friends-2{
    padding: 8px 0px 0px 0px;
    clear: both;
  }
  & .avatar-mini {
    margin: 2px 0px 2px 4px;
  }
}

.view-all{
  clear: both;
  @include border-b-right-radius;
  @include border-b-left-radius;
  height: 24px;
  margin-top: -1px;
  font-size: 12px;
  & a{
    background: #f9f9f9;
    text-align: center;
    color: #666;
    width: 100%;
    height: 100%;
    float:left;
    line-height: 25px;
    border-top: $border-box;
    border-bottom: $border-box;
    border-right: $border-box;
    @include border-b-right-radius;
    @include border-b-left-radius;
    -webkit-box-shadow: inset 0px 1px 3px #FFF, inset 0px -1px 4px #c9d1da;
    -moz-box-shadow:    inset 0px 1px 3px #FFF, inset 0px -1px 4px #c9d1da;
    box-shadow:         inset 0px 1px 3px #FFF, inset 0px -1px 4px #c9d1da;

  }
  & a:hover{
    color: #555;
    background: #edf1f5;
    -webkit-box-shadow: inset 0px 1px 2px #999, inset 0px 3px 6px #c9d1da;
    -moz-box-shadow:    inset 0px 1px 2px #999, inset 0px 3px 6px #c9d1da;
    box-shadow:         inset 0px 1px 2px #999, inset 0px 3px 6px #c9d1da;
  }
}

/*-- generic boxes --*/
.box-6{
  width: $width-right-bar;
  float: left;
}

.ui-tabs-hide{
  display:none;
}



.form-new-course-lateral{
  display: none;
  width: 230px;

  position: absolute;
  & .return-course-icon{
    position: absolute;
    width: 37px;
    left: -1px;
    top: -1px;
    height: 38px;
    border-top-left-radius: $border-radius-box;
    background: url('/assets/return-box-icon.png') no-repeat;
    cursor:pointer;
  }
   & .return-course-icon:hover{
	background: url('/assets/return-box-icon-hover.png') no-repeat;
	}
  & .title{
    font-family: helvlight;
    height: 40px;
    background: #fafafa;
    border-bottom: $border-box;
    @include shadow-title-tab;
    text-align: center;
    font-size: 12pt;
    color: #333;
    line-height: 2.9em;
    @include border-t-right-radius;
    @include border-t-left-radius;
  }
}

/* /\/\/\/\ Courses /\/\/\/\ */
.course-id{
  height: 250px;
  width: 181px;
  background: #ccc;
}


/* /\/\/\/\ Post and Forms Post /\/\/\/\ */
.pre-post-element{
  width:105px;
  height: 100%;
  background: #ccc;
  float: left;
  border-left: #999 solid 1px;
}


/* /\/\/\/\ User & Friends /\/\/\/\ */
#banner-profile{
  height:140px;
  width:100%;
  overflow: hidden;
  color: white;
  margin-top: -5px;
  background-repeat: no-repeat!important;
  background-color: #272727!important;
}

.banner-shadow{
  height: 640px;
  width:100%;
  overflow: hidden;
  color: white;
  background: url('/assets/shadow.png') no-repeat center bottom;
  top: 0px;
 
}

.banner-shadow p{   
	 font-size: 11pt;
    line-height: 25pt;
    font-family: helvbold;
    }

#box-titles{
  width: 500px;
  height:30px;
  float:right;
  margin-top: 110px;
  color:#FFF;
  font-size: 12pt;
  z-index: 2;
}
.box-titles-content-style{
  clear: both;
  border-top: 1px solid rgba(255,255,255,0.2);
  outline: 1px solid #000;
  &>div{
    display: none;
  }
}

#box-user-credential{
  margin-left: 55px;
  width: 155px;
  text-align: center;
  position: absolute;
  &.user-layout{
    margin-top: -25px;
  }
  &.network-layout{
    margin-top: -95px;
  }
  &.course-layout {
    margin-top: -115px;
  }
  
  & .thumbnail{
    width: 150px;
    height: 150px;
    background: #DCEAF4;
    border: 3px solid white;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 1px 4px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 1px 4px rgba(0, 0, 0, 0.75);
    text-align: center;
  }
  & .tagname{
    font-size: 11pt;
    line-height: 25pt;
    font-family: helvbold;
  }
}
.avatar-mini{
  border: #FFF solid 2px;
  border-radius: $border-radius-avatar-mini;
  color: #fff !important;
  -moz-box-shadow:  0px 1px 2px #666;
  -webkit-box-shadow: 0px 1px 2px #666;
  box-shadow: 0px 1px 2px #666;
}

#box-user-credential-principal{
  margin-left: 55px;
  width: 155px;
  text-align: center;
  position: absolute;
  margin-top: 30px;
  & .thumbnail-principal{
    width: 140px;
    height: 140px;
    background: #DCEAF4;
    border: 3px solid white;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 1px 4px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 1px 4px rgba(0, 0, 0, 0.75);
    text-align: center;
  }
  & .tagname{
    font-size: 11pt;
    line-height: 25pt;
    font-family: helvbold;
  }
}


.list-header{
  list-style:none;
  display: inline;
  float: right;

  & li{
    display: inherit;
    float: left;
    margin-right: 35px;
    background-position-x: 0;
    padding-left: 25px;
    cursor: pointer;
    line-height: 26px;
  }
  & .calendar{
    background: url('/assets/icons/calendar-mini-white.png') no-repeat;
  }
  & .schools{
    background: url('/assets/schools.png') no-repeat;
  }

  & .settings{
    background: url('/assets/icons/settings.png') no-repeat;
  }
  
  & .calif{
    background: url('/assets/icons/a.png') no-repeat;
  }

  & .stats{
    background: url('/assets/icons/stats.png') no-repeat;
  }
	
}


.menu-course{
	width: 100%;
	height: 100px;
	display: block;
	z-index: 0;
	list-style:none; 
	display: inline;
	color: rgba(0,0,0,0.5);
	color: #444444;
	font-family: HelvLight;
	font-size: 12px;
	
}

.menu-course li{
	float: left;
	width: 203px;
	height: 76px;
	display: block;
	cursor: hand !important;
	padding: 22px 15px 0px 15px;
	text-align: center;
	border-bottom: 1px solid #d5d5d5;
	background: #ffffff /*  url('/assets/active.png') repeat */;

}

.last {
	width: 206px!important;
}

.menu-course li b{
	font-size: 15px;
	text-align: center;
	font-family: HelvBold;
	margin-top: 15px;
	
}

.menu-course li i{
	color: #969696;
	font-family: HelvLight;
	font-size: 12px;
	font-style: normal;
}



.sandwich{
	border-right: 1px solid #d5d5d5;
	width: 205px;
}

.menu-user{
  width: 280px;
  float: right;
  margin-top: 10px;
  & .logout{
    margin-top: 5px;
    float: right;
    border-left: #CCC solid 1px;
    padding-left: 6px;
  }
  & .avatar{
    float: right;
    text-align: center;
    color: #666;
    width: 27px;
    margin-top: 1px;
    font-size: 13px;
  }
  & span{
    margin-top: 11px;
    float: right;
    text-align: center;
    color: #666;
    padding: 0px 10px 0px 3px;
    font-family: HelvLight;
  }
}


.course-create{
	margin-top: -25px;
}


/* deprecado by azul.

 .upload-labels{
 	width: 550px;
    float: left;
    background: #f2f7fd;
    border: $border-high;
    @include border-radius-btn;
    font-size: 12px;
    font-weight: 300;
    padding: 0px 5px 4px 5px;
    margin: 0 10px 10px 10px;
    display: none;
    & .file-mini-upload{
      //clear:both;
      float: left;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 158px;
      background: url('/assets/icons/file-basic-mini.png') no-repeat left;
      height: 28px;
      padding: 0px 0px 0px 30px;
      line-height: 23pt;
      margin: 4px 0px 0px 0px;
    }
  }
 */


/*

*/
.top-header-delivery-box{
	margin-top: 10px;
	
  & ul{
    & li{
      width: 180px;
      float: left;
      cursor: pointer;
      height: 17px;
      margin: auto;
      text-align: center;
      margin: 5px 0px 5px 10px;
      line-height: 18px;
      & .green-circle-mini{
        margin: 6px 0px 0px 65px;
      }
      & .orange-circle-mini{
        margin: 6px 0px 0px 50px;
      }
      & span{
        float: left;
        margin-left: 4px;
        line-height: 23px;
      }
      &:hover{
        background: transparent;
        -webkit-border-radius: $border-radius-box-black;
        -moz-border-radius: $border-radius-box-black;
        border-radius: $border-radius-box-black;
      }
    }
  }
}
.black-delivery-box{
  clear: both;
  border: 1px solid #000;
  @include border-radius;
  @include shadow-dark-box;

  margin: 35px 10px 10px 10px;

  -moz-box-shadow:    inset 0px 1px 0px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4);
  box-shadow:         inset 0px 1px 0px rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.01);

  & .header{

    background: rgba(0, 0, 0, 0.5);
    height: 30px;
    line-height: 29px;
    font-family: HelvLight;

    -moz-box-shadow:     0px 1px 0px #000;
    -webkit-box-shadow:  0px 1px 0px #000;
    box-shadow:          0px 1px 0px #000;

  }
  & .content{

  }
}

/*
*/
.white-circle-mini{
  background: $color-circle-white;
  @include circle-mini;
  float: left;
}

.blue-circle-mini{
  background: $color-circle-blue !important;
  @include circle-mini;
  float: left;
}
.green-circle-mini{
  background: $color-circle-green !important;
  @include circle-mini;
  float: left;
}
.yellow-circle-mini{
  background: $color-circle-yellow !important;
  @include circle-mini;
  float: left;
}
.orange-circle-mini{
  background: $color-circle-orange !important;
  @include circle-mini;
  float: left;
}

.new-regs {
	margin: 0 auto;
}

.solistyle { color: #fff; background: #B3B3B3 /*url('../assets/icons/checked.png') no-repeat left center*/; padding-left: 24px; padding: 2px 7px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.addfriend { background: #00B1C7; padding: 2px 7px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.addfriend > a:link { color: #fff; }
.addfriend:hover { background: #0B6AAD; }