// Place all the styles related to the managers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*@import "vars.scss";*/
   .meter { 
	height: 43px;  /* Can be anything */
	position: relative;
	margin: 0px 0 20px 0; /* Just for demo spacing */
	background: #dfd404 url("/assets/charts/yellow.png") repeat-x;
/*	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px; */
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
	display: block;
	height: 100%;
	/*   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px; */
	background-color: rgb(43,194,83);
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(43,194,83)),
	  color-stop(1, rgb(84,240,84))
	 );
	background-image: -moz-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	-webkit-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}
.meter > span:after, .animate > span > span {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image: 
	   -webkit-gradient(linear, 0 0, 100% 100%, 
	      color-stop(.25, rgba(255, 255, 255, .2)), 
	      color-stop(.25, transparent), color-stop(.5, transparent), 
	      color-stop(.5, rgba(255, 255, 255, .2)), 
	      color-stop(.75, rgba(255, 255, 255, .2)), 
	      color-stop(.75, transparent), to(transparent)
	   );
	background-image: 
		-moz-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	z-index: 1;
	-webkit-background-size: 50px 50px;
	-moz-background-size: 50px 50px;
	-webkit-animation: move 2s linear infinite;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	overflow: hidden;
}

.animate > span:after {
	display: none;
}

@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}

.orange > span {
	background-color: #2fd505 url("/assets/charts/green.png") repeat-x;
	height: 43px; 

}


.nostripes > span > span, .nostripes > span:after {
	-webkit-animation: none;
	background-image: none;

}

.hope {
	margin-top: -35px;
	font-size: 16px;
	color:  white;
	z-index: 3;
	text-align: left;
	padding-left: 30px;
}

.hope-right{
	margin-top: -23px;
	font-size: 16px;
	color:  white;
	z-index: 3;
	text-align: right;
	padding-right: 30px;
}
.striped
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
.striped td, #customers th 
{
font-size:1.2em;
border:1px solid #98bf21;
padding:3px 7px 2px 7px;
}
.striped th 
{
font-size:1.4em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#fff;
}
.striped tr.alt td 
{
color:#000;
background-color:#EAF2D3;
}

.class_image4040{
    width:40px; height:40px; cursor:pointer; margin-top:-10px;
}

.grayfilterto-images{
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.class_image2525{
    width:25px; height:25px;
}
.margin-right10x{
 margin-right:10px;   
}

.button_button{
    background:#eee;
    padding:15px;
    width:250px;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
}
.button_button:hover{
    background:#C2F7F7;
    
}
.manager_notice{
    font-style:italic;
    font-size:15px;
}

.form-for-admin{
    & input{
    width:375px;
    display:block;
    border: 1px solid #999;
    height: 25px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    }
    & textarea{
    width:375px;
    height:150px;
    }
    & input[type='submit'] {
    width:240px;
    position:relative;
    display:block;
    margin:auto;
    right:20px;
    bottom:20px;
    background:#09C;
    color:#eee;
    font-family: Tahoma, Geneva, sans-serif;
    height:30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1p solid #999;
    cursor:pointer;
    }
    & input[type='submit']:hover {
    background:#fff;
    color:#09C;
    }
    & textarea:focus, input:focus {
    border: 1px solid #09C;
    }
    & .fileContainer {
        overflow: hidden;
        position: relative;
        color:#81D4D7;
        cursor:pointer;
        
    }

    & .fileContainer [type=file] {
        cursor: inherit;
        display: block;
        font-size: 999px;
        filter: alpha(opacity=0);
        min-height: 100%;
        min-width: 100%;
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
    }
    & .fileContainer:hover {
        color:#8193D7;
        
    }
}

.h8{
  font-size:25px;
}

.header-for-content{
    background:#255980;
    width:804px;
    height:60px;
    padding:10px;
    color:#FFFFFF; 
}

.instructions{
    color:#61646E;
    padding:10px;
}
.posting-preview{
    float:left;
    background:#fff;
    width:370px;
    height:400px;
    padding:5px;
    margin:5px;
    border:solid #BABBBF 1px;
    overflow:auto;
}
#preview-button{
    margin:5px;
    padding:5px;
    background:#04787A;
    color:#04787A;
    cursor:pointer;
    width:60px;
    height:20px;
    position:absolute;
    margin-left:355px;
    text-align:center;
    margin-top:-10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
}
#preview-button:hover{
    background:#19A4A6;
    color:#fff;
}