// Place all the styles related to the networks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box_comunity {
    height: 150px;
    width:  150px;
    float:left;
    margin:3px;
    transition: linear all 0.2s;
    position: relative;
    display: table;
    
    & .add_friend_comunity {
         z-index: 98%;
         /* margin-top: -20px; */
         position: absolute;
         display: inline;
         margin-left: 10px;
    }
    & .name {
        z-index: 99%;
        /* margin-top: -50px; */
        /* margin-bottom :-10px; */
        width: 130px;
        height: 41px;
        color:#000;
        margin-left: 10px;
        padding-top: 77px;
    }
    & .name:hover {
        color:#fff;
        display: block;
    }
    
    
}
.box_comunity:hover { box-shadow: 0px 0px 7px #28C8DF; transition: linear all 0.2s; }
.image_acces_comunity img { z-index: 0; }
.image_acces_comunity img:hover { opacity: 0.2; }
.place-hldr { height: 147px; display: block; margin-top: -153px;  width: 150px; transition: ease-in-out background 0.2s; padding-top: 5px; }
.place-hldr:hover { color: #fff!important; }
.sent-slctd { color: #ccc; }