// Place all the styles related to the networks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box_comunity{
    height: 150px;
    width:  150px;
    float:left;
    margin:3px;
    
    & .add_friend_comunity {
         z-index: 98%;
         margin-top: -20px;
    }
    & .name {
        z-index: 99%;
        margin-top: -50px;  
        margin-bottom :-10px;  
        width: 150px;
        color:#000;
        
    }
    
    
    
}
