// Place all the styles related to the networks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box_comunity {
    height: 150px;
    width:  150px;
    float:left;
    margin:3px;
    transition: linear all 0.2s;
    position: relative;
    display: table;
    overflow: hidden;
    
    & .add_friend_comunity {
         z-index: 98%;
         /* margin-top: -20px; */
         position: absolute;
         display: inline;
         margin-left: 10px;
         margin-top: 33px;
    }
    & .name {
        z-index: 99%;
        /* margin-top: -50px; */
        /* margin-bottom :-10px; */
        width: 130px;
        height: 41px;
        color:#000;
        margin-left: 10px;
        padding-top: 109px;
    }
    & .name:hover {
        color:#fff;
        display: block;
    }
}
.box_comunity:hover  {
	/*box-shadow: 0px 0px 7px #28C8DF;*/
	transition: linear all 0.2s;
	}
.image_acces_comunity img {
	z-index: 0;
	}
.image_acces_comunity img:hover {
	opacity: 0.2;
	}

.place-hldr {
	height: 147px;
	display: block;
	margin-top: -153px;
	width: 170px;
	transition: ease-in-out background 0.2s;
	overflow: hidden;
	text-align: center;
	margin-top: 0px!important;
	//margin-top: 4px!important;
	
	& .add_friend_comunity {
		height: 30px;
		padding-top: 5px!important;
	}
	& .name {
		display: block;
		position: relative;
		height: 25px;
		}
	}
.place-hldr:hover {
	color: inherit;
	}
.sent-slctd {
	color: #ccc;
	}

.box_comunity .add_friend_comunity { transition: ease-out all 0.3s; }
.box_comunity:hover .add_friend_comunity { margin-top: -40px; transition: ease-out all 0.3s; }

.netWorkMenuHeader { width: 888px; height: 25px; position: fixed; z-index: 9; background: rgba(221,221,221,0.2); padding: 37px 21px 27px 30px; transition: ease-out all 0.3s; }
.netWorkMenuHeader:hover { background: rgba(247,247,247,1); transition: ease-out all 0.3s; }
.redPop { background: #FF0000; padding: 2px 4px; color: #fff; text-align: center; display: block; float: right; position: absolute; margin-top: -35px; font-size: 12px; font-weight: bold; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; margin-left: -3px; }
.waitS > a, .currentFriends > a { background: #00AEC1; padding: 5px 8px; color: #fff; text-align: center; display: block; float: right; margin-left: 2px; color: #fff; }
.dividerHeader { height: 100px; display: block; }
.waitS > a:hover, .currentFriends > a:hover { background: #0B6AAD; }

.box_AllUsers { height: 150px; width: 148px; float:left; margin:3px; transition: linear all 0.2s; position: relative; display: table; overflow: hidden; border: 1px #ccc solid; }
.alert_method{
    width:480px;
    height:480px;
    background:url('/assets/explorer_network.png');
    color:#383D3A;
    font-size:17px;
    margin-top:50px;
    padding:15px;
}
.network_button_aler_method{
    margin-top:30px;
    padding:10px;
    font-size:23px;
    color:#383D3A;
    background:#F9FEA6;
}
.network_button_aler_method:hover{
    margin-top:30px;
    padding:10px;
    font-size:23px;
    color:#383D3A;
    background:#EEF55D;
}