ul#nav {margin: 0 0 0 20px;}
ul.drop a { display:block; color: #fff; font-family: Verdana; font-size: 14px; text-decoration: none;}
ul.drop, ul.drop li, ul.drop ul { list-style: none; margin: 0; padding: 0; border: 1px solid #fff; background: #555; color: #fff;}
ul.drop { position: relative; z-index: 597; float: left; }
ul.drop li { float: left; line-height: 1.3em; vertical-align: middle; zoom: 1; padding: 5px 10px; }
ul.drop li.hover, ul.drop li:hover { position: relative; z-index: 599; cursor: default; background: #1e7c9a; }
ul.drop ul { visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; width: 295px; background: #555; border: 1px solid #fff; }
ul.drop ul li { float: none; }
ul.drop ul ul { top: -2px; left: 100%; }
ul.drop li:hover > ul { visibility: visible }

@import "vars";

/* notification */
#box-notifications{
  clear: both;
  float: left;
  margin: 5px 0 0 -20px;
    
  & .avatar{
    margin-left: 3px;
    position: absolute;
    margin-top: 4px;
    margin-right: 8px;
    float: left;
  }
  & .comment-text{
    width: 300px;
    height: 100%;
    background: #FFF;
    float: left;
    border: $border-box;
    border-radius: $border-radius-box;
    margin: 5px 0px 10px 11px;
	   -moz-box-shadow: 1px 3px 7px #757575;
-webkit-box-shadow: 1px 3px 7px #757575;
box-shadow: 1px 3px 7px #757575;
    & .header{
      line-height: 23pt;
      padding-bottom: 6px;
      & .top-null-image{
        width: 60px;
        height: 10px;
        float: left;
      }
      & .date{
        color: #999;
        float: right;
        margin-right: 6px;
      }
    }
    & .content{
      color: #333;
      font-size: 13px;
      padding: 6px 10px 5px 10px;
     & li{
	  padding: 10px 0 10px 0;   
	  border-bottom: $border-box;
	  min-height: 50px;
	  line-height: 18px;
	  font-size: 12px;
	  }  
	  & li:hover{
		  background-color: #f8f8f8;
	  } 
	  & .avatar-notifications{
	     	float: left;
	     	margin-right: 10px;
	     	}
	  & .time{
		  font-size: 10px;
		  color: #777;
	  }
	  & .first{
		  margin-top: -5px;
	  }
	  & .last{
		  border: none;
	  }
    }
     	     
    & .video{
	     padding: 10px;
    }
    
    & .attatchments{
	    
    }
    & .title-discusion{
	    font-size: 18px; 
	    font-weight: bold;
	    margin-bottom: 10px;
    }
    
    & .text-discusion{
	    padding-left: 10px;
    }
    
    & .footer{
      border-top:1px solid $border-general;
      height: 25px;
      color: #777777;
      float: left;
      width: 100%;
      text-align: center;
      padding-top: 6px;
       -webkit-box-shadow: inset 0px 1px 3px #FFF, inset 0px -1px 4px #c9d1da;
    -moz-box-shadow:    inset 0px 1px 3px #FFF, inset 0px -1px 4px #c9d1da;
    box-shadow:         inset 0px 1px 3px #FFF, inset 0px -1px 4px #c9d1da;

      & .icon{
        float: left;
        margin: 4px 0px 0px 5px;
      }
      & .labels{
        float: right;
        margin: 4px 5px 0px 10px;
      }
     
    }
     & .footer:hover{
	      -webkit-box-shadow: inset 0px 1px 2px #999, inset 0px 3px 6px #c9d1da;
    -moz-box-shadow:    inset 0px 1px 2px #999, inset 0px 3px 6px #c9d1da;
    box-shadow:         inset 0px 1px 2px #999, inset 0px 3px 6px #c9d1da;
    background-color: #f8f8f8;
      }
  }

 
  & .header{
    background: #fff;//#ebebef;
    height: 25px;
    @include border-t-right-radius;
    @include border-t-left-radius;
    width: 100%;
    -moz-box-shadow:    inset 0px 1px 0px #f7f7f8;
    -webkit-box-shadow: inset 0px 1px 0px #f7f7f8;
    box-shadow:         inset 0px 1px 0px #f7f7f8;
    border-bottom: $border-box;
    
    & b {margin-left: 10px;}
        & .name{
      color: #333;
    }
  }
     & .general-cir-discusion{
    background: url('/assets/comment-cir-mini-discusion.png') no-repeat;
    width: 35px;
    height: 35px;
    float: left;
  }
  & .arrow-top {
    background: url('/assets/arrow_notification.png') no-repeat;
    width: 14px;
    height: 9px;
    position: absolute;
    margin:-9px 0px 0px 145px;
    z-index: 20;
  }
}