.simple-tab {
    //background:#F8B1FF;
    //background:#D6FAF7;
    //background:#E86850;
    //background:#c9d1da;
    background :#F7FAFF;
    margin-left:0px;
    cursor:pointer;
    color:#3399FF;
    position:relative;
    width: 23%;
    float:left;
    
    text-align: center;
    text-decoration: none!important;
    padding: 8px 5px 5px 5px;
    height: 33px;
}

 .simple-tab:hover {
      background: #CCCCCC;
      color: #000;
      text-decoration: none;
 }

#tab-form-options{
     //background:#F8B1FF;
     //background:#D6FAF7;
     //background:#E86850;
     //background:#c9d1da;
     background :#F7FAFF;
     
     height:45px;
     border-bottom:3px solid #0CCEF5;
     
      
}
.tab-style{
  //border:1.5px solid #FBCBFF;  
  border:1.5px solid #CCC;
}

.border_for_text{ 
   border:solid 1px #c9d1da !important;
   border-radius: 5px;
   margin: 4px 0px 0px 0px;
 }
.selected_tab {
    //background:#c9d1da;
    background :#F7FAFF;
    border-bottom:solid 4px #2A7A8A;
    padding:8px;
    width: 23%;
    background: #126899;
    color: #FFF!important;
    text-align: center;
    text-decoration: none!important;
    margin: -1px 0px 0px 0px;
    height: 29px;
}
.frcomment{
    cursor:text;
}

/* validando los placeholders*/
.red-placeholder::-webkit-input-placeholder { /* WebKit browsers */
    color:    #EE1D1D;
}
.red-placeholder:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #EE1D1D;
}
.red-placeholder::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #EE1D1D;
}
.red-placeholder:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #EE1D1D;
}

.normal-placeholder::-webkit-input-placeholder { /* WebKit browsers */
    color:    #c9d1da;
}
.normal-placeholder:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #c9d1da;
}
.normal-placeholder::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #c9d1da;
}
.normal-placeholder:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #c9d1da;
}