.simple-tab {
    //background:#F8B1FF;
    //background:#D6FAF7;
    //background:#E86850;
    //background:#c9d1da;
    //background :#00B1C7;
    margin-left: 0px;
    cursor: pointer;
    color: #AAA;
    position:relative;
    //width: 139px;
    width: 122px;
    float: left;
    text-align: left;
    text-decoration: none!important;
    padding: 15px 5px 5px 5px;
    height: 25px;
    font-size: 15px;
    font-size: 100;
    //background: #2B2A28;
	transition: linear all 0.2s;
}

 .simple-tab:hover {
      color: #000;
      transition: linear all 0.2s;
      text-decoration: none;
	  //background: #1b7ab1;
 }

#tab-form-options {
	//background:#F8B1FF;
	//background:#D6FAF7;
	//background:#E86850;
	//background:#c9d1da;
	overflow: hidden;
	z-index: 99;
	position: relative;
	height:45px;
	//border-bottom:3px solid #126899;     
	//background: #2B2A28;
}
.tab-style{
	//border:1.5px solid #CCC;
}

.border_for_text{ 
	border:solid 1px #c9d1da !important;
	border-radius: 5px;
	margin: 4px 0px 0px 0px;
 }
.selected_tab {
	//background: #F04B1F;
	//border-bottom: solid 4px #F04B1F;
	//background: #126899;
	//border-bottom: solid 4px #126899;
	//padding: 16px 8px 8px 8px;
	padding: 16px 8px 13px 8px;
	//width: 137px;
	width: 122px;
	text-align: left;
	text-decoration: none!important;
	margin: -1px 0px 0px 0px;
	//height: auto;
	height: 18px;
	font-size: 15px;
	color: #000!important;
	background: url('/assets/selected_arrow.png') bottom center no-repeat;
}
.selected_tab:hover {
	//background: #126899;
	cursor: default;
}


.tarea_tab {
	background: #87B53A;
}
.discusion_tab {
	background: #DEDF50;
}
.cuestionario_tab {
	background: #F3913B
}

.frcomment{
    cursor:text;
}

#message-form-area-tab {
	width: 600px;
	display: inline-block;
	padding-top: 10px;
	border: 1px solid #CCC;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

/* validando los placeholders*/
.red-placeholder::-webkit-input-placeholder { /* WebKit browsers */
    color:    #EE1D1D;
}
.red-placeholder:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #EE1D1D;
}
.red-placeholder::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #EE1D1D;
}
.red-placeholder:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #EE1D1D;
}

.normal-placeholder::-webkit-input-placeholder { /* WebKit browsers */
    color:    #c9d1da;
}
.normal-placeholder:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #c9d1da;
}
.normal-placeholder::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #c9d1da;
}
.normal-placeholder:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #c9d1da;
}

/* -------------- estilos tarea -------------- */
/* -------------- estilos tarea -------------- */

#delivery-form-area-tab {
	padding: 14px 21px 6px 19px;
	border: 1px solid #CCC;
	margin-top: -1px;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}
#delivery-form-area-tab .form_fix_title_overlay {
	width: 547px!important;
	margin-bottom: 8px!important;
}
#delivery-form-area-tab span {
	line-height: 25px;
}
#delivery-form-area-tab span:hover {
	//color: #FFF;
}
#delivery-form-area-tab .border_for_text {
	width: 543px;
	margin-top: 12px;
}
#delivery-form-area-tab .percent-input {
	margin-right: 44px;
}

/* -------------- estilos discusion -------------- */
/* -------------- estilos discusion -------------- */

#discussion-form-area-tab {
	width: 560px;
	padding: 14px 21px 11px 19px;
	border: 1px solid #CCC;
	margin-top: -1px;
	min-height: 135px;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}
#discussion-form-area-tab #discussion_title {
	width: 400px;
}
#discussion-form-area-tab .border_for_text {
	width: 542px;
}
#discussion-form-area-tab .var_delivery {
	margin-left: 532px;
}

/* -------------- estilos cuestionario -------------- */
/* -------------- estilos cuestionario -------------- */

#tabs_form #survey-form-area-tab {
	margin-top: -1px;
	position: relative;
	z-index: 1;
}

#tabs_form #survey-form-area-tab .survey-form {
	border: 1px solid #CCC;
	margin: 0px;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}
#tabs_form #survey-form-area-tab .survey-form .title-txt-input {
	width: 545px!important;
}
#tabs_form #survey-form-area-tab .form_container_fix_survey {
	padding: 1px 0px 13px 0px;
}
#tabs_form #survey-form-area-tab .form_container_fix_survey .form_fix_survey {
	padding-left: 20px!important;
}
#tabs_form #survey-form-area-tab #box-question #box-question-child .element {
	padding-bottom: 0px!important;
	background: #FFF!important;
}
#tabs_form #survey-form-area-tab #box-question #box-question-child #survey_questions_attributes_0_content {
	width: 400px!important;
	outline-color: #006696;
	outline-width: 1px;
}

#tabs_form #survey-form-area-tab #box-question #box-question-child #request-num {
	margin-left: 24px!important;
}
#tabs_form #survey-form-area-tab #box-question #box-question-child #survey_questions_attributes_0_answers_attributes_0_content {
	outline-color: #006696;
	outline-width: 1px;
}
#tabs_form #survey-form-area-tab .survey-form #box-question #box-question-child #box-request #box-request-child {
	background: #FFF!important;
	padding: 5px 0px;
	border: 0px!important;
}


/* -------------- estilos cuestionario -------------- */
/* -------------- estilos cuestionario -------------- */