/*@import "vars.scss";*/
#expando {
width: 100%;
height: 100%;}

.topbar2 {
height: 35px;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 10000;
overflow: visible;
display: block;}

.topbar-inner2, .topbar .fill {
height: 35px;
background-color: #f7f7f7;
background-color: #f7f7f7;
background-repeat: repeat-x;
-webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
border-bottom: 1px solid #cecece;
}

.container2 {
height: 35px;
width: 940px;
margin-left: auto;
margin-right: auto;
zoom: 1;
}

.topbar2 h3 a, .topbar .brand {
float: left;
display: block;
padding: 6px 20px 0px 20px;
margin-left: -20px;
color: white;
font-size: 20px;
font-weight: 200;
line-height: 1;
}


.login{
margin: auto;
padding-top: 50px;
width: 500px;
font-family: "Helvetica Neue", sans-serif;
color: white;
font-size: 18px;
font-weight: normal;
}

.login p{
	text-align: center;	
	text-shadow: 1px 1px 7px #86624c;
	}

.login b {
	font-size: 30px;
	font-weight: normal;
	line-height: 18px;
}

.login i {
	font-weight: lighter;
	font-style: normal;
}

.btn.large {
font-size: 17px;
font-family: "HelveticaNeue-Light", sans-serif;
line-height: normal;
padding: 20px 30px ;

}

.btn.primary {
color: white;
background-image: -khtml-gradient(linear, left top, left bottom, from(#f86049), to(#d6432d));
background-image: -moz-linear-gradient(top, #f86049, #d6432d);
background-image: -ms-linear-gradient(top, #f86049, #d6432d);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f86049), color-stop(100%, #0064CD));
background-image: -webkit-linear-gradient(top, #f86049, #d6432d);
background-image: -o-linear-gradient(top, #f86049, #d6432d);
background-image: linear-gradient(top, #f86049, #d6432d);
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
border-color: #f46d59 #f46d59 #f46d59;
border-color: #f46d59;
}




.btn:hover{
color: white;
background-image: -khtml-gradient(linear, left top, left bottom, from(#e35843), to(#c03c28));
background-image: -moz-linear-gradient(top, #e35843, #c03c28);
background-image: -ms-linear-gradient(top, #e35843, #c03c28);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e35843), color-stop(100%, #c03c28));
background-image: -webkit-linear-gradient(top, #e35843, #c03c28);
background-image: -o-linear-gradient(top, #e35843, #c03c28);
background-image: linear-gradient(top, #e35843, #c03c28);
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
border-color: #f46d59 #f46d59 #f46d59;
border-color: #f46d59;
}

.login-form{
margin-top: 35px;
width: 300px;
height: 195px;
display: block;
background-color: #fcfcfc;	
-webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
padding:20px;
color: #00b0ca;
font-family: "HelveticaNeue", sans-serif;
}



.email{
margin-top: 15px;
width: 245px;
height: 10px;
border: 1px solid #c9c9c9;
padding: 20px;
color: #c9c9c9;
font-size: 12px;
line-height: 15px;
font-family: "HelveticaNeue-Light", sans-serif;
margin-left: -5px;
}

.pswd{
width: 245px;
height: 10px;
border: 1px solid #c9c9c9;
border-top: 0px;
padding: 20px;
color: #c9c9c9;
font-size: 12px;
line-height: 15px;
font-family: "HelveticaNeue-Light", sans-serif;

}

.login-form input:focus{
color: black;
}

.log-in{
margin-top: 10px;
border: 1px solid #c9c9c9;
background-color: #fcfcfc;	
padding: 15px;
color: #a8a4a4;
font-size: 12px;
font-family: "HelveticaNeue-Light", sans-serif;
float: right;
margin-right: 7px;
}

button.log-in:hover {
    cursor: pointer; 
    background: white;
}
button.log-in:active {
  cursor: pointer; 
    background: #f9f9f9;
}

.forgot {
color: #00b0ca;
font-size: 12px; 
margin-top: 15px;
float: left;

}

.forgot a:hover{ 
	text-decoration: underline;
	text-shadow: 0;
}


.remember {
color: #00b0ca;
font-size: 12px; 
margin-top: 15px;
float: left;

}

.userNotiInside {
	width: 450px;
	padding: 20px;
	background: rgba(255,255,255,0.8);
	padding: 1px;
	margin: 35px auto 30px auto;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}
.userNoti {
	width: 350px;
	padding: 20px;
	background: #00B1C7;
	margin: 30px auto;
	font-weight: lighter;
	color: #fff;
}

.no-wrap {
	color: #fff;
	margin: 30px auto;
	padding: 15px 0 0 0;
	height: 35px!important;
}

.no-wrap a:link, .no-wrap a:visited {
	color: #fff!important;
}

footer{
width: 800px;
margin: auto;
margin-top: 100px;
font-size: 12px;
font-family: "HelveticaNeue-Light", sans-serif;
text-align: center;
color: white;
opacity: 0.7;
}

.help{
    cursor:pointer;
    
}

.delivery_help{
    margin-right:185px;
    float: right;
    z-index: 3;
    position: relative;
}

.discussion_help{
    margin-right:325px;
    float: right;
    margin-top:-30px;
}

.survey_help{
    margin-left:10px;
    margin-top:10px;
}

.courses_help{
    width:260;
    height:200;
    
}
.help_use_to_delivery{
    width:500px;
    height:350px;
    z-index:99999999%;
}

.friend_user_help{
    float:left;
    margin-right:300px;
}

.video_help{
    width:500px;
    height:300px;
    margin:0px; 
    padding:0px;   
}

.content_video {
    width:100%;
    height:90%;
    padding:2%;   
}

.head_banner_style_user { margin-left:15px; width: 234px; height: 60px; font-size:8px; padding:5px; background: #fff; transition: ease-out all 0.3s; border: 1px solid #eee; }

.head_banner_style { margin-top:100px; margin-bottom:-100px; margin-left:15px; width: 234px; height: 60px; font-size:8px; padding:5px; background: #fff; transition: ease-out all 0.3s; border: 1px solid #eee;

/*    background-image: linear-gradient(bottom, rgb(212,140,64) 29%, rgb(255,168,90) 65%, rgb(247,178,74) 100%);
    background-image: -o-linear-gradient(bottom, rgb(212,140,64) 29%, rgb(255,168,90) 65%, rgb(247,178,74) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(212,140,64) 29%, rgb(255,168,90) 65%, rgb(247,178,74) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(212,140,64) 29%, rgb(255,168,90) 65%, rgb(247,178,74) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(212,140,64) 29%, rgb(255,168,90) 65%, rgb(247,178,74) 100%);
    
    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.29, rgb(212,140,64)),
    	color-stop(0.65, rgb(255,168,90)),
    	color-stop(1, rgb(247,178,74))
    );
        */
}

.head_banner_style:hover, .head_banner_style_user:hover { background: #eee; cursor: pointer; transition: ease-out all 0.3s; }

/*
.head_banner_style_user{
       margin-top:30px;
       margin-bottom:5px;
       margin-left:15px;
       width: 234px;
       height: 60px;
       font-size:8px;
       padding:5px;
       background-image: linear-gradient(bottom, rgb(212,140,64) 29%, rgb(255,168,90) 65%, rgb(247,178,74) 100%);
       background-image: -o-linear-gradient(bottom, rgb(212,140,64) 29%, rgb(255,168,90) 65%, rgb(247,178,74) 100%);
       background-image: -moz-linear-gradient(bottom, rgb(212,140,64) 29%, rgb(255,168,90) 65%, rgb(247,178,74) 100%);
       background-image: -webkit-linear-gradient(bottom, rgb(212,140,64) 29%, rgb(255,168,90) 65%, rgb(247,178,74) 100%);
       background-image: -ms-linear-gradient(bottom, rgb(212,140,64) 29%, rgb(255,168,90) 65%, rgb(247,178,74) 100%);

       background-image: -webkit-gradient(
       	linear,
       	left bottom,
       	left top,
       	color-stop(0.29, rgb(212,140,64)),
       	color-stop(0.65, rgb(255,168,90)),
       	color-stop(1, rgb(247,178,74))
       );
       
}
*/

.sup_track{
    padding: 5px;
}
.track{
       border: solid #fff;
       width: 30px;
       height: 30px;
       float: left;
   }
.track_text{
      float: left;
      font-size: 18px;
      margin-left: 5px;
}

.non-margin{
    margin-left:-10px;
    margin-top:10px;
    margin-bottom:-16px;
}

.notice-file{
	padding-left: 50px;
    float: left;
    height: 24px;
    width: 100px;
    font-size: 11px;
    color: #cbcbcb;
    padding-top: 15px;
    text-align: left;
    padding-right: 20px;
    margin-top: 37px;
    z-index: 0;
    font-weight: lighter;
    font-family: arial;
    position: absolute;
}

.youtube_content_delivery {
	height: 182px!important;
	overflow: auto;
	float: left;
	width: 100px;
}

#content_free {
	margin-top: 20px;
	width: 3035px;
	overflow-y: hidden;
	height: 150px;
	position: relative;
}

