// Place all the styles related to the superadmnin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.super-admin-menu{
    background-image: linear-gradient(bottom, rgb(192,182,207) 10%, rgb(217,216,230) 55%);
    background-image: -o-linear-gradient(bottom, rgb(192,182,207) 10%, rgb(217,216,230) 55%);
    background-image: -moz-linear-gradient(bottom, rgb(192,182,207) 10%, rgb(217,216,230) 55%);
    background-image: -webkit-linear-gradient(bottom, rgb(192,182,207) 10%, rgb(217,216,230) 55%);
    background-image: -ms-linear-gradient(bottom, rgb(192,182,207) 10%, rgb(217,216,230) 55%);

    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.1, rgb(192,182,207)),
    	color-stop(0.55, rgb(217,216,230))
    );
    position:absolute;
      top:0;
      left:0;
      width:150px;
      height:100%;
      margin-right:10px;
}
.lateral-content{
   margin-left:160px;
    
}
.super-admin-header{
    color:#2D6477;
    font-size:20px;
}
.super-admin-descriptions{
    color:#2D6477;
     font-size:15px;
}
.counter-marquer{
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    color:#E28A1E;
    font-size:25px;
    float:right;
    padding:15px;
    margin: 5px;
    width:30px;
    height:30px;
    background-image: linear-gradient(bottom, rgb(45,46,41) 10%, rgb(33,38,38) 55%);
    background-image: -o-linear-gradient(bottom, rgb(45,46,41) 10%, rgb(33,38,38) 55%);
    background-image: -moz-linear-gradient(bottom, rgb(45,46,41) 10%, rgb(33,38,38) 55%);
    background-image: -webkit-linear-gradient(bottom, rgb(45,46,41) 10%, rgb(33,38,38) 55%);
    background-image: -ms-linear-gradient(bottom, rgb(45,46,41) 10%, rgb(33,38,38) 55%);

    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.1, rgb(45,46,41)),
    	color-stop(0.55, rgb(33,38,38))
    );
    
    
}

.super-admin-list{
     background-color:#CECDCC;
     border-bottom:#fff solid 2px;
     font-size:15px;
     padding:5px;
     
}
.oppening_parts{
    width:600px;
    height:200px;
    border-bottom:solid #eee 2px;
    float:left;
    overflow:auto;
    
}
.course_container{
   width:170px;
   height:200px;
   background-color:#eee; 
   float:left;
    
}
.heder_courses{
    color:#2D6477;
    font-size:18px;
}
.body_course{
    color:#2D6477;
    font-size:12px;
    width:100px;
}
.holder_admin{
    
}

.tareas_super_admin{
    display:none;
    
}
.survey_super_admin{
    display:none;
    
}

.delivery_course_admin{
    color:#2D6477;
    font-size:13px;
     width:90%;
     background-color:#eee;
     padding:7px;
     margin:10px;
     
     
}
.secon_title_super_admin{
    color:#2D6477;
    font-size:15px;
    margin:10px;
}
.title_delivery_admin{
       color:#2D6477;
       font-weight:bold;
}

.float_right{
    float:right;
    background-color:#eee;
    
}
.surveys_super_admin{
    border:solid #eee 2px;
    margin-left:10px;
    margin-top:3px;
    padding:3px;
    width:90%;
    display:none;
    
}

.red_line_container{
   border-bottom:solid #FF8000 2px;
   width:100%;
   margin-top:5px;
}

.body_assignment{
    color:#2D6477;
    font-size:12px;
}
