<p>Bienvenido <%= @resource.email %>!</p>

<p>Puedes confirmar tu correo y cuenta dando click en el siguiente enlace:</p>

<p>

<h1><%= link_to 'Confirmar tu Cuenta >>', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token, :subdomain => @resource.devise_mailer_subdomain) %></h1></p>

