<p>Hola <%= @resource.email %>!</p>

<p>Has solicitado resetear tu contraseña, puedes hacerlo dando click en el siguiente link.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si tu no hiciste esta solicitud, pro favor ignora est mail.</p>
<p>Tu contraseña no se cambiará hasta que no des click en el link y generes una nueva.</p>
