<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta se ha bloqueado debido a un gran número de intentos fallidos al ingresar.</p>

<p>Da click en el siguiente enlace para desbloquear tu cuenta:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
