-# %h2 Cambiar contraseña
 
= form_tag(update_password_admin_user_path(@user), method: "post", multipart: true) do |f|
 
  Nueva contraseña:
  = text_field_tag 'password'
  %br
 
  = submit_tag "Change"
 
%br