.wrapper
  .cols-12
    .col.col-12
      .col-inner
        .managers-section-header
          .title
            %h1 Crear Tarea
  .cols-12
    .col.col-6
      .col-inner
        = render partial: 'managers/deliveries/shared/form', locals: { delivery: @delivery }