.managers-sub-navigation
  .wrapper
    .cols-12
      .col.col-12
        .col-inner
          %ul
            %li
              = link_to "Listado de Cursos", managers_courses_path, class: active_class(['index', 'show', 'edit'], 'managers/courses')
            %li
              = link_to "Importar Cursos", import_managers_courses_path, class: active_class('import')