
/* Publications Skeleton
----------------------------------*/
#pk_menu {
  @include clearfix;
}

.publication-box {
  margin-bottom: 20px;
  @include clearfix;

  .publication-author {
    float: left;
  }

  .publication-main {
    margin-left: 55px;

    > .publication-metadata {
      margin: 0 10px 10px 10px;
    }

    &:hover > .publication-metadata .edit-publication,
    &:hover .publication-content .edit-publication {
      @include inline-block;
    }
  }

  .publication-content {
    padding: 10px;

    h6 {
      margin-bottom: 3px;
      margin-top: -4px;
    }
  }

  .post-child-comment-box {
    .more-comment-box {
      padding: 6px 10px 8px 10px;

      i {
        margin-right: 3px;
      }
    }
  }
}

.academic-publication {
  .publication-content {
    position: relative;
    margin: -1px;
    padding: 20px;
  }

  .academic-content {
    padding: 15px 0 19px 0;
    @include clearfix;
    
    .academic-action {
      float: right;
    }
    
    .academic-content-icon {
      float: left
    }

    .academic-content-desc {
      margin-left: 42px;
    }
  }
}

.publication-metadata {
  @include clearfix;

  > div {
    @include inline-block;
  }

  .meta-data {
    padding: 0 3px;
    @include inline-block;

    &:first-child {
      padding-left: 0;
    }
  }

  .edit-publication {
    display: none;
  }
}

.post-child-comment-box {

  .child-comment-box {
    padding: 10px;
    @include clearfix;

    .comment-author {
      float: left;
    }

    .comment-main {
      margin-left: 40px;

      > h6 {
        margin-top: -4px;
      }

      .publication-metadata {
        margin-top: 4px;
      }
    }

    &:hover {
      .edit-publication {
        @include inline-block;
      }
    }
  }

  .add-comment {
    padding: 7px 10px 4px 10px;

    .comment-author {
      display: none;
    }

    .comment-main {
      margin-left: 0;
    }

    .new-comment-textarea {
      width: 100%;
      height: 8px;
    }

    .new-comment-actions {
      text-align: right;
      display: none;
    }

    &.active {
      padding: 10px;
      
      .comment-main {
        margin-left: 40px;
      }
    }
  }
}

/* New Publications
----------------------------------*/
.new-publication {
  margin: 20px 0 20px 0;
  @include clearfix;

  .new-publication-author {
    float: left;
  }

  .new-publication-main {
    margin-left: 55px;

    .new-publication-form-content {
      padding: 10px;
    }

    .new-publication-footer {
      padding: 10px;
      clear: both;
      @include clearfix;
    }
  }

  .tabs {
    .tabs-buttons {
      height: 43px;
      @include clearfix;

      .tab {
        float: left;
        padding: 13px 10px 12px 10px;
        position: relative;

        .tip {
          position: absolute;
          width: 19px;
          height: 7px;
          bottom: 0;
          left: 50%;
          margin-left: -10px;
          display: none;
        }

        &.active {
          .tip {
            display: block;
          }
        }
      }
    }

    .tabs-main {
      .tab-content {
        display: none;
      }
    }
  }
}

#comment-tab-content{ 
  .comment_for_wall {
    width: 100%;
  }
}

/* homework
----------------------------------*/
.areas-of-evaluation {

  .evaluation-areas-list {
    @include clearfix;
  }

  .evaluation-footer {
    clear: both;
    @include clearfix;
  }
}

#delivery-tab-content {
  .new-publication-upload {
    position: relative;

    #new_assets {
      position: absolute;
      top: -45px;
      left: 10px;
    }
  }
}

/* Survey
----------------------------------*/
.new-survey-questions {
  @include clearfix;

  #box-question {
    .question-field {
      margin-bottom: 10px;
      
      .num {
        display: inline;
      }

      .element {
        padding: 5px;
        overflow: hidden;

        .question-input-field {
          width: 265px;
          padding-left: 0;
        }

        .delete-question-button {
          display: none;
        }

        &:hover .delete-question-button {
          display: block;
        }
      }

      .request-field {
        overflow: hidden;
        padding: 5px;
        
        .answer-field-input {
          padding-left: 0;
          width: 240px;
        }
      }

      .add-aswer a {
        display: block;
        padding: 5px;
      }
    }
  }
}

/* Publication Assets
----------------------------------*/
.look_atemp_conteny {
  .choser {
    margin-top: 5px;

    .publication-asset {
      padding: 3px 4px;
      @include clearfix;

      .cancel_link, .trash {
        float: right;
        display: none;
      }

      &:hover {

        .cancel_link, .trash {
          display: block;
        }
      }
    }
  }
}

.publication-assets {
  margin-top: 20px;

  .publication-asset {
    padding: 3px 0;
  }
}