
/* Publications Skeleton
----------------------------------*/
#pk_menu {
  @include clearfix;
}

.publication-box {
  margin-bottom: 15px;
  @include clearfix;

  .publication-content {
    padding: 10px;
    position: relative;
    
    .edit-publication {
      position: absolute;
      top: 5px;
      right: 5px;

      .dropdown-pull {
        padding: 0 5px 2px 5px;
      }
    }

    .publication-inner-content-author {
      float: left;
    }

    .publication-inner-content-main {
      margin-left: 70px;
      padding-left: 10px;

      .publication-metadata {
        margin-top: 7px;
      }
    }

    h6 {
      margin-bottom: 3px;
      margin-top: -4px;
    }
  }
}

.more-comment-box {
  padding: 6px 10px 8px 10px;

  i {
    margin-right: 3px;
  }
}

.academic-publication {
  .publication-content {
    position: relative;
    margin: -1px;
    padding: 10px;
  }

  .academic-athor {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .academic-details {
    padding: 20px 20px;

    .academic-intro {
      margin-bottom: 10px;
    }

    .academic-desc {
      margin: 5px 0 25px 0;
    }
  }

  .publication-metadata {
    margin-bottom: 10px;
  }
}

.publication-metadata {
  @include clearfix;

  > div {
    @include inline-block;
  }

  .meta-data {
    padding: 0 3px;
    @include inline-block;

    &:first-child {
      padding-left: 0;
    }
  }

  .edit-publication {
    display: none;
  }
}

.post-child-comment-box {

  &:hover .edit-publication {
    display: inline;
  }

  .child-comment-box {
    padding: 10px;
    @include clearfix;

    .comment-author {
      float: left;
    }

    .comment-main {
      margin-left: 40px;

      > h6 {
        margin-top: -4px;
      }

      .publication-metadata {
        margin-top: 4px;
      }
    }
  }

  .add-comment {
    padding: 7px 10px 4px 10px;

    .comment-author {
      display: none;
    }

    .comment-main {
      margin-left: 0;
    }

    .new-comment-textarea {
      width: 100%;
      height: 8px;
    }

    .new-comment-actions {
      text-align: right;
      display: none;
    }

    &.active {
      padding: 10px;
      
      .comment-main {
        margin-left: 40px;
      }
    }
  }
}

/* New Publications
----------------------------------*/
.new-publication {
  margin-bottom: 15px;
  @include clearfix;

  .new-publication-main {
    .new-publication-form-content {
      padding: 10px;
    }

    .new-publication-footer {
      padding: 10px;
      clear: both;
      @include clearfix;
    }
  }

  .tabs {
    .tabs-buttons {
      height: 43px;
      @include clearfix;

      .tab {
        float: left;
        padding: 13px 10px 0px 10px;
        position: relative;
        height: 31px;

        .tip {
          position: absolute;
          width: 19px;
          height: 7px;
          bottom: 0;
          left: 9px;
          display: none;
        }

        &.active {
          .tip {
            display: block;
          }
        }
      }
    }

    .tabs-main {
      .tab-content {
        display: none;
      }
    }
  }
}

#comment-tab-content{ 
  .comment_for_wall {
    width: 100%;
  }
}

/* homework
----------------------------------*/
.areas-of-evaluation {
  .clear-break {
    margin-bottom: 10px;
  }

  .evaluation-footer {
    overflow: hidden;
    clear: right;
  }

  #total_nested_evaluation {
    margin-bottom: 10px;
  }
}

#delivery-tab-content {
  .new-publication-upload {
    position: relative;

    #new_assets {
      position: absolute;
      top: -45px;
      left: 10px;
    }
  }
}

/* Survey
----------------------------------*/
.new-survey-questions {
  @include clearfix;

  #box-question {
    .question-field {
      margin-bottom: 10px;
      
      .num {
        display: inline;
      }

      .element {
        padding: 5px 5px 5px 20px;
        overflow: hidden;
        position: relative;

        .num {
          position: absolute;
          top: 9px;
          left: 9px;
        }

        .question-input-field {
          width: 400px;
          padding: 3px;
        }

        .delete-question-button {
          display: none;

          .i-x-close {
            vertical-align: -3px;
          }
        }

        &:hover .delete-question-button {
          display: block;
        }
      }

      .request-field {
        overflow: hidden;
        padding: 5px 5px 5px 23px;
        position: relative;

        .num {
          position: absolute;
          top: 9px;
          left: 9px;
        }

        .answer-field-input {
          padding: 3px;
          width: 240px;
        }
      }

      .add-aswer a {
        display: block;
        padding: 5px;
      }
    }
  }
}

/* Publication Assets
----------------------------------*/
.look_atemp_conteny {
  .choser {
    margin-top: 5px;

    .publication-asset {
      padding: 3px 4px;
      @include clearfix;

      .cancel_link, .trash {
        float: right;
        display: none;
      }

      &:hover {

        .cancel_link, .trash {
          display: block;
        }
      }
    }
  }
}

.publication-assets {
  margin-top: 20px;

  .publication-asset {
    padding: 3px 0;
    @include clearfix;
  }
}

/* Edit Publications
----------------------------------*/
.form_for_edit_wall {
  padding: 10px;

  .new-publication-footer {
    @include clearfix;
  }
}

// colocando pra comentario de texto mediadas
.frcomment{
   height: 70px;    
   padding:10px;
}


.no-more-publicaitons-message {
  padding: 10px;
  margin-bottom: 30px;
}