
/* Publications Skeleton
----------------------------------*/
#pk_menu {
  @include clearfix;
}

.publication-box {
  margin-bottom: 15px;
  @include clearfix;

  .publication-content {
    padding: 10px;
    position: relative;

    .edit-publication {
      position: absolute;
      top: 0;
      right: 0;

      .dropdown-pull {
        padding: 0 5px 2px 5px;
      }
    }

    .publication-inner-content-author {
      float: left;
    }

    .publication-inner-content-main {
      margin-left: 70px;

      .publication-metadata {
        margin-top: 7px;
      }

      img {
        max-width: 100% !important;
        height: auto;
      }
    }

    h6 {
      margin-bottom: 3px;
      margin-top: -4px;
    }
  }

  @include max-screen(600px) {
    .publication-inner-content-author img {
      width: 30px;
      height: 30px;
    }

    .publication-inner-content-main {
      margin-left: 40px !important;
    }
  }
}

.more-comment-box {
  padding: 6px 10px 8px 10px;

  i {
    margin-right: 3px;
  }
}

.academic-publication {
  .publication-content {
    position: relative;
    margin: -1px;
    padding: 10px;
  }

  .academic-athor {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .academic-details {
    padding: 20px 20px;

    .academic-intro {
      margin-bottom: 10px;
    }

    .academic-desc {
      margin: 5px 0 25px 0;
    }
  }
}

.publication-metadata {
  @include clearfix;

  > div {
    @include inline-block;
  }

  .meta-data {
    padding: 0 3px;
    @include inline-block;

    &:first-child {
      padding-left: 0;
    }
  }

  .edit-publication {
    display: none;
  }
}

.post-child-comment-box {

  &:hover .edit-publication {
    display: inline;
  }

  .child-comment-box {
    padding: 10px;
    @include clearfix;

    .comment-author {
      float: left;
    }

    .comment-main {
      margin-left: 40px;

      > h6 {
        margin-top: -4px;
      }

      .publication-metadata {
        margin-top: 4px;
      }
    }
  }

  .add-comment {
    padding: 7px 10px 4px 10px;

    .comment-author {
      display: none;
    }

    .comment-main {
      margin-left: 0;
    }

    .new-comment-textarea {
      width: 100%;
      padding: 5px;
      height: 31px;
    }

    .new-comment-actions {
      text-align: right;
      display: none;
    }

    &.active {
      padding: 10px;

      .comment-main {
        margin-left: 40px;
      }
    }
  }
}

/* New Publications
----------------------------------*/
.new-publication {
  margin-bottom: 15px;
  @include clearfix;

  .new-publication-main {
    .new-publication-form-content {
      padding: 10px;
    }

    .new-publication-footer {
      padding: 10px;
      clear: both;
      @include clearfix;
    }
  }

  .tabs {
    .tabs-buttons {
      @include clearfix;

      .tab {
        float: left;
        padding: 13px 10px 0px 10px;
        position: relative;
        height: 31px;

        .tip {
          position: absolute;
          width: 19px;
          height: 7px;
          bottom: -1px;
          left: 50%;
          margin-left: -10px;
          display: none;
        }

        &.active {
          .tip {
            display: block;
          }
        }

        .i {
          @include max-screen(480px) {
            display: block;
            margin: 0 auto;
          }
        }

        @include max-screen(480px) {
          padding: 10px 0 15px 0;
          width: 25%;
        }
      }
    }

    .tabs-main {
      .tab-content {
        display: none;
      }
    }
  }
}

#comment-tab-content{
  .comment_for_wall {
    width: 100%;
  }
}

/* homework
----------------------------------*/
.areas-of-evaluation {
  .evaluation-areas-list {
    .evaluation-area {
      .name-area {
        margin-bottom: 15px;
      }

      .slider-content {
        margin: 14px 0 0 15px;
      }
    }
  }

  .evalutation-total .total {
    margin-bottom: 10px;
    text-align: right;
    display: block;
  }

  .evaluation-footer {
    overflow: hidden;
  }
}

#delivery-tab-content {
  .new-publication-upload {
    position: relative;

    #new_assets {
      position: absolute;
      top: -45px;
      left: 10px;
    }
  }
}

/* Survey
----------------------------------*/
.new-survey-questions {
  @include clearfix;

  .box-question {
    .question-field {
      margin-bottom: 10px;

      .num {
        display: inline;
      }

      .element {
        padding: 5px 40px 5px 20px;
        overflow: hidden;
        position: relative;

        .num {
          position: absolute;
          top: 9px;
          left: 9px;
        }

        .question-input-field {
          width: 100%;
          padding: 3px;
        }

        .delete-question-button {
          display: none;
          position: absolute;
          top: 5px;
          right: 5px;

          .i-x-close {
            vertical-align: -3px;
          }
        }

        &:hover .delete-question-button {
          display: block;
        }
      }

      .request-field {
        overflow: hidden;
        padding: 5px 145px 5px 23px;
        position: relative;

        .answer-child-options {
          position: absolute;
          top: 7px;
          right: 7px;
        }

        .num {
          position: absolute;
          top: 9px;
          left: 9px;
        }

        .answer-field-input {
          padding: 3px;
          width: 100%;
        }
      }

      .add-aswer a {
        display: block;
        padding: 5px;
        margin-top: -1px;
        width: 98%;
        height: 15px;
        border-top: 1px  #d6d6d6 solid;
      }
    }
  }
}

.select_viwver_answer{
  margin:8px; width:100%; height:110px; padding:5px; border-top:solid 1px #eee;
}

.select_viwver_question{
  width:100%; height:120px; padding:5px; border-top:solid 1px #eee;
}

.button_answer_field{
  cursor: pointer;
  :active{
    margin-top: -3px;
  }
}

.button_question_field{
  cursor: pointer;
  :active{
    margin-top: -3px;
  }
}

/* Edit Publications
----------------------------------*/
.form_for_edit_wall {
  padding: 10px;

  .new-publication-footer {
    @include clearfix;
  }
}

// colocando pra comentario de texto mediadas
.frcomment{
   height: 70px;
   padding:10px;
}


.no-more-publicaitons-message {
  margin-bottom: 25px;
  padding: 4px 10px;
}


.academic-activities-section {
  margin-bottom: 20px;
}

// New Publications Boxes
.post-box {
  margin-bottom: 20px;
  position: relative;

  .post-box-main-user-actions {
    position: absolute;
    top: 0;
    right: 7px;
  }

  .post-box-main-admin-actions {
    position: absolute;
    top: 0;
    right: 7px;
  }

  .post-box-main-author {
    padding: 10px;
    @include clearfix;

    &.as-activity {
      .post-box-main-author-content {
        margin: 0;
      }
    }

    .post-box-avatar {
      float: left;
    }

    .post-box-main-author-content {
      margin: 3px 0 0 55px;
      padding-right: 45px;

      .timestamp {
        display: block;
        margin-top: 1px;
      }
    }

    .post-breadcrumb {
      .i {
        margin: 0px 4px;
      }
    }
  }

  .post-box-content {
    padding: 10px 65px 10px 10px;
    height: 160px;
    position: relative;
    margin: -1px;

    .icon-card {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 6;
    }

    .file-type {
      position: absolute;
      bottom: 20px;
      right: 20px;
      z-index: 6;
      color: #fff;
      opacity: 0.5;
      font-size: 30px;
      font-weight: 400;
    }

    .post-box-meta {
      display: block;
      margin-top: 3px;
    }

    .timestamp {
      margin-bottom: 8px;
      display: block;
    }

    .btn {
      margin-top: 10px;
    }

    .post-meta-info {
      margin-top: 5px;
    }
  }

  .post-box-content-inner {
    z-index: 4;
    height: 100%;
    position: relative;
  }

  .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
  }

  .post-box-under-container {
    .post-box-likes .post-box-likes-inner {
      margin: 0 10px;
      padding: 5px 0;

      .i {
        margin-right: 3px;
      }
    }
  }

  .post-box-edit {
    padding: 10px;
    display: none;
  }

  .post-box-footer {
    padding: 10px;
    @include clearfix;

    .post-box-actions {
      float: left;
    }

    .post-box-info {
      float: right;
    }
  }

  &.academic {
    .post-box-content {
      .post-meta-info {
        position: absolute;
        bottom: 10px;
        left: 10px;
      }

      .post-box-content-inner {
        .post-meta-info {
          left: 0;
        }
      }
    }
  }
}

.comment .post-box-content {
  padding: 0px 10px 10px 10px;
  margin-top: -3px;
  height: auto;
}

.standalone-post {
  margin: 20px 0;
}

.support-material {
  .support-material-item {
    margin-top: 1px;
    padding: 3px 50px 3px 3px;
    height: 18px;
    position: relative;

    &:hover {
      .item-delete {
        display: block;
      }
    }

    &:first-child {
      margin-top: 10px;
    }

    .item-name {
      @include ellipsis();
    }

    .item-delete {
      position: absolute;
      right: 5px;
      top: 2px;
      display: none;
    }
  }
}


.fields-wrap {
  .field-item {
    position: relative;
    margin-bottom: 10px;

    &:hover {
      padding-right: 20px;

      .delete-field-item {
        display: block;
      }
    }

    .delete-field-item {
      position: absolute;
      right: 0;
      top: 8px;
      display: none;
    }
  }
}

.evaluable-fields-js {
  display: none;
}
