
/* Publications Skeleton
----------------------------------*/
.publication-box {
  .publication-main {
    @extend .basic-container-style;

    .publication-content {
      word-break: break-word;
      border-radius: $radius $radius 0 0;

      h6 {
        color: $meta-color;
        font-weight: normal;
        font-size: 14px;

        a {
          font-weight: 500;
        }
      }
    }
  }
}

.academic-publication {

  &.discusion .publication-content {
    background-image: url('publication-covers/discussion.jpg');
  }

  &.tarea .publication-content {
    background-image: url('publication-covers/delivery.jpg');
  }

  &.cuestionario .publication-content {
    background-image: url('publication-covers/survey.jpg');
  }

  &.curso .publication-content {
    background-image: url('publication-covers/course.jpg');
  }
  
  .publication-content {
    background-size: cover;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);

    .academic-athor img {
      box-shadow: 0 1px 1px rgba(0,0,0,.2);
    }

    .academic-details {
      text-align: center;
      
      p {
        color: #fff;
        text-shadow: 0 1px 1px rgba(0,0,0,.1);
        font-size: 14px;
      }
      
      .academic-intro p {
        font-size: 13px;

        a { 
          color: #fff;
          font-weight: bold;
        }
      }

      .academic-title .title a {
        color: #fff;
      }
    }

    h6 {
      color: $white;

      a {
        color: $white;        
      }
    }

    .publication-metadata {
      text-align: center;
      color: $white;

      .meta-data {
        color: $white;
      }

      a {
        color: $white;
      }
    }
  }
  
  .academic-content-icon .i {
    vertical-align: -24px;
  }

  .academic-content-desc {
    h4 {
      font-size: 17px;
      color: $white;
      font-weight: bold;
    }
    p {
      color: $white;
    }
  }
}

.post-child-comment-box {
  background: #fcfcfc; 
  border-top: 1px solid #d6d6d6;
  border-radius: 0 0 $radius $radius;
  
  .more-comment-box {
    cursor: pointer;
    border-bottom: 1px solid #e6e6e6;
    color: $primary-color;

    .i {
      vertical-align: -3px;
    }
  }

  .child-comment-box {
    border-bottom: 1px solid #e6e6e6;
  }
  
  .new-comment-actions {
    text-align: right;
  }

  .add-comment {
    border-bottom: 0;
  }
}

.publication-metadata {
  .meta-data {
    color: $meta-color;
    text-transform: uppercase;
    font-size: 11px;
  }
}

/* New Publications
----------------------------------*/
.new-publication {
  
  .new-publication-main {
    @extend .basic-container-style;

    .new-publication-footer {
      background: #fcfcfc;
      border-top: 1px solid #d6d6d6; 
      border-radius: 0 0 $radius $radius;
      text-align: right;
    }
  }

  .tabs {
    .tabs-buttons {
      background: #fcfcfc;
      border-bottom: 1px solid #d6d6d6;
      border-radius: $radius $radius 0 0;

      .tab {
        cursor: pointer;

        .tip {
          background: url('pack.png') -37px -60px;
        }
      }
    }
  }
}

/* Survey
----------------------------------*/
.new-survey-questions {
  @include clearfix;

  #box-question {
    .question-field {
      border: 1px solid #ccc;
      background: #f7f7f7;
      border-radius: $radius;

      .num {
        font-weight: bold;
        color: #666;
      }

      .element {
        background: #fff;
        border-bottom: 1px solid #ccc;
        border-radius: $radius $radius 0 0;

        .question-input-field {
          border-color: transparent;
          box-shadow: none;
          outline: none;
        }
      }

      .request-field {
        border-bottom: 1px solid #ccc;

        .answer-field-input {
          background: transparent;
          border-color: transparent;
          box-shadow: none;
          outline: none;
        }
      }
    }
  }
}

/* Publication Assets
----------------------------------*/

.look_atemp_conteny .choser {
  .publication-asset {
    border-radius: $radius;

    &:hover {
      background: #f7f7f7;
    }

    .cancel_link, .trash {
      color: $primary-color;
      cursor: pointer;
    }
  }  
}

/* Edit Publications
----------------------------------*/
.form_for_edit_wall {
  background: #fff;
  border-top: 1px solid #E6E6E6;
}

.no-more-publicaitons-message {
  text-align: center;
  background: shade($main-background, 2%);
  border: 1px solid shade($main-background, 12%);
  border-radius: $radius;
  box-shadow: 0 1px 0 #fff;
}