
/* Publications Skeleton
----------------------------------*/
.publication-box {
  .publication-main {
    background: $white;
    border: 1px solid #cccccc;
    border-radius: $radius;

    .publication-content {
      border-radius: $radius $radius 0 0;
 
      h6 {
        color: $meta-color;

        a {
          font-weight: bold;
        }
      }
    }
  }
}

.academic-publication {

  &.discusion .publication-content {
    background: url('publication-covers/discussion.jpg');
  }

  &.tarea .publication-content {
    background: url('publication-covers/delivery.jpg');
  }

  &.cuestionario .publication-content {
    background: url('publication-covers/survey.jpg');
  }
  
  .publication-main {
    .publication-content {
      h6 {
        color: $white;

        a {
          color: $white;        
        }
      }

      .publication-metadata {
        color: $white;

        .meta-data {
          color: $white;
        }

        a {
          color: $white;
        }
      }
    }
    
    .academic-content-icon .i {
      vertical-align: -25px;
    }

    .academic-content-desc {
      h4 {
        font-size: 17px;
        color: $white;
        font-weight: bold;
      }
      p {
        color: $white;
      }
    }
  }
}

.post-child-comment-box {
  background: #fcfcfc; 
  border-top: 1px solid #d6d6d6;
  border-radius: 0 0 $radius $radius;
  
  .more-comment-box {
    cursor: pointer;
    border-bottom: 1px solid #e6e6e6;
    color: $primary-color;

    .i {
      vertical-align: -3px;
    }
  }

  .child-comment-box {
    border-bottom: 1px solid #e6e6e6;
  }
  
  .new-comment-actions {
    text-align: right;
  }

  .add-comment {
    border-bottom: 0;
  }
}

.publication-metadata {
  .meta-data {
    color: $meta-color;
    text-transform: uppercase;
    font-size: 11px;
  }
}

/* New Publications
----------------------------------*/
.new-publication {
  
  .new-publication-main {
    background: $white;
    border: 1px solid #cccccc;
    border-radius: $radius;

    .new-publication-footer {
      background: #fcfcfc;
      border-top: 1px solid #d6d6d6; 
      border-radius: 0 0 $radius $radius;
      text-align: right;
    }
  }

  .tabs {
    .tabs-buttons {
      background: #fcfcfc;
      border-bottom: 1px solid #d6d6d6;
      border-radius: $radius $radius 0 0;

      .tab {
        cursor: pointer;

        .tip {
          background: url('pack.png') -37px -60px;
        }
      }
    }
  }
}

/* Survey
----------------------------------*/
.new-survey-questions {
  @include clearfix;

  #box-question {
    .question-field {
      border: 1px solid #ccc;
      background: #f7f7f7;
      border-radius: $radius;

      .element {
        background: #fff;
        border-radius: $radius $radius 0 0;
      }
    }
  }
}