
/* Publications Skeleton
----------------------------------*/
.publication-box {
  .publication-main {
    @extend .basic-container-style;

    .publication-content {
      word-break: break-word;
      border-radius: $radius $radius 0 0;

      h6 {
        color: $meta-color;
        font-weight: normal;
        font-size: 14px;

        a {
          font-weight: 500;
        }
      }
    }
  }
}

.academic-publication {

  &.discusion .publication-content {
    background-image: url('publication-covers/discussion.jpg');
  }

  &.tarea .publication-content {
    background-image: url('publication-covers/delivery.jpg');
  }

  &.cuestionario .publication-content {
    background-image: url('publication-covers/survey.jpg');
  }

  &.curso .publication-content {
    background-image: url('publication-covers/course.jpg');
  }
  
  .publication-content {
    background-size: cover;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);

    .academic-athor img {
      box-shadow: 0 1px 1px rgba(0,0,0,.2);
    }

    .academic-details {
      text-align: center;
      
      p {
        color: #fff;
        text-shadow: 0 1px 1px rgba(0,0,0,.1);
        font-size: 14px;
      }
      
      .academic-intro p {
        font-size: 13px;

        a { 
          color: #fff;
          font-weight: bold;
        }
      }

      .academic-title .title a {
        color: #fff;
      }
    }

    h6 {
      color: $white;

      a {
        color: $white;        
      }
    }

    .publication-metadata {
      text-align: center;
      color: $white;

      .meta-data {
        color: $white;
      }

      a {
        color: $white;
      }
    }
  }
  
  .academic-content-icon .i {
    vertical-align: -24px;
  }

  .academic-content-desc {
    h4 {
      font-size: 17px;
      color: $white;
      font-weight: bold;
    }
    p {
      color: $white;
    }
  }
}

.post-child-comment-box {
  background: #fcfcfc; 
  border-top: 1px solid #d6d6d6;
  border-radius: 0 0 $radius $radius;
  
  .more-comment-box {
    cursor: pointer;
    border-bottom: 1px solid #e6e6e6;
    color: $primary-color;

    .i {
      vertical-align: -3px;
    }
  }

  .child-comment-box {
    border-bottom: 1px solid #e6e6e6;
  }
  
  .new-comment-actions {
    text-align: right;
  }

  .add-comment {
    border-bottom: 0;
  }
}

.publication-metadata {
  .meta-data {
    color: $meta-color;
    text-transform: uppercase;
    font-size: 11px;
  }
}

/* New Publications
----------------------------------*/
.new-publication {
  
  .new-publication-main {
    @extend .basic-container-style;

    .new-publication-footer {
      background: #fcfcfc;
      border-top: 1px solid #d6d6d6; 
      border-radius: 0 0 $radius $radius;
      text-align: right;
    }
  }

  .tabs {
    .tabs-buttons {
      background: #fcfcfc;
      border-bottom: 1px solid #d6d6d6;
      border-radius: $radius $radius 0 0;

      .tab {
        cursor: pointer;

        .tip {
          background: url('pack.png') -37px -60px;
        }

        @include max-screen(480px) {
          text-align: center;
          @include text-size-x-small;
        }
      }
    }
  }
}

/* homework
----------------------------------*/
.evaluation-areas-items {
  .evaluation-area {
    border: 1px solid #ccc;
    background: #f7f7f7;
    border-radius: $radius;
  }
}

/* Survey
----------------------------------*/
.new-survey-questions {
  @include clearfix;

  .box-question {
    .question-field {
      border: 1px solid #ccc;
      background: #f7f7f7;
      border-radius: $radius;

      .num {
        font-weight: bold;
        color: #666;
      }

      .element {
        background: #fff;
        border-bottom: 1px solid #ccc;
        border-radius: $radius $radius 0 0;

        .question-input-field {
          border-color: transparent;
          box-shadow: none;
          outline: none;

          &:focus, &.error {
            background: none !important;
          }
        }
      }

      .request-field {
        border-bottom: 1px solid #ccc;

        .answer-field-input {
          background: transparent;
          border-color: transparent;
          box-shadow: none;
          outline: none;
        }
      }
    }
  }
}

/* Edit Publications
----------------------------------*/
.form_for_edit_wall {
  background: #fff;
  border-top: 1px solid #E6E6E6;
}

.no-more-publicaitons-message {
  text-align: center;
  background: shade(#edeff2, 2%);
  border: 1px solid shade($main-background, 12%);
  border-radius: $radius;
  box-shadow: 0 1px 0 #fff;
}

// New Publications
.post-box {
  @extend .basic-container-style;

  &.standalone { 
    .post-box-content {
      border-radius: $radius $radius 0 0;
    }
  }

  &.academic {
    .post-box-content {
      .post-meta-info {
        a {
          color: $white;
          text-shadow: 0 1px 1px rgba(0,0,0,.3);
        }
      }
    }
  }
  
  .post-box-main {
    border-radius: $radius;
  }

  .post-box-main-author {
    box-shadow: 0 1px 0 rgba(0,0,0,.2);

    .post-box-main-author-content {
      a {
        font: {
          size: 15px;
          weight: 500;
        }

        &:hover {
          @include opacity(.8);
        }
      }

      .timestamp {
        font-size: 12px;
        color: $meta-color;
      }
    }
  }

  .post-box-content {
    @extend .cover-banner;

    h3, .post-box-meta a, .post-box-meta, .timestamp, p {
      color: $white;
      text-shadow: 0 1px 1px rgba(0,0,0,.3);
    }

    p {
      @include text-size-regular;
    }

    h3:hover {
      @include opacity(.8);
    }

    .timestamp {
      font-size: 12px;
    }

    .post-box-meta, .post-box-meta a {
      @include text-size-regular;
      @include ellipsis(90%);
      display: block;
    }
  }

  .post-box-under-container {
    background: #fcfcfc;
    border-radius: 0 0 $radius $radius;
    border-top: 1px solid $separator-color;

    .post-box-likes .post-box-likes-inner {
      border-bottom: 1px solid $separator-color;
    }
  }

  &.delivery .post-box-content {
    background-color: $delivery-color;
    @include linear-gradient(45deg, $delivery-color 0%, lighten($delivery-color, 2%) 100%);

    .post-box-meta, .post-box-meta a, .timestamp {
      color: lighten($delivery-color, 60%) !important;
    }
  }

  &.survey .post-box-content {
    background-color: $survey-color;
    @include linear-gradient(45deg, $survey-color 0%, lighten($survey-color, 2%) 100%);

    .deliver-date {
      color: lighten($survey-color, 60%) !important;
    }
  }

  &.discussion .post-box-content {
    background-color: $discussion-color;
    @include linear-gradient(45deg, $discussion-color 0%, lighten($discussion-color, 2%) 100%);

    .deliver-date {
      color: lighten($discussion-color, 60%) !important;
    }
  }

  &.comment {
    .post-box-main-author, .post-box-content {
      box-shadow: none;

      p {
        text-shadow: none;
        color: $global-color;
      }
    }
  }

  &.course .post-box-content {
    .cover {
      background: $course-color;
      @include opacity(.83);
    }
  }
}

.support-material {
  .support-material-item {
    border-radius: $radius;

    &:hover {
      background: #f7f7f7;
    }
  } 
}