<% if post.owner?(current_role, current_user) %>
  <div class="post-box-main-admin-actions">
    <div class="dropdown-wrap">
      <div class="dropdown-pull activity-dropdown-pull">
        <%= icon('arrow-down-10') %>
      </div>
      <div class="dropdown-v right" style="right: -6px;">
        <i class="tip"></i>
        <ul>
          <li>
            <%= link_to t('.delete'), destroy_wall_path(wall.id), remote: true, confirm: t('.confirm') %>
          </li>
          <li>
            <%= link_to t('.edit'), edit_wall_path(type: wall.publication_type, id: wall.publication_id), remote: true, class: 'edit-publication-link' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>