<div class="overlay-header">
  <div class="overlay-title">
    <h4>Usuarios a los que les gusta esto</h4>
  </div>
  <div class="close-overlay"><%= icon('x-close') %></div>
</div>
<div class="overlay-content">
  <% votes = publication.publication.votes.up %>
  <% votes.each do |v| %>
    <% user = User.where(:id => v.voter_id) %>
    <% if user.count != 0 %>
    <%= link_to show_user_path(user.personal_url) do %>
    <li><%= avatar('user', '45', 'no', v.voter_id, "avatar", "no", "no") %>
        <%= user.name %>
    </li>
    <%end%>
    <%end%>
  <%end%>
</div>