<div class="overlay-header">
  <div class="overlay-title">
    <h4>Usuarios a los que les gusta esto</h4>
  </div>
  <div class="close-overlay"><%= icon('x-close') %></div>
</div>
<div class="overlay-content">
  <% votes = publication.publication.votes.up %>
    <ul>
    <% votes.each do |v| %>
     <% if User.exists?(v.voter_id) %>
      <% user = User.find(v.voter_id) %>
       <li>
          <%= link_to show_user_path(user.personal_url) do %>
             <%= avatar('user', '45', 'no', user.id, "avatar", "no", "no") %>
              <%= user.name %>
           <%end%>
       </li>
     <%end%>
    <%end%>
    </ul>
</div>