- unless post.votes.up.size == 0
  .post-box-likes-inner
    %span
      = icon('like-c')
      = t('.ed')
      = link_to pluralize(post.votes.up.size, t('.person'), t('.people')), get_votes_of_publication_path(wall.id), remote: true
      = t('.liked')
