.post-meta-info
  .post-meta-item{ data: { wall_like_id: wall.id } }
    - unless current_user.voted_up_on? post
      = link_to 'Me gusta', upvote_path(wall.id), remote: true
    - else
      = link_to 'Ya no me gusta', downvote_path(wall.id), remote: true