.post-box-main-user-actions
  .dropdown-wrap
    .dropdown-pull.activity-dropdown-pull
      = icon('arrow-down-10')
    .dropdown-v.right{style: "right: -12px;"}
      %i.tip
      %ul
        %li
          = link_to t('.report_publication'), reported_content_modal_path(id: wall.id, type: 'wall'), remote: true
