<h1> <%=t('.records')%> </h1>
<% if @usersid %>
    <% @usersid.each do |sid|%>
        <% @user = User.find(sid.user_id) %>
        |<%= @user.name %> <%= @user.email%>|</br>
    <%end%>
  <%else%>
    <%= t('.no_members')%>
<%end%>