<h1>Ingresar como nuevo usuario de la red</h1>
<p>Acepto las normas y condiciones de esta plataforma</p>
<%= form_for @NetworksUsers, :url => create_data_networks_users_path, remote: true do |form| %>
   <%= form.hidden_field :user_id, :value => current_user.id %>
   <%= form.hidden_field :network_id, :value => current_network.id %>   
   <%= form.submit "suscribirme a la red", :class => "btn"%>
<%end%>
<div id ="add_me_to_network"></div>