<div class="section-header-actions">
  <span class="meta-info">Filtrar: &nbsp;</span>
  <select class="select-redirect" style="width: 180px;">
    <option>Selecciona un curso</option>
    <% current_user.courses.each do |course|%>
      <option value="<%= "#{request.fullpath}/courses/#{course.id}" %>"><%= course.title %></option>
    <% end %>
  </select>
</div>